{% if banner %}
    {% include banner %}
{% endif %}
<header id="topBar"{{ ' class="disabled"' if postingFlow }}>
    <div class="topBarFilters hide">
        <a href="#" class="filter-btns blue trackMe" data-tracking="">{{ dictionary["posting_changecategorymod.Cancel"] }}</a><strong class="title"></strong>
    </div>
    <a href="{{ '/' | link }}" class="logo">{{ location.url | replace('www.','')}}</a>
    <ul class="header-links">
        {% if not user %}
            <li class="logOut"><a href="{{ '/login' | link }}" class="btns blue header-link" data-qa="my-olx-loggedOut" ></a></li>
        {% elif user.unreadMessagesCount > 0 %}
            <li class="logInMsg"><span class="btns blue" data-qa="my-olx-loggedIn" ></span></li>
        {% else %}
            <li class="logIn"><span class="btns blue" data-qa="my-olx-loggedIn" ></span></li>
        {% endif %}
        <li class="postBtn{% if not postButton %} disabled{% endif %}">
            <a href="https://www2.ekhanei.com/ai/form/0?lang={{ languageAbbreviation }}" class="btns orange" data-qa="post-button">{{ dictionary["misc.Sell_Post_Mobile_India"] }}</a>
        </li>
    </ul>
</header>
{% if user %}
    {% include (template + '/header/usernav.html') %}
{% endif %}
