<h1>Descargar la APP</h1>
</br>
<section>
    {{#if marketing.link}}
        <a href="{{marketing.link}}">{{marketing.promo}}</a>
    {{/if}}
    <a href="{{params.ref}}">Continuar en el sitio móvil &gt;</a>
</section>