<div id="left-panel" class="left-panel">
    Categories: </br></br>
    <ul>
        {{#each categories}}
            <li>
                <a href="/items?categoryId={{id}}&location=www.olx.com.ar">{{trName}}</a>
            </li>
        {{/each}}
    </ul>
</div>