* {
	margin: 0; 
	padding: 0;
}
body {
	font-family: Helvetica,Arial,sans-serif;
}
a {
	text-decoration: none;
	outline: none;
}
ul, li {
	list-style: none;
}
.noscroll{
	overflow: hidden;
	position: fixed;
}
.visible {
	display: block;
}
.hide {
	display: none;
}
.clear {
	clear: both;
}
.env {
	padding: .2rem; 
	background: #333; 
	font-size: 10px; 
	color: #FFF;
}
div.loading {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);
	background-image: url(imageUrl/images/html5/loading.gif);
	background-position: center;
	background-repeat: no-repeat;
}
#title {
	height: 1.625rem;
	display: block;
	padding: 0.3rem .5rem;
	background: #a0a0a0;
	position: relative;
}
#title a {
	width: 11px;
	height: 18px;
	float: left;
	margin: .25rem .5rem;
	background: url(imageUrl/images/html5/back.png);
}
#title h1 {
	float: left;
	color: #fff;
	font-size: 1.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.btns {
	width: auto;
	border-radius: 0.5rem;
	color: #fff;
}
a.btns {
	text-decoration: none!important;
}
.btns.orange {
	border: 1px solid #BD5901;
	background: #FF7700;
}
.btns.grey {
	border: 1px solid #4c4b4b;
	background: #666666;
}
.btns.blue {
	border: 1px solid #2C4B77;
	background: #355E97;
}
.btnCenter {
	display: block;
	text-align: center;
}
.emtyList {
	padding: 1.75rem .875rem;
	font-size: 0.875rem;
	font-weight: bold;
	color: #333333;
}
.line {
	height: 1px;
	display: block;
	margin: 6px 0;
	background: #cccccc;
}
/*----Forms----*/
section form label {
	color: #494848;
	display: block;
	font-size: 1rem;
}
section form label small {
	color: #ff6700;
	font-size: .625rem;
}
section form a {
	text-decoration: underline;
}
section form label a {
	color: #4275BA;
}
section form small {
	font-size: 12px;
	color: #333;
}
section form > input , section form > textarea , section form > select {
	width: 100%;
	display: block;
	padding: .5rem;
	margin: .2rem 0 .6rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #6891C8;
    border-radius: 0.5em;
}
section form > input , section form > select {
	height: 2.3rem;
}
section form > textarea {
	height: 3.125rem;
}
section div.btnCenter {
	text-align: left;
	padding: 1rem 0;
}
section form div.btnCenter input, section div.btnCenter a{
	display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
section h4 {
	width: 100%;
	padding: .5rem 0;
	color: #333;
}
section form > input[type='checkbox'] {
	width: auto;
	height: .5rem;
	float: left;
	margin: .2rem .5rem 0 0;
}
section form > select {
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #fff url(imageUrl/images/html5/selectArrow.png) no-repeat 97% center;
	background-size: 12px;
	outline: none;
}
.analytics {
    display: none;
}

