<form>
	{% from macros import FieldText, FieldTextArea, FieldCombobox %}
	{% for field in fields %}
	    {% if  field.name == 'phone' %}
	        {{ FieldText(field.label, field.name, false, form, user, 'phone') }} {# override phone mandatory property until smaug fix #}
	    {% elif field.name == 'email' %}
	    	{{ FieldText(field.label, field.name, field.mandatory, form, user, 'email') }}
	    {% elif field.fieldType == 'text' %}
	        {{ FieldText(field.label, field.name, field.mandatory, form,  user) }}
	    {% elif field.fieldType == 'combobox' %}
	        {{ FieldCombobox(field.label, field.name, field.mandatory, form,  user, field.values) }}
	    {% endif %}
	{% endfor %}
	<label>{{ dictionary["homeheader.Selected_Region"] }}</label>
	<div class="location">{{ location.name if location and location.name else 'Selecciona una ubicacion' }}</div>
	<div class="btnCenter">
	    <input type="submit" value="{{ dictionary["posting_buttonpublish.buttonstep1"] }}" class="btns orange">
	</div>
</form>
