<form>
	{% from macros import FieldText, FieldTextArea, FieldCombobox %}
	{% for field in fields %}
	    {% if  field.name == 'description' %}
	        {{ FieldTextArea(field.label, field.name, field.mandatory, form, user) }}
	    {% elif field.name == 'priceC' %}
	    	{{ FieldText(field.label, field.name, field.mandatory, form, user, 'number') }}
	    {% elif field.fieldType == 'text' %}
	        {{ FieldText(field.label, field.name, field.mandatory, form, user) }}
	    {% elif field.fieldType == 'combobox' %}
	        {{ FieldCombobox(field.label, field.name, field.mandatory, form, user, field.values) }}
	    {% endif %}
	{% endfor %}
	<div class="btnCenter">
	    <input type="submit" value="{{ dictionary["posting_buttonpublish.buttonstep1"] }}" class="btns orange" data-qa="description-continue-button" >
	</div>
</form>
