<h3>{% if firstRender %}{{ dictionary["popularsearchesbody.PopularCities"] }}{% else %}Ciudades{% endif %}</h3>
<ul>
    {% for city in cities %}
        <li class="city" data-url="{{ city.url }}"><a>{{ city.name }}</a></li>
    {% endfor %}
</ul>
<br/>
{% if states and states.length %}
    <h3>Estados</h3>
    <ul>
        {% for state in states %}
            <li class="state" data-url="{{ state.url }}"><a>{{ state.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
<div class="btnCenter">
    <input type="submit" value="Cancelar" class="btns orange">
</div>
