<div class="summary" id="category-summary">
    <div class="changeCategory">
        <small>{{ dictionary["item.ChosenCategory"] }}</small>
        <span>{{ category.trName }} :: {{ subcategory.trName }}</span> <span class="change">{{ dictionary["defaultfooter.change"] }}</span>
    </div>
</div>
<div id="posting">
    <form>
        {% from macros import FieldText, FieldTextArea, FieldCombobox %}
        {% for field in fields %}
            {% if field.fieldType == 'text' %}
                {{ FieldText(field.label, field.name, field.mandatory, form, user) }}
            {% elif field.fieldType == 'combobox' %}
                {{ FieldCombobox(field.label, field.name, field.mandatory, form, user, field.values) }}
            {% endif %}
        {% endfor %}
        <div class="btnCenter">
            <input type="submit" value="{{ dictionary["posting_buttonpublish.buttonstep1"] }}" class="btns orange" data-qa="category-continue-button" >
        </div>
    </form>
</div>