<title>Free classifieds in {{location.name}}, Classified ads in {{location.name}}, Online Classified Advertising</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% for metatag in head.metatags %}
    <meta name="{{metatag.name}}" content="{{metatag.content}}" />
{% endfor %}
<link href="{{'/css/template/styles.css' | replace('template', template) | static }}" media="screen" rel="stylesheet" type="text/css" />
{% if head.canonical %}
    <link rel="canonical" href="{{head.canonical}}" >
{% endif %}
<link rel="shortcut icon" href="{{ '/images/common/favicon.ico' | static }}" type="image/x-icon">
