.featured-ads-view {
    .notification-message {
        h4 {
            font-size: $m;
        }
    }
    .icon-star-circle {
        background-color: $greenLight;
        border-color: $greenBorder;
        &:before {
            color: $green;
        }
    }
}
