.featured_listings_view {
    box($white, $greyBorders, 3px, 20px, solid, 1px)

    ul {
        ul-reset();
        li {
            margin-bottom: 40px;
        }
    }
    .featuredType {
        display: inline-block;
        text-align: center;
        width: 48%;
        margin: 10px 0 5px;
    }
    .content-img {
        img, span {
            display: inline-block;
        }
    }

    h4, p {
        width: 750px;
    }

    h3 {
        font-size: $l;
        font-weight: normal;
        border-bottom: 1px solid $greyBorders;
    }

    h4 {
        font-size: $m;
        margin-bottom: 0;
    }

    p {
        font-size: $s;
        margin-top: 10px;
    }
}
