#featured-listings-view {
    .content-img {
        display: inline-block;
        margin: 15px 0 0 0;
        text-align: center;
        width: 48%;
        .featuredType {
            display: inline-block;
            margin: 5px 0;
        }
        &:last-child {
            margin-left: 30px;
        }
    }
    h4 {
        color: $orange;
        margin: 0 0 5px;
        font-size: $m;
    }
}
