section#posting {
	padding: 0.9375rem;
}
.changeCat {
	overflow: hidden;
	padding: .5rem 1rem;
	margin: 0 0 .5rem;
	background: #eaeaea;
	font-weight: bold;
	color: #333;
	font-size: 1rem;
}
.changeCat a {
	color: #4275BA;
	font-weight: normal;
	text-decoration: none;
}
section#posting > form > h4 {
	border-top: 1px solid #CCCCCC;
}
section#posting > form .fileUpload {
	width: 100%;
	height: 60px;
	margin: .5rem;
}
section#posting > form .fileUpload .image {
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 .625rem 0 0;
	background-color: #ddd;
	background-image: url(imageUrl/images/html5/cameraSmall.png);
	background-size: 75% auto;
	background-position: center;
	background-repeat: no-repeat;
}
section#posting > form .btnCenter input {
	width: 100%;
}
