<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% if sid %}
    <esi:eval src="http://$(HTTP_HOST)/esi?sid={{ sid }}&$(QUERY_STRING)" dca="esi"/>
{% else %}
    <esi:eval src="http://$(HTTP_HOST)/esi?$(QUERY_STRING)" dca="esi"/>
{% endif %}
<html>
    {% view 'layout/head' %}
    <body style="margin: 0; padding: 0; font-family: Sans-Serif;" text="#666666" link="#0066FF" vlink="#0066FF">
        {% if blackBar.show %}
            {% view 'header/bar' %}
        {% endif %}
        {% view 'header/index' %}
        {{ body }}
        {% view 'footer/footer' %}
    </body>
</html>
