.experiment-header-post-button.alternative-icon {
    header#topBar > ul > li {
        float: none;
        vertical-align: middle;
    }

    header#topBar .header-links {
        right: 0;
        top: 0;
    }

    header#topBar .logOut {
        margin-top: .4rem;
    }

    header#topBar .postBtn .btns {
        border-radius: 0;
        height: 50px;
        border: none;
        padding: 0;
        color: #f70;
        width: 50px;
        background: url(imageUrl/images/html5/ico_post01.png) no-repeat center center #f70;
    }
}
.experiment-header-post-button.alternative-both {
    header#topBar .header-links {
        right: 0;
        top: 0;
    }

    header#topBar .logOut {
        margin-top: .4rem;
    }

    header#topBar .postBtn .btns {
        border-radius: 0;
        height: 20px;
        border: none;
        padding: 15px 50px 15px 15px;
        background: url(imageUrl/images/html5/ico_post01.png) no-repeat right 10px center #f70;
    }
}
