header#topBar {
	height: 50px;
	padding: 0 .8rem;
	position: relative;
	background: #4275BA;
}
header#topBar.disabled {
	display: none;
}
header#topBar > a{
	width: 70px;
	height: 50px;
	float: left;
	margin-left: -.4rem;
	display: block;
	background: url(imageUrl/images/html5/logoMenu.png);
	text-indent: -9000px;
	z-index: 10;
}
header#topBar > ul {
	width: auto;
	height: auto;
	position: absolute;
	right: .5rem;
	top: .4rem;
	z-index: 1;
}
header#topBar > ul > li {
	width: auto;
	float: left;
	margin: 0 0 0 .8rem;
	display: inline-block;
}
header#topBar > ul > li > span, header#topBar > ul > li > a{
	height: 1.2rem;
	display: inline-block;
	padding: 0.45rem 0.75rem;
	font-size: 1rem;
	font-weight: bold;
}
header#topBar > ul > li.logOut a, header#topBar > ul > li.logIn span, header#topBar > ul > li.logInMsg span {
	width: 10px;
}
header#topBar > ul > li.logOut a {
	background-image: url(imageUrl/images/html5/userLogOut.png);
}
header#topBar > ul > li.logIn span {
	background-image: url(imageUrl/images/html5/userLogIn.png);
}
header#topBar > ul > li.logInMsg span {
	background-image: url(imageUrl/images/html5/userLogInMsg.png);
}
header#topBar .disabled {
	display: none;
}
header#topBar > ul > li.postBtn a{
	text-transform: uppercase;
}
header#topBar .topBarFilters {
	background: #4275ba;
	padding: .313rem .625rem;
	color: #fff;
	&.hide{
		display: none;
	}
	a {
		width: 25%;
		color: #fff;
		background: #00a1e2;
		display: inline-block;
		text-align: center;
		font-weight: bold;
		font-size: .750rem;
		box-sizing: border-box;
		padding: .625rem;
		border-radius: 3px;
	}

	.title {
		width: 75%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		font-size: 1.5em;
	}	
}
menu#myOlx {
	display: none;
	font-size: 0.9375rem;
}
menu#myOlx.translate {
	display: block;
}
menu#myOlx ul {
	padding: 0 .8rem;
	background: #294b79;
}
menu#myOlx ul li {
	display: block;
	position: relative;
	border-bottom: 1px solid #ccc;
}
menu#myOlx ul li:last-child {
	border:none;
}
menu#myOlx ul li a {
	display: block;
	padding: 0.6875rem 0.9375rem;
	color: #fff;
}
menu#myOlx ul li span {
	position: absolute;
	right: 0;
	top: .5625rem;
	padding: .25rem .5rem;
	border: 1px solid #FFFFFF;
	border-radius: 0.375rem;
	background: #4275ba;
	font-weight: bold;
	font-size: 0.6875rem;
	color:#fff;
}
menu#myOlx ul li span:before {
	content:"+";
}
