#myOlx {
    display: none;
    font-size: 0.9375rem;
    .header-links {

        li {
            &.messages {
                position: relative;
                .message-notification {
                    display: none;
                    width: 15px;
                    height: 15px;
                    background: yellow;
                    border-radius: 7px;
                    margin-left: 15px;
                    display: inline-block;
                    position: relative;
                    top: 3px;
                }
            }
            background: #452a78;
            border-bottom: 1px solid #26075f;
            display: block;
            padding: 0 1.25rem;
            position: relative;
            &:first-child {
                background: #26075f;
                color: #fff;
                font-weight: bold;
                padding: .3125rem 1.25rem;
            }
            &:last-child {
                border: none;
            }
            .header-link {
                color: #fff;
                display: block;
                padding: .9375rem 0;
            }
        }
    }
}
