#myOlx {
    display: none;
    font-size: 0.9375rem;
    .header-links {

        li {
            padding: 0 .8rem;
            background: #294b79;
            display: block;
            position: relative;
            border-bottom: 1px solid #ccc;
            &:first-child {
                background: #ccc;
                font-weight: bold;
                padding: .3125rem .9375rem;
            }
            &:last-child {
                border: none;
            }
            .header-link {
                display: block;
                padding: .6875rem 0;
                color: #fff;
            }
        }
    }
}
