{% for item in items %}
    <li>
        <a href="{{ item | slugToUrl | link }}" data-qa="list-item">
            <div {% if item.thumbnail %} style="background-image:url({{ item.thumbnail }});" {% endif %} data-fullimg="{{ item.fullImage }}" class="image{{ ' filled' if item.thumbnail }}"></div>
            <p class="datetime">
                {{ item.date | hijri | persianDigits }}
                {% if item.displayLocation %}
                    {{ dictionary["crm_new_version.RenameCategory_3"] }} {{ item.displayLocation }}
                {% endif %}
            </p>
            <h2 class="title">{{ item.title | persianDigits }}</h2>            
            {% if item.price.displayPrice %}
                <div class="price">&#x202A;<span dir="ltr"></span>&#x202C;{{ item.price.amount | persianDigits }}</div>
            {% endif %}
        </a>
    </li>
{% endfor %}
