{% if form and form.errors %}
    <div id="errors">
        <span></span>
    </div>
{% endif %}
<section>
    <form>
        <p class="hint">{{ dictionary["landingbody.EnterPassword"] }}. {{ dictionary["landingbody.NoPassword"] }}</p>
        <label>{{ dictionary['loginbox.Password'] }}</label>
        <div class="fake-input">
            <input class="password-field" type="password" name="newPassword" value="">
            <a href="#" class="password-toggle">{{ dictionary["misc.Show"] }}</a>
        </div>
        <div class="content-btns">
            <input type="submit" value="{{ dictionary["misc.CreatePassword"] }}" class="accept" />
        </div>
    </form>
</section>


{% view 'partials/tracking' %}
