{% if form and form.errors %}
    <div id="errors">
        <span></span>
    </div>
{% endif %}
<section>
    <form>
        <p class="hint">Por favor ingresa una contraseña para tu cuenta de OLX. Recuerda que tienen que ser entre 6 y 12 dígitos.</p>
        <label>{{ dictionary['loginbox.Password'] }}</label>
        <div class="fake-input">
            <input class="password-field" type="password" name="password" value="">
            <a href="#" class="password-toggle">show</a>
        </div>
        <div class="content-btns">
            <input type="submit" value="Crear contraseña" class="accept" />
        </div>
    </form>
</section>


{% view 'partials/tracking' %}
