{% from macros import Breadcrumb, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["homeheader.My OLX"]) }}
{% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
<section id="login">
    <form action="{{ '/lostpassword' | link }}" method="POST" enctype="multipart/form-data">
        {{ 'error' if error }}
        <h4>{{ dictionary["landingbody.ForgotPassword"] }}</h4>
        <p class="hint">{{ dictionary["lostform.PleaseEnter"]|replace('<<BRAND>>, OLX') }}</p>
        <label>{{ dictionary["comments.CommentsFormEmail"] }}</label>
        <input type="text" name="email" value="{{ form.values.email if form.values.email else '' }}" />
        <div class="btnCenter">
            <input type="submit" value="{{ dictionary["landingbody.SubmitRegistration"] }}" class="btns orange" />
        </div>
        {#{{ dictionary["lostform.ThereIsNoPasswordSetForThisEmailOnBrand"]|replace('<<BRAND>>, OLX') }}#}
    </form>
</section>
{% view 'partials/tracking' %}
