{% if form and form.errors %}
    <div id="errors">
        <span>{{ dictionary["lostform.ThereIsNoPasswordSetForThisEmailOnBrand"]|replace('<<BRAND>>, OLX') }}</span><br/>
    </div>
{% endif %}
{% if success %}
    <div id="errors" class="success">
        <span>{{ dictionary["lostform.YourInformation"] }}</span><br/>
    </div>
{% endif %}
<section id="login">
    <form action="{{ '/lostpassword' | link }}" method="POST" enctype="multipart/form-data">
        <p class="hint">{{ dictionary["lostform.PleaseEnter"]|replace('<<BRAND>>, OLX') }}</p>
        <label>{{ dictionary["comments.CommentsFormEmail"] }}</label>
        <input type="text" name="email" value="{{ form.values.email if form.values.email else '' }}" />
        <div class="content-btns">
            <input type="submit" value="{{ dictionary["supportform.Submit"] }}" class="accept" />
        </div>
    </form>
</section>

{% view 'partials/tracking' %}
