<header class="breadcrumb">
    {{ dictionary["myolx.MyAds"] }}
</header>
{% if deleted %}
    <div id="messages">
        <span>{{ dictionary["myolx.TheAdHasBeenDeleted"] }}</span>
    </div>
{% endif %}
<section id="myads">
    {% if items.length %}
        <ul class="item-listing">
            {% for item in items.toJSON() %}
                {% set status = 'ready' %}
                {% set statustxt = dictionary["listingpageitemslisting.Posted"] %}
                {% if item.status == 'expired' %}
                    {% set status = 'expired' %}
                    {% set statustxt = dictionary["misc.Expired"] %}
                {% elif item.status == 'closed' %}
                    {% set status = 'deleted' %}
                    {% set statustxt = dictionary["misc.Removed"] %}
                {% elif item.status == 'rejected' %}
                    {% set status = 'rejected' %}
                    {% set statustxt = dictionary["item.Rejected"] %}
                {% elif item.status == 'pending' %}
                    {% set status = 'pending' %}
                    {% set statustxt = dictionary["misc.Pending_BR"] %}
                {% endif %}
                {#{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }#}
                <li class="my-ads {{ status }}">
                    {% if (status == 'ready' or status == 'pending' or status == 'rejected') %}
                        <a class="btnfilter edit" href="{{ item.slug.replace(domain, fullDomain) | editSlug(item.id) }}">{{ dictionary["showactivelistings.Edit"] }}</a>
                    {% endif %}
                    {% if status != 'deleted' %}
                        <a class="btnfilter more" href="#" data-action="more" data-itemUrl="{{ item | slugToUrl | link }}" data-id="{{ item.id }}" >{{ dictionary["itemslisting.More"] }}</a>
                    {% endif %}
                    <div {% if item.thumbnail %} style="background-image:url({{ item.thumbnail }});" {% endif %} data-fullimg="{{ item.fullImage }}" class="image{{ ' filled' if item.thumbnail }}"></div>
                    <p class="datetime">{{ statustxt }}</p>
                    <h2 class="title">{{ item.title }}</h2>
                    <div class="price">{{ item.price.displayPrice }}</div>
                </li>
            {% endfor %}
        </ul>
        <div class="actions hide" data-action="actions">
            <a href="#" class="action view" data-action="view">Ver</a>
            <a href="{{ '/help' | link }}" class="action help">{{ dictionary["biderrorheader.Help"] }}</a>
            <a href="{{ '/myolx/deleteitem/[[itemId]]' | link }}" class="action delete" data-action="delete" >{{ dictionary["confirmremoveitem.Delete"] }}</a>
        </div>
    {% else %}
        <div class="emtyList">
            {{ dictionary["myolx.YouCurrentlyHaveNoActiveListings"] }}
        </div>
    {% endif %}
    {% if paginator and paginator.isEnabled() %}
        {% include (template + '/items/pagination.html') %}
    {% endif %}
</section>

{% view 'partials/tracking' %}
