{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
<section id="subCategories">
    {% from macros import breadcrumb %}
    {{ breadcrumb(dictionary, category.name) }}
    <ul>
        {% for subcategory in category.children %}
            <li>
                <a href="/{{ subcategory.trName | urlize }}-cat-{{subcategory.id}}-p-1?location={{params.location}}">{{subcategory.trName}}</a>
            </li>
        {% endfor %}
    </ul>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</section>
