<div class="title-bar">
	{% block title %}<h2>Categorías populares</h2>{% endblock %}
</div>
<ul class="category-list">
	{% for category in categories %}
		<li class="category">
			<a class="category-link" href="{{ category | slugToUrl | link }}">
				{% block icon %}<span class="icon cat-{{ category.id }}"></span>{% endblock %}
				<h3>{{ category.trName }}</h3>
			</a>
			<ul>
			{% for subcategory in category.children.toJSON() %}
				<li><a href="{{ subcategory | slugToUrl | link }}">{{ subcategory.trName}}</a></li>
			{% endfor %}
			</ul>
		</li>
		{% if loop.index == 1 or loop.index == 4 or loop.index == 6 %}
			</ul>
			<ul class="category-list">
		{% endif%}
	{% endfor %}
</ul>

{% block footer %}{% endblock %}
