<section class="home">
	<div class="titleBar">
		<h1>Encuentra anuncios en <strong>San Cristóbal</strong></h1>
		<span>Cambia tu ubicación</span>
	</div>
	<ul class="icons">
		{% for category in categories %}
			<li>
				<a href="{{ category | slugToUrl | link }}">
					<span class="icon cat-{{ category.id }}"></span>
					<strong>{{ category.trName }}</strong>
				</a>
				<ul>
					<li><a href="">Sub cat, </a></li>
					<li><a href="">Sub cat2, </a></li>
					<li><a href="">Sub cat 3, </a></li>
					<li><a href="">Sub cat dsff</a></li>
				</ul>
			</li>
	{% endfor %}
	</ul>
</section>
<aside class="banner howto">
	<h1>Todos pueden vender en OLX</h1>
	<span>Aprende a vender</span>
</aside>
<aside class="banner tv">
	<span></span>
	<h1>¿Lo has visto?</h1>
	<p>¡Ya puedes ver nuestro nuevo anuncio de TV!</p>
</aside>
<aside class="banner">
	<a href="" class="ios"></a>
	<a href="" class="android"></a>
</aside>
<aside class="postBanner">
	<h2>¿Tienes algo que vender?</h2>
	<p>Publica tu anuncio GRATIS en OLX</p>
	<a class="btn orange" href="">Publica un anuncio gratis</a>
</aside>
<section class="home">
	<div class="titleBar small">
		<h2>Popular en olx.com.ve</h2>
	</div>
	<h1>Ciudades populares:</h1>
	<h1>Otras Ciudades en Táchira:</h1>
	<ul class="cities">
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
	</ul>
	<ul class="cities">
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
		<li><a href="">Ciudedatila</a></li>
	</ul>
</section>