<section id="marketing-top">

    {% if marketing.home_banner %}
        {% include (template + '/marketing/home/' + marketing.home_banner.template + '.html') %}
    {% else %}
        {% view 'categories/partials/country-area' %}
        {% if marketing.videos %}
            {% view 'marketing/bannervideo' %}
        {% elif marketing.home_block_banner_image %}
            {% include (template + '/marketing/box-image.html') %}
        {% elif marketing.home_block_banner_top %}
            {% include (template + '/marketing/marketing-box-sell-za.html') %}
        {% else %}
            {% include (template + '/marketing/marketing-box-sell.html') %}
        {% endif %}
    {% endif %}

</section>
{% if items and items.length > 0 %}
    {% include (template + '/featured/home.html') %}
{% endif %}

<section id="category-tree">
    {% if celebrities.home.enabled %}
        {% include (template + '/categories/partials/celebritie.html') %}
    {% endif %}
    {% include (template + '/partials/categorytree.html') %}
</section>

{% if testimonials %}
    {% include (template + '/partials/testimonials.html') %}
{% endif %}

{% include (template + '/modals/location.html') %}
{% if marketing.videos %}
    {% include (template + '/modals/videogallery.html') %}
{% endif %}
{% view 'partials/tracking' %}

