{% view 'items/partials/breadcrumb' %}
<div class="wrapper-main">
    <nav id="listing-nav">
        {% view 'categories/partials/subcategories' %}
        {% view 'items/partials/filters' %}
    </nav>
    <section id="listing-items">
        {% view 'items/partials/locations' %}
        {% include (template + '/items/list.html') %}
        {% if paginator.isEnabled() %}
            {% include (template + '/items/pagination.html') %}
        {% endif %}
    </section>
</div>

{% if seo %}
    {% include (template + '/partials/seobox.html') %}
{% endif %}

{% view 'partials/tracking' %}
