<section id="itemListing">
	<nav class="breadcrumb">
		<a href="{{ '/nf/all-results' | link }}">Todas as Categorias</a>
		<span class="arrow"></span>
		{% if not currentCategory.parentId %}
				<strong>{{ category.trName }}</strong>
		{% else %}
			<a href="{{ category | slugToUrl | link }}">{{ category.trName }}</a> <span class="arrow"></span> <strong>{{ currentCategory.trName }}</strong>
		{% endif %}
		{% if location.current and location.current.type != 'country' %}
			em {{location.current.name}}
		{% else %}
			no {{location.name}}
		{% endif %}
		<span class="count">({{ metadata.total | countFormat }})</span>
	</nav>

	<nav class="categories">
		<div class="categories">
			<h2>Selecione a categoria</h2>
			<a href="{{ '/nf/all-results' | link }}" ><span class="icons icon-arrow"></span>Todas as categorias</a>
			{% if not currentCategory.parentId %}
				<h3>{{ category.trName }} <span>{{ metadata.total | countFormat }}</span></h3>
			{% else %}
				<h3>{{ currentCategory.trName }} <span>{{ metadata.total | countFormat }}</span></h3>
			{% endif %}
			<div class="subCat">
				{% if not currentCategory.parentId %}
					{% for subcategory in currentCategory.children.toJSON() %}
						<a href="{{ subcategory | slugToUrl | link }}" ><span class="icons icon-cat-{{ subcategory.id }}"></span> {{subcategory.trName}} <span class="count">{{ (subcategory.counter | countFormat) if subcategory.counter > 0 }}</span></a>	                
			        {% endfor %}
				{% else %}
					<a href="{{ category | slugToUrl | link }}" ><span class="icons icon-cat-{{ category.id }}"></span> {{ category.trName }} </a>
				{% endif %}
			</div>
		</div>
		<div class="filters">
			<h3>Preço</h3>
			<div class="price">
				<input type="text" class="values defaultContent numeric" placeholder="Mín." size="7" value="" id="min-Navigator_price" name="min" >
				<input type="text" class="values defaultContent numeric" placeholder="Máx." size="7" value="" id="max-Navigator_price" name="max" >
				<button type="button" class="icons"></button>
			</div>
		</div>
	</nav>
	<nav class="location">
		<ul>
			<li><a href="{{ category | slugToUrl | link({location: 'www.olx.com.br'}) }}" rel="nofollow">Brasil</a></li>
			<li>{{location.current.name}}<a href="{{ category | slugToUrl | link({location: 'www.olx.com.br'}) }}"></a></li>
		</ul>
		<div class="list">
			<ul>
				{% for state in metadata.filters.state.value %}
					<li><a href="{{ category | slugToUrl | link({location: state.id}) }}">{{ state.value }} <span>{{ state.count | countFormat }}</span></a></li>
				{% endfor %}
				{% for city in metadata.filters.city.value %}
					<li><a href="{{ category | slugToUrl | link({location: city.id}) }}">{{ city.value }} <span>{{ city.count | countFormat }}</span></a></li>
				{% endfor %}
				<div class="clear"></div>
			</ul>
		</div>
	</nav>
	<section class="list">
		<nav>
			<div class="tabs">
				<a href="" class="galery icons">Fotos Maiores</a>
				<a href="" class="list icons active">Exibição em Lista</a>
			</div>
			<div class="sort">
				<label>Ordenado por:</label>
				<select name="listing-order-combo">
					<option selected="selected" value="date*to*showdesc">Mais recentes</option>
					<option value="price">Menor preço</option>
					<option value="pricedesc">Maior preço</option>
				</select>
			</div>
		</nav>
		<ul class="listing itemListing">
			{% view 'items/items' %}
		</ul>
		{% if infiniteScroll %}
            <div class="loader is-loading" style="display: none;">
                <img src="{{ '/images/html5/loading.gif' | static }}" alt="Loading...">
            </div>
            <input id="currentUrl" type="hidden" class="hide" value="{{ metadata.current | link }}">
        {% elif metadata.next or metadata.previous %}
            <div id="itemPagination">
                <a href="{{ (metadata.previous | link) if metadata.previous else '#' }}" class="arrow icons {{ "leftA" if metadata.previous else "leftD" }}"></a><div class="center">{{ metadata | pagination }}</div><a href="{{ (metadata.next | link) if metadata.next else '#' }}" class="arrow icons {{ "rightA" if metadata.next else "rightD" }}"></a>
            </div>
        {% endif %}
	</section>
	
	{% view 'partials/postbanner' %}
	
	<div class="clear"></div>
</section>