{% include (template + "/partials/breadcrumb.html") %}

<nav id="listing-filters">
    {% include (template + '/categories/subcategories.html') %}
    {% include (template + '/items/filters.html') %}
</nav>

<section id='listing-items'>
    {% include (template + '/items/locations.html') %}

    {% include (template + '/items/listig.html') %}

    {% if metadata.next or metadata.previous %}
        {% include (template + '/items/pagination.html') %}
    {% endif %}
</section>

{% if seo %}
    {% include (template + '/partials/seobox.html') %}
{% endif %}

{% view 'partials/tracking' %}
