<span class="title">{{ dictionary["itemslisting.NavigatorByCategory"] }}</span>
<a href="{{ 'nf/all-results' | linkig }}" rel="nofollow"  class="icons icon-arrow-left categories-link">{{ dictionary["listingpageitemslisting.AllCategories"] }}</a>
{% if not currentCategory.parentId %}
    <span class="category-selected arrow icons icon-cat-{{category.id}}">{{ currentCategory.trName }} <span>{{ currentCategory.counter }}</span></span>
    <ul class="sub-categories">
        {% for subcategory in currentCategory.children.toJSON() %}
            <li>
                <a href="{{ subcategory | slugToUrl | linkig }}" >{{subcategory.trName}} <span class="count">{{ (subcategory.counter | countFormat) if subcategory.counter > 0 }}</span></a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <a href="{{ category | slugToUrl | linkig }}" class="icons icon-cat-{{category.id}}" > {{ category.trName }} </a>
    <span class="category-selected">{{ currentCategory.trName }} <span>{{ currentCategory.counter }}</span></span>
{% endif %}
