<table cellspacing="0" cellpadding="0" border="0" width="100%" style="width: 100%; background-color: #DDD;">
    <tr>
        <td style="padding: .25em .5em; border-top: solid thin #808080;">
            <form action="/location">
                <label for="search"> 
                    <small>[countryoptions.EnterCityOrZipCode]</small>
                 </label><br />
                <input type="text" value="" name="search" />
                <input type="submit" value="[homeheader.Search]" name="search_button" />
            </form>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="width: 100%;">
    <tr>
        <td style="padding: .25em .5em;; border-top: solid thin #808080;">
            <strong><small style="display: block;">{{ '[listingpageitemslisting.AllResultsNew]' if search else '[popularsearchesbody.PopularCities]' }}</small></strong>
        </td>
    </tr>
</table>
{% if cities.length > 0 %}
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width: 100%;">
        {% for city in cities %}
            <tr>
                <td style="border-top: solid thin #808080;">
                    <a style="display: block; padding: .25em .5em;" href="/{{ target }}?cityId={{ city.id }}">
                        <small style="display: block;">{{ city.name }}</small>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width: 100%;">
        <tr>
            <td style="padding: .25em .5em; border-top: solid thin #808080;">
                <small style="displayt: block;">{{dictionary["listingpageitemslisting.WeAreSorryNoResults"]}}</small>
            </td>
        </tr>
    </table>
{% endif %}
