{% if downloadAppBanner and marketing.link %}
	<div class="container">
		<div class="logoOlx"></div>
		<div class="data">
			<h1>{{ dictionary[marketing.forOsKey] }} {{ marketing.forOs }}</h1>
			<div class="stars">
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star midstar"></span>
			</div>
		</div>
		{% if marketing.direct %}
			<a class="btns download" href="{{ marketing.direct }}">{{ dictionary["misc.DirectDownload"] }}</a>
			<a class="btns download" href="{{ marketing.link }}">{{ dictionary["misc.FromStore"] }}</a>
		{% else %}
			<a class="btns download" href="{{ marketing.link }}">{{ dictionary["about.Download_Mob"] }}</a>
		{% endif %}
		<div class="clear"></div>
	</div>
{% endif %}
