div#posting h4.title {
	background: none repeat scroll 0 0 #EAEAEA;
    clear: both;
    color: #333333;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    padding: 0.5em 1em;
}
div#posting input.link {
	color: #4275ba;
    font-size: 12px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
div#posting h4.title a {
    color: #4275ba;
    font-weight: normal;
}
.post_form_view {
    .images {
        padding: 0.5em 1em;
        .imageCont {
            width: 35%;
            max-width: 150px;
            height: 90px;
            float: left;
            margin: 3px 3px 15px 0;
            overflow: hidden;
            border: 1px solid #ececec;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .icon-exclamation {
        background: url(imageUrl/images/common/exclamationBlack.png) left center no-repeat;
        height: 15px;
        display: block;
        padding-left: 16px;
        line-height: 15px;
        margin-top: 4px;
    }
}
