<section id="itemListing">
	<div id="title">
		<a href="/"></a>
		<h1>Categoria{{category.name}}</h1>
		<span class="switchView"></span>
	</div>
	<ul class="">
		{% for item in items %}
			<li>
				<a href="">
					<div {% if item.thumbnail %} style="background-image:url({{ item.thumbnail }});" {% endif %} data-fullimg="{{ item.fullImage }}" class="image {% if item.thumbnail %} filled {% endif %}"></div>
					<p>{{ item.date.since }} {{ item.displayLocation }}</p>
					<h3>{{ item.price.displayPrice }}</h3>
					<div class="title">
						<h2>
							<span>
								<span>{{ item.title }}</span>
							</span>
						</h2>
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>
</section>