{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
<section id="itemListing">
    {% from macros import breadcrumb %}
    {% set link = (referer | breadcrumb | link) %}
    {{ breadcrumb(dictionary, link, [dictionary["itemslisting.SearchResults"], search] | join(' '), '<span class="switchView"></span>') }}
    {% if metadata.total == 0 %}
        <div class="emtyList">
            {{ dictionary["listingpageitemslisting.WeAreSorryNoResults"] }}
        </div>
    {% else %}
        <ul class="itemListing">
            {% for item in items %}
                <li>
                    <a href="/{{ item | slugToUrl | link }}">
                        <div {% if item.thumbnail %} style="background-image:url({{ item.thumbnail }});" {% endif %} data-fullimg="{{ item.fullImage }}" class="image {% if item.thumbnail %} filled {% endif %}"></div>
                        <p>{{ item.date.since }} {{ item.displayLocation }}</p>
                        <h3>{{ item.price.displayPrice }}</h3>
                        <div class="title">
                            <h2>
                                <span>
                                    <span>{{ item.title }}</span>
                                </span>
                            </h2>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if metadata.next or metadata.previous %}
            <div id="itemPagination">
                <a href="{{ (metadata.previous | link) if metadata.previous }}" class="arrow {{ "leftA" if metadata.previous else "leftD" }}"></a>
                <div class="center">
                    {{ metadata | pagination }}
                </div>
                <a href="{{ (metadata.next | link) if metadata.next }}" class="arrow {{ "rightA" if metadata.next else "rightD" }}"></a>
            </div>
            <div id="itemPaginationCaption">
                {{ "<a href='' class='left'>Anterior</a>" if metadata.previous }}
                {{ "<a href='' class='right'>Siguiente</a>" if metadata.next }}
            </div>
        {% endif %}
    {% endif %}

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</section>
