<section id="itemPage">
    {% set favClass = 'remove' %}
    {% set favLink = '#' %}
    {% set favText = dictionary["item.RemoveFromFavorites"] %}
    {% if not item.isFavorite %}
        {% set favClass = 'add' %}
        {% set favText = dictionary["itemgeneraldetails.addFavorites"] %}
        {% if not user %}
            {% set favLink = ('/login' | link) %}
        {% endif %}
    {% endif %}
    {% from macros import breadcrumb %}
    {% set link = (referer | breadcrumb | link) %}
    {{ breadcrumb(dictionary, link, item.category.name, ['<ul>
        <li><a class="share trackMe" href="#share" data-tracking="itemPage-clickShare" >', dictionary["itemgeneraldetails.ShareThisAd"], '</a></li>
        <li><a data-itemId="', item.id, '" class="fav ', favClass, '" href="' , favLink, '">', favText, '</a></li>
    </ul>'] | join) }}
    {% if not item.images %}
        <section id="noPicture">
            <span></span>
            <p>No hay foto disponible</p>
            <div class="clear"></div>
        </section>
    {% elif item.images.length == 1 %}
        <section id="onePicture">
            <div class="slide">
                <div style="background-image: url('{{ item.images[0].url }}');"></div>
            </div>
        </section>
    {% else %}
        <section class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in item.images %}
                    <div class="swiper-slide">
                        <div class="slide">
                          <div style="background-image: url('{{ image.url }}');"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="slidePagination"></div>
        </section>
    {% endif %}

    <section id="description">
        <span>{{ item.date.timestamp | date }}, {{ item.location.cityName }}</span>
        <h1>{{ item.price.displayPrice if item.price.displayPrice else "" }}</h1>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
        <div class="clear"></div>
    </section>

    <section id="optionals">
        {% if item.optionals %}
            <ul>
                {% for optional in item.optionals %}
                    {% if optional.value %}
                        <li>{{ optional.label }}: <strong>{{ optional.value }}</strong></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="clear"></div>
    </section>

    <aside class="relatedAds">
        {% if relatedItems %}
            <section class="swiper-containerRA">
                <div class="swiper-wrapper">
                    {% for relatedItem in relatedItems %}
                        {% if relatedItem.thumbnail %}
                            <div class="swiper-slide">
                                <div class="slide trackMe" data-itemId="{{ relatedItem.id }}" data-tracking="itemPage-clickRelatedAdImg" >
                                    <a href="/{{ relatedItem | slugToUrl | link }}">
                                        <div style="background-image: url('{{ relatedItem.thumbnail }}');"></div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
        <a class="btns orange trackMe" href="{{ relatedAdsLink | link }}" data-tracking="itemPage-clickRelatedAdBtn" >Otros anuncios relacionados</a>
    </aside>

    <section class="reply">
        <span>Contactar al anunciante</span>
        <form id="replyForm" action="">
            <label>* Mensaje</label>
            <textarea class="message" name="message"></textarea>
            <small class="message hide"></small>

            <label>* Nombre</label>
            <input type="text" value="" class="name" name="name">
            <small class="name hide"></small>

            <label>* Email</label>
            <input type="email" value="" class="email" name="email">
            <small class="email hide"></small>

            <label>Teléfono</label>
            <input type="number" class="phone" name="phone">
            <input type="hidden" class="itemId" name="itemId" value="{{ item.id }}">
            <input type="hidden" class="itemCategory" value="{{ item.category.id }}">
            <input type="hidden" class="itemSubcategory" value="{{ item.category.parentId }}">
            <span>* Campo Obligatorio</span>

            <div class="btnCenter">
                <input type="button" class="btns orange submit trackMe" value="Enviar Consulta" data-tracking="itemPage-clickReply" >
            </div>
        </form>
    <div class="clear"></div>
    </section>

    <section class="actions">
        <div class="background"></div>
        {% if item.phone and item.contactName %}
            <span>{{ item.contactName }}: {{ item.phone }}</span>
        {% elif item.phone or item.contactName %}
            <span>{{ item.contactName if item.contactName }} {{ item.phone if item.phone }}</span>
        {% endif %}
        {% if item.phone %}
            {% if device.uriSchemeTel %}
                <div class="action call trackMe" data-tracking="Reply-ClickCall" >
                    <a href="tel:{{ item.phone }}">
                        <span>Llamar</span>
                    </a>
                </div>
            {% endif %}
            {% if device.uriSchemeSms %}
                <div class="action sms trackMe" data-tracking="Reply-ClickSms" >
                    <a href="{{ item.phone }}">
                        <span>SMS</span>
                    </a>
                </div>
            {% endif %}
            <div class="action email trackMe {{ "fullWidth" if not device.uriSchemeTel and not device.uriSchemeSms }}" data-tracking="Reply-clickEmail">
                <div>
                    <span>Email</span>
                </div>
            </div>
        {% else %}
            <div class="action email fullWidth trackMe" data-tracking="Reply-ClickEmail" >
                <div>
                    <span>Email</span>
                </div>
            </div>
        {% endif %}
        <div class="clear"></div>
    </section>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</section>

{% if item.images.length == 1 %}
    <div id="galContOne" class="galCont">
        <div class="title">{{ item.title }}</div>
        <div class="galCont-container swiper-container-gal" style="background-image: url('{{ item.images[0].url }}');"></div>
        <div class="galActions">
            <div class="close"><span></span></div>
            <div class="playDis"><span></span></div>
            <div class="prevDis"><span></span></div>
            <div class="nextDis"><span></span></div>
        </div>
    </div>
{% elif item.images.length > 1  %}
    <div id="galCont" class="galCont">
        <div class="title">{{ item.title }}</div>
        <div class="galCont-container swiper-container-gal">
            <div class="swiper-wrapper">
                {% for image in item.images %}
                    <div class="swiper-slide" style="background-image: url('{{ image.url }}');"></div>
                {% endfor %}
            </div>
            <div class="slidePaginationGal"></div>
        </div>
        <div class="galActions">
            <div class="close"><span></span></div>
            <div class="pause"><span></span></div>
            <div class="prev"><span></span></div>
            <div class="next"><span></span></div>
        </div>
    </div>
{% endif %}

<div id="share" class="popup">
    <div class="popup-wrapper">
        <div class="popup-container">
            <h4>Share this ad</h4>
            <div>
                <ul>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" target="_blank" class="facebookButton">Facebook</a></li>
                    <li><a href="https://twitter.com/intent/tweet?original_referer={{ url }}&text={{ item.title }}&url={{ url }}" target="_blank" class="twitterButton">Twitter</a></li>
                </ul>
            </div>

            <footer>
                <a href="#" class="popup-close btns grey">Cancelar</a>
            </footer>
        </div>
    </div>
</div>

<div id="msgCont" class="msgCont">
    <div class="msgCont-wrapper">
        <div class="msgCont-container"></div>
    </div>
</div>
