<section id="itemPage">
    <input type="hidden" value="{{ dictionary["postingerror.InvalidEmail"] }}" name="errMsgMail" class="errMsgMail">
    <input type="hidden" value="{{ dictionary["postingerror.PleaseCompleteThisField"] }}" name="errMsgMandatory" class="errMsgMandatory">
    <input type="hidden" value="{{ dictionary["comments.YourMessageHasBeenSent"] }}" name="msgSend" class="msgSend">
    <input type="hidden" value="{{ dictionary["itemheader.AddedFavorites"] }}" name="addFav" class="addFav">
    <input type="hidden" value="{{ dictionary["itemheader.RemovedFavorites"] }}" name="removeFav" class="removeFav">
    {% set favClass = 'remove' %}
    {% set favLink = '#' %}
    {% set favText = dictionary["item.RemoveFromFavorites"] %}
    {% if not item.isFavorite %}
        {% set favClass = 'add' %}
        {% set favText = dictionary["itemgeneraldetails.addFavorites"] %}
        {% if not user %}
            {% set favLink = (['/login?redirect=/items/', item.id, '/favorite'] | join('') | link) %}
        {% endif %}
    {% endif %}
    {% from macros import Breadcrumb %}
    {% set link = (breadcrumb | link) %}
    {{ Breadcrumb(dictionary, link, item.category.name, ['<ul>
        <li><a class="share trackMe" href="#share" data-tracking="itemPage-clickShare" >', dictionary["itemgeneraldetails.ShareThisAd"], '</a></li>
        <li><a data-itemId="', item.id, '" class="fav ', favClass, '" href="' , favLink, '">', favText, '</a></li>
    </ul>'] | join) }}
    {% if not item.images %}
        <section id="noPicture">
            <span></span>
            <p>{{ dictionary["itemgeneraldetails.NoPicture"] }}</p>
            <div class="clear"></div>
        </section>
    {% elif item.images.length == 1 %}
        <section id="onePicture">
            <div class="slide">
                <div style="background-image: url('{{ item.images[0].url }}');"></div>
            </div>
        </section>
    {% else %}
        <section class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in item.images %}
                    <div class="swiper-slide">
                        <div class="slide">
                          <div style="background-image: url('{{ image.url }}');"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="slidePagination"></div>
        </section>
    {% endif %}

    <section id="description">
        <span>{{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }}{{ (', '+item.location.cityName) if item.location.cityName }}</span>
        <h1>{{ item.price.displayPrice if item.price.displayPrice else "" }}</h1>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
        <div class="clear"></div>
    </section>

    <section id="optionals">
        {% if item.optionals %}
            <ul>
                {% for optional in item.optionals %}
                    {% if optional.label and optional.value %}
                        <li>{{ optional.label }}: <strong>{{ optional.value }}</strong></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="clear"></div>
    </section>

    {% if relatedItems.length %}
        <aside class="relatedAds">
            <section class="swiper-containerRA">
                <div class="swiper-wrapper">
                    {% for relatedItem in relatedItems %}
                        {% if relatedItem.thumbnail %}
                            <div class="swiper-slide">
                                <div class="slide trackMe" data-itemId="{{ relatedItem.id }}" data-tracking="itemPage-clickRelatedAdImg" >
                                    <a href="/{{ relatedItem | slugToUrl | link }}">
                                        <div style="background-image: url('{{ relatedItem.thumbnail }}');"></div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
            <a class="btns orange trackMe" href="{{ relatedAdsLink | link }}" data-tracking="itemPage-clickRelatedAdBtn" >{{ dictionary["itemgeneraldetails.OtherRelatedListings"] | replace(':','') }}</a>
        </aside>
    {% endif %}

    {% if item.status.contactable and item.email %}
        <section class="reply">
            <span>{{ dictionary["contactseller_form.ReplyToListing"] }}</span>
            <form id="replyForm" action="">


                <label>* {{ dictionary["replymessage.Message"] }}</label>
                <textarea class="message" name="message"></textarea>
                <small class="message hide"></small>

                <label>* {{ dictionary["replymessage.Name"] }}</label>
                <input type="text" value="{{ user.username if user.username }}" class="name" name="name">
                <small class="name hide"></small>

                <label>* {{ dictionary["replymessage.Email"] }}</label>
                <input type="email" value="{{ user.email if user.email }}" class="email" name="email">
                <small class="email hide"></small>

                <label>{{ dictionary["itemgeneraldetails.Phone"] }}</label>
                <input type="number" class="phone" name="phone">
                <input type="hidden" class="itemId" name="itemId" value="{{ item.id }}">

                <input type="hidden" class="itemCategory" value="{{ item.category.id }}">
                <input type="hidden" class="itemSubcategory" value="{{ item.category.parentId }}">
                <span>* {{ dictionary["wap_posting_step4.mandatoryField"] }}</span>

                <div class="btnCenter">
                    <input type="button" class="btns orange submit trackMe" value="{{ dictionary["contactseller_form.60"] }}" data-tracking="itemPage-clickReply" >
                </div>
            </form>
        <div class="clear"></div>
        </section>
    {% endif %}
    {% if item.status.contactable %}
        <section class="actions">
            <div class="background"></div>
            {% if item.phone and item.contactName %}
                <span>{{ item.contactName }}: {{ item.phone }}</span>
            {% elif item.phone or item.contactName %}
                <span>{{ item.contactName if item.contactName }} {{ item.phone if item.phone }}</span>
            {% endif %}
            {% if item.email and not item.phone %}
                <div class="action email trackMe fullWidth" data-tracking="Reply-clickEmail">
                    <div>
                        <span>{{ dictionary["replymessage.Email"] }}</span>
                    </div>
                </div>
            {% elif item.email and item.phone %}
                {% if device.uriSchemeTel and device.uriSchemeSms %}
                    <div class="action email trackMe" data-tracking="Reply-clickEmail">
                        <div>
                            <span>{{ dictionary["replymessage.Email"] }}</span>
                        </div>
                    </div>
                    <div class="action call trackMe" data-tracking="Reply-ClickCall" >
                        <a href="tel:{{ item.phone }}">
                            <span>{{ dictionary["misc.Call"] }}</span>
                        </a>
                    </div>
                    <div class="action sms trackMe" data-tracking="Reply-ClickSms" >
                        <a href="sms:{{ item.phone }}">
                            <span>{{ dictionary["itempagepostcomment.Sms"] }}</span>
                        </a>
                    </div>
                {% elif device.uriSchemeTel and not device.uriSchemeSms %}
                    <div class="action email trackMe midWidth" data-tracking="Reply-clickEmail">
                        <div>
                            <span>{{ dictionary["replymessage.Email"] }}</span>
                        </div>
                    </div>
                    <div class="action call trackMe midWidth" data-tracking="Reply-ClickCall" >
                        <a href="tel:{{ item.phone }}">
                            <span>{{ dictionary["misc.Call"] }}</span>
                        </a>
                    </div>
                {% elif device.uriSchemeSms and not device.uriSchemeTel %}
                    <div class="action email trackMe midWidth" data-tracking="Reply-clickEmail">
                        <div>
                            <span>{{ dictionary["replymessage.Email"] }}</span>
                        </div>
                    </div>
                    <div class="action sms trackMe midWidth" data-tracking="Reply-ClickSms" >
                        <a href="sms:{{ item.phone }}">
                            <span>{{ dictionary["itempagepostcomment.Sms"] }}</span>
                        </a>
                    </div>
                {% else %}
                    <div class="action email trackMe fullWidth" data-tracking="Reply-clickEmail">
                        <div>
                            <span>{{ dictionary["replymessage.Email"] }}</span>
                        </div>
                    </div>
                {% endif %}
            {% elif item.phone and not item.email %}
                {% if device.uriSchemeTel and device.uriSchemeSms %}
                    <div class="action call trackMe midWidth" data-tracking="Reply-ClickCall" >
                        <a href="tel:{{ item.phone }}">
                            <span>{{ dictionary["misc.Call"] }}</span>
                        </a>
                    </div>
                    <div class="action sms trackMe midWidth" data-tracking="Reply-ClickSms" >
                        <a href="sms:{{ item.phone }}">
                            <span>{{ dictionary["itempagepostcomment.Sms"] }}</span>
                        </a>
                    </div>
                {% elif device.uriSchemeTel and not device.uriSchemeSms %}
                    <div class="action call trackMe fullWidth" data-tracking="Reply-ClickCall" >
                        <a href="tel:{{ item.phone }}">
                            <span>{{ dictionary["misc.Call"] }}</span>
                        </a>
                    </div>
                {% elif device.uriSchemeSms and not device.uriSchemeTel %}
                    <div class="action sms trackMe fullWidth" data-tracking="Reply-ClickSms" >
                        <a href="sms:{{ item.phone }}">
                            <span>{{ dictionary["itempagepostcomment.Sms"] }}</span>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="clear"></div>
        </section>
    {% endif %}

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</section>

{% if item.images.length == 1 %}
    <div id="galContOne" class="galCont">
        <div class="title">{{ item.title }}</div>
        <div class="galCont-container swiper-container-gal" style="background-image: url('{{ item.images[0].url }}');"></div>
        <div class="galActions">
            <div class="close"><span></span></div>
            <div class="playDis"><span></span></div>
            <div class="prevDis"><span></span></div>
            <div class="nextDis"><span></span></div>
        </div>
    </div>
{% elif item.images.length > 1  %}
    <div id="galCont" class="galCont">
        <div class="title">{{ item.title }}</div>
        <div class="galCont-container swiper-container-gal">
            <div class="swiper-wrapper">
                {% for image in item.images %}
                    <div class="swiper-slide" style="background-image: url('{{ image.url }}');"></div>
                {% endfor %}
            </div>
            <div class="slidePaginationGal"></div>
        </div>
        <div class="galActions">
            <div class="close"><span></span></div>
            <div class="pause"><span></span></div>
            <div class="prev"><span></span></div>
            <div class="next"><span></span></div>
        </div>
    </div>
{% endif %}

<div id="share" class="popup">
    <div class="popup-wrapper">
        <div class="popup-container">
            <h4>{{ dictionary["itemgeneraldetails.ShareThisAd"] }}</h4>
            <div>
                <ul>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ href }}" target="_blank" class="facebookButton">Facebook</a></li>
                    <li><a href="https://twitter.com/intent/tweet?original_referer={{ href }}&text={{ item.title }}&url={{ href }}" target="_blank" class="twitterButton">Twitter</a></li>
                </ul>
            </div>

            <footer>
                <a href="#" class="popup-close btns grey">{{ dictionary["wap_posting_step4.Cancel"] }}</a>
            </footer>
        </div>
    </div>
</div>

<div id="msgCont" class="msgCont">
    <div class="msgCont-wrapper">
        <div class="msgCont-container"></div>
    </div>
</div>
