footer#downloadapp {
	background: #e8e6e6;
	text-align: center;
	padding: .5625rem .9375rem .375rem;
}


footer#downloadapp {
	padding: .7em 15px .5em;
}
footer#downloadapp .logoOlx {
	width: 53px; 
	height: 53px; 
	float: left; 
	background: url(imageUrl/images/common/marketing/logo50.png);
	margin: 0 .5rem 0 0;
}
footer#downloadapp .data {
	float: left;
	margin: 0;
	text-align: left;
	line-height: 1.188rem;
}
footer#downloadapp .data h1 {
	font-size: .8125rem;
	color: #303030;
}
footer#downloadapp .data .stars {
	border-bottom: 1px solid #B2B1B1;
	font-size: .625rem;
	color: #827e7e;
	height: 16px;
}
footer#downloadapp .data .stars span {
	height: 10px;
	float: left;
	line-height: normal;
	margin: 0 .3em 0 0;
}
footer#downloadapp .data .stars span.star {
	width: 10px;
	background: url(imageUrl/images/common/marketing/star.png) no-repeat;
}
footer#downloadapp .data .stars span.star.midstar {
	background: url(imageUrl/images/common/marketing/midStar.png) no-repeat;
}
footer#downloadapp .data .stars span.star.emptystar {
	background: url(imageUrl/images/common/marketing/emptyStar.png) no-repeat;
}
footer#downloadapp .data h2 {
	font-size: .625rem;
	color: #5C2A81;
	font-weight: normal;
	margin: 1px 0 0 0;
}
footer#downloadapp .data h2 span {
	font-weight: bold;
}
footer#downloadapp .btns {
	width: 27%;
	float: right;
	margin: .625rem 0 0;
	padding: .4375rem 1.188rem;
	font-size: .6875rem;
	text-transform: uppercase;
}
@media screen and (min-width: 400px) { 
	footer#downloadapp .btns{
		width: 40%;
		margin: .4375rem 0 0;
		padding: .4375rem .5rem;
		font-size: 1.188rem;
	}
}
