footer#footer {
	padding: .5rem 0 0;
	text-align: center;
}
footer#footer ul {
	padding: .5rem 0 0;
	font-size: 0.8125rem;
}
footer#footer ul li {
	border-left: thin solid #B5B5B5;
    display: inline;
    padding: 0 0.5em;
}
footer#footer ul li:first-child{
	border: none;
}
footer#footer ul li a {
	color: #4275BA;
}
footer#footer p {
	padding: .5rem 0 0 0;
	color: #333;
	font-size: 0.625rem;
}