#interstitial {
    background-repeat: repeat-y;
    background-size: 100%;
    text-align: center;
    font-size: 16px;
}

#interstitial .header {
    width: 100%;
    display: block;
    margin: 10px auto;
}

#interstitial #logoTop {
    width: 20%;
    margin: 0;
    display: inline;
    vertical-align: top;
}

#interstitial h1 {
    width: 60%;
    display: inline;
    margin: 0 0 0 .3em;
    display: inline;
    text-align: left;
    font-size: 1.5em;
    display: inline;
    font-weight: normal;
    line-height: 3.5em;
    text-transform: capitalize;
}

#interstitial .btn-adjust {
    width: 80%;
    display: block;
    margin: 10px auto;
}

#interstitial .btn-adjust a {
    width: 80%;
    min-height: 25px;
    padding-top: 10px;
    background: #c7c727;
    border-color: #8f8f15;
    font-size: 1em;
    border: 1px solid #e14b02;
}

#interstitial .continue {
    width: 100%;
    text-align: center;
    margin: 15px 0 0 0;
}

#interstitial #mobileImg {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 320px) {
    #interstitial h1 {
        font-size: 1em;
    }
}