.modal {
    .modal-wrapper {
        .modal-container {
            padding: 35px 35px 20px;
            width: 660px;

            .modal-header {
                border-bottom: 0 none;
            }

            .modal-content {
                padding: 0;
            }
        }
    }
}
