#favorites-modal.modal {
    .modal-wrapper {
        .modal-container {
            width: 660px;

            .modal-header {
                padding: 15px 40px 15px 20px;
                .modal-title {
                    font-size: $xl;
                }
            }

            .modal-content {
                padding: 0;
                .login_view {
                    border: 0 none;
                }
                .login_view {
                    padding: 0 20px 10px 0;
                    .title {
                        display: none;
                    }
                }
            }
        }
    }
}
