.modal {
    &#location-modal {

        .modal-wrapper {

            .modal-container {
                max-height: 500px;
                overflow: hidden;
                width: 980px;

                .modal-header {
                    background: $greyBoxBg;
                    border-bottom: 1px solid $greyBorders;
                    padding: 15px 40px 15px 20px;

                    .modal-title {
                        font-size: $xl;
                    }
                }
                .modal-content {
                    max-height: 400px;
                    overflow: auto;
                    padding: 20px 0 0 0;
                    margin: 0 0 20px 0;
                }
                .location-content {
                    clear-fix();
                    padding-left: 20px;

                    > a {
                        display: block;
                        font-size: $s;
                        font-weight: bold;
                        margin-bottom: 20px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .column {
                        float: left;
                        width: 48%;
                        &:last-child {
                            margin-left: 2%;
                        }
                        h4 {
                            border-bottom: 1px solid $greyBorders;
                            font-size: $m;
                            font-weight: bold;
                            margin: 0 0 10px 0;
                            padding-bottom: 10px;
                            width: 100%;

                        }

                        .modal-cities {
                            ul-reset();

                            li {
                                line-height: 1.3;
                                padding-bottom: 5px;
                                float: left;
                                width: 50%;
                            }
                        }
                    }

                }
            }
        }
    }
}
