#migrations-modal {
    .modal-wrapper {
        .modal-container {
            width: 937px;
            height: 490px;
            border: none;
            border-radius: 0;
            .modal-header {
                background-color: #fff;
                border: none;
                height: 0;
            }
            .modal-content {
                padding: 0;
            }
        }
    }
}
