.modal {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    &.modal-visible {
        display: table;
    }

    h3,
    h4 {
        margin: 0;
    }

    .modal-wrapper{
        display: table-cell;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        .modal-container {
            box($white, $greyBorders, 3px, 0);
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            text-align: left;

            .modal-header {
                background: $greyBoxBg;
                border-bottom: 1px solid $greyBorders;

                .icon-close {
                    btn-close($greyStrong, $white, $black, $white);
                    top: 10px;
                    right: 10px;
                }

                .modal-title {
                    font-size: $xxl;
                }
            }
            .modal-content {
                clear-fix();
                padding: 15px 0;
                background: $white;
            }

        }
    }

}
