.modal {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    &.modal-visible {
        display: table;
    }

    h3, h4 {
        margin: 0;
    }

    .modal-wrapper{
        display: table-cell;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        .modal-container {
            box($white, #ddd , 3px, 0px);
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            text-align: left;

            .modal-header {
                background: #eee;
                border-bottom: 1px solid #ddd;

                .modal-title {
                    font-size: 1.923rem;
                }
                .modal-close {
                    color: #999;
                    display: block;
                    font-size: 2.615rem;
                    line-height: 0;
                    position: absolute;
                    right: 1px;
                    top: 2px;

                    &:hover {
                        color: #000;
                    }

                    &:before {
                        content: "\b0";
                    }
                }
            }
            .modal-content {
                clear-fix();
                padding: 15px 0;
                background: #fff;
            }

        }
    }

}
