#terms-modal {
	.modal-container {
		width: 980px;
		height: 500px;
		.modal-header {
			padding: 15px 40px 15px 20px;
			.modal-title {
				font-size: $xl;
			}
		}
		.modal-content {
			max-height: 400px;
			overflow-y: scroll;
			h1 {
				display: none;
			}
			h3 {
				margin: 14px 0;
			}
		}
	}
}