.modal {
    &#video-gallery-modal {
        .modal-wrapper {

            .modal-container {
                width: 920px;
                padding: 10px 20px 0;

                .modal-header {
                    background: none;
                    border-bottom: none;

                    .modal-title {
                        color: $violet;
                        font-size: $xxl;
                        font-weight: bold;
                    }
                    .modal-title:last-child {
                        color: $orange;
                        font-weight: normal;
                    }
                }

                .video-content {
                    background: #666;
                    float: left;
                    width: 636px;
                    padding: 10px;
                }

                .video-thumbnails {
                    background: #ab0;
                    float: left;
                    height: 393px;
                    padding: 10px;
                    position: relative;
                    width: 244px;

                    .content {
                        ul-reset();
                        height: 300px;
                        overflow: auto;

                        li {
                            height: 90px;
                            margin-bottom: 1px;

                            .video {
                                background: $greyBoxBg;
                                clear-fix();
                                display: block;
                                position: relative;
                                &:not(.active):hover {
                                    background: $white;
                                    cursor: pointer;
                                    span {
                                        text-decoration: underline;
                                    }
                                }
                                &.active {
                                    outline: 1px solid $greyStrong;
                                    background: $white;
                                    cursor: default;
                                    color: $black;
                                    &:hover {
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }

                    .video-title {
                        display: block;
                        float: left;
                        font-size: $xs;
                        padding: 10px;
                        width: 90px;
                    }
                    .icons.icon-play {
                        color: $white;
                        position: absolute;
                        right: 47px;
                        top: 28px;
                        font-size: $xl;
                    }

                    img {
                        float: right;
                    }

                    .social-share {
                        bottom: 10px;
                        left: 0;
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        p {
                            color: $white;
                            font-weight: bold;
                        }

                        ul {
                            ul-reset();
                        }

                        li {
                            display: inline-block;

                        }

                        a {
                            background: $white;
                            circle(28px);
                            color: $green;
                            display: block;
                            font-size: $m;
                            line-height: 28px;
                            text-align: center;
                        }
                    }
                }

            }
        }
    }
}






