.modal {
    &#video-modal {

        .modal-wrapper {

            .modal-container {
                width: 920px;
                padding: 10px 20px 0;

                .modal-header {
                    background: none;
                    border-bottom: none;

                    .modal-title {
                        color: $violet;
                        font-size: $xxl;
                        font-weight: bold;
                    }
                    .modal-title:last-child {
                        color: $orange;
                        font-weight: normal;
                    }
                }

                .video-content {
                    background: #666;
                    float: left;
                    width: 636px;
                    padding: 10px;
                }

                .video-thumbnails {
                    background: #ab0;
                    float: left;
                    height: 393px;
                    padding: 10px;
                    width: 244px;

                    .content {
                        ul-reset();
                    }

                    li {
                        height: 90px;
                        margin-bottom: 1px;
                    }

                    a {
                        clear-fix();
                        background: #fff;
                        position: relative;
                    }

                    .video-title {
                        display: block;
                        float: left;
                        padding: 10px 0 0 10px;
                        width: 114px;
                    }

                    img {
                        float: right;
                    }

                    .social-share {
                        p {
                            color: #fff;
                            font-weight: bold;
                            text-align: center;
                        }

                        ul {
                            ul-reset();
                        }

                        li {
                            display: inline-block;
                        }

                        a {
                            border-radius: 16px;
                            color: #ab0;
                            display: block;
                            font-size: 1.692rem;
                            height: 28px;
                            line-height: 28px;
                            text-align: center;
                            width: 28px;
                        }
                    }
                }

            }
        }
    }
}






