{{partial "analytics"}}

<section>
  	<ul id="subCategory">
		{{#each category.children}}
			<li><a href="/change-this-description-for-the-category-cat-{{id}}-p-1?location={{../params.location}}">{{trName}}</a></li>
		{{/each}}
	</ul>
</section>
