.pages_didyousell_view {
    clear-fix();
}

.notification-message {
    background-color: $ligthGreen;
    border-radius(3px);
    border: 1px solid $greenBorders;
    clear-fix();
    margin: 20px;
    min-height: 50px;
    padding: 10px;
    position: relative;
    text-align: center;
   
    h4 {
        color: $lightBlack;
        font-size: $l;
        line-height: 1.4;
        margin: 0;
    }
    p {
        color: $lightBlack;
        font-size: $s;
        line-height: 1.4;
        margin: 0;
    }
    .icon-happy {
        background-image: url(imageUrl/images/html5/icon_cara-verde.png);
        display: inline-block;
        height: 36px;
        width: 37px;
    }
}
.notification-keep-posting {
    border-radius(3px);
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    position: relative;
    text-align: center;

    h3 {
        color: #darkBlue;
        font-size: $l;
    }
    img {
        width: 80%;
    }

    p {
        color: $lightBlack;
        font-size: $m;
    }
    .categories-icons {
        background-image: url(imageUrl/images/html5/icons_category.png);
        background-repeat: no-repeat;
        display: inline-block;
        height: 28px;
        margin:20px 0px;
        width: 265px;
    }
    .btnPost {
        margin-bottom: 10px;
    }
}

.didYouSellNo {
    border: 1px solid $greyBorders;
    clear-fix();
    margin: 20px 10px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;

    h2 {
        color: $lightBlack;
        font-size: $l;
        margin: 0 0 5px 0;
        padding: 0 10px;
        text-align: center;
    }

    p {
        color: $black;
        float: left;
        font-size: $m;
        margin-bottom: 25px;
        text-align: center;
    }
    .didYouSellOptions {
        margin: auto;

        p {
            margin-bottom: 10px;
        }
    }
    article {
        border-top: 1px solid $greyBorders;
        display: inline-block;
        height: 100px;
        padding: 10px 10px 15px 10px;
        width: 97%

        h3 {
            color: $black;
            font-size: $m;
            font-weight: bold;
            margin-bottom: 5px;
            text-align: left;
        }
        p {
            color: $black;
            font-size: $xs;
            text-align: left;
        }
        div {
            float: left;
            padding-left: 15px;
            width: 80%;
        }
        .btns {
            border: 1px solid $greyBorders;
            color: $orange;
            float: left;
            font-size: $s;
            font-weight: bold;
        }
    }
    .icons {
        background-repeat: no-repeat;
        display: inline-block;
        float: left;
        height: 37px;
        width: 37px;
    }
    .icon-lamp {
        background-image: url(imageUrl/images/html5/icon_lampara-azul.png);
        clear-fix();
        float: none;
        height: 41px;
        margin: auto;
        width: 38px;
    }
    .icon-fb-round {
        background-image: url(imageUrl/images/html5/icon_facebook.png);
    }
    .icon-ticket {
        background-image: url(imageUrl/images/html5/icon_ticket.png);
        width: 40px;
    } 
    .icon-post {
        background-image: url(imageUrl/images/html5/icon_post.png);
        height: 48px;
    }
    .facebookButton {
        background-image: url(imageUrl/images/html5/boton_facebook.png);
        display: inline-block;
        float: left;
        height: 31px;
        width: 165px;
    }
}
