.errorPage {
	padding: 0 16px 16px;
	color: #333;
	> p {
		padding-top: 16px;
	}
	> ul {
		padding: 16px 0 0 1.5em;
		list-style: disc outside none;
		> li {
			list-style: disc outside none;
			> a {
				color: #1C7BD4;
			}
		}
	}
	> div {
		overflow: auto;
		margin-top: 16px;
		border: solid 1px #CCC;
		background: #EEE;
		> h2 {
			padding: 4px 8px;
			background: #E2771C;
			color: #FFF;
			border-bottom: solid 1px #CCC;
		}
		> pre {
			display: block;
			margin: 0;
			padding: 8px;
		}
	}
}
