.pages_help_view {

	.topics {

		padding: 0 1rem 1rem;
		font-size: 12px;
		color: #333;

	}
	
	.topic {

		padding-top: 1rem;

	}
	
	.title {

		padding-bottom: .5rem;
		border-bottom: solid thin #CCC;

	}
	
	.question-group {

		padding-top: .5rem;

	}
	
	.question {

		font-weight: bold;

	}
	
	.answer {

		padding: .5rem 0 0 1rem;
		
		br + br {

			display: none;

		}
		
		ul,
		ol {

			padding-left: 1em;
			
			li {

				list-style: inherit;

			}

		}
		
		ul {

			list-style: disc;

		}
		
		ol {

			list-style: decimal;

		}

	}

}
