.pages-thanks-view {
    padding: 24px 10px;

    .content-thanks {
        border: 1px solid $greyBorders;
        margin-bottom: 20px;
        padding: 24px 0 30px;
        text-align: center;

        p {
            margin: 20px 0;
            font-size: $s;

            &.thanks-you {
                font-size: $xs;
            }
        }

        h1 {
            color: $violet;
            font-size: $l;
            font-weight: bold;
        }
        .posting {
            display: inline-block;
        }

        .content-thanks-you {
            .orange {
                font-size: $m;
                font-weight: bold;
            }
        }
        .content-items {
            margin-top: 30px;
            padding: 0 10px;
        }
    }
}