<h4>Register</h4>

<form class="form" id="register-form" name="register" action="" method="">
	<input id="username-field" type="text" name="user" placeholder="Username">
	<input id="email-field" type="email" name="email" placeholder="Email">
	<input id="password-field" type="password" name="pwd" placeholder="Password">
	<a id="terms-link" href="#terms" type="button">Terms and conditions</a>
	<input type="checkbox" name="agree-check" id="agree-check">
    <label for="agree-check">I agree to the terms and conditions</label></br>
	<a id="register-button" href="#" type="button">Register</a>
</form>