<h3>Register</h3></br>

<form id="register-form" name="register" action="" method="">
	Username: <input id="username-field" type="text" name="user">
	Email: <input id="email-field" type="email" name="email">
	Password: <input id="password-field" type="password" name="pwd"></br>
	<a id="terms-link" href="#terms" type="button">Terms and conditions</a>
	<input type="checkbox" name="agree-check" id="agree-check">
    <label for="agree-check">I agree to the terms and conditions</label></br>
	<input id="register-button" type="button" value="Register">
</form>