<nav>
	<h4 class="navTitle">Categoría</h4>
	<ul>
		{{#each categories.models}}
			<li class="menuItem">
				<a class="menuItemLink" href="categories/{{id}}?location={{../siteLocation}}">{{trName}}, <small class="counter">{{counter}}</small></a>
			</li>
		{{/each}}
	</ul>
</nav>