$black = #000;
$blue = #0076be;
$blueFacebook = #3b5998;
$cyanTwitter = #3cf;
$green = #ab0;
$greyBorders = #e4e4e4;
$lightGrey = #fafafa;
$orange = #f70;
$red = #c33;
$redGooglePlus = #dd4b39;
$strongGrey = #666;
$violet = #628;
$white = #fff;
$yellow = #fe7;
$yellowDarker = #cc3;
$yellowPosting = #ffc;

