$black = #000;
$blue = #38b;
$blueFacebook = #306199;
$blueFacebookBorder = #3773B8;
$cyanTwitter = #30c4f1;
$green = #ab0;
$greenBorder = #cd7;
$greenLight = #efc;
$greyBoxBg = #f5f5f5;
$greyBorders = #ccc;
$disableText = #ccc;
$greyPageBg = #fafafa;
$greyStrong = #999;
$lightBlue = #e8f6ff;
$lightBlueBorder = #b9ddf3;
$lightBlueHover = #ddeeff
$orange = #f70;
$pink = #fee;
$pinkBorder = #faa;
$red = #c33;
$redGooglePlus = #cf2a1b;
$violet = #628;
$white = #fff;
$yellow = #fe7;
$yellowBorders = #cc0;
$yellowPosting = #ffc;
$yellowSuccess = #ef8;
$featureStarBg = #890;

$baseFont = 14px;
$xs = remify(12px);
$s = remify(14px);
$m = remify(16px);
$l = remify(20px);
$ll = remify(24px);
$xl = remify(26px);
$xxl = remify(32px);
$xxxl = remify(40px);
