#home ul {
    padding: 0 16px;
}
#home ul li {
    position: relative;
    border-bottom: 1px solid #cccccc;
}
#home ul li h2 {
    font-size: 16px;
}
#home ul li a {
    display: block;
    padding: 8px 0 1px 0;
    color: #333333;
    line-height: 24px;
    text-transform: capitalize;
}
#home ul li a img {
    width: 24px;
    height: 24px;
    margin: 0 0 0 4px;
}
#home ul li a span {
    position: relative;
    top: -7px;
}