{% macro Breadcrumb(dictionary, link, title='', suffix='') %}
    <div class="breadcrumb">
        <a href="{{link}}" class="arrow">{{dictionary["defaultfooter.Back"]}}</a>
        {{ (['<h1>', title, '</h1>'] | join) if title }}{{suffix}}
    </div>
{% endmacro %}

{% macro BreadcrumbHome(dictionary, link) %}
    {{ Breadcrumb(dictionary, link, '', ['<a class="arrow home" href="/">', dictionary["defaultfooter.Home"], '</a>'] | join) }}
{% endmacro %}

{% macro Errors(errors) %}
    <div id="errors">
        {% for field, messages in errors %}
            {% for message in messages %}
                <span>{{ ([field, ': '] | join | title) if field != 'main' }}{{ message }}</span><br/>
            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro ErrorsPosting(errors, dictionary) %}
    <div id="errors">
        {% for field, messages in errors %}
            {% for message in messages %}

                {% if field == 'priceC' %}
                    <span>{{ dictionary["posting_fields_1.price"] }}: {{ message }}</span><br/>
                {% elif field ==  'contactName' %}
                    <span>{{ dictionary["itemslisting.NewContactName"] }}: {{ message }}</span><br/>
                {% elif field ==  'phone' %}
                    <span>{{ dictionary["posting_fields_1.phoneNumber"] }}: {{ message }}</span><br/>
                {% else %}
                    <span>{{ dictionary["posting_fields_1."+field] }}: {{ message }}</span><br/>
                {% endif %}

            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro FieldText(field , form , user) %}
    <div class="formField">
        <label>{{field.label}}</label>
        <input type="text" name="{{field.name}}" id="text-{{field.name}}"{% if (form and form.values and form.values[field.name]) or (field.name == 'email' and user) %} value="{{ form.values[field.name] if form.values[field.name] else user.email }}"{% endif %}>
    </div>
{% endmacro %}

{% macro FieldTextArea(field , form) %}
    <div class="formField">
        <label>{{field.label}}</label>
        <textarea id="text-{{field.name}}" name="{{field.name}}" class="textarea">{% if form and form.values and form.values[field.name] %}{{ form.values[field.name] }}{% endif %}</textarea>
    </div>
{% endmacro %}

{% macro FieldCombobox(field , form) %}
    <div class="formField">
        {% if field.values.length == 1 %}
            <label>{{field.label}} <strong>{{ field.values[0].value }}</strong></label>
            <input type="hidden" id="select-{{field.name}}" name="{{field.name}}" value="{{ field.values[0].key }}">
        {% else %}
            <label>{{field.label}}</label>
            <select id="select-{{field.name}}" name="{{field.name}}">
                {% for value in field.values %}
                    <option value="{{value.key}}"{% if form and form.values and form.values[field.name] and form.values[field.name] == value.key %} selected="selected"{% endif %}>{{value.value}}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
{% endmacro %}