{% macro Breadcrumb(dictionary, link, title='', suffix='') %}
    <div class="breadcrumb">
        <a href="{{link}}" class="arrow">{{dictionary["defaultfooter.Back"]}}</a>
        {{ (['<h1>', title, '</h1>'] | join) if title }}{{suffix}}
    </div>
{% endmacro %}

{% macro BreadcrumbHome(dictionary, link) %}
    {{ Breadcrumb(dictionary, link, '', ['<a class="arrow home" href="/">', dictionary["defaultfooter.Home"], '</a>'] | join) }}
{% endmacro %}

{% macro Errors(errors) %}
    <div id="errors">
        {% for field, messages in errors %}
            {% for message in messages %}
                <span>{{ ([field, ': '] | join | title) if field != 'main' }}{{ message }}</span><br/>
            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}
