<div id="search">
    <form action="<?= $searchLink ?>">
		<span>
			<a href="/location/page/1">{{siteLocation}}</a>
			<a href="/location/page/1" class="select-city">Selecciona una ciudad</a>
		</span>
        <fieldset>
        	<input id="searchField" type="text" class="text" value="" name="search"/>
        	<input id="searchSubmit" type="submit" class="submit" value="Buscar" name="search_button"/>
			<div class="what-are-you-looking-for">&iquest;Qu&eacute; est&aacute;s buscando?</div>
        </fieldset>
    </form>
</div>