<div id="itempage">

    <header class="title">
        <hgroup>
            <h1>{{item.title}}</h1>
            <h4>{{item.displayPrice}}</h4>
        </hgroup>
    </header>    

    <section id="image-slider" class="swipe"></section>

    <ul class="actions">
        <li class="date">{{item.date}}</li>
        <li class="addFavorite">Add to favourites</li> 
        <li class="share">Share this Ad</li>
    </ul>

    <div class="optionals">
        {{#each item.optionals}}
           <li><b>{{key}}:</b> {{value}}</li>
        {{/each}}
    </div>

    <article>
        <h3 class="titleBox">Description</h3>
        <p class="description">{{item.description}}</p>
    </article>

    <article class="location">
        <h3 class="titleBox">Location</h3>
        <h4>{{item.location.city}}</h4>
        <div class="map" style="background-image: url(http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=640x150&maptype=roadmap&markers=color:red%7Ccolor:red%7C{{item.location.latitude}},{{item.location.longitude}}&sensor=false)"></div>
    </article>

    <ul class="phoneActions">

        <li class="call">Call</li>
        <li class="sms">SMS</li>
        <li class="message">Message</li>
    </ul>

    <article>
        <h3 class="titleBox">Related Ads</h3>
        <div id="image-slider-related" class="swipe">
        </div>
    </article>
</div>