<section class="reply">
	<h3>Reply</h3>
	<input id="email-field" type="name" name="email" placeholder="Email" class="olx-ui-textbox" data-role="none" />
	<input id="name-field" type="text" name="name" placeholder="Name" class="olx-ui-textbox" data-role="none" />
	<input id="phone-field" type="phone" name="phone" placeholder="Phone" class="olx-ui-textbox" data-role="none" />
	<textarea id="message-field" name="message" placeholder="Enter your message here" class="olx-ui-textarea" data-role="none"></textarea>
	<input id="reply-button" type="button" value="Reply" class="olx-ui-button" data-role="none" />
</section>