<div class="migration-banner-mx">
    <p class="message"><span>OLX muy pronto será</span> <a href="http://www2.segundamano.mx" target="_self"><img src="{{ '/images/html4/migration/mx/logo_smmx_226.png' | static }}" alt="segundamano.mx" /></a></p>
    <p class="apps">
        <a class="post" href="http://www2.segundamano.mx/ai/form/0">Publica gratis</a>
        <span class="app-list">
            <a class="app ios" href="https://itunes.apple.com/mx/app/segundamano.mx-compra-y-venta/id934844916?l=en&mt=8"><img src="img/boton_app_store.png" alt="App Store" /></a>
            <a class="app android" href="https://play.google.com/store/apps/details?id=mx.segundamano.android&hl=es_419"><img src="img/boton_google_play.png" alt="Google Play"></a>
        </span>
    </p>
</div>
