#Sublime tags
.tags
.tags_sorted_by_file
*.sublime-project
*.sublime-workspace

#Jasmine target
target

node_modules
public/mergedAssets.js
public/js/mergedAssets.js
public/js/libs.js
public/js/app.js
app/templates/compiledTemplates.js
public/styles.css
.DS_Store
npm-debug.log
config/runtime.json
*.swp
*.swo
conf.json
build.json
test/output
test/coverage.html
newrelic_agent.log
mobile-webapp-static-*
mobile-webapp-dynamic-*
