#Sublime tags
.tags
.tags_sorted_by_file
*.sublime-project
*.sublime-workspace

#Jasmine target
target

node_modules
public/mergedAssets.js
app/templates/compiledTemplates.js
public/styles.css
.DS_Store
npm-debug.log
config/runtime.json
*.swp
*.swo
conf.json
test/output
test/coverage.html
newrelic_agent.log
arwen-static-*
arwen-dynamic-*
