#WebStorm IDE
.idea/*

#NetBeans project
nbproject/*

#Sublime tags
.tags
.tags_sorted_by_file
*.sublime-project
*.sublime-workspace

#Jasmine target
target

translations-tmp
node_modules
app/templates
public/js/libs.js
public/js/app.js
public/js/app
public/js/src
public/js/min
public/css
.DS_Store
npm-debug.log
config/runtime.json
*.swp
*.swo
conf.json
build.json
jmeter.log
newrelic_agent.log
mobile-webapp-static-*
mobile-webapp-dynamic-*
dist
coverage

test/unit/coverage.html
tests/coverage.html

public/images/*/icons

.idea
