#locationSelect {

	padding: 5px 11px 0;
	background: #DDD;

	h1, h3 {

		display: inline;
		font-size: 13px;
		color: #333333;

	}

	a {

		color: #1C7BD4;
		font-size: 10px;

	}

	&.locationBreadcrumb h1 a,
	&.locationBreadcrumb h3 a {

		font-size: 13px;

	}

}
