    <div class="didYouSellNo page-standart">
        <span class="icons icon-lamp"></span>
        <h2>¡Queremos ayudarte a vender!</h2>
        <p>Siguiendo los siguientes consejos podés aumentar tus posibilidades de vender</p>
        <div class="didYouSellOptions">
            <article>
                <span class="icons icon-fb-round"></span>
                <div>
                    <h3>{{ dictionary["misc.ShareAd"] }}</h3>
                    <p>Utilizá las redes sociales para aumentar la exposición de tu aviso.</p>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ item.slug }}" target="_blank" class="facebookButton"></a>
                </div>
            </article>
            <article>
                <span class="icons icon-ticket"></span>
                <div>
                    <h3>Bajá el precio</h3>
                    <p>Colocando un precio accesible tu aviso recibirá más consultas.</p>
                    <a href="{{ '/myolx/edititem/' | link }}/{{ item.itemid }}?sk={{ sk }}" class="btns white">Modificar el precio</a>
                </div>
            </article>
            <article>
                <span class="icons icon-post"></span>
                <div>
                    <h3>Publicá más avisos</h3>
                    <p>Esto aumenta la confianza de los compradores y tus chances de vender.</p>
                    <a href="{{ '/posting' | link }}" class="btns white">{{ dictionary["defaultheader.PostAnAd"] }}</a>
                </div>
            </article>
        </div>
    </div>