<section id="notification-message" class="notification-message icons icon-happy">
    <span class="icons icon-happy"></span>
    <h4>{{ dictionary["posting_step4.WellDoneAdCreated"] }}</h4>
    <p>{{ dictionary["posting_fields_1.IfAdApprovedYouWillReceiveEmailConfirmation"] }}</p>
</section>

<section id="notification-keep-posting" class="notification-keep-posting">
    <p>Seguro que tenés más cosas para vender:</p>
    <h3 class="title">¡Publicá lo que ya no usas en OLX!</h3>
    <span class="categories-icons"></span>
    <div class="btnPost">
        <a href="{{ '/posting' | link }}" class="btns orange" data-qa="post-button">Seguir vendiendo</a>
    </div>
</section>
