<section id="notification-message" class="notification-message icons icon-happy">
    <span class="icons icon-happy"></span>
    <h4>{{ dictionary["misc.GladYouSold"] }}</h4>
    <p>{{ dictionary["misc.AdNotInResults"] | replace('<<AD_TITLE>>', '<b>' + item.title + '</b>' )}}</p>
    <p>{{ dictionary["misc.Tx4Posting"] }}</p>
</section>

<section id="notification-keep-posting" class="notification-keep-posting">
    <h3 class="title">{{ dictionary["misc.SellUnused"] }}</h3>
    <span class="categories-icons"></span>
    <div class="btnPost">
        <a href="{{ '/posting' | link }}" class="btns orange" data-qa="post-button">{{ dictionary["crm_new_version.KeepPosting"] }}</a>
    </div>
</section>
