{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
<div id="home">
	<ul>
		{% for category in categories.models %}
			<li class="{{ "last" if loop.last else "" }}" >
				<a href="/change-this-description-for-the-category-cat-{{category.id}}?location={{siteLocation}}">
					<img src="{{ ["/images/icons/html4/", category.id, ".png"] | join('') | static }}">
					<span>{{category.trName}}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>