#myads ul.itemListing a.action {
	float: right;
	margin: 0 8px 0 0;
	color: #4A7AD0;
	font-size: 12px;
}
#myads ul.itemListing li .itemInfo span.status {
	padding: 3px 6px;
	color: #ffffff;
	font-size: 12px;
}
#myads ul.itemListing li .itemInfo span.status.rejected {
	background: red;
}
#myads ul.itemListing li .itemInfo span.status.pending {
	background: orange;
}