.items-flagsuccess-view {
    #message-box {
        text-align: center;
        padding: 10px;
        background-color: #F0FFD3;
        border: 1px solid #AB0;
        margin: 25px;

        h1 {
            font-weight: bold;
            font-size: 18px;
        }
        p {
            margin-top:5px;
        }
    }
}
