.items-flag-view {
    .formField {
        label {
            font-weight: bold;
            font-size: 13px;
        }
        label.radio {
            font-weight: normal;
        }
    }
    .formActions {
        text-align: center;
    }
}
