#itemPagination {
	width: 250px;
	height: 32px;
	margin: 20px auto 0;
	font-size: 15px;
}

#itemPagination .arrow {
	width: 34px;
	height: 33px;
	float: left;
}

#itemPagination .arrow.leftA {
	background: url(imageUrl/images/html4/leftA.png) no-repeat;
}

#itemPagination .arrow.leftD {
	background: url(imageUrl/images/html4/leftD.png) no-repeat;
}

#itemPagination .arrow.rightA {
	background: url(imageUrl/images/html4/rightA.png) no-repeat;
}

#itemPagination .arrow.rightD {
	background: url(imageUrl/images/html4/rightD.png) no-repeat;
}

#itemPagination .center {
	width: 177px;
	height: 33px;
	float: left;
	padding: 6px 0 0 5px;
	text-align: center;
}

#itemPagination .center a,
#itemPagination .center strong {
	width: 22px;
	float: left;
	padding: 0 6px;
	display: inline;
	vertical-align: top;
	color: #333333;
}
#itemPaginationCaption {
	width: 250px;
	margin: 0 auto 5px;
	clear: both;
	overflow: hidden;
	font-size: 13px;
}
#itemPaginationCaption a {
	color: #aaaaaa;
}
#itemPaginationCaption a.left {
	float: left;
}
#itemPaginationCaption a.right {
	float: right;
}