.items_reply_view {
    .formField {
        strong {
            color: #25a0df;
        }
        label {
            font-weight: bold;
            font-size: 13px;
        }
        input, textarea {
            background-color: #ffffff;
            border: 1px solid #e9e9e9;
        }
        .placeholder {
            color: #bfbfbf;
        }
        .mandatory {
            color: #494949;
            font-size: 11px;
        }
    }
    .formActions {
        text-align: center;
    }
    .user-info {
        border-bottom: 1px solid #e9e9e9;
        padding: 16px;

        label {
            color: #b1b1b1;
            font-size: 14px;
            font-weight: normal;
        }
    }
}
