.page-safetytips-view {
    .safetytips-content {

        .itemInfo {
            padding-right: 10px;
            margin-bottom: 30px;
            border-bottom: 1px solid #d2d2d2;

            &:after {
                content: " ";
                clear: both;
                display: block;
            }

            .itemPrice {
                width: 59%;
                padding-left: 2%;
                float: left;


                .title {
                    clear: right;
                    font-size: 14px;
                    color: #333;

                }

                span {
                    float:left;
                    color: #777;
                    font-size: 11px;
                }

                .price {
                    float: right;
                    color: #fd7600;
                    font-size: 16px;
                }
            }
        }

        .img-thumbnail {
            float: left;
            width: 39%;
            max-width: 112px;
        }

        .contact-info {
            text-align: center;
            padding-bottom: 30px;
            .phone-number {
                margin: 0 auto;
                width: 120px;
                padding-bottom: 20px;
                &:after {
                    content: " ";
                    clear: both;
                    display: block;
                }
                span {
                    display: block;
                    float: left;
                    line-height: 21px;
                }

                img {
                    float: left;
                    padding-right: 6px;
                }
            }
            .email {
                display: inline-block;
                margin-top: 16px;
            }
        }

        .tips {
            background: #ffffcc;
            border: 1px solid #ffee77;
            padding: 20px 16px;
            margin: 0 16px 16px;

            p {
                font-size: 14px;
                padding-bottom: 14px;
            }

            ul {
                padding-left: 18px;
                li {
                    list-style: initial;
                    font-size: 14px;
                }
            }
        }

        a {
            &.btns {
                padding: 7px 8px;
                text-align: center;
            }
        }
    }
}