.seller-profile-view {
    background: #efc;
    border: 1px solid #b1bc00;
    padding-bottom: 10px;
    h4 {
        background: #b1bc00 url(imageUrl/images/html4/seller_icon.gif) no-repeat left 13px center;
        color: #fff;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 10px 0 10px 45px;
    }
    p {
        font-size: 13px;
        color: #333;
        padding-left: 12px;
    }
}