<div class="two" id="footer">
	<div class="language">    
	    <ul>
	        <li class="f">Espa&ntilde;ol</li>
	        <li><a href="?language=1" rel="nofollow">English</a></li>
	    </ul>
	</div>
    <ul id="redirect">
    	<li class="first"><a target="_blank" href="/terms"> Condiciones de Uso</a></li>			
		<li><a href="/redirectmainsite" rel="external">Ver sitio completo</a></li>
	</ul>
    <p class="copyright">Copyright &copy; 2006-2014 OLX Inc.</p>
</div>
