<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
	    {{{partial 'standard/partials/head'}}}
	</head>
	<body>
		HTML4
		{{{partial 'standard/partials/header'}}}
		<article>
			<div id="content">
				{{{body}}}
			</div>
		</article>
	</body>
</html>
