@font-face {
    font-family: 'olx-icon-font';
    src: url(staticUrl/fonts/olx-icon-font.eot);
    src: url(staticUrl/fonts/olx-icon-font.eot?#iefix) format('embedded-opentype'),
         url(staticUrl/fonts/olx-icon-font.woff) format('woff'),
         url(staticUrl/fonts/olx-icon-font.ttf) format('truetype'),
         url(staticUrl/fonts/olx-icon-font.svg#olx-icon-fontregular) format('svg');
    font-style: normal;
    font-weight: normal;
}

.icons::before {
    display: inline-block;
    font-family: 'olx-icon-font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Por favor, cada vez que se agrege un icono nuevo, ordenarlo alfabéticamente para su rápida ubicación */
.icon-addpicture::before {
    content: "\66";
}
.icon-arrow::before {
    content: "\63";
}
.icon-cat-16::before { /* Real State */
    content: "\26";
}
.icon-cat-185::before { /* For sale */
    content: "\74";
}
.icon-cat-186::before { /* Clases */
    content: "\6b";
}
.icon-cat-187::before { /* Comunidad */
    content: "\6e";
}
.icon-cat-190::before { /* Trabajo */
    content: "\2d";
}
.icon-cat-191::before { /* Servicios */
    content: "\3d";
}
.icon-cat-362::before { /* Vehiculos */
    content: "\3a";
}
.icon-check::before {
    content: "\6a";
}
.icon-close::before {
    content: "\6d";
}
.icon-edit::before {
    content: "\21";
}
.icon-facebook::before {
    content: "\73";
}
.icon-gallery::before {
    content: "\76";
}
.icon-list::before {
    content: "\2e";
}
.icon-lock::before {
    content: "\2c";
}
.icon-more::before {
    content: "\25";
}
.icon-phone::before {
    content: "\22";
}
.icon-photo::before {
    content: "\e047";
}
.icon-question::before {
    content: "\60";
}
.icon-twitter::before {
    content: "\a8";
}
.icon-googleplus::before {
    content: "\79";
}
.icon-pin::before {
    content: "\b7";
}
.icon-search::before {
    content: "\29";
}
.icon-sketchyarrow::before {
    content: "\62";
}
.icon-time::before {
    content: "\6c";
}
.icon-user::before {
    content: "\5f";
}
.icon-zoom::before {
    content: "\65";
}