@font-face {
    font-family: 'olx-icon-font';
    src: url(staticUrl/fonts/olx-icon-font-6.eot);
    src: url(staticUrl/fonts/olx-icon-font-6.eot?#iefix) format('embedded-opentype'),
         url(staticUrl/fonts/olx-icon-font-6.woff) format('woff'),
         url(staticUrl/fonts/olx-icon-font-6.ttf) format('truetype'),
         url(staticUrl/fonts/olx-icon-font-6.svg#olx-icon-font-4regular) format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'kalam';
    src: url(staticUrl/fonts/kalam-bold.eot);
    src: url(staticUrl/fonts/kalam-bold.eot?#iefix) format('embedded-opentype'),
         url(staticUrl/fonts/kalam-bold.woff) format('woff'),
         url(staticUrl/fonts/kalam-bold.ttf) format('truetype'),
         url(staticUrl/fonts/kalam-bold.svg#kalam_boldregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
.icons::before {
    display: inline-block;
    font-family: 'olx-icon-font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Por favor, cada vez que se agrege un icono nuevo, ordenarlo alfabéticamente para su rápida ubicación */
.icon-addpicture::before {
    content: "\66";
}
.icon-arrow::before {
    content: "\63";
}
.icon-arrow-down::before {
    content: "\63";
    transform(rotate(90deg));
}
.icon-arrow-left::before {
    content: "\63";
    transform(rotate(180deg));
}
.icon-arrow-right::before {
    content: "\63";
}
.icon-arrow-up::before {
    content: "\63";
    transform(rotate(270deg));
}
.icon-arrow-down::before {
    content: "\63";
    transform(rotate(90deg));
}
.icon-bigger::before {
    content: "e";
}
.icon-cat-16::before { /* Real State */
    content: "\26";
}
.icon-cat-185::before { /* For sale */
    content: "\74";
}
.icon-cat-186::before { /* Clases */
    content: "\6b";
}
.icon-cat-187::before { /* Comunidad */
    content: "\6e";
}
.icon-cat-190::before, .icon-cat-821::before { /* Trabajo */
    content: "\2d";
}
.icon-cat-191::before { /* Servicios */
    content: "\3d";
}
.icon-cat-362::before { /* Vehiculos */
    content: "\3a";
}
.icon-cat-405::before { /* Matrimonials */
    content: "\e605";
}
.icon-cat-600::before { /* Agriculture - Animaux */
    content: "\70";
}
.icon-cat-800::before { /* Technologie - Électroniques */
    content: "\f1";
}
.icon-cat-806::before { /* Maison - Meubles - Jardin */
    content: "\75";
}
.icon-cat-811::before { /* Animals and Pets */
    content: "\61";
}
.icon-cat-815::before { /* Mode et Beauté */
    content: "\71";
}
.icon-cat-830::before { /* Mobile Phones - Tablets */
    content: "\68";
}
.icon-cat-853::before { /* Bebés y Niños */
    content: "\64";
}
.icon-cat-859::before { /* Loisirs - Art - Sports */
    content: "\2b";
}
.icon-chat::before {
    content: "\69";
}
.icon-cellphones::before {
    content:"\68";
}
.icon-check::before {
    content: "\6a";
}
.icon-clock::before {
    content:"\6c";
}
.icon-close::before {
    content: "\e604";
}
.icon-community::before {
    content:"\6e";
}
.icon-community2::before {
    content:"\e603";
}
.icon-edit::before {
    content: "\21";
}
.icon-envelope::before {
    content: "\6f"
}
.icon-earth::before {
    content:"\e601";
}
.icon-facebook::before {
    content: "\73";
}
.icon-gallery::before {
    content: "\76";
}
.icon-happy::before {
    content: "\7a";
}
.icon-help-round::before {
    content: "\3c";
}
.icon-googleplus::before {
    content: "\79";
}
.icon-lamp::before {
    content:"\e60b";
}
.icon-like::before {
    content:"\e60d";
}
.icon-list::before {
    content: "\2e";
}
.icon-lock::before {
    content: "\2c";
}
.icon-mobile::before {
    content:"\e602";
}
.icon-money-round::before {
    content:"\e600";
}
.icon-more::before {
    content: "\25";
}
.icon-olx::before {
    content: "\ba";
}
.icon-phone::before {
    content: "\22";
}
.icon-photo::before {
    content: "\67";
}
.icon-press:before {
    content: "\e60a";
}
.icon-piggy-bank::before {
    content:"\e60e";
}
.icon-play::before {
    content: "\24";
}
.icon-pin::before {
    content: "\b7";
}
.icon-sad::before {
    content: "\28";
}
.icon-question::before {
    content: "\60";
}
.icon-search::before {
    content: "\29";
}
.icon-sketchyarrow::before {
    content: "\62";
}
.icon-tag::before {
    content: "\2a";
}
.icon-time::before {
    content: "\6c";
}
.icon-twitter::before {
    content: "\a8";
}
.icon-user::before {
    content: "\5f";
}
.icon-zoom::before {
    content: "\65";
}
.icon-star-circle::before {
    content: "\e607";
}
.icon-trash::before {
    content: "\5e";
}
.icon-youtube::before {
    content: "\3e";
}
.icon-phone-round::before {
    content: "\e609";
}