@font-face {
    font-family: 'olx-icon-font';
    src: url(staticUrl/fonts/olx-icon-font.eot);
    src: url(staticUrl/fonts/olx-icon-font.eot?#iefix) format('embedded-opentype'),
         url(staticUrl/fonts/olx-icon-font.woff) format('woff'),
         url(staticUrl/fonts/olx-icon-font.ttf) format('truetype'),
         url(staticUrl/fonts/olx-icon-font.svg#olx-icon-fontregular) format('svg');
    font-style: normal;
    font-weight: normal;
}

.icons::before {
    display: inline-block;
    font-family: 'olx-icon-font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.icon-lupa::before {
    content: "\e052";
    font-weight: bold;
}
.icon-time::before {
    content: "\e05f"
}
.icon-pin::before {
    content: "\3a"
}
.icon-arrow-left::before {
    content: "{";
}
.icon-arrow-right::before {
    content: "[";
}
.icon-arrow-top::before {
    content: "/";
}
.icon-arrow-bottom::before {
    content: "*";
}
.icon-check::before {
    content: "[";
}
.icon-galery::before {
    content: "[";
}
.icon-list::before {
    content: "[";
}
.icon-cat::before {
    content: "Q";
}
.icon-cat-16::before {
    content: "A";
}
.icon-cat-185::before {
    content: "I";
}
.icon-cat-186::before {
    content: "T";
}
.icon-cat-187::before {
    content: "S";
}
.icon-cat-190::before {
    content: "C";
}
.icon-cat-191::before {
    content: "Ñ";
}
.icon-cat-362::before {
    content: "D";
}
.icon-alert:before {
    content: "\21";
}

