<menu id="myOlx"{{ ' class="disabled"' if postingFlow }}>
    <ul class="header-links" >
        <li>{{ user.email }}</li>
        <li><a href="{{ '/myolx/myadslisting' | link }}" class="header-link" data-qa="my-ads-link" >{{ dictionary["myolx.MyAds"] }}</a></li>
        <li><a href="{{ '/myolx/favoritelisting' | link }}" class="header-link" data-qa="my-favorites-link" >{{ dictionary["myolx.MyFavorites"] }}</a></li>
        {% if isHermesEnabled %}
            <li class="messages"><a href="{{ '/myolx/conversations' | link }}" class="header-link" data-qa="my-messages-link">{{ dictionary["myolx.Messages"] }}<span class="message-notification"></span></a></li>
        {% endif %}
        <li><a href="{{ '/logout' | link }}" class="header-link" data-qa="logout-link" >{{ dictionary["myolx.SignOut"] }}</a></li>
    </ul>
</menu>
