{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["defaultfooter.Help"]) }}
<ul class="topics">
	{% for topic in topics %}
		<li class="topic">
			<h2 class="title">{{ topic.title }}</h2>
			<ul class="questions">
				{% for question in topic.questions%}
					<li class="question-group">
						<div class="question"><em>{{ question.question }}</em></div>
						<div class="answer">{{ question.answer }}</div>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
{% view 'partials/tracking' %}

