<div id="interstitial">
    <div class="header">
        <img src="{{ '/images/common/marketing/logo_olx03.png' | static }}" alt="" id="logoTop">
        <h1>{{ dictionary["defaultfooter.FreeSite"] }}</h1>
        <div class="clear"></div>
    </div>
    <a href="{{ ['/interstitial?downloadApp=true&ref=', marketing.link] | join('') | link }}" class="trackMe btns orange" data-tracking="interstitial-DownloadApp" >{{ dictionary["misc.GetTheFreeApp"] }}</a>
    <div class="interstitial-action continue">
        <a href="{{ ref | link }}" class="closeInterstitial trackMe" data-tracking="interstitial-DownloadApp_NoThanks" >
            {{ dictionary["misc.ContinueMobileSite"] }} &gt;
        </a>
    </div>
    <img src="{{ ('/images/common/marketing/' + marketing.image + '_.png') | static }}" alt="" id="mobileImg"> 
</div>

{% view 'partials/tracking' %}
