<div id="interstitial">
    <div class="header">
        <img src="{{ '/images/common/marketing/logo_olx.png' | static }}" alt="OLX" >
        <h1>{{ dictionary["misc.FreeEasyFast"] }}</h1>
        <div class="clear"></div>
    </div>
    <a href="{{ marketing.link }}" class="downloadApp trackMe btns orange" data-tracking="Interstitial-DownloadApp" >{{ dictionary["misc.GetTheFreeApp"] }}</a>
    <div class="interstitial-action continue">
        <a href="{{ ref | link }}" class="closeInterstitial trackMe" data-tracking="interstitial-DownloadApp_NoThanks" >{{ dictionary["misc.ContinueMobileSite"] }} &gt;</a>
    </div>
    <img src="{{ ('/images/common/marketing/' + marketing.image + '.png') | static }}" alt="" id="mobileImg">
</div>

{% view 'partials/tracking' %}
