#languages {
	border-top: 1px solid #E8E6E6;
}
#languages ul {
	margin: 10px 0;
	font-size: 12px;
	text-align: center;
}
#languages ul li {
	display: inline;
	padding: 0 6px;
	border-left: thin solid #B5B5B5;
	color: #333333;
}
#languages ul li.current {
	border: none;
}
#languages ul li a {
	color: #1c7bd4;
}