<esi:choose>
    <esi:when test="$exists($(marketing_link))">
        <esi:choose>
            <esi:when test="$(marketing_browserName)=='Opera Mini'">
                <div id="downloadappOpera">
                    <div class="logoOlx"></div>
                    <div class="data">
                        <h1><esi:vars>$(marketing_forOsKey)</esi:vars> <esi:vars>$(marketing_forOs)</esi:vars></h1>
                        <div class="stars">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star midstar"></span>
                            <span><esi:vars>$(marketing_rating)</esi:vars></span>
                        </div>
                    </div>
                    <a class="btns blue" href="<esi:vars>$(marketing_link)</esi:vars>">{{ dictionary["about.Download_Mob"] }}</a>
                    <div class="clear"></div>
                </div>
            </esi:when>
            <esi:otherwise>
                <div id="downloadapp">
                    <div class="logoOlx"></div>
                    <div class="data">
                        <h1><esi:vars>$(marketing_forOsKey)</esi:vars> <esi:vars>$(marketing_forOs)</esi:vars></h1>
                        <div class="stars">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star midstar"></span>
                            <span><esi:vars>$(marketing_rating)</esi:vars></span>
                        </div>
                        <h2><esi:vars>$(marketing_freeInKey)</esi:vars> <esi:vars>$(marketing_freeIn)</esi:vars></h2>
                    </div>
                    <a class="btns blue" href="<esi:vars>$(marketing_link)</esi:vars>">{{ dictionary["about.Download_Mob"] }}</a>
                    <div class="clear"></div>
                </div>
            </esi:otherwise>
        </esi:choose>
    </esi:when>
</esi:choose>
