<tr>
    <td style="border-top: solid thin #808080; padding:1px 4px;">
        {% if heading %}<h1>{% endif %}
        	<small>
	            {% if location.current and location.current.type != 'country' %}
					{{location.current.name}} <small><a href="{{ '/location' | link }}" data-qa="change-city" >{{ dictionary["countryoptions.ChangeCity"] }}</a></small>
				{% else %}
					{{location.name}} <small><a href="{{ '/location' | link }}" data-qa="select-city" >{{ dictionary["countryoptions.SelectACity"] }}</a></small>
				{% endif %}
			</small>
		{% if heading %}</h1>{% endif %}
    </td>
</tr>
