#breadcrumb {
    &.item-page {
        color: $blue;
        .icon-arrow-left {
            font-size: $l;
        }
        .pipe::before {
            content:"|";
            margin: 0 3px;
        }
    }
}