#contact-form {
    box($yellow, $yellowDarker , 3px, 20px 20px 0 20px);
    margin-left: 20px;

    .icons:before {
        font-size: $xl;
    }

    .user-info {
        p {
            font-size: $m;
            font-weight: bold;
            margin-bottom: 0;
            &:first-child {
                margin-top: 0;
            }
            &.user-phone {
                font-size: $l;
            }
        }
        span {
            font-size: $xs;
            margin-left: 28px;
        }
    }

    form {
        fieldset {
            border: 0 none;
            margin: 13px 0;
            padding: 0;
            &.error {
                textarea,
                input[type="text"] {
                    border-color: $red;
                }
            }
            .spinner {
                display: none;
            }
        }
        span {
            &.icons:before {
                display: inline-block;
                color: $red;
                margin: 5px 0 0 224px;
                position: absolute;
            }
            &.error {
                // display: none;
                margin: 0 0 10px 10px;
                font-size: $xs;
                color: $red;
            }
        }
        textarea {
            height: 80px;
        }
        input[type="text"] {
            height: 20px;
        }
        textarea,
        input[type="text"] {
            border: 1px solid #ccc;
            border-radius(3px);
            padding: 8px 10px;
            resize: none;
            width: 92%;
        }
        input[type="submit"] {
            action-button($orange, #fff, 3px, padding = 10px 0);
            font-size: $l;
            width: 100%;
        }
    }
    .disclaimer p {
        font-size: $xs;
    }
}
