.items_expired_view,
.items_unavailable_view {
    clear-fix();

    h3,
    p {
        margin: 0;
    }

    .related-category {
        box($lightBlue, $lightBlueBorder, 3px, 20px, solid, 1px);
        clear-fix();
        margin-bottom: 20px;

        &::before {
            background: $blue;
            border-radius(40px)
            color: $white;
            font-size: remify(40px);
            height: 40px;
            margin-right: 10px;
            padding: 15px;
            width: 40px;
        }

        &::before,
        h3,
        p {
            float: left;
        }

        h3 {
            font-size: $l;
            margin-bottom: 5px;
            padding-top: 5px;
            vertical-align: top;
        }

        p {
            width: 855px;
        }

    }

    .expired-item {
        box($white, $greyBorders, 3px, 20px, solid, 1px);
        overflow: hidden;

        .items-image {
            border: 1px solid #ccc;
            height: 110px;
            line-height: 95px;
            margin: 0;
            padding: 0;
            position: relative;
            text-align: center;
            width: 141px;
            display: inline-block;
            img {
                bottom: 0;
                left: 0;
                margin: auto;
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        h3 {
            font-size: $l;
            font-weight: normal;
            margin-bottom: 10px;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            width: 760
            margin: -3px 0 0 20px;
        }

        .description {
            line-height: 1;
            overflow: hidden;
            height: 55px;
            text-wrap();
        }

        .label {
            background: #ccc;
            border-radius();
            color: $white;
            display: inline-block;
            font-size: $s;
            font-weight: bold;
            margin-right: 10px;
            padding: 3px 10px;
        }
    }

    .title {
        font-size: $m;
        margin: 30px 0 20px;
    }

}
