.image-gallery {
    clear-fix();
    overflow: hidden; /* remove this after JS implementation */

    .image-wrapper {
        border: 1px solid $greyBorders;
        position: relative;
        
        .item-image {
            bottom: 0;
            cursor: pointer;
            left: 0;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .image-viewer {
        background: $greyPageBg;
        float: left;
        height: 400px;
        margin: 0;
        width: 538px;
    }

    .image-navigator {
        float: right;
        height: 402px;
        width: 66px;
        .icons {
            border: 1px solid $greyBorders;
            color: $greyStrong;
            display: block;
            text-align: center;
        }
        .thumbnail {
            max-height: 366px;
            overflow-y: hidden;

            figure {
                margin: 0 auto 10px;
                width: 60px;
                &:first-child {
                    margin-top: 10px;
                }
            }
            .active {
                outline: 3px solid $blue;
                a {
                    border: 0 none;
                }
            }
            .image-wrapper {
                display: block;
                height: 60px;
                width: 60px;
            }
        }
    }
}