.item-location {
    clear-fix();
    margin: 20px 0;
    .box,
    .map {
        box($white, $greyBorders, none, 15px, solid, 1px);
        height: 140px;
        width: 275px;
    }
    .box {
        float: left;
        .icon-pin {
            margin: 0;
            &::before {
                font-size: $m;
                margin-right: 13px;
            }
        }
        .icon-zoom::before {
            font-size: $xs;
            margin-right: 5px;
        }
        p {
            margin: 25px 0 25px 30px;
            span {
                display: block;
            }
        }
        a {
            margin-left: 30px;
        }
    }
    .map {
        float: right;
    }
}
