#listing-filters {
    float: left;
    margin-right: 20px;
    width: 238px;
    box(#eee, #ddd, 3px, 0);
    > span {
        display: block;
        font-size: $s;
        font-weight: bold;
        margin: 0;
        padding: 10px;
    }
    span.title {
        border-bottom: 1px solid #ddd;
        border: none;
        color: #000;
        padding: 10px 10px 0;
        position: relative;
        &.filter-title{
            font-size: $s;
        }
        .icons {
            color: #999;
            font-size: 1.5rem;
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    a {
        display: block;
        padding: 9px;
        &:before {
            font-size: $s;
        }
    }
}
#listing-items{
    float: left;
    width: 720px;
}
