#listing-filters {
    float: left;
    margin-right: 20px;
    width: 238px;
    box($greyBoxBg, $greyBorders, 3px, 0);
    > span {
        display: block;
        font-size: $s;
        font-weight: bold;
        margin: 0;
        padding: 10px;
    }
    span.title {
        border-bottom: 1px solid $greyBorders;
        color: #000;
        font-size: $s;
        position: relative;
        &.filter-title{
            border: none;
        }
        .icons {
            color: $greyStrong;
            font-size: 1.5rem;
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    a {
        display: block;
        font-size: $xs;
        padding: 9px;
        &:before {
            font-size: $s;
        }
    }
}
#listing-items{
    float: left;
    width: 720px;
}
