@import '../helpers/variables.styl';
@import '../helpers/mixins.styl';
@import '../helpers/functions.styl';

#item-page {
    width: 980px;
    .right-column {
        display: inline-block;
        tab-arrow(left, $white, #e4e4e4, 1px, 5px, 1000);
        vertical-align: top;
        width: 314px;
    }
}