#listing-filters {
    float: left;
    margin-right: 20px;
    width: 238px;
    box($greyBoxBg, $greyBorders, 3px, 0);
    > span {
        display: block;
        margin: 0;
        padding: 10px;
    }
    .title {
        border-bottom: 1px solid $greyBorders;
        color: $black;
        font-size: $s;
        font-weight: bold;
        position: relative;
        &.filter-title {
            border: none;
            cursor: pointer;
        }
        &:hover {
            .icons::before {
                color: $black;
            }
        }
        .icons {
            &::before {
                color: $greyStrong;
                cursor: pointer;
                font-size: remify(10px);
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
    }
    h2 {
        display: block;
        font-size: $xs;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    a {
        display: block;
        font-size: $xs;
        padding: 11px 10px;
        &.icons::before {
            font-size: $m;
        }
        &.icon-arrow-left::before {
            font-size: $xs;
            margin-right: 5px;
        }
    }
}

#listing-items {
    float: right;
    width: 720px;
}
