#item-description {
    > p {
        color: $black;
        font-size: $l;
        font-weight: bold;
        margin-bottom: 0px;
    }
    div {
        display: inline-block;

        &.optionals {
            min-width: 200px;
        }
    }
    ul {
        ul-reset();
        li {
            padding: 7px;
            &:nth-child(odd) {
                background-color: grey(5%)
            }
            span:last-child {
                float: right;
            }
        }
    }
}
