#item-content {
    box($white, $greyBorders , 3px, 0);
    margin-bottom: 20px;
    position: relative;

    &:after {
        top: 265px;
    }
    &:before {
        top: 266px;
    }
    > div {
        &:first-child {
            padding: 0 20px;
        }
        .featuredad {
            position: relative;
            .icon-feature {
                green-star()
                top: 0;
                margin-left: -2px;
            }
            
            em {
                ribbon($green, $white)
                top: -1px;
                left: 12px;
                padding-left: 22px;
            }
        }
        .item-title {
            font-size: $xl;
            padding-right: 40px;
            margin: 20px 0;
        }
    }
}
