.listing-tabs {
    border-bottom: 1px solid $greyBorders;
    display: block;
    font-size: $s;
    height: 34px;
    margin: 0;

    .tabs {
        float: left;
        ul-reset();

        li {
            display: inline-block;
            margin-right: 5px;
            a {
                background: $greyBoxBg;
                border-styles($greyBorders, 3px 3px 0 0, solid solid none, 1px 1px 0);
                color: $greyStrong;
                display: block;
                float: left;
                height: 33px;
                line-height: 2.3;
                padding: 0 10px;

                &.active {
                    background: $greyPageBg;
                    color: $black;
                    height: 34px;
                    margin-bottom: -1px;
                }
                &:before {
                    display: inline-block;
                    font-size: 13px;
                    height: 17px;
                    margin-right: 10px;
                }
            }
        }
    }
}
