.description-title {
    font-size: $l;
    margin: 0 0 20px 0;
}

.item-description {
    clear-fix();
    margin: 20px 0;

    .text {
        float: left;
        max-width: 365px;
        p {
            margin: 0;
        }
    }
    .optionals {
        float: right;
        width: 210px;
        ul-reset();
        
        li {
            clear-fix();
            padding: 7px;
            &:nth-child(odd) {
                background-color: $greyBorders;
            }
            span {
                font-size: $xs;
                float: right;
                &:first-child {
                    float: left;
                }
            }
        }
    }
}
