.listing-tabs {
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: $s;
    height: 34px;
    margin: 0;

    .tabs {
        float: left;
        ul-reset();

        li {
            display: inline-block;
            margin-right: 5px;
            a {
                background: #eee;
                border-styles(#ddd, 3px 3px 0 0, solid solid none, 1px 1px 0);
                color: #666;
                display: block;
                float: left;
                height: 33px;
                line-height: 2.3;
                padding: 0 10px;

                &.active {
                    background: #fafafa;
                    color: #000;
                    height: 34px;
                    margin-bottom: -1px;
                }
                &:before {
                    display: inline-block;
                    font-size: 24px;
                    height: 27px;
                }
            }
        }
    }
}
