#item-price {
    background-color: $violet;
    color: $white;
    height: 60px;
    margin: 15px 0;
    padding: 10px 15px 10px 30px;
    position: relative;
    tab-arrow(left, $violet, #e4e4e4, 1px, 40px, 1000);

    p {
        margin: 0;
    }
    .price {
        font-size: $xxl;
        font-weight: bold;
    }
    .price-type {
        font-size: $s;
        margin-top: -5px;
    }

}
