@import '../helpers/variables.styl';
@import '../helpers/mixins.styl';
@import '../helpers/functions.styl';

#item-price {
    background-color: $violet;
    color: $white;
    margin: 15px 0;
    padding: 10px 15px 10px 30px;
    tab-arrow(left, $white, #e4e4e4, 1px, 5px, 1000);

    p {
        margin: 0;
    }
    .price {
        font-size: 3rem;
        font-weight: bold;
    }
    .price-type {
        font-size: 1.3rem;
        margin-top: -5px;
    }

}