#item-content {
    box(#fff, #ccc , 3px, 0);
    float: left;
    tab-arrow(right, $white, #e4e4e4, 1px, 40px, 1);
    position: relative;
    width: 664px;

    &:after {
        margin-top: -185px;
    }
    &:before {
        margin-top: -186px;
    }
    > div {
        &:first-child {
            padding: 0 20px;
        }
        > h1 {
            font-size: $xl;
            padding-right: 40px
        }
    }
    .item-info {
        color: grey(40%);
        font-size: $xs;
        margin: 0 0 10px 0;
        ul-reset();

        li {
            display: inline-block;
            vertical-align: middle;
        }

        .icons::before {
            font-size: 1.7rem;
        }
    }
}
