@import '../helpers/variables.styl';
@import '../helpers/mixins.styl';

#listing-filters {
	width: 238px;
	float: left;
	margin-right: 20px; 
	box(#f6f6f6, #e4e4e4, 3px, 10px 0);

	h2 {
		font-size: 13px;
		padding: 10px;
		margin: 0;
		border-bottom: 1px solid #ccc;
	}
}
#listing-items{
	width: 720px;
	float: left;
	background: #aaa;
}