.items-list {
    ul-reset();
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 10px 0;

    li {
        box(#fff, #ddd, 0, 10px);
        border-bottom-color: #fff;
        &:hover {
            border: 1px solid $greyBorders;
        }

        a {
            display: block;
        }
        p, .items-image {
            display: inline-block;
            margin: 0;
            vertical-align: top;
        }
        p {
            padding-top: 10px;
        }
        .items-image {
            border: 1px solid $greyBorders;
            height: 110px;
            line-height: 95px;
            position: relative;
            text-align: center;
            width: 141px;

            &.lines {
                lines($greyBorders, 1px, 96%, 2%, -3px, 92%, 4%, -5px, right);
            }

            &.icon-photo {
                color: $greyBorders;
                font-size: remify(90px);
            }

            img {
                bottom: 0;
                left: 0;
                margin: auto;
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .items-info {
            font-size: $m;
            padding-left: 15px;
            width: 340px;

            span {
                color: #666;
                font-size: $xs;
            }
        }
        .items-price {
            color: #000;
            font-size: $m;
            font-weight: bold;
            width: 140px;
        }
        .items-date {
            color: #666;
            font-size: $xs;
            width: 60px;
        }
    }
}
