.items-list-ig {
    clear-fix()
    ul-reset();
    display: block;
    margin: 10px 0;

    li {
        border: 1px solid $greyPageBg;
        float: left;
        height: 260px;
        padding: 12px;
        position: relative;
        width: 214px;
        &:hover {
            background: $white;
            border: 1px solid $greyBorders;
            box-shadow(0 0 5px 5px rgba(0,0,0,0.5));
            z-index: 100;
        }

        a {
            display: block;

            &:hover {
                text-decoration: none;
            }
        }
        p,
        .items-image {
            display: block;
            margin: 0;
            vertical-align: top;
        }
        .items-image {
            border: 1px solid $greyBorders;
            height: 161px;
            position: relative;
            width: 214px;

            img {
                bottom: 0;
                left: 0;
                margin: auto;
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .items-info {
            font-size: $m;
            margin: 10px 0 0;

            span {
                color: $greyStrong;
                font-size: $xs;
            }
        }
        .items-price {
            color: $black;
            font-size: $m;
            font-weight: bold;
            margin: 5px 0;

            span {
                font-size: $xs;
            }
        }
        .items-date {
            color: $greyStrong;
            font-size: $xs;
        }

    }
}
