.items-list {
    ul-reset();
    border-bottom: 1px solid $greyBorders;
    display: block;
    margin: 10px 0;

    li {
        &.featuredad {
            .items-date, .items-price, .items-info {
                padding-top: 30px;
            }
        }
        box($white, $greyBorders, 0, 10px);
        border-bottom-color: $white;
        position: relative;
        overflow: hidden;
        &:hover {
            border: 1px solid $greyBorders;
            box-shadow(0 0 2px 2px rgba(0, 0, 0, .1));
            z-index: 100;
        }
        a {
            display: block;
            text-decoration: none;
        }
        h3 {
            font-weight: normal;
            margin: 0;
            display: block;
        }
        p,
        .items-info,
        .items-image {
            display: inline-block;
            vertical-align: top;
        }
        .items-image {
            border: 1px solid $greyBorders;
            height: 110px;
            line-height: 95px;
            margin: 0;
            padding: 0;
            position: relative;
            text-align: center;
            width: 141px;

            &.lines {
                lines($greyBorders, 1px, 96%, 2%, -3px, 92%, 4%, -5px, right);
            }

            &.icon-photo {
                color: $greyBorders;
                font-size: remify(64px);
            }

            img {
                bottom: 0;
                left: 0;
                margin: auto;
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .items-info {
            font-size: $m;
            padding: 10px 10px 0 15px;
            width: 330px;

            span {
                color: $greyStrong;
                font-size: $xs;
                text-transform: capitalize;
            }
        }
        .items-price {
            color: $black;
            font-size: $m;
            font-weight: bold;
            width: 140px;
        }
        .items-date {
            color: $greyStrong;
            font-size: $xs;
            width: 60px;
        }
        .items-price, .items-date {
            margin: 0;
            padding-top: 10px;
        }
        p.featuredad {
            position: absolute;
            left: 138px;
            top: -3px;
            height: 20px;
            .icon-star-circle {
                color: $featureStarBg;
                font-size: 26px;
                position: absolute;
                z-index: 10;
                top: -7px;
                left: 0;
                &:before {
                    border:2px solid $white;
                    border-radius(50%);
                    background: $white;
                }
            }

            em {
                ribbon($green, $white);
                top: 0;
                left: 24px;
                padding-left: 22px;
                position: absolute;
                width: 120px;
                text-align: center;
            }
        }
    }
    &.staticsearch {
        a {
            .description {
                color: $black;
                font-size: 1rem;
                padding: .5rem 0;
            }
        }
    }
}

.noresults {
    box($yellowPosting, $yellowBorders, 3px, 20px);
    font-size: $m;
}
