.items-locations {
    display: block;
    margin-bottom: 15px;

    ul {
        ul-reset();
    }
    .locations-tabs {
        height: 32px;
        font-size: $m;
        li {
            display: inline-block;
            position: relative;
            float: left;
        }
        li:not(:last-child) {
            box(#fff, #ddd, 0, 5px 10px 5px 20px);
            tab-arrow(right, #fff, #ddd, 1px, 16px, 10);
            border-bottom: none;
        }
        li:first-child {
            box(#fff, #ddd, 3px 0 0 0, 5px 10px);
            border-bottom: none;
        }
        li:last-child {
            box(#fe7, #cc0, 0 3px 0 0, 6px 20px 6px);
            border-bottom: none;
            a {
                color: #000;
            }
        }
        li:only-child {
            box(#fe7, #cc0, 3px 3px 0 0, 6px 10px);
            border-bottom: none;
            top: 1px;
            a {
                color: #000;
            }
        }

    }
    .locations-list {
        box(#fe7, #cc0, 0 3px 3px 3px, 10px);

        li {
            width: 24%;
            display: inline-block;
            margin: 1px 0;
            span {
                font-size: $xs;
                color: #666;
            }
        }
    }
}
