#items-pagination {
    display: inline-block;
    width: 100%;

    .items-paginations-buttons {
        margin-bottom: 10px;

        .pagination-button {
            display: inline-block;
            font-size: $l;
            font-weight: bold;
            height: 33px;
            &.next {
                action-button($green, $white, 3px, 13px 0 0);
                &:last-child {
                    width:606px;
                }
            }
            &.previous {
                action-button($greyBoxBg, $black, 3px, 13px 0 0);
                &:first-child {
                    margin-right: 10px;
                    width:100px;
                    font-weight: normal;
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
                }
            }
            &.next:only-child,
            &.previous:only-child {
                width: 718px;
            }
        }
    }
    .items-paginations-numbers {
        text-align: center;
        ul-reset();

        li {
            display: inline-block;
            margin-right: 5px;

            .pagination-arrow,
            .pagination-number {
                font-size: $s;
                margin: 5px 0;
                padding: 2px 7px;
            }
            .pagination-arrow {
                color: $greyStrong;
                &:hover {
                    color: $black;
                }
                &.disable {
                    color: $greyBorders;
                }
                &.icon-arrow-right:before {
                    margin-top: -4px;
                }
            }
            .pagination-number {
                font-weight: bold;
                &:hover {
                    background: $blue;
                    border-radius(25px);
                    color: $white;
                    text-decoration: none;
                }
            }
            &.current {
                background: $greyStrong;
                border-radius(25px);
                color: $white;
                margin: 5px;
                padding: 2px 7px;
            }
        }
    }
}
