@import '../helpers/variables.styl';
@import '../helpers/mixins.styl';

#items-pagination {
    display: inline-block;
    width: 100%;

    .items-paginations-buttons {
        margin-bottom: 10px;

        .pagination-button {
            display: inline-block;
            font-size: 1.385rem;
            font-weight: bold;
            height: 33px;
            &.next {
                action-button($green, #fff, 3px, 13px 0 0);
                &:last-child {
                    width:606px;
                }
            }
            &.previous {
                action-button(#ccc, #666, 3px, 13px 0 0);
                &:first-child {
                    margin-right: 10px;
                    width:100px;
                }
            }
            &.next:only-child, &.previous:only-child {
                width: 718px;
            }
        }
    }
    .items-paginations-numbers {
        text-align: center;
        ul-reset();

        li {
            display: inline-block;
        }

        .pagination-number, .pagination-arrow {
            font-size: $s;
            padding: 2px 7px;
            margin: 5px 0;
        }
        .pagination-arrow {
            color: #000;
            &.disable {
                color: #ccc;
            }
        }
        .pagination-number {
            font-weight: bold;
            -webkit-transition:all 0.4s;
            -moz-transition:all 0.4s;
            transition:all 0.4s;
            &:hover, &.current {
                border-radius: 23px;
                color: #fff;
            }
            &:hover {
                background: #38b;
                text-decoration: none;
            }
            &.current {
                background: #666;
            }
        }
    }
}
