.parent-categories {
    ul-reset();

    li {
        width: 50%;
        height: 57px;
        float: left;
        &:hover {
            background: $white;
            box-shadow(0 0 0 1px $blue inset);
            cursor: pointer;
            a,
            .count {
                color: $black;
            }
            .icons::before {
                color: $greyStrong;
            }
        }
        a {
            display: block;
            height: 42px;
            padding: 15px 0 0 0;
            color: $blue;
            font-weight: bold;
            font-size: $xs;
            text-decoration: none;

            .icons {
                float: left;
                height: 42px;
                margin-top: -4px;
                &:before {
                    color: $blue;
                    font-size: remify(28px);
                }
            }
            .count {
                color: #888;
                font-size: $xs;
                font-weight: normal;
                padding-left: 0;
            }
        }
    }
}
