<script type="text/javascript" id="userzoom-lib">
    (function() {
        var _script = document.createElement('script');
        _script.type = 'text/javascript';
        _script.async = true;
        _script.charset = 'utf-8';
        _script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn4.userzoom.com/files/js/{{ userzoom.file }}.js?t={{ userzoom.t }}&cuid=3020E1BF5332E2119DA70022196C4538';
        document.getElementById('userzoom-lib').parentNode.appendChild(_script);
    })();
</script>
