<h1>Login</h1>
<div class="row-fluid font-format">
	<div class="span6 celd-format" >
		<section style="padding-bottom:0px;">
            <form action="/login" method="POST">
                {{#each params.err}}
                    <small style="display: block; color: red;">{{this}}</small>
                {{/each}}
            	<span style="display: block;">Username or Email</span>
                <input type="text" name="usernameOrEmail">
            	<span style="display: block;">Password</span>
                <input type="password" name="password">
            	<span style="display: block;"><input type="submit" value="Login"></span>
            </form>
		</section>
	</div>
</div>