{% if interstitial and marketing.link %}
    <div id="interstitial">
        <header>
            <img src="{{ '/images/common/marketing/logo_olx.png' | static }}" alt="OLX">
            <h1>{{ dictionary["misc.FreeEasyFast"] }} </h1>
            <div class="clear"></div>
        </header>
        <div class="interstitial-action download">
            <a href="{{ marketing.link }}" class="donwloadApp trackMe btns orange" data-tracking="Interstitial-DownloadApp" >
                {{ dictionary["misc.GetTheFreeApp"] }}
            </a>
        </div>
        <div class="interstitial-action continue">
            <a href="#" class="closeInterstitial trackMe" data-tracking="Interstitial-DownloadApp_NoThanks" >
                {{ dictionary["misc.ContinueMobileSite"] }} &gt;
            </a>
        </div>
        <img src="{{ ('/images/common/marketing/' + marketing.image + '.png') | static }}" alt="" id="mobileImg">
    </div>
{% endif %}
