<div class="content-thanks">
    <h1>{{dictionary["misc.OLXLove-ZA"]}}</h1>
    <p>{{dictionary["misc.BigHug-ZA"]}}</p>

	<img class="thank-you-video" alt="{{dictionary['misc.Tx-ZA']}}" src="{{ ('/images/html5/marketing/thanks/' + thanksPage.videoUrl + '.gif') | static }}" />
    <div class="content-thanks-you">
        <p class="thanks-you">{{dictionary["misc.Tx-ZA"]}}</p>
        <a href="{{ '/posting' | link }}" class="btns orange" data-qa="post-button">{{ dictionary["misc.SellToo-ZA"] }}</a>
    </div>
    <div class="content-items">
		<img alt="" src="{{ ('/images/html5/marketing/thanks/items.jpg') | static }}" width="100%" height="100%" />
	</div>
</div>