{% from macros import Breadcrumb %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["myolx.MyAds"]) }}
<section id="myads">
    {% if myAds.length %}
        <ul class="itemListing">
            {% for item in myAds %}
                <li>
                    <a href="#" class="edit {{ item.id }}" data-itemUrl="/{{ item | slugToUrl | link }}" data-itemId="{{ item.id }}" {{ 'data-editable="true"' if item.status == 'ready'}} >
                        <div {% if item.thumbnail %} style="background-image:url({{ item.thumbnail }});" {% endif %} data-fullimg="{{ item.fullImage }}" class="image {% if item.thumbnail %} filled {% endif %}"></div>
                        {% if item.status == 'pending' %}
                            <p class="status pending">{{ dictionary["itemslisting.PendingAd"] }}</p>
                        {% elif item.status == 'rejected' %}
                            <p class="status rejected">{{ dictionary["misc.RejectedAd_Caps"] }}</p>
                        {% elif item.status == 'ready' %}
                            <p>
                                {{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }}
                                {% if item.displayLocation %}
                                    {{ dictionary["crm_new_version.RenameCategory_3"] }} {{ item.displayLocation }}
                                {% endif %}
                            </p>
                        {% endif %}
                        <h3>{{ item.price.displayPrice }}</h3>
                        <div class="title">
                            <h2>
                                <span>
                                    <span>{{ item.title }}</span>
                                </span>
                            </h2>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <div class="clear"></div>
        </ul>
        {% else %}
            <div class="emtyList">
                {{ dictionary["myolx.YouCurrentlyHaveNoActiveListings"] }}
            </div>
        {% endif %}
</section>
<div id="edit" class="popup">
    <div class="popup-wrapper">
        <div class="popup-container">
            <h4>{{ dictionary["posting_fields_1.Please_Choose"] }}</h4>
            <div>
                <ul>
                    <li><a href="" class="viewItem">{{ dictionary["postingtitle.viewListing"] }}</a></li>
                    <li><a href="{{ '/myolx/edititem/[[itemId]]' | link }}" class="editItem">{{ dictionary["myolx.EditListing"] }}</a></li>
                    <li><a href="" class="deleteItem">{{ dictionary["confirmremoveitem.Delete"] }}</a></li>
                </ul>
            </div>

            <footer>
                <a href="#" class="popup-close btns grey">{{ dictionary["confirmremoveitem.Cancel"] }}</a>
            </footer>
        </div>
    </div>
</div>
<div id="delete" class="popup">
    <div class="popup-wrapper">
        <div class="popup-container">
            <h4>{{ dictionary["confirmremoveitem.Delete"] }}</h4>
            <div>
                <ul>
                    <li><a href="{{ '/myolx/deleteitem/[[itemId]]' | link }}" class="deleteItemConfirm">{{ dictionary["messages_site_class.30"] }}</a></li>
                    <li><a href="#" class="popup-close">{{ dictionary["confirmremoveitem.Cancel"] }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
