{% if blackBar.show %}
    <div class="env">You are now in <strong>{{blackBar.env}} ({{blackBar.platform}} v. {{blackBar.version}} :: {{blackBar.revision}})</strong> environment.</div>
{% endif %}

<div id="header">
	<h1><a href="/">OLX.com</a></h1>
	<ul>
	    <li class="post"><a href="{{ '/posting' | link }}" title="{{ dictionary["misc.Sell_Post_Mobile_India"] }}" class="btns orange">{{ dictionary["misc.Sell_Post_Mobile_India"] }}</a></li>
	    {% if not user %}
	    	<li class="signIn userLogOut"><a href="{{ '/login' | link }}" title="{{ dictionary["homeheader.My OLX"] }}">{{ dictionary["key"] }}</a></li>
	    {% elif user.unreadMessagesCount > 0 %}
	    	<li class="signIn userLogInMsg"><a href="{{ '/myolx' | link }}" title="{{ dictionary["homeheader.My OLX"] }}">{{ dictionary["homeheader.My OLX"] }}</a></li>
	    {% else %}
	    	<li class="signIn userLogIn"><a href="{{ '/myolx' | link }}" title="{{ dictionary["homeheader.My OLX"] }}">{{ dictionary["homeheader.My OLX"] }}</a></li>
		{% endif %}
	</ul>
</div>