<div id="header">
	<h1><a href="{{ '/' | link }}">OLX.com</a></h1>
	<ul>
	    {% if postButton %}
	    	<li class="post"><a href="{% if location.current %}{{ '/posting' | link }}{% else %}{{ '/location?target=posting' | link }}{% endif %}" title="{{ dictionary["misc.Sell_Post_Mobile_India"] }}" class="btns orange">{{ dictionary["misc.Sell_Post_Mobile_India"] }}</a></li>
	    {% endif %}
	    {% if not user %}
	    	<li class="signIn userLogOut"><a href="{{ '/login' | link }}" title="{{ dictionary["homeheader.My OLX"] }}">{{ dictionary["homeheader.Sign_In"] }}</a></li>
	    {% elif user.unreadMessagesCount > 0 %}
	    	<li class="signIn userLogInMsg"><a href="{{ '/myolx' | link }}" title="{{ dictionary["homeheader.My OLX"] }}">{{ dictionary["homeheader.My OLX"] }}</a></li>
	    {% else %}
	    	<li class="signIn userLogIn"><a href="{{ '/myolx' | link }}" title="{{ dictionary["homeheader.My OLX"] }}">{{ dictionary["homeheader.My OLX"] }}</a></li>
		{% endif %}
	</ul>
</div>
