{% if blackBar.show %}
    <div class="env">You are now in <strong>{{blackBar.env}} ({{blackBar.platform}} v. {{blackBar.version}} :: {{blackBar.revision}})</strong> environment.</div>
{% endif %}

<div id="header">
	<h1><a href="/">OLX.com</a></h1>
	<ul>
	    <li class="post"><a href="" title="Sell" class="btns orange">Publicar</a></li>
	    {% if user %}
	    	<li class="signIn userLogIn"><a href="" title="Mi OLX">Entrar</a></li>
		{% else %}
			<li class="signIn userLogOut"><a href="" title="Mi OLX">Entrar</a></li>
		{% endif %}
	</ul>
</div>