{% view 'locations/select' %}
{% view 'partials/search' %}
{% from macros import Breadcrumb, BreadcrumbHome, NearByStore, AdLikeStore, CallsToAction %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, subcategory.trName) }}
{{ shops | log }}
<div id="itemListing">
    {% if meta.total == 0 %}
        <div class="emtyList">
            <div></div>
            <p>
                {% if location.current.name %}
                    {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>', '<strong>' + category.trName + ', ' + subcategory.trName + '</strong>') | replace('<<REGION>>',location.current.name)}}
                {% else %}
                    {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>', '<strong>' + category.trName + ', ' + subcategory.trName + '</strong>') | replace('<<REGION>>',location.name)}}
                {% endif %}
            </p>
            <a class="btns orange" href="{{ '/' | link }}" >{{ dictionary["registrationconfirmsuccesstext.Browse"] | replace('<<BRAND>>','OLX') }}</a>
        </div>
    {% else %}

        {{ NearByStore(shops) }}
        
        <ul class="itemListing">
            {% for item in items %}
                <li>
                    <a href="{{ item | slugToUrl | link }}">
                        <div class="imageCont" style="background-image: url({{ item.thumbnail if item.thumbnail else ('/images/html4/noPhoto.png' | static) }});"></div>
                    </a>
                    <div class="itemInfo">
                        <p class="itemPrice">{{ item.price.displayPrice }}</p>
                        <span>{{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }}</span>
                        <div class="centerCont">
                            <a href="{{ item | slugToUrl | link }}">
                                <h2>{{ item.title }}</h2>
                            </a>
                        </div>
                        <span>{{ item.displayLocation }}</span>
                    </div>                    
                </li>

                {{ AdLikeStore("New and used bikes and biking accesories in Bike Central", item) }}
                
                {{ CallsToAction("Mike's bikes is <strong>open now!</strong>", "http://images01.olx-st.com/ui/73/58/48/t_1417780281_757925046_1.jpg", "Ksh12500", "Today, 13:51", location.current.name, "Bike") }}
            {% endfor %}            
        </ul>        
        {% if paginator and paginator.isEnabled() %}
            {% include (template + '/items/pagination.html') %}
        {% endif %}
    {% endif %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}

{% view 'partials/tracking' %}
