.pages_didyousell_view::after {
    clear: both;
    content: " ";
    display: block;
}

.notification-message::after {
    clear: both;
    content: " ";
    display: block;
}

.notification-message {
    background-color: #eeffcc;
    border-radius: 3px;
    border: 1px solid #ccdd77;
    margin: 20px;
    min-height: 50px;
    padding: 10px;
    position: relative;
    text-align: center;
   
    h4 {
        color: #2d2d2d;
        font-size: 20px;
        line-height: 1.4;
        margin: 0;
    }
    p {
        color: #2d2d2d;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
    }
    .icon-happy {
        background-image: url(imageUrl/images/html4/icon_cara-verde.png);
        height: 36px;
        width: 37px;
        display: inline-block;
    }
}
.notification-keep-posting {
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    position: relative;
    text-align: center;

    h3 {
        color: #4a307c;
        font-size: 18px;
    }

    p {
        color: #2d2d2d;
        font-size: 16px;
    }
    .categories-icons {
        background-image: url(imageUrl/images/html4/icons_category.png);
        background-repeat: no-repeat;
        display: inline-block;
        height: 28px;
        margin:20px 0px;
        width: 265px;
    }
    .btnPost {
        margin-bottom: 10px;
    }
}
.didYouSellNo::after {
    clear: both;
    content: " ";
    display: block;
}

.didYouSellNo {
    border: 1px solid #ccc;
    margin: 20px 10px;
    padding: 10px 0;
    text-align: center;

    h2 {
        color: #2d2d2d;
        font-size: 20px;
        margin: 0 0 5px 0;
        padding: 0 10px;
        text-align: center;
    }

    p {
        color: #2d2d2d;
        float: left;
        font-size: 16px;
        margin-bottom: 25px;
        text-align: center;
    }
    .didYouSellOptions {
        margin: auto;

        p {
            margin-bottom: 10px;
        }

    }
    .didYouSellOpt {
        border-top: 1px solid #cccccc;
        display: inline-block;
        float: left;
        height: 100px;
        padding: 10px 10px 15px 10px;
        width: 97%;

        img {
            float:left;
        }

        h3 {
            color: #2d2d2d;
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
        }
        p {
            color: #2d2d2d;
            font-size: 12px;
            text-align: left;
        }
        div {
            float: left;
            padding-left: 15px;
            width: 80%;
        }
        .btns {
            border: 1px solid #cccccc;
            color: #dd8931;
            font-size: 14px;
            font-weight: bold;
            float: left;
        }
    }
    .icons {
        background-repeat: no-repeat;
        display: inline-block;
        height: 37px;
        width: 37px;
        float: left;
    }
    .icon-lamp {
        background-image: url(imageUrl/images/html4/icon_lampara-azul.png);
        float: none;
        height: 41px;
        margin: auto;
        width: 38px;
    }
    .icon-fb-round {
        background-image: url(imageUrl/images/html4/icon_facebook.png);
    }
    .icon-ticket {
        background-image: url(imageUrl/images/html4/icon_ticket.png);
        width: 40px;
    } 
    .icon-post {
        background-image: url(imageUrl/images/html4/icon_post.png);
        height: 48px;
    }
    .facebookButton {
        background-image: url(imageUrl/images/html4/boton_facebook.png);
        display: inline-block;
        float: left;
        height: 31px;
        width: 165px;
    }
}
