#interstitial {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1b87c4;
    text-align: center;
    font-size: 16px;
    z-index: 100;

    .header {
        width: 100%;
        display: block;
        margin: 0 auto;

        img {
            width: 66px;
            margin: 16px 0 0 16px;
            display: inline;
            vertical-align: top;
        }
        h1 {
            width: 200px;
            display: inline-block;
            margin: 16px 0 0 10px;
            text-align: left;
            font-size: 28px;
            color: #fff;
        }
    }
    .downloadApp, .continue {
        margin: 20px 0;
    }
    .downloadApp {
        display: inline-block;
        padding: 10px 20px;
    }
    .continue {
        width: 100%;
        text-align: center;
        font-size: 10px;

         a {
            color: #fff;
            text-decoration: underline;
        }
    }
    #mobileImg {
        width: 70%;
        max-width: 292px;
        margin: 10px auto;
    }
}