.pages_terms_view {

	#terms {

		padding: 0 16px 16px;
		font-size: 12px;
		color: #333;
			
		h3 {

			padding: 16px 0 0;
			font-weight: bold;
			font-size: 16px;
			color: #000;
			border-bottom: solid thin #CCC;

			> span {

				font-weight: normal;

			}

		}
			
		p {

			padding: 16px 0 0;
			text-align: justify;

		}
			
		ul {

			padding: 8px 0 0 24px;
			list-style: disc;
				
			li {

				padding: 8px 0 0;
				list-style: disc;
				text-align: justify;

			}

		}

		a {

			color: #06F;

		}

	}

}
