<div id="messagepage">
    
    <h1>{{message.title}}</h1>
    <div id="messageContainer">
    	<div class="left">
			<h2>{{message.fromName}}</h2>
			<h3>{{message.fromEmail}}</h3>
    	</div>
    	<div class="right">
			<h3 class="date">Date: {{message.date}}</h3>
			<h3 class="phone">Phone: {{message.phone}}</h3>
    	</div>
    	<div class="clear"></div>
    	<div class="message">
			<div>{{message.message}}</div>
			<div class="clear"></div>
    	</div>
    </div>

	<h1>Reply to Ad</h1>

		<div class="formContainer">
			<form id="reply-ad" name="reply-ad" action="" method="" class="form">
				<input id="email-field" type="text" name="email" placeholder="Email">
				<input id="name-field" type="text" name="name" placeholder="Name">
				<input id="phone-field" type="text" name="phone" placeholder="Phone">
				<input id="message-field" type="text" name="message" placeholder="message">
				<input id="reply-button" type="button" value="Reply">
			</form>
		</div>
		<div class="clear"></div>
</div>