<article class="my-messages-detail">
	<header>
		<h2>{{message.title}}</h2>
	</header>
	<section class="content">
		<header>
			<ul>
				{{#with message.from}}
					{{#if username}}
						<li>From: <strong>{{username}}</strong> <em>({{email}})</em></li>
					{{else}}
						<li>From: <strong><em>{{email}}</em></strong></li>
					{{/if}}
				{{/with}}
				{{#with message.to}}<li><span>To:</span> <em>{{email}}</em></li>{{/with}}
			</ul>
			<ul>
				<li><span>Date:</span> {{message.date}}</li>
				<!-- {{#if message.phone}}<li><span>Phone:</span> {{message.phone}}</li>{{/if}} -->
			</ul>
		</header>
		<div>{{message.message}}</div>
	</section>

	<div id="reply-container"></div>
	
</article>
