{{#messages}}
    {{#if read}}
        <li class="pending">
            <a href="#message/{{id}}">
                <p class="data"><strong>{{from.username}}</strong> <small>{{date}}</small></p>
                <p class="title"><strong>{{title}}</strong></p>
    {{else}}
        <li>
            <a href="#message/{{id}}">
                <p class="data">{{from.username}} <small>{{date}}</small></p>
                <p class="title">{{title}}</p>
    {{/if}}
                <p class="text">{{body}}</p>
            </a>
            <div>
                <label class="olx-ui-checkbo">
                    <input type="checkbox" data-role="none" />
                    <span></span>
                </label>
            </div>
        </li>
{{/messages}}
