{% view 'location/select' %}
{% set templateName = template + '/post/home_select.html' %}
{% include templateName %}
{% set templateName = template + '/partials/search.html' %}
{% include templateName %}
<table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
    <tr>
        <td style="border-top: solid thin #808080; padding:1px 4px;">
            <small>Logged {% if user %}in as {{ user.username }} | <a href="/myolx/myadslisting">My ads</a>{% else %}out!{% endif %}</small>
        </td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="4" border="0" align="left">
	{% for category in categories.models %}
		<tr>
			<td style="border-top: solid thin #808080;">
				<a style="display: block;" href="{{ category.trName | urlize }}-cat-{{ category.id }}">
					<small style="display: block;"><img border="0" alt="" src="" />{{ category.trName }}</small>
				</a>
			</td>
		</tr>
	{% endfor %}
</table>
