<table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
    
    <tbody><tr>
        <td align="center" style="border-top: solid thin #808080;">
            <small style="display: block;">
                <a href="/choosecountry">Cambiar País</a> | 
 <a href="auth/login">Entrar</a> | <a href="/registration/index/">Registrarte</a>

            </small>
        </td>
    </tr>

    <tr>
        <td align="center" style="border-top: solid thin #808080;">
            <small style="display: block;">
                Español
                | <a href="?language=1" rel="nofollow">English</a>            </small>
        </td>
    </tr>
</tbody></table>

<table width="100%" cellspacing="0" cellpadding="4" border="0">
    <tbody><tr>
        <td align="center" style="border-top: solid thin #808080;">
            <small><a target="_blank" href="/terms"> Condiciones de Uso</a></small>
        	<small style="display: block;">&copy; 2006-2014 OLX, Inc.</small>
        </td>
    </tr>
</tbody></table>