<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#0075BD">
    <tbody>
        <tr>
            <td>
                <a style="display: block;" tabindex="1" href="/">
                    <img border="0" align="top" style="display: block;" alt="OLX" src="http://m.olx.com.ar/images/wap/olxHeader.gif">
                </a>
            </td>
            <td width="100%">&nbsp;</td>
        </tr>
    </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
    <tbody><tr>
        <td style="border-top: solid thin #808080; border-bottom: solid thin #B0B0B0; padding:1px 4px;">
            <small>
    
     <a href="/location/page/1">Selecciona una ciudad</a></small>    
        </td>
    </tr>
        <tr>
        <td>
            <table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
                <tbody><tr>
                    <td bgcolor="#FF6600" align="center">
                        <font size="2" style="display: block;">
                            <a style="display: block;" href="/item/post/category">
                                <strong><font color="#FFFFFF">&nbsp;&nbsp;Publica tu anuncio gratis&nbsp;&nbsp;</font></strong>
                            </a>
                        </font>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
        <tr>
        <td style="border-top: solid thin #B0B0B0;">
            <small>¿Qué estás buscando?</small>
            <form action="/search/page/1">
                
                <input type="text" name="search" value="">
                <input type="submit" name="search_button" value="Buscar">
            </form>
        </td>
    </tr>
</tbody></table>