<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#0075BD">
    <tr>
        <td>
            <a style="display: block;" tabindex="1" href="/">
                <img border="0" align="top" style="display: block;" alt="OLX" src="{{#static '/images/wap/olxHeader.gif'}}{{this}}{{/static}}">
            </a>
        </td>
        <td width="100%">&nbsp;</td>
    </tr>
</table>
