{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
<section id="categories">
	<ul>
		{% for category in categories.models %}
			<li>
				<a href="{{ ['/', category.trName | urlize, '-cat-', category.id] | join | link }}" >
					<span class="home-icon" id="catid-{{category.id}}"></span>
			        {{category.trName}}
		        </a>
		    </li>
		{% endfor %}
	</ul>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}   
</section>