<section id="postAd">
	<div>
		<h1>{{dictionary.postAd_prefix}}<strong>{{dictionary.postAd_strong}}</strong>{{dictionary.postAd_suffix}}</h1>
		<a href="/posting">{{dictionary.postAd_button}}</a>
	</div>
</section>

<section id="newAds">
	<h2>{{dictionary.newAds_prefix}}{% if location.city %}{{location.city.name}}{% else %}{{location.name}}{% endif %}</h2>
	<div class="swiper-containerAds">	
		<div class="swiper-wrapper">
			{% for item in whatsNewItems %}
				<div class="swiper-slide"> 
					<a href="/change-this-description-for-the-item-iid-{{item.id}}" >
						<div class="slide">
				        	<div style="background-image: url('{{item.thumbnail}}');"></div>
				        </div>
				        <div class="caption">{{item.date.since}}<br><span>{{item.price.displayPrice}}</span></div>
				    </a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section id="categories">
	<h2>{{dictionary.categories_title}}</h2>
	<div class="swiper-containerCats">	
		<div class="swiper-wrapper">
			{% for category in categories.models %}
				<div class="swiper-slide"> 
					<a href="/change-this-description-for-the-category-cat-{{category.id}}?location={{siteLocation}}" >
						<div class="slide">
				          <div class="home-{{category.id}} color">
				          	<p>{{category.trName}}</p>
				          </div>
				        </div>
			        </a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section id="location">
    {% set templateName = template + '/location/index.html' %}
    {% include templateName %}
</section>

<section id="languages">
    {% set templateName = template + '/partials/languages.html' %}
    {% include templateName %}
</section>
