#selectCat {

    h1 {
        padding: .625rem 0 .125rem 1.25rem;
        font-size: 1.875rem;
    }
    p {
        padding: 0 1.25rem;
        font-size: .8125rem;
    }
    #categories {
        margin: .625rem 0;
        padding: .625rem 1.25rem 0;
    }
    a {
        color: #38b;
    }
    h2 {
        width: 17.38rem;
        padding: .625rem;
        border: .0625rem solid #eee;
        border-radius: .1875rem .1875rem 0 0;
        font-size: .9375rem;
        color: #333;

        strong {
            width: 1.125rem;
            height: 1.125rem;
            float: left;
            padding: .125rem 0 0 .125rem;
            margin: 0 .3125rem 0 0;
            background: #38b;
            font-size: .875rem;
            color: #fff;
            text-align: center;
            border-radius: .6875rem;
            overflow: hidden;
        }
    }
    ul.catList {
        width: 18.75rem;
        font-size: .875rem;
        color: #38b;

        li {
            background: none repeat scroll 0 0 #eee;
            border-color: #fff #fff #eee;
            border-style: solid;
            border-width: 1px;
            cursor: pointer;
            padding: .5rem .75rem .4375rem;
            position: relative;
            transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;

            &:hover {
                background: #fff;
                border: 1px solid #7bd;
            }
            &:before {
                display: inline-block;
                font-family: 'olx-icon-font';
                vertical-align: middle;
                content:'\e600';
            }

            h2 {
                position: absolute;
                left: 20rem;
                right: -18.75rem;
                top: - 2.5rem;
                display: none;
            }

            ul {
                position: absolute;
                right: -20.13rem;
                top: 0;
                padding: 0 0 0 .625rem;
                display: none;
            }
        }
    }
    .postingText {
        padding: 1rem 1.25rem;
        font-size: .8125rem;

        ul {
            margin-left: .75rem;
            
            li {
                margin: .2rem 0;
                list-style-type: disc;
            }
        }
    }
}