.posting-categories-view {
	clear-fix()
	.posting-label {
		font-weight: normal;
		margin: 0;
	}
}

.posting-categories-list {
	background: $lightGrey;
	border-radius();
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	width: 200px;

	a {
		border-radius()
		display: block;
		padding: 5px;

		&:hover {
			background: $strongGrey;
			color: $white;
			padding-left: 5px;
			text-decoration: none;

			&::before {
				color: $white;
			}
		}
	}

	li {
		position: relative;

		&:hover .child-categories-list {
			display: block;
		}
	}

	.child-categories-list {
		background: $lightGrey;
		border-radius();
		display: none;
		left: 100%;
		list-style-type: none;
		margin: 0;
		padding: 5px;
		position: absolute;
		top: 0;
		width: 200px;
	}

	.icons::before {
		font-size: 1.53em;
		padding: 0 5px 0 0;
	}
}
