.posting-contact-view {
	box(#fff, #e4e4e4 , 3px, 0, solid, 1px);

	.icons::before {
		font-size: 1.7rem;
	}
	.seller-post {
		padding: 0 0 20px 200px;
		width: 420px;

		.posting {
			display: block;
			margin-top: 20px;
		}
	}
}
