.posting-contact-view {
	box($white, $greyBorders , 3px, 0, solid, 1px);

	.icon-lock::before {
		font-size: $s;
		padding-right: 5px;
	}
	.seller-post {
		padding: 0 0 20px 200px;
		width: 420px;

		.posting {
			display: block;
			margin-top: 20px;
		}
	}
}
