.posting-description-view {
	textarea {
		min-height: 148px;
		padding: 10px;
		resize: vertical;
	}

	.wrapper-inner-inputs {
		position: absolute;
		right: 10px;
		top: 10px;

		input,
		.price-checkbox-label {
			display: inline-block;
			vertical-align: middle;
		}
	}
}