.posting-errors-view {

	box($pink, $red);
	overflow: hidden;
	margin: 2px 10px 0;
	
	.title {

		margin: 0;
		font-size: $l;
		color: $red;
		
		.close {

			font-size: $xs;
			font-weight: normal;
			color: $blue;
			cursor: pointer;

		}

	}
	
	.detail {

		margin: 10px 0 0;
		padding: 10px 0 0;
		border-top: solid thin $greyStrong;
		font-size: $s;
		color: $greyStrong;

	}
	
	.summary {

		ul-reset();
		display: none;
		padding: 5px 0 0 10px;
		font-size: $xs;
		color: $greyStrong;

	}

}
