.posting-item-information {
	box(#fff, #e4e4e4 , 3px, 20px 0, solid, 1px);
	margin: 0 0 10px 0;
}

.posting-label {
	float: left;
	font-size: 1.2307rem;
	padding: 10px 20px 0 0;
	text-align: right;
	width: 170px;
}

.posting-view {

	fieldset {
		border: none;
		clear-fix();
		margin: 0;
		padding: 0;
	}

	.wrapper {
		padding: 10px 9px;
		&:hover {
			background: $yellowPosting;
		}
	}
}
