.posting-item-information {
    box($white, $greyBorders , 3px, 8px 0, solid, 1px);
    margin: 0 0 10px 0;
}

.posting-view, .users-edituserprofile-view, .users-editpersonalinfo-view, .users_myolx_view {
    .field-wrapper {
        clear-fix();
        margin: 0;
        padding: 10px;
        border: none;
        transition: background-color 1s, color 1s, border-color 1s;

        &.focus {
            background-color: #F4F9FC;
            .text-field {
                border-color: $blue;
                box-shadow: 0 0 3px 0 $lightBlueBorder inset;
            }
        }

        &.error {
            .field-label {
                color: $red;
            }
            .text-field {
                border-color: $red;
            }
        }

        &.success {
            .text-field {
                border-color: $green;
                color: $black;
            }
        }
    }

    .field-label {
        float: left;
        width: 200px;
        padding: 10px 12px 10px 0;
        font-size: $s;
        line-height: $l;
        text-align: right;

        small {
            color: #666;
            font-size: $xs;
            text-transform: lowercase;
            line-height: 1;
        }
    }

    .field-controls {
        float: left;
        width: 440px;
        &.radio {
            margin-top: 12px;
            span {
                margin: 0 5px 0 3px;
            }
        }
    }

    .text-field {
        box-sizing: border-box;
        color: $black;
        width: 100%;
        &.validating {
            background-image: url(imageUrl/images/desktop/validating.gif);
            background-repeat: no-repeat;
            background-position: 412px 10px;
        }
        &:focus {
            outline: none;
        }
    }

    .type-select {
        background: $white;
        &[disabled] {
            color: $disableText
            background: $greyBoxBg;
        }
    }

    .message {
        display: block;
        margin: 5px 0 0;
        font-size: $xs;
        line-height: 1em;
        &.hint {
            color: $greyStrong;
        }
        &.error {
            color: $red;

            &::before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                content: "\e60c";
                display: inline-block;
                font-family: 'olx-icon-font';
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                margin-right: 7px;
                speak: none;
                vertical-align: text-top;
            }
        }
    }

    .section-title {
        padding: 15px 20px;
        margin: 0 0 15px;
        border-bottom: 1px solid #eee;
        font-size: $l;
    }
}

.qr {
    float: right;
    text-align: center;
}