.posting-price-view {

	.field-controls {

		.text-field {
			float: left;
		}

		.type-text {
			width: 57%;
			border-radius: 0;
		}

		#field-currency_type, .price-currency-one {
			width: 17%;
			border-right-width: 0;
			border-radius: 3px 0 0 3px;
		}
		
		.price-currency-one {
			background-color: #fff;
			border: 1px solid $greyBorders;
			border-right: 0;
			box-sizing: border-box;
			color: $black;
			display: inline-block;
			float: left;
			height: 36px;
			line-height: @height;
			padding-left: 14px;
			vertical-align: middle;
		}

		#field-priceType {
			width: 26%;
			border-left-width: 0;
			border-radius: 0 3px 3px 0;
			&.negotiable {
				width: auto;
				margin-left: 2px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.price-negotiable {
			background-color: #fff;
			border-radius: 0 3px 3px 0;
			border: 1px solid $greyBorders;
			border-left: 0;
			box-sizing: border-box;
			color: $black;
			display: inline-block;
			height: 36px;
			line-height: @height;
			vertical-align: middle;
			width: 26%;
			text-align: right;
			padding-right: 10px;
		}

		.message {
			float: left;
			width: 100%;
		}
	}

	.field-wrapper {

		&.success,
		&.error {

			.field-controls {

				.type-text {
					border-left-color: $greyBorders;
					border-right-color: $greyBorders;
				}

			}

		}

	}
}
