.categories_list_view {
    
    .categories-list {

        .categories-title,
        a {
            background-color: #FFF;
            border-bottom: 1px solid #ECECEC;
            box-sizing: border-box;
            font-size: 17px;
            line-height: 1.2;
            padding: 14px 46px 13px 8px;
        }

        .categories-title {
            color: #4275BA;
            padding-right: 14px;
        }

        .icon {
            background-repeat: no-repeat;
            right: 8px;
            position: absolute;
            top: 8px;
        }

        a {       
            color: #494949;
            display: block;
            font-weight: normal;
            position: relative;
            text-transform: capitalize;
            trasition: all .5s ease;
        }

        .subcategories {
            display: none;

            a {
                background-color: #ECF8FF;
                padding-left: 24px;
                padding-right: 14px;
                font-size: 15px;            

                &::after {
                    background: transparent url(imageUrl/images/html5/arrow_cat_home.png) no-repeat 0 0;
                    content: "";
                    height: 9px;
                    position: absolute;
                    left: 15px;
                    top: 20px;
                    width: 5px;
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }

        .expanded {

            a {
                border-color: #FFF;
            }
            
            > h2 > a {
                background-color: #E0F4FF;
                font-weight: bold;
            }
        }
    }
}