div#posting h4.title {
	background: none repeat scroll 0 0 #EAEAEA;
    clear: both;
    color: #333333;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    padding: 0.5em 1em;
}
div#posting input.link {
	color: #4275ba;
    font-size: 12px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
div#posting h4.title a {
    color: #4275ba;
    font-weight: normal;
}