{% view 'partials/search' %}
{% if currentRoute.action == 'list' %}
    {% view 'locations/select' %}
{% endif %}
<section id="categories" class="categories-list">
    <h3 class="categories-title">{{ dictionary["posting_selector.SelectCategory"] }}</h3>
    <ul class="{{ icons[icons.length - 1] }}-icons">
        {% for category in categories %}
            <li class="category" id="cat-{{ category.id }}">
                <h2>
                    <a href="#cat-{{ category.id }}">
                        <span class="icon cat-{{ category.id }}"></span>{{category.trName}}
                    </a>
                </h2>
                <ul class="subcategories">
                    {% for subcategory in category.children.toJSON() %}
                        <li class="subcategory">
                            <h2>
                                <a href="{{ subcategory | slugToUrl | link }}">{{subcategory.trName}}</a>
                            </h2>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    {% if register_success %}
        <input type="hidden" value="true"  class="registerSuccess">
    {% endif %}
    {% include (template + '/partials/tracking.html') %}
</section>
{% view 'pages/interstitial' %}
