{{#items}}
    <li>
        <a href="#item/{{id}}">
            {{# if thumbnail }}
                <figure>
                    <img src="{{ thumbnail }}" alt="{{ title }}" style="background-image: url({{ thumbnail }});" />
                </figure>
            {{/ if }}
            <div>
                <h2>{{ title }}</h2>
                {{# if location }}
                    <p><em>{{ location }}</em></p>
                {{/ if }}
                {{# if displayPrice }}
                    <p><strong>{{ displayPrice }}</strong></p>
                {{/ if }}
            </div>
        </a> 
    </li>
{{/items}}
