{{#items}}
    <li data-icon="false">
        <div class="listingContainer">
            <div class="left">
                <a href="#item/{{id}}">
                	<img src="{{#if thumbImage}}{{thumbImage}}{{else}}css/arwen/images/img_no_pic.png{{/if}}">
                </a>
            </div>
            <div class="right">
                <div class="rowTitle">
                    <a href="#item/{{id}}"><h2>{{title}}</h2></a>
                </div>
                <div class="rowInfo">
                    <div class="location">{{location}}</div>
                    <div class="displayPrice">{{displayPrice}}</div>
                </div>
            </div>
        </div>
    </li>
{{/items}}