{{#items}}
    <li>
        <a href="#item/{{id}}">
            <figure>
                {{# if thumbnail }}<img src="{{ thumbnail }}" alt="{{ title }}" style="background-image: url({{ thumbnail }});" />{{/ if }}
            </figure>
            <div>
                <h2>{{ title }}</h2>
                {{# if location }}
                    <p><em>{{ location }}</em></p>
                {{/ if }}
                {{# if displayPrice }}
                    <p><strong>{{ displayPrice }}</strong></p>
                {{/ if }}
            </div>
        </a> 
    </li>
{{/items}}
