<article class="listing-page">

	<header>
		<div id ="filtersSet">
			<p>
				{{#filters}}
					{{#if value}}
					<span class='remove-filter' data-filtername='{{name}}'>
	              		{{description}}{{label}}
	              	</span>
	              	{{/if}}
              	{{/filters}}
			</p>
		</div>
		<nav>
			<a class="toggle-popup" href="#filterPopUp">Filter</a>
			<a class="toggle-popup" href="#sortPopUp">Sort</a>
				{{#sorts}} 
					{{#equal order value}}
						{{description}} 
					{{/equal}}
				{{/sorts}}
			</a>
		</nav>
	</header>

	{{#if search-term}}
		<span>Results for: {{search-term}}</span>
	{{/if}}

	<!-- If removed from jquery mobile logic, tha list is not able to refres its content -->
	<!-- <ul id="ads-list" class="ads" data-role="listview" data-inset="true"></ul> -->
	<ul id="ads-list" class="ads"></ul>

	<div id="filterPopUp" class="olx-ui-pop-up"></div>
	<div id="sortPopUp" class="olx-ui-pop-up"></div>

</article>
