<div data-role="collapsible-set" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" style="margin:0; min-width:250px;" data-theme="b">
	{{#filters}}
        <div data-role="collapsible" data-inset="false">
            <h2>{{title}}</h2>
            <ul data-role="listview" data-filtername="{{title}}">
            	{{#options}}
            		<li><a class="filter" href="javascript:;" data-rel="dialog">{{opTitle}}</a></li>
            	{{/options}}
            </ul>
        </div>
    {{/filters}}
</div>