<div>
    <h3>Filter this results by</h3>
    {{#filters}}
        {{#equal type "boolean"}}
            <label class="olx-ui-checkbox">
                <input class="filter" type="checkbox" id="{{name}}" name="{{name}}" value="true" {{#if checked}}checked{{/if}} data-filtername="{{name}}" />
                <span>{{description}}</span>
            </label>
        {{/equal}}
        {{#equal type "number"}}
            <label for="{{name}}" class="olx-ui-label">{{description}}</label>
            <input type="text" id="{{name}}" class="olx-ui-textbox filter" name="name" placeholder="Type the number of {{description}}" data-filtername="{{name}}" />
        {{/equal}}
        {{#equal type "select"}}
            <label class="olx-ui-select">
                <span data-value="">{{description}}</span>
                <select class="filter" id="{{name}}" data-filtername="{{name}}">
                    {{#each values}}
                        <option value="{{id}}">{{value}}</option>
                    {{/each}}
                </select>
            </label>
        {{/equal}}
    {{/filters}}
    <a href="#filterPopUp" class="olx-ui-button toggle-popup update-items">Filter</a>
</div>
