<!-- {{#items}}
    <li data-icon="false">
        {{#if status}}
        <div class="listingStatus {{status}}">{{status}}</div>
        {{/if}}
        <div class="listingContainer">
            <div class="left">
                <a href="#item/{{id}}">
                    <img src="{{#if thumbImage}}{{thumbImage}}{{else}}css/arwen/images/img_no_pic.png{{/if}}">
                </a>
            </div>
            <div class="right">
                <div class="rowTitle">
                    <a href="#item/{{id}}"><h2>{{title}}</h2></a>
                </div>
                <div class="rowInfo">
                    <div class="location">{{location}}</div>
                    <div class="displayPrice">{{displayPrice}}</div>
                </div>
            </div>
        </div>
    </li>
{{/items}} -->

{{#items}}
    <li>
        <a href="" class="{{status}}">
            {{#if status}}
                <p style="padding: .75rem 1rem; margin: -.75rem -1rem .75rem; background: #000; color: #FFF;">{{status}}</p>
            {{/if}}
            <figure>
                {{#if thumbImage}}
                    <img src="{{thumbImage}}" alt="{{title}}" style="background-image: url({{thumbImage}});" />
                {{else}}
                    <div>
                        <strong>+</strong>
                        <span>Add image</span>
                    </div>
                {{/if}}
            </figure>
            <div>
                <h2>{{title}} {{thumbImage}}</h2>
                {{#if location}}
                    <p><em>{{location}}</em></p>
                {{/if}}
                {{#if displayPrice}}
                    <p><strong>{{displayPrice}}</strong></p>
                {{/if}}
            </div>
        </a>
    </li>
{{/items}}
