{% if tracking.params and tracking.params.allpages %}
<script id="allpages-lib" type="text/javascript">
    adroll_adv_id = '{{ tracking.params.allpages.advId }}';
    adroll_pix_id = '{{ tracking.params.allpages.pixId }}';
    (function () {
        var oldonload = window.onload;
        window.onload = function(){
            __adroll_loaded=true;
            var scr = document.createElement('script');
            var host = (('https:' == document.location.protocol) ? 'https://s.adroll.com' : 'http://a.adroll.com');
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + '/j/roundtrip.js';
            document.getElementById('allpages-lib').parentNode.appendChild(scr);
            if(oldonload){oldonload()}
        };
    }());
</script>
{% endif %}