{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["myolx.MyAds"], ['<a href="', '/logout' | link, '" class="logout" >', dictionary["myolx.SignOut"], '</a>'] | join) }}
{% if deleted %}
    <div id="messages">
        <span>{{ dictionary["myolx.TheAdHasBeenDeleted"] }}</span>
    </div>
{% endif %}
<div id="myads">
    {% if myAds.length %}
        <ul class="itemListing">
            {% for item in myAds %}
                <li>
                    <a href="/{{ item | slugToUrl | link }}">
                        <div class="imageCont" style="background-image: url({{ item.thumbnail if item.thumbnail else ('/images/html4/noPhoto.png' | static) }});"></div>
                    </a>
                    <div class="itemInfo">
                        <h2>{{ item.price.displayPrice }}</h2>
                        {% if item.status == 'pending' %}
                            <span class="status pending">{{ dictionary["itemslisting.PendingAd"] }}</span>
                        {% elif item.status == 'rejected' %}
                            <span class="status rejected">{{ dictionary["misc.RejectedAd_Caps"] }}</span>
                        {% elif item.status == 'ready' %}
                            <span class="status ready">{{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }}</span>
                        {% endif %}
                        <div class="centerCont">
                            <a href="/{{ item | slugToUrl | link }}">
                                <p>{{ item.title }}</p>
                            </a>
                        </div>
                        {% if item.status == 'ready' %}
                            <a href="{{ ['/myolx/edititem/', item.id] | join('') | link }}" class="action">{{ dictionary["showactivelistings.Edit"] }}</a>
                            <a href="{{ ['/myolx/deleteitem/', item.id] | join('') | link }}" class="action">{{ dictionary["confirmremoveitem.Delete"] }}</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="emtyList">
                {{ dictionary["myolx.YouCurrentlyHaveNoActiveListings"] }}
            </div>
        {% endif %}
</div>
{{ BreadcrumbHome(dictionary, link) }}
