@charset "UTF-8";

#left-panel {
	bottom: 0;
	min-height: 0;
	position: fixed;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#left-panel > * {
    -webkit-transform: translate3d(0,0,0);
}

/* post ad */
#post-button {
	border-radius: 3px;
  background: #f7a258; /* Old browsers */
  background: -moz-linear-gradient(top, #f7a258 0%, #e58737 50%, #e07314 51%, #de7315 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7a258), color-stop(50%,#e58737), color-stop(51%,#e07314), color-stop(100%,#de7315)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7a258 0%,#e58737 50%,#e07314 51%,#de7315 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7a258 0%,#e58737 50%,#e07314 51%,#de7315 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, #f7a258 0%,#e58737 50%,#e07314 51%,#de7315 100%); /* W3C */
  text-align: center;
  color:#fff !important;
  margin:4px 10px;
  padding:0;
  font-size: 12px;
  font-weight: bold;
}

/* search */
.ui-icon-search, .ui-icon-searchfield:after {
    background-position: -611px -1px;
}
.ui-icon, .ui-icon-searchfield:after {
    background-color: #4275BA;
    background-image: url("images/icons-18-white.png");
    background-repeat: no-repeat;
    border-radius: 9px 9px 9px 9px;
}
a:hover, a:focus, a:visited, a:link {
  text-decoration: none;
}

.ui-icon-shadow {
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.ui-icon-checkbox-off {
  background-position:  -683px -1px;
}
.ui-icon-checkbox-on {
  background-position: -648px 0;
}
.ui-checkbox .ui-icon, .ui-selectmenu-list .ui-icon {
  border-radius: 3px 3px 3px 3px;
}
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
  background-color: #387BBE;
}

.swipe {
  position:relative;
  z-index:1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  padding: 0 0 20px;
}

div#slider1 {
  margin-bottom: 20px;
}

.swipe ul {
  padding: 0;
  list-style: none;
  margin:0;
}

.swipe ul li img {
  width: 200px;
  height: 200px;
  vertical-align: top;
}

.swipe ul li a {
  position: relative;
  display: inline-block;
}

.swipe ul li a figcaption {
  background:rgba(90,90,90,.65);
  padding:7px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.swipe ul li a:active figcaption, .swipe ul li a:focus figcaption {
  background:rgba(0,0,0,.7);
}

/* ______________ Action Box _________________________ */
div#content div#itempage .actions {
  margin-bottom: 15px;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

div#content div#itempage .actions li {
  height: 35px;
  line-height: 35px;
}
div#content div#itempage .actions .date {
  width: auto;
  float: left;
  font-size: 10pt;
  font-weight: normal;    
  background: url(images/date01.png) no-repeat left center;
  padding-left: 23px;
}

div#content div#itempage .actions .share,
div#content div#itempage .actions .addFavorite {
  float: right;
  text-indent: -4000px;
  overflow: hidden;
}

div#content div#itempage .actions .share {
  width: 30px;
  background: url(images/share01.png) no-repeat left top;
  margin-right: 20px;
}

div#content div#itempage .actions .addFavorite {
  width: 40px;
  background: url(images/favorite01.png) no-repeat left top;
}

/* ______________ Optional Box _________________________ */
div#content div#itempage .optionals {
  margin-bottom: 15px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  font-size: 10pt;
  list-style: none;
  padding: 15px 0;
}

/* ______________ Generic Title Box _______________________ */
div#content div#itempage .titleBox {
  background: #c6c6c6;
  color: #ffffff;
  padding: 10px;
  font-weight: normal;
  font-size: 12pt;
  margin: 0 0 10px;
}

/* ______________ Description Box _________________________ */
div#content div#itempage .description {
  margin:0 0 15px;
  font-size: 10pt;
  padding: 0;
}

/* ______________ Location Box _________________________ */
div#content div#itempage .location {
  margin-bottom: 15px;
}

div#content div#itempage .location h4 {
  font-size: 12pt;
  font-weight: normal;
  padding-left: 20px;
  background: url(images/site01.png) left center no-repeat;
}

div#content div#itempage .location div.map {
  height: 150px;
  background-position: center center;
}


/* ______________ phoneActions Box _________________________ */
div#content div#itempage .phoneActions {
  margin-bottom: 15px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  padding: 10px 0;
  list-style: none;
  overflow: hidden;
}

div#content div#itempage .phoneActions .call,
div#content div#itempage .phoneActions .sms,
div#content div#itempage .phoneActions .message {
  float: left;
  width: 33%;
  padding: 40px 0 0 0;
  font-size: 10pt;
  text-align: center;
}

div#content div#itempage .phoneActions .call {
  background: url(images/call01.png) 50% 0 no-repeat;
  
}
div#content div#itempage .phoneActions .sms {
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  background: url(images/sms01.png) 50% 4px no-repeat;
}
div#content div#itempage .phoneActions .message {
  background: url(images/message01.png) 50% 4px no-repeat;
}


/* logo h1 with link */
#header h1.ui-title {
  background: url(images/logo.png);
  height: 44px;
  width: 83px;
  margin:0 0 0 50px;
}

#header h1.ui-title a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -4000px;
}


/*Ads*/
ul#ads-list .listingContainer {
  padding: 0 !important;
  display: table;
  width: 100%;
}

ul#ads-list .listingContainer a {
  display: block;
  padding: 0 !important;
  text-decoration: none;
  border: 1px solid #e6e2e1;
  background: #f8f2f2;
}

ul#ads-list .listingContainer a:hover, ul#ads-list .listingContainer a:active {
  border: 1px solid #ccc;
  background: #f3eeee;
}

ul#ads-list .listingContainer a figure,
ul#ads-list .listingContainer a div {
  display: table-cell;
  vertical-align: top;
}

ul#ads-list .listingContainer a figure {
  width: 100px;
}

ul#ads-list .listingContainer a div {
  width: 100%;
}

ul#ads-list .listingContainer a figure span  {
  display: block;
  background: url(images/img_no_pic.png) no-repeat 50% 50%;
  background-size: 100%;
}

ul#ads-list .listingContainer a figure img, ul#ads-list .listingContainer a figure span {
  height: 70px;
  width: 70px;
  border: 1px solid #e6e2e1;
  vertical-align: top;
  margin:10px;
}

ul#ads-list .listingContainer .rowTitle {
  min-height: 50px;
  margin: 10px 0;
  padding: 0;
  font-weight: normal;
  white-space: normal;
  text-align: left;
  font-size: 12pt;
  line-height: 13pt;
  color:#3C3C3C;
}

ul#ads-list .listingContainer .location,
ul#ads-list .listingContainer .displayPrice {
  font-size: 9pt;
  margin: 0;
  padding: 0;
}

ul#ads-list .listingContainer .location {
  float: left;
  color: #666;
  font-weight: normal;
}

ul#ads-list .listingContainer .displayPrice {
  float: right;
  text-align: right;
  color: #fe7702;
  font-weight: bold;
   margin: 0 10px 0 0;
}

@media only screen and (min-device-width: 700px) {

  ul#ads-list div.listingStatus {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
  }

  ul#ads-list .listingContainer a figure img, ul#ads-list .listingContainer a figure span {
    height: 150px;
    width: 150px;
  }

  ul#ads-list .listingContainer a figure {
    width: 180px;
  }

  ul#ads-list .listingContainer .rowTitle {
    min-height: 114px;
    font-size: 18pt;
    line-height: 19pt;
  }

  ul#ads-list .listingContainer .location,
  ul#ads-list .listingContainer .displayPrice {
    font-size: 14pt;
  }

}


@media (max-width: 480px) {

  .swipe ul li img{
    width: 150px;
    height: 150px;
  }

  .swipe ul li a figcaption {
    font-size: 12px;
    line-height: 16px;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
  

  .ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
  .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
  .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
  .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-bars, .ui-icon-edit,
  .ui-icon-search, .ui-icon-searchfield:after, 
  .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
    background-image: url(images/icons-36-white.png);
    -moz-background-size: 864px 18px;
    -o-background-size: 864px 18px;
    -webkit-background-size: 864px 18px;
    background-size: 864px 18px;
  }

  .ui-icon-alt .ui-icon {
    background-image: url(images/icons-36-black.png);
  }

  .ui-icon-plus {
    background-position:  0px 50%;
  }
  .ui-icon-minus {
    background-position:  -36px 50%;
  }
  .ui-icon-delete {
    background-position:  -72px 50%;
  }
  .ui-icon-arrow-r {
    background-position:  -108px 50%;
  }
  .ui-icon-arrow-l {
    background-position:  -144px 50%;
  }
  .ui-icon-arrow-u {
    background-position:  -179px 50%;
  }
  .ui-icon-arrow-d {
    background-position:  -215px 50%;
  }
  .ui-icon-check {
    background-position:  -252px 50%;
  }
  .ui-icon-gear {
    background-position:  -287px 50%;
  }
  .ui-icon-refresh {
    background-position:  -323px 50%;
  }
  .ui-icon-forward {
    background-position:  -360px 50%;
  }
  .ui-icon-back {
    background-position:  -395px 50%;
  }
  .ui-icon-grid {
    background-position:  -431px 50%;
  }
  .ui-icon-star {
    background-position:  -467px 50%;
  }
  .ui-icon-alert {
    background-position:  -503px 50%;
  }
  .ui-icon-info {
    background-position:  -538px 50%;
  }
  .ui-icon-home {
    background-position:  -575px 50%;
  }
  .ui-icon-search,
  .ui-icon-searchfield:after {
    background-position:  -611px 50%;
  }
  .ui-icon-checkbox-on {
    background-position:  -647px 50%;
  }
  .ui-icon-checkbox-off {
    background-position:  -683px 50%;
  }
  .ui-icon-radio-on {
    background-position:  -718px 50%;
  }
  .ui-icon-radio-off {
    background-position:  -754px 50%;
  }
  .ui-icon-bars {
    background-position:  -788px 50%;
  
  }.ui-icon-edit {
    background-position:  -824px 50%;
  }
}