/* ARWEN Icons */
.ui-icon-arwen-bars {
	background-image: url("images/arwen-bars.png");
    box-shadow: none;
    background-size: 28px 28px;
    border-radius: 0px 0px 0px 0px;
    border: none;
    width:28px;
    height:28px;
}

#cat-button {
	border: 0px;
	background-color: transparent;
}




@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-arwen-bars {
		background-image: url("arwen-bars-highres.png");
		background-size: 18px 18px;
	}
}

.ui-icon-arwen-search {
	background-image: url("arwen-search.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-arwen-search {
		background-image: url("arwen-search-highres.png");
		background-size: 18px 18px;
	}
}
