* {
	font-family: 'Roboto', sans-serif;
}

.clear {
	width: 100%;
	clear: both;
	height: 1px;
}

/* Main Panel
---------------------------------------------------------------------- */
div.ui-panel-content-wrap {
	background: #fff;
}

/* Header 
---------------------------------------------------------------------- */

div#header.ui-header.ui-bar-a {

	background: #0076be;
	border: 0;
	border-top: #015385 solid 1px;
	border-bottom: #015385 solid 1px;

}

/* categories btn & search btn */
a#cat-button.ui-btn-left.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-a, 
a#cat-button.ui-btn-left.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-a,
a#toggle-search.ui-btn-right.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-a, 
a#toggle-search.ui-btn-right.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-a
 {

	padding: 0;
	margin: 0;
	margin-top: 5px;
	border: 0;
	text-shadow: none;
	box-shadow: none;
}

a#cat-button .ui-btn-inner,
a#toggle-search .ui-btn-inner{
    border: 0;
}

a#cat-button,
a#toggle-search {

	width: 30px;
	height: 30px;
}

#cat-button  {
	background: url(images/arwen-bars.png);
}
#toggle-search {
	background: url(images/img_search.png);
}
/* search input */

div.ui-input-search.ui-shadow-inset.ui-btn-corner-all.ui-btn-shadow.ui-icon-searchfield.ui-body-c.ui-mini {
	box-shadow: none;
	background: #fff;
	width: 90%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* logo h1 with link */
div#header h1.ui-title {
	background: url(images/logo.png);
	height: 44px;
	width: 83px;
	margin: 0px;
	margin-left: 50px;
}

div#header h1.ui-title a {
	margin: 0;
	border: 0;
	text-decoration: none;
}

div#header h1.ui-title div {
	width: 100%;
	height: 100%;
}

/* Left Panel
---------------------------------------------------------------------- */

div#left-panel.ui-panel-position-left.ui-panel-display-reveal, 
div#left-panel.ui-panel-position-left.ui-panel-open {
    background: #2b2b2c;
    color: #838282;
}

div#left-panel ul {
	box-shadow: none;
}


a#login-link,
a#myolx-link,
a#post-button,
a#logout-link {
	margin: 0;
	font-weight: bold;
}

/* li categories */

div#left-panel .ui-btn-inner {
	border: 0;
	border-top: 1px solid #454546;
	border-bottom: 2px solid #100e0e;
}

div#left-panel .ui-btn-inner .ui-btn-text {
	height: 40px;
}

div#left-panel .ui-btn-inner a {
	color: #838282;
	padding: 1em 15px;
}

div#left-panel li#p-cat-link a {
	color: #b0aaaa;
}


/* category divider */
div#left-panel li#cat-divider {
	padding: 1em 15px;
	border-bottom: 1px solid #100e0e;
}

/* myolx options */

ul#left-panel-list-top {
	background: #3b393b;
}

ul#left-panel-list-top  a {
	color: #838282;
	padding: 1em 15px;
}

ul#left-panel-list-top .myolx-cat li {
	border: 0;
}

/* post ad */
ul#left-panel-list-top a#post-button {
	color: #ffa500;
}

ul#left-panel-list-top  .myolx-cat .ui-btn-inner {
	border: 0;
	border-top: 1px solid #454546;
	border-bottom: 1px solid #100e0e;
}


/* Home
---------------------------------------------------------------------- */

h4 {
	color: #666666;
	font-size: 20pt;
	font-weight: normal;
	margin: 10px 0 10px 0;
}

div#slider1 {
	margin-bottom: 20px;
}