* {
	font-family: 'Roboto', sans-serif;
}

.clear {
	width: 100%;
	clear: both;
	height: 1px;
}

/* Main Panel
---------------------------------------------------------------------- */
div.ui-panel-content-wrap {
	background: #fff;
}

/* Header 
---------------------------------------------------------------------- */

div#header.ui-header.ui-bar-a {

	background: #0076be;
	border: 0;
	border-top: #015385 solid 1px;

}

div#header div.headerBorder {
	width: 100%;
	border-top: #015385 solid 1px;
	height: 1px;
}

/* categories btn & search btn */
a#cat-button.ui-btn-left.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-a, 
a#cat-button.ui-btn-left.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-a,
a#toggle-search.ui-btn-right.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-a, 
a#toggle-search.ui-btn-right.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-a
 {

	padding: 0;
	margin: 0;
	margin-top: 5px;
	border: 0;
	text-shadow: none;
	box-shadow: none;
}

a#cat-button .ui-btn-inner,
a#toggle-search .ui-btn-inner{
    border: 0;
}

a#cat-button,
a#toggle-search {

	width: 30px;
	height: 30px;
}

#cat-button  {
	background: url(images/arwen-bars.png);
}
#toggle-search {
	background: url(images/img_search.png);
}
/* search input */

div.ui-input-search.ui-shadow-inset.ui-btn-corner-all.ui-btn-shadow.ui-icon-searchfield.ui-body-c.ui-mini {
	box-shadow: none;
	background: #fff;
	width: 90%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* logo h1 with link */
div#header h1.ui-title {
	background: url(images/logo.png);
	height: 44px;
	width: 83px;
	margin: 0px;
	margin-left: 50px;
}

div#header h1.ui-title a {
	margin: 0;
	border: 0;
	text-decoration: none;
}

div#header h1.ui-title div {
	width: 100%;
	height: 100%;
}

/* Left Panel
---------------------------------------------------------------------- */

div#left-panel.ui-panel-position-left.ui-panel-display-reveal, 
div#left-panel.ui-panel-position-left.ui-panel-open {
    background: #2b2b2c;
    color: #838282;
}

div#left-panel ul {
	box-shadow: none;
}


a#login-link,
a#myolx-link,
a#post-button,
a#logout-link {
	margin: 0;
	font-weight: bold;
}

/* li categories */

div#left-panel .ui-btn-inner {
	border: 0;
	border-top: 1px solid #454546;
	border-bottom: 2px solid #100e0e;
}

div#left-panel .ui-btn-inner .ui-btn-text {
	height: 40px;
}

div#left-panel .ui-btn-inner a {
	color: #838282;
	padding: 1em 15px;
}

div#left-panel li#p-cat-link a {
	color: #b0aaaa;
}


/* category divider */
div#left-panel li#cat-divider {
	padding: 1em 15px;
	border-bottom: 1px solid #100e0e;
}

/* myolx options */

ul#left-panel-list-top {
	background: #3b393b;
}

ul#left-panel-list-top  a {
	color: #838282;
	padding: 1em 15px;
}

ul#left-panel-list-top .myolx-cat li {
	border: 0;
}

/* post ad */
ul#left-panel-list-top a#post-button {
	color: #ffa500;
}

ul#left-panel-list-top  .myolx-cat .ui-btn-inner {
	border: 0;
	border-top: 1px solid #454546;
	border-bottom: 1px solid #100e0e;
}


/* Home
---------------------------------------------------------------------- */

h4 {
	color: #666666;
	font-size: 20pt;
	font-weight: normal;
	margin: 10px 0 10px 0;
}

div#slider1 {
	margin-bottom: 20px;
}

div.swipe {
	height: 200px;
}

div.swipe ul li img{
	width: 200px;
	height: 200px;
}

div.swipe ul li div.tooltip {
    background: #666;
    opacity: 0.7;
    position: absolute;
    float: left;
    top: 100px;
    height: 100px;
    width: 200px;
    padding: 0px;
}

div.swipe ul li div.tooltip h5 {
	font-size: 12pt;
	text-align: left;
	padding: 10px;
	margin: 0;
}


@media only screen and (max-device-width: 480px) {

	div.swipe {
		height: 150px;
	}

	div.swipe ul li img{
		width: 150px;
		height: 150px;
	}

	div.swipe ul li div.tooltip {
	    top: 75px;
	    height: 75px;
	    width: 150px;
	}

	div.swipe ul li div.tooltip h5 {
		font-size: 10pt;
	}

}


/* Breadcrumb
---------------------------------------------------------------------- */
div#breadcrumb {
	background: #f8f2f2;
	color: #666666;
	width: 100%;
	padding: 15px;
}

	div#breadcrumb h3 {
		margin: 0;
		margin-right: 15px;
		padding: 0;
		display: inline-block;
	}

	div#breadcrumb h3 a {
		text-decoration: none;
		margin-left: 30px;
		font-size: 14pt;
		font-weight: normal;
		color: #666666;
	}

		div#breadcrumb h3.category a {
			margin-left: 20px;			
		}

	div#breadcrumb h3.parent {
		background: url(images/back01.png) no-repeat left center;
	}

	div#breadcrumb h3.category {
		background: url(images/next01.png) no-repeat left center;
	}


/* ItemPage
---------------------------------------------------------------------- */

div#content div#itempage {

	border: 1px solid #e6e2e1;
	background: #f8f2f2;
	margin-top: 15px;
	padding: 15px;
	color: #666666;

}

	div#content div#itempage div {
		width: 100%;
	}

	/* Reset */

	div#content div#itempage h1,
	div#content div#itempage h2,
	div#content div#itempage h3,
	div#content div#itempage h4,
	div#content div#itempage h5 {
		margin: 0;
		margin-bottom: 15px;
		padding: 0;
	}


	/* ______________ Title Price Box _________________________ */

	div#content div#itempage div.title h1 {
		text-align: left;
		font-weight: normal;
		font-size: 18pt;
		margin-bottom: 5px;
	}

	div#content div#itempage div.title h4 {
		text-align: left;
		font-weight: normal;
		font-size: 14pt;
		color: #fd7801;
	}

	/* ______________ Action Box _________________________ */
	div#content div#itempage div.actions {
		margin-bottom: 15px;
	}

	div#content div#itempage div.actions div.date {
		width: auto;
		float: left;
		font-size: 10pt;
		font-weight: normal;
		
		background: url(images/date01.png) no-repeat left top;
		padding-left: 25px;
		margin-top: 10px;
	}

	div#content div#itempage div.actions div.share,
	div#content div#itempage div.actions div.addFavorite {
		float: right;
		height: 35px;
	}

	div#content div#itempage div.actions div.share {
		width: 30px;
		background: url(images/share01.png) no-repeat left top;
		margin-right: 20px;
	}

	div#content div#itempage div.actions div.addFavorite {
		width: 40px;
		background: url(images/favorite01.png) no-repeat left top;
	}

	/* ______________ Optional Box _________________________ */
	div#content div#itempage div.optionals {
		margin-bottom: 15px;
		border-top: 1px solid #d2d2d2;
		border-bottom: 1px solid #d2d2d2;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 10pt;
	}


	/* ______________ Generic Title Box _______________________ */
	div#content div#itempage div.titleBox {
		width: 100%;
		background: #c6c6c6;
	}

	div#content div#itempage div.titleBox h3 {
		color: #ffffff;
		padding: 10px;
		font-weight: normal;
		font-size: 12pt;
	}

	/* ______________ Description Box _________________________ */
	div#content div#itempage div.description {
		margin-bottom: 15px;
		font-size: 10pt;
	}

	/* ______________ Location Box _________________________ */
	div#content div#itempage div.location {
		margin-bottom: 15px;
	}

		div#content div#itempage div.location h4 {
			font-size: 12pt;
			font-weight: normal;
			padding-left: 20px;
			background: url(images/site01.png) left center no-repeat;
		}

		div#content div#itempage div.location div.map {
			height: 150px;
			background-position: center center;
		}

	/* ______________ phoneActions Box _________________________ */
	div#content div#itempage div.phoneActions {
		margin-bottom: 15px;
		background: #ffffff;
		border: 1px solid #cdcdcd;
	}	

	div#content div#itempage div.phoneActions div.call,
	div#content div#itempage div.phoneActions div.sms,
	div#content div#itempage div.phoneActions div.message {
		margin: 0;
		margin-top: 15px;
		margin-bottom: 5px;
		float: left;
		width: 33%;
		height: 55px;
	}

		div#content div#itempage div.phoneActions div.call {
			background: url(images/call01.png) center center no-repeat;
			
		}
		div#content div#itempage div.phoneActions div.sms {
			border-right: 1px solid #cdcdcd;
			border-left: 1px solid #cdcdcd;
			background: url(images/sms01.png) center center no-repeat;
		}
		div#content div#itempage div.phoneActions div.message {
			background: url(images/message01.png) center center no-repeat;
		}

	div#content div#itempage div.phoneActions div.callTitle,
	div#content div#itempage div.phoneActions div.smsTitle,
	div#content div#itempage div.phoneActions div.messageTitle {
		margin: 0;
		margin-bottom: 15px;
		float: left;
		width: 33%;
		height: 20px;
		font-size: 10pt;
		text-align: center;
	}


/* Category Listing
---------------------------------------------------------------------- */
ul#ads-list {
	box-shadow: none;
}

ul#ads-list li {
	border: 1px solid #e6e2e1;
	background: #f8f2f2;
	margin-bottom: 15px;
	padding: 0;
}

	ul#ads-list div.listingContainer div.left,
	ul#ads-list div.listingContainer div.right {
		display: table-cell;
	}

	ul#ads-list div.listingContainer div.left {
		width: 100px;
	}


	ul#ads-list div.listingContainer div.right {
		width: 190px;
		vertical-align: top;
	}

		ul#ads-list div.listingContainer div.left a {
			margin: 0;
		}
		ul#ads-list div.listingContainer div.left img{
			height: 70px;
			width: 70px;
			margin: 15px;
			border: 1px solid #e6e2e1;
		}

		ul#ads-list div.listingContainer div.right div.rowTitle {
			margin: 15px;
			margin-bottom: 0;
			height: 50px;
		}

			ul#ads-list div.listingContainer div.right div.rowTitle a {
				margin: 0;
				padding: 0;
				text-decoration: none;
			}

			ul#ads-list div.listingContainer div.right div.rowTitle h2 {
				margin: 0;
				padding: 0;
				max-height: 45px;
				font-weight: normal;
				white-space: normal;
				text-align: left;
				font-size: 12pt;
			}

		ul#ads-list div.listingContainer div.right div.rowInfo {
			margin: 15px;
			margin-top: 0;
			margin-bottom: 0;
			height: 20px;
		}

			ul#ads-list div.listingContainer div.right div.rowInfo div.location,
			ul#ads-list div.listingContainer div.right div.rowInfo div.displayPrice {
				width: 50%;
				height: 20px;
				font-size: 9pt;
				padding-top: 5px;
			}

			ul#ads-list div.listingContainer div.right div.rowInfo div.location {
				float: left;
				color: #666666;
			}

			ul#ads-list div.listingContainer div.right div.rowInfo div.displayPrice {
				float: right;
				text-align: right;
				color: #fe7702;
				font-weight: bold;
			}


@media only screen and (min-device-width: 700px) {

	ul#ads-list div.listingContainer div.left {
		width: 200px;
	}


	ul#ads-list div.listingContainer div.right {
		width: 500px;
	}

		ul#ads-list div.listingContainer div.left img{
			height: 150px;
			width: 150px;
		}

		ul#ads-list div.listingContainer div.right div.rowTitle {
			height: 110px;
		}

			ul#ads-list div.listingContainer div.right div.rowTitle h2 {
				max-height: 110px;
				font-size: 18pt;
			}

		ul#ads-list div.listingContainer div.right div.rowInfo {
			height: 40px;
		}

			ul#ads-list div.listingContainer div.right div.rowInfo div.location,
			ul#ads-list div.listingContainer div.right div.rowInfo div.displayPrice {
				font-size: 14pt;
				padding-top: 10px;
			}

}


/* Forms
---------------------------------------------------------------------- */

form.form div.ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c{
	box-shadow: none;
	border: 1px solid #e4e3e1;
	background: #f8f2f2;
	padding: 8px;
	margin-bottom: 15px;
}

	form.form input.ui-input-text.ui-body-c {
		font-size: 9pt;
		color: #666666;
	}


form.form div.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-c,
form.form div.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-c {
	box-shadow: none;
	background: #666666;
	border: 0;
	border-radius: 0;
	width: 40%;
	padding: 5px;
}

	form.form div.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-c span,
	form.form div.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-c span {
		font-size: 9pt;
		color: #ffffff;
		border: 0;
	}

a#register-link {
	border-radius: 0;
	box-shadow: none;
	background: #9e70b1;
	text-decoration: none;
	padding: 5px;
}

	a#register-link span {
		color: #ffffff;
		font-size: 9pt;
		border: 0;
	}


@media only screen and (min-device-width: 700px) {

	form.form input.ui-input-text.ui-body-c {
		font-size: 12pt;
	}

	form.form div.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-c span,
	form.form div.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-c span {
		font-size: 12pt;
	}

	a#register-link span {
		font-size: 12pt;
	}

}