<h1 class="brand"><a href="{{ '/' | link }}"><img src="{{ '/images/desktop/logo.png' | static }}" alt="OLX Logo" /></a></h1>
<form id="search" class="search-box" action="#" method="get" role="search">
	<fieldset>
		<input id="search-query" class="text-field" type="text" placeholder="¿Qué estás buscando?" tabindex="1" /><!--
		--><button id="search-submit" data-icon="q" class="cta"></button>
	</fieldset>
</form>
<a href="{{ '/posting' | link }}" class="cta posting">{{ dictionary["defaultheader2.Post"] }}</a>