<ul class="list-without-styles">
	<li><a href="{{ '/login' | link }}" rel="nofollow">{{ dictionary["loginbox.Login"] }}</a> o <a href="#" rel="nofollow">{{ dictionary["postbox.RegisterNow"] }}</a></li><!--
	--><li><a href="{{ '/myolx/myadslisting' | link }}" rel="nofollow">{{ dictionary["myolx.MyAds"] }}</a></li><!--
	--><li><a href="{{ '/myolx/favoritelisting' | link }}" rel="nofollow">{{ dictionary["myolx.MyFavorites"] }}</a></li><!--
	--><li><a href="#" rel="nofollow">{{ dictionary["myolx.Messages"] }}</a></li>
</ul>
