#itemPageGalery {
	margin: 10px 0 5px;
	text-align: center;
}
#itemPageGalery img {
	max-height: 240px;
	max-width: 100%;
}
#itemPageGalery #galeryPagination {
	margin: 0 auto;
}
#itemPageGalery #galeryPaginationLinks {
	margin: 10px 0;
	text-align: center;
}
#itemPageGalery #galeryPaginationLinks a , #itemPageGalery #galeryPaginationLinks strong {
	display: inline-block;
	width: 40px;
	color: #333333;
	border-right: 1px solid #000000;
}