#itemListing ul li {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #cccccc;
}
#itemListing ul li a {
	display: block;
	color: #333333;
}
#itemListing ul li a .imageCont {
	width: 35%;
	max-width: 150px;
	height: 90px;
	float: left;
	margin: 0 8px 0 0;
	overflow: hidden;
	border-right: 1px solid #ececec;
}
#itemListing ul li a .imageCont .imageContAlign {
	width: 35%;
	max-width: 100px;
	height: 90px;
	display: table-cell;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
}
#itemListing ul li a .imageCont .imageContAlign img {
	min-width: 100%;
	min-height: 90px;
}
#itemListing ul li a .imageCont .imageContAlign img.noPhoto {
	width: 100px;
	min-width: 100px !important;
	height: 90px;
}

#itemListing ul li .itemInfo {
	height: 90px;
	position: relative;
	overflow: hidden;
	color: #323232;
}
#itemListing ul li .itemInfo span {
	float: left;
	clear: left;
	margin: 2px 0;
	font-size: 11px;
	color: #777777;
}
#itemListing ul li .itemInfo .centerCont {
	width: 98%;
	height: 33px;
	float: left;
	clear: both;
	position: relative;
	overflow: hidden;
	margin: 3px 0;
}
#itemListing ul li .itemInfo .centerCont a p {
	height: 33px;
	display: table-cell;
	font-size: 14px;
	line-height: 17px;
	overflow: hidden;
	vertical-align: middle;
	color: #333333;
}
#itemListing ul li .itemInfo h2 {
	float: right;
	font-size: 16px;
	color: #fd7600;
	margin: 0 8px 0 0;
}
#itemListing #itemPagination {
	width: 200px;
	height: 32px;
	margin: 20px auto 0;
	font-size: 15px;
}
#itemListing #itemPagination .arrow {
	width: 34px;
	height: 33px;
	float: left;
}
#itemListing #itemPagination .arrow.leftA {
	background: url(imageUrl/images/html4/leftA.png) no-repeat;   
}
#itemListing #itemPagination .arrow.leftD {
	background: url(imageUrl/images/html4/leftD.png) no-repeat;   
}
#itemListing #itemPagination .arrow.rightA {
	background: url(imageUrl/images/html4/rightA.png) no-repeat;   
}
#itemListing #itemPagination .arrow.rightD {
	background: url(imageUrl/images/html4/rightD.png) no-repeat;   
}
#itemListing #itemPagination .center {
	width: 125px;
	height: 33px;
	float: left;
	padding: 6px 0 0 5px;
	text-align: center;
}
#itemListing #itemPagination .center a {
	width: 10px;
	float: left;
	padding: 0 6px;
	display: inline;
	vertical-align: top;
	color: #333333;
	border-right: 1px solid #000000;
}
#itemListing #itemPaginationCaption {
	width: 195px;
	margin: 0 auto 5px;
	clear: both;
	overflow: hidden;
	font-size: 13px;
}
#itemListing #itemPaginationCaption a {
	color: #aaaaaa;
}
#itemListing #itemPaginationCaption a.left {
	float: left;
}
#itemListing #itemPaginationCaption a.right {
	float: right;
}