#itemListing #itemPagination {
	width: 200px;
	height: 32px;
	margin: 20px auto 0;
	font-size: 15px;
}
#itemListing #itemPagination .arrow {
	width: 34px;
	height: 33px;
	float: left;
}
#itemListing #itemPagination .arrow.leftA {
	background: url(imageUrl/images/html4/leftA.png) no-repeat;   
}
#itemListing #itemPagination .arrow.leftD {
	background: url(imageUrl/images/html4/leftD.png) no-repeat;   
}
#itemListing #itemPagination .arrow.rightA {
	background: url(imageUrl/images/html4/rightA.png) no-repeat;   
}
#itemListing #itemPagination .arrow.rightD {
	background: url(imageUrl/images/html4/rightD.png) no-repeat;   
}
#itemListing #itemPagination .center {
	width: 125px;
	height: 33px;
	float: left;
	padding: 6px 0 0 5px;
	text-align: center;
}
#itemListing #itemPagination .center a, #itemListing #itemPagination .center strong {
	width: 10px;
	float: left;
	padding: 0 6px;
	display: inline;
	vertical-align: top;
	color: #333333;
	border-right: 1px solid #000000;
}
#itemListing #itemPaginationCaption {
	width: 195px;
	margin: 0 auto 5px;
	clear: both;
	overflow: hidden;
	font-size: 13px;
}
#itemListing #itemPaginationCaption a {
	color: #aaaaaa;
}
#itemListing #itemPaginationCaption a.left {
	float: left;
}
#itemListing #itemPaginationCaption a.right {
	float: right;
}