$lightBlack = #2d2d2d;
$black = #000;
$white = #fff;
$blue = #178cc8;
$darkBlue = #4a307c;
$violet = #4a148c;
$ligthGreen = #eeffcc;
$greenBorders = #ccdd77;
$green = #aab20a;
$ligthGrey = #efefef;
$grey = #b0b0b0;
$greyBorders = #cccccc;
$darkGrey = #333;
$yellow = #f2b520;
$red = #d51f36;
$orange = #dd8931;

$baseFont = 14px;
$xs = remify(12px);
$s = remify(14px);
$m = remify(16px);
$l = remify(20px);
$xl = remify(26px);
$xxl = remify(32px);
