footer#location {
    padding: .4rem .8rem;
    background: #EAEAEA;
}
footer#location p {
    width: 100%;
    display: inline-block;
    font-size: 1.063rem;
    color: #333;
    text-align: center;
}
footer#location p a{
    color: #1C7BD4;
    font-size: 0.6875rem;
}