#subCategories ul {
	padding: 0 16px;

}
#subCategories ul li {
	position: relative;
	border-bottom: 1px solid #CCCCCC;
}
#subCategories ul li a {
	display: block;
	padding: 8px 0;
	color: #333333;
	line-height: 24px;
	text-transform: capitalize;
}