<section id="testimonials">
    <div class="testimonials-box">
        <img src="{{ '/images/desktop/maria.jpg' | static }}" alt="maria" />
        <div class="testimony-content">
            <p class="name">María de Santa Cruz</p>
            <p class="testimony"> Vendí una bicicleta que ya no usaba, ¡lo mejor fue que no pagué comisión!</p>
        </div>
    </div>
    <div class="testimonials-box">
        <img src="{{ '/images/desktop/raul.jpg' | static }}" alt="raul" />
        <div class="testimony-content">
            <p class="name">Raúl de La Paz</p>
            <p class="testimony">¡Publiqué un celular a la mañana y al día siguiente ya lo había vendido!</p>
        </div>
    </div>
</section>
