<tr>
	<td colspan="3" align="center" style="background-color: #EEE; background-image: url({{ '/images/html4/migration/mx/gradient_260.jpg' | static }}); background-repeat: repeat-x;">
		<table width="226" border="0" cellspacing="0" cellpadding="0" height="70">
			<tr>
				<td width="155" align="center" style="background-image:url({{ '/images/html4/migration/mx/flecha_226.png' | static }}); background-repeat: no-repeat; background-position: top right; color: #FFF; vertical-align: top; font-size: 16px; font-family: Helvetica, Arial, sans-serif; padding:8px 5px 5px 5px; text-align:left;">OLX Muy pronto será<br /><a href="http://www2.segundamano.mx"><img src="{{ '/images/html4/migration/mx/logo_smmx_226.png' | static }}" width="150" style="margin-top: 7px;"></a></td>
				<td height="35" align="center" style="color: #FFF; vertical-align: middle; text-align:center;"><a href="http://www.segundamano.mx"><img src="{{ '/images/html4/migration/mx/boton_publica_226.png' | static }}"></a></td>
			</tr>
		</table>
	</td>
</tr>