<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head class="layout_head_view" data-view="layout/head">
        <title>OLX</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="OLX" />
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <style type="text/css">
            a {text-decoration: none; color:#5266ff; display: inline-block; width:110px; text-align:left; padding:0 0 0 5px; outline:none;}
            img{display: inline-block;}
            h1 {margin:0; padding: 0; font-size: 20px;}
        </style>
    </head>
    <body style="margin: 0; padding: 0; font-family: Sans-Serif;" text="#737277" link="#5266ff" vlink="#5266ff">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#c3c3c3" >
            <tr>
                <td width="30%">
                    <img border="0" align="right" style="display: block;" alt="OLX" width="26px" height="20px" src="http://images02.olx-st.com/mobile-webapp/images/closed/logoOLX.gif">
                </td>
                <td width="70%" align="left" style="padding:0 0 0 10px;">
                    <strong> Free classifields</strong>
                </td>
            </tr>
        </table>

        <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="border-bottom:1px #cccccc solid" >
            <tr>
                <td align="center">
                    <br>
                    <h1 style="color:#ff7a00; padding:0 16px;">About OLX</h1><br>
                    <strong style="color:#737277; padding:0 16px;">OLX is the world's leading classifieds platform focused in emergin markets, both mobile and online.</strong>
                    <p style="color:#737277; padding:0 16px;">OLX operates globally and has presence in more than 40 countries</p>
                </td>
            </tr>
        </table>

        <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="border-bottom:1px #cccccc solid" >
            <tr>
                <td align="center">
                    <br><br>
                    <h1 style="color:#ff7a00; padding:0 16px;">Mission</h1>
                    <img border="0" align="top" style="display: block; width:100%; margin:16px 0;" alt="olx.com.uy" src="http://images02.olx-st.com/mobile-webapp/images/closed/draw.gif">
                    <strong style="color:#737277; padding:0 16px;">We improve peoples's lives by bringing them together for win-win exchanges.</strong>
                    <br><br><br>
                </td>
            </tr>
        </table>

        <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" >
            <tr>
                <td align="center">
                    <br>
                    <h1 style="color:#ff7a00; padding:0 16px;">Presence</h1>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" >
                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#f5f5f5">
                                <img border="0" align="top" alt="olx.com.br" src="http://images02.olx-st.com/mobile-webapp/images/closed/brasil.gif">
                                <a href="http://www.olx.com.br" rel="nofollow" >Brazil</a>
                            </td>
                            <td width="5%"></td>
                        </tr>
                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#f5f5f5">
                                <img border="0" align="top" alt="olx.in" src="http://images02.olx-st.com/mobile-webapp/images/closed/india.gif">
                                <a href="http://www.olx.in" rel="nofollow" >India</a>
                            </td>
                            <td width="5%"></td>
                        </tr>
                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#f5f5f5">
                                <img border="0" align="top" alt="olx.com.ar" src="http://images02.olx-st.com/mobile-webapp/images/closed/argentina.gif">
                                <a href="http://www.olx.com.ar" rel="nofollow" >Argentina</a>
                            </td>
                            <td width="5%"></td>
                        </tr>
                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#f5f5f5">
                                <img border="0" align="top" alt="olx.com.co" src="http://images02.olx-st.com/mobile-webapp/images/closed/colombia.gif">
                                <a href="http://www.olx.com.co" rel="nofollow" >Colombia</a>
                            </td>
                            <td width="5%"></td>
                        </tr>
                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#f5f5f5">
                                <img border="0" align="top" alt="olx.co.za" src="http://images02.olx-st.com/mobile-webapp/images/closed/southafrica.gif">
                                <a href="http://www.olx.co.za" rel="nofollow" >South Africa</a>
                            </td>
                            <td width="5%"></td>
                        </tr>
                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#f5f5f5">
                                <img border="0" align="top" alt="olx.co.ke" src="http://images02.olx-st.com/mobile-webapp/images/closed/kenya.gif">
                                <a href="http://www.olx.co.ke" rel="nofollow" >Kenya</a>
                            </td>
                            <td width="5%"></td>
                        </tr>
                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#f5f5f5">
                                <img border="0" align="top" alt="olx.com.ng" src="http://images02.olx-st.com/mobile-webapp/images/closed/nigeria.gif">
                                <a href="http://www.olx.com.ng" rel="nofollow" >Nigeria</a>
                            </td>
                            <td width="5%"></td>
                        </tr>
                    </table>
                    <br>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" >
                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.bd" src="http://images02.olx-st.com/mobile-webapp/images/closed/bangladesh.gif">
                                <a href="http://www.olx.com.bd" rel="nofollow" >Bangladesh</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.bo" src="http://images02.olx-st.com/mobile-webapp/images/closed/bolivia.gif">
                                <a href="http://www.olx.com.bo" rel="nofollow" >Bolivia</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="" src="http://images02.olx-st.com/mobile-webapp/images/closed/cameroon.gif">
                                <a href="http://www.olx.cm" rel="nofollow" >Cameroon</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.cl" src="http://images02.olx-st.com/mobile-webapp/images/closed/chile.gif">
                                <a href="http://www.olx.cl" rel="nofollow" >Chile</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.co.cr" src="http://images02.olx-st.com/mobile-webapp/images/closed/costarica.gif">
                                <a href="http://www.olx.co.cr" rel="nofollow" >Costa Rica</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.ec" src="http://images02.olx-st.com/mobile-webapp/images/closed/ecuador.gif">
                                <a href="http://www.olx.com.ec" rel="nofollow" >Ecuador</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.sv" src="http://images02.olx-st.com/mobile-webapp/images/closed/elsalvador.gif">
                                <a href="http://www.olx.com.sv" rel="nofollow" >El Salvador</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.fr" src="http://images02.olx-st.com/mobile-webapp/images/closed/france.gif">
                                <a href="http://www.olx.fr" rel="nofollow" >France</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.gh" src="http://images02.olx-st.com/mobile-webapp/images/closed/ghana.gif">
                                <a href="http://www.olx.com.gh" rel="nofollow" >Ghana</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.gt" src="http://images02.olx-st.com/mobile-webapp/images/closed/guatemala.gif">
                                <a href="http://www.olx.com.gt" rel="nofollow" >Guatemala</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.hn" src="http://images02.olx-st.com/mobile-webapp/images/closed/honduras.gif">
                                <a href="http://www.olx.com.hn" rel="nofollow" >Honduras</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.it" src="http://images02.olx-st.com/mobile-webapp/images/closed/italy.gif">
                                <a href="http://www.olx.it" rel="nofollow" >Italy</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.mx" src="http://images02.olx-st.com/mobile-webapp/images/closed/mexico.gif">
                                <a href="http://www.olx.com.mx" rel="nofollow" >Mexico</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.ni" src="http://images02.olx-st.com/mobile-webapp/images/closed/nicaragua.gif">
                                <a href="http://www.olx.com.ni" rel="nofollow" >Nicaragua</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.pk" src="http://images02.olx-st.com/mobile-webapp/images/closed/pakistan.gif">
                                <a href="http://www.olx.com.pk" rel="nofollow" >Pakistan</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.pa" src="http://images02.olx-st.com/mobile-webapp/images/closed/panama.gif">
                                <a href="http://www.olx.com.pa" rel="nofollow" >Panama</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.py" src="http://images02.olx-st.com/mobile-webapp/images/closed/paraguay.gif">
                                <a href="http://www.olx.com.py" rel="nofollow" >Paraguay</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.pe" src="http://images02.olx-st.com/mobile-webapp/images/closed/peru.gif">
                                <a href="http://www.olx.com.pe" rel="nofollow" >Perú</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.sn" src="http://images02.olx-st.com/mobile-webapp/images/closed/senegal.gif">
                                <a href="http://www.olx.com.sn" rel="nofollow" >Senegal</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.es" src="http://images02.olx-st.com/mobile-webapp/images/closed/spain.gif">
                                <a href="http://www.olx.es" rel="nofollow" >Spain</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.co.tz" src="http://images02.olx-st.com/mobile-webapp/images/closed/tanzania.gif">
                                <a href="http://www.olx.co.tz" rel="nofollow" >Tanzania</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.co.ug" src="http://images02.olx-st.com/mobile-webapp/images/closed/uganda.gif">
                                <a href="http://www.olx.co.ug" rel="nofollow" >Uganda</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com" src="http://images02.olx-st.com/mobile-webapp/images/closed/unitedstates.gif">
                                <a href="http://www.olx.com" rel="nofollow" >United States</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.uy" src="http://images02.olx-st.com/mobile-webapp/images/closed/uruguay.gif">
                                <a href="http://www.olx.com.uy" rel="nofollow" >Uruguay</a>
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr>
                            <td width="5%"></td>
                            <td align="center" width="90%" style="padding:10px 0;" bgcolor="#ffffff">
                                <img border="0" align="top" alt="olx.com.ve" src="http://images02.olx-st.com/mobile-webapp/images/closed/venezuela.gif">
                                <a href="http://www.olx.com.ve" rel="nofollow" >Venezuela</a>
                            </td>
                            <td width="5%"></td>
                        </tr>
                    </table>
                    <br>
                </td>
            </tr>
        </table>

        <table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#c3c3c3">
            <tr>
                <td align="center">
                    <small style="display: block; color:#000000;">&copy; 2006-2014 OLX, Inc.</small>
                </td>
            </tr>
        </table>
    </body>
</html>
