<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>OLX</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="margin: 0; padding: 0; font-family: Sans-Serif;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#0075BD" style="border-bottom: solid thin #999999;">
            <tr>
                <td align="center">
                    <img border="0" align="top" alt="OLX" src="http://images02.olx-st.com/mobile-webapp/images/wap/olxHeader.gif">
                </td>
            </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="20" border="0" bgcolor="#FFFFFF">
            <tr>
                <td style="text-align: justify;">
                    <strong><font color="#7B278F">We're sorry.</font></strong>
                    <small><font color="#CCCCCC">Our site is temporarily undergoing routine maintenance. Please check back soon.</font></small>
                    <strong><font color="#FF8C10">Disculpa.</font></strong>
                    <small><font color="#CCCCCC">Estamos trabajando para mejorar el sitio. Vuelve a intentarlo en unos minutos.</font></small>
                    <strong><font color="#A5C600">Nous sommes d&#233;sol&#233;s.</font></strong>
                    <small><font color="#CCCCCC">Nous sommes en train d&#8217;am&#233;liorer le site. Essayez plus tard.</font></small>
                    <strong><font color="#00BAFF">Desculpe.</font></strong>
                    <small><font color="#CCCCCC">Estamos melhorando o site. Tente novamente mais tarde.</font></small>
                    <strong><font color="#DB3939">Ci dispiace.</font></strong>
                    <small><font color="#CCCCCC">Stiamo lavorando per migliorare il sito. Ritenta piu&#8217; tardi.</font></small>
                    <strong><font color="#FFC600">&#1048;&#1079;&#1074;&#1080;&#1085;&#1080;&#1090;&#1077;.</font></strong>
                    <small><font color="#CCCCCC">&#1053;&#1072; &#1085;&#1072;&#1096;&#1077;&#1084; &#1089;&#1072;&#1081;&#1090;&#1077; &#1074;&#1088;&#1077;&#1084;&#1077;&#1085;&#1085;&#1086; &#1087;&#1088;&#1086;&#1093;&#1086;&#1076;&#1103;&#1090; &#1087;&#1083;&#1072;&#1085;&#1086;&#1074;&#1099;&#1077; &#1090;&#1077;&#1093;&#1085;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1088;&#1072;&#1073;&#1086;&#1090;&#1099;. &#1055;&#1086;&#1078;&#1072;&#1083;&#1091;&#1081;&#1089;&#1090;&#1072;, &#1087;&#1086;&#1087;&#1088;&#1086;&#1073;&#1091;&#1081;&#1090;&#1077; &#1079;&#1072;&#1081;&#1090;&#1080; &#1087;&#1086;&#1079;&#1078;&#1077;.</font></small>
                </td>
            </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="10" border="0" bgcolor="#FFFFFF">
            <tr>
                <td align="center" style="border-top: solid thin #999999;">
                    <small style="display: block;"><font color="#CCCCCC">&copy; 2006-2014 OLX, Inc.</font></small>
                </td>
            </tr>
        </table>
    </body>
</html>
