<li class="callToAction">
    <a href="{{ shop.items[0] | slugToUrl | link({from: 'listing-shop-item'}) }}">
        <div class="imageCont" style="background-image: url({{ shop.items[0].image if shop.items[0].image else ('/images/html4/noPhoto.png' | static) }});"></div>
    </a>
    <div class="itemInfo">
        <p class="itemPrice">{{ shop.items[0].price }}</p>
        <span>{{ shop.items[0].date.since.day if shop.items[0].date.since.day }} {{ dictionary[shop.items[0].date.since.dictionary] }}{{ (', ' + shop.items[0].date.since.hour) if shop.items[0].date.since.hour }}</span>
        <span>{{ shop.address | truncate( 60, True) }}</span>
        <div class="centerCont">
            <a href="#">
                <h2>{{ shop.items[0].title | truncate( 20, True) }}</h2>
            </a>
        </div>
    </div>
    <div class="buttons">
        <span class="name">{{ shop.name | truncate( 40, True) }}</span>
        <ul>
            <li><a class="phone" href="{{ shop.items[0] | slugToUrl | link({from: 'listing-shop-item-call'}) }}">phone</a></li>
            <li><a class="mail" href="{{ shop.items[0] | slugToUrl | link({from: 'listing-shop-item-email'}) }}">mail</a></li>
            <li><a class="sms" href="{{ shop.items[0] | slugToUrl | link({from: 'listing-shop-item-sms'}) }}">sms</a></li>
        </ul>
    </div>
</li>