<li>
    <a href="{{ shop.items[0] | slugToUrl | link({shops_experiment_from: 'listing-shop-item-image'}) | link({shopId: shop.id}) }}">
        <div class="imageCont" style="background-image: url({{ shop.items[0].image if shop.items[0].image else ('/images/html4/noPhoto.png' | static) }});"></div>
    </a>
    <div class="itemInfo">
        <p class="itemPrice">{{ shop.items[0].price }}</p>
        <span>{{ shop.items[0].date.since.day if shop.items[0].date.since.day }} {{ dictionary[shop.items[0].date.since.dictionary] }}{{ (', ' + shop.items[0].date.since.hour) if shop.items[0].date.since.hour }}</span>
        <div class="centerCont">
            <a href="{{ shop.items[0] | slugToUrl | link({shops_experiment_from: 'listing-shop-item-title'}) | link({shopId: shop.id}) }}">
                <h2>{{ shop.items[0].title }}</h2>
            </a>
        </div>
        <span>{{ shop.items[0].location }}</span>
    </div>
</li>