{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, item.title ) }}
<div id="itemPageGalery">
    {% if item.status.visible %}
        {% if item.images.length == 1 %}
            <img alt="" src="{{item.images[0].url }}">
        {% else %}
            <img alt="" src="{{item.images[pos].url }}">
            <div id="galeryPagination">
                <a href="{{ ([item | slugToUrl, '/gallery?pos=', pos - 1] | join('') | link) if pos != 0 else '#' }}" class="arrow {{ "leftD" if pos == 0 else "leftA" }}"></a>
                <div class="center"><strong>{{ pos + 1 }}/{{ item.images.length }}</strong></div>
                <a href="{{ ([item | slugToUrl, '/gallery?pos=', pos + 1] | join('') | link) if pos + 1 != item.images.length else '#' }}" class="arrow {{ "rightD" if pos + 1 == item.images.length else "rightA" }}"></a>
            </div>
        {% endif %}
        </div>
    {% else %}
        <div id="itemDisable">{{ dictionary[item.ThisAdIsNoLongerAvailable] }}</div>
    {% endif %}

    {% set templateName = template + '/partials/tracking.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
