{% view 'locations/select' %}
{% view 'partials/search' %}
{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, subcategory.trName) }}
<div id="itemListing">
    {% if meta.total == 0 %}
        <div class="emtyList">
            <div></div>
            <p>
                {% if location.current.name %}
                    {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>', '<strong>' + category.trName + ', ' + subcategory.trName + '</strong>') | replace('<<REGION>>',location.current.name)}}
                {% else %}
                    {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>', '<strong>' + category.trName + ', ' + subcategory.trName + '</strong>') | replace('<<REGION>>',location.name)}}
                {% endif %}
            </p>
            <a class="btns orange" href="{{ '/' | link }}" >{{ dictionary["registrationconfirmsuccesstext.Browse"] | replace('<<BRAND>>','OLX') }}</a>
        </div>
    {% else %}
        <ul class="itemListing">
            {% for item in items %}
                <li>
                    <a href="{{ item | slugToUrl | link }}">
                        <div class="imageCont" style="background-image: url({{ item.thumbnail if item.thumbnail else ('/images/html4/noPhoto.png' | static) }});"></div>
                    </a>
                    <div class="itemInfo">
                        <p class="itemPrice">{{ item.price.displayPrice }}</p>
                        <span>{{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }}</span>
                        <div class="centerCont">
                            <a href="{{ item | slugToUrl | link }}">
                                <h2>{{ item.title }}</h2>
                            </a>
                        </div>
                        <span>{{ item.displayLocation }}</span>
                    </div>
                </li>
                {% if shops.length %}
                    {% if loop.index0 and loop.index0 % 4 == 0 %}
                        {% set shop = shops[pos] %}
                        {% set pos = loop.index0 / 4 %}
                        {{ loop.index0 }}
                        {% if shop %}
                            <li class="adLikeStore">
                                <a href="#">
                                    <div class="flag" style="background-image: url({{ ('/images/html4/stores/storeFlag.png' | static) }});"></div>
                                    <div class="imageCont" style="background-image: url({{ shop.image if shop.image else ('/images/html4/noPhoto.png' | static) }});"></div>
                                    <div class="itemInfo">
                                        <div class="centerCont">
                                            <h2>{{ shop.name }}</h2>
                                        </div>
                                        <span>{{ shop.address }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        {% if paginator and paginator.isEnabled() %}
            {% include (template + '/items/pagination.html') %}
        {% endif %}
    {% endif %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}

{% view 'partials/tracking' %}
