{% from macros import Breadcrumb, BreadcrumbHome, Errors, FieldText, FieldTextArea %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["contactseller_form.ReplyToListing"]) }}
{% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
<div id="reply">
    <form action="{{ ['/items/', item.id, '/reply'] | join('') | link }}" method="POST" enctype="multipart/form-data">
        <a style="display: block;" tabindex="1" href="{{ item | slugToUrl | link }}">
            <h4>{{ item.title }}</h4>
        </a>
        <div class="formField">
            <label>{{ dictionary["contactseller_form.55"] }} {{ item.contactName if item.contactName else "anonymous" }}</label>
        </div>

        {% for field in fields %}
            {% if  field.name == 'message' %}
                {{ FieldTextArea(dictionary[field.label], field.name, field.mandatory, form) }}
            {% else %}
                {{ FieldText(dictionary[field.label], field.name, field.mandatory, form, user) }}
            {% endif %}
        {% endfor %}

        <div class="formField">
            <small>* {{ dictionary["wap_posting_step4.mandatoryField"] }}</small>
        </div>
        <div class="formActions">
            <div class="btn-adjust btnOrange btnForm">
                <input type="submit" value="{{ dictionary["contactseller_form.60"] }}" name="submit" class="btns orange" data-qa="reply-send-button" >
            </div>
        </div>


        <br>
    </form>
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}

{% view 'partials/tracking' %}
