{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["itemslisting.ContactSeller"]) }}

    <div class="safetytips-content">
        <div class="itemInfo">
            {% if item.images.length == 0 %}
                <span>({{ dictionary["itemgeneraldetails.NoPicture"] }})</span>
            {% else %}
                <img class="img-thumbnail" alt="" src="{{item.images[0].thumbnail }}">
            {% endif %}
            <div class="itemPrice">
                <span class="price">{{ item.price.displayPrice }}</span>
                <span>{{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }}</span>
                <p class="title">{{ item.title }}</p>
                <span>{{ item.displayLocation }}</span>
            </div>
        </div>
    <div class="contact-info">
        <p>Contact the seller now:</p>
        <p><strong>{{item.contactName}}</strong></p>
        {% if item.intent == 'call' %}
                <div class="phone-number">
                    <img alt="" src="{{ "/images/html4/phone.png" | static }}" /><span>{{ item.phone }}</span>
                </div>
            {% if isSafetyTipsEnabled and device.uriSchemeTel %}

                <a href="tel:{{ item.phone }}" class="btns orange">{{ dictionary["misc.Call"] }}</a>
            {% endif %}
        {% elif item.intent == 'sms' %}
            <div class="phone-number">
                <img alt="" src="{{ "/images/html4/phone.png" | static }}" /><span>{{ item.phone }}</span>
            </div>
            {% if device.uriSchemeSms %}
                <a href="sms:{{ item.phone }}" class="btns orange">{{ dictionary["itempagepostcomment.Sms"] }}</a>
            {% endif %}
        {% elif item.intent == 'email' %}
            <a href="{{ ['/iid-', item.id, '/reply'] | join('') | link }}" class="btns orange email" data-qa="reply-button" >{{ dictionary["register_mail.Email"] }}</a>
        {% endif %}
    </div>

    <div class="tips">
        <p><strong>Safety Tips for buyers</strong></p>
        <ul>
            <li>Try to meeting in a safe place and public.</li>
            <li>Review the product before you buy it.</li>
            <li>Pay only after receiving the product.</li>
        </ul>
    </div>

    </div>

{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
{% view 'partials/tracking' %}

