{% view 'locations/select' %}
{% view 'partials/search' %}
{% set s = 's' %}
{% if meta.total == 1 %}
    {% set s = '' %}
{% endif %}
{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["listingpageitemslisting.ResultsForNew4"] | replace('<<KEYWORD>>' , search) | replace('<<NUMBER>>' , meta.total)) }}
<div id="itemListing">
    {% if meta.total == 0 %}
        <div class="emtyList">
            <div></div>
            <p>{{ dictionary["misc.NoResults"] }}</p>
            <a class="btns orange" href="{{ '/' | link }}" >{{ dictionary["registrationconfirmsuccesstext.Browse"] | replace('<<BRAND>>','OLX') }}</a>
        </div>
    {% else %}
        <ul class="itemListing">
            {% for item in items %}
                <li>
                    <a href="{{ item | slugToUrl | link }}" data-qa="list-item">
                        <div class="imageCont" style="background-image: url({{ item.thumbnail if item.thumbnail else ('/images/html4/noPhoto.png' | static) }});"></div>
                    </a>
                    <div class="itemInfo">
                        <p class="itemPrice">{{ item.price.displayPrice }}</p>
                        <span>{{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }}</span>
                        <div class="centerCont">
                            <a href="{{ item | slugToUrl | link }}">
                                <h2>{{ item.title }}</h2>
                            </a>
                        </div>
                        <span>{{ item.displayLocation }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if meta.next or meta.previous %}
            <div id="itemPagination">
                <a href="{{ (meta.previous | link) if meta.previous else '#' }}" class="arrow {{ "leftA" if meta.previous else "leftD" }}"></a>
                <div class="center">
                    {{ meta | pagination }}
                </div>
                <a href="{{ (meta.next | link) if meta.next else '#' }}" class="arrow {{ "rightA" if meta.next else "rightD" }}"></a>
            </div>
            <div id="itemPaginationCaption">&#160;</div>
        {% endif %}
    {% endif %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}

{% view 'partials/tracking' %}
