{% if sellerProfileEnabled %}

    {% if item.contactName %}
        <h4>{{ item.contactName }}</h4>
    {% elif item.user.username %}
        <h4>{{ item.user.username }}</h4>
    {% endif %}

    {% if(item.user) %}
        <p>
            Registered OLX user since <time>{{ dictionary[item.date.since.dictionary] }} {{ item.date.since.day if item.date.year }}</time>
        </p>
    {% endif %}
    <p>Posted 15 ads</p>

    <p>{{ (item.location.neighborhoodName + ', ') if item.location.neighborhoodName  }}{{ item.location.cityName }}, {{ item.location.stateName }}</p>
{% endif %}