{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, item.category.name) }}
<div id="itemPage">
    
    <h1>{{ item.title }}</h1>
    {% if item.isFavorite %}
        <form action="{{ ['/items/', item.id, '/favorite/delete'] | join('') | link }}" >
            <input type="submit" value="{{dictionary["mobilepromo.RemoveFromFavorites"]}}" class="favorite favoriteOn" />
        </form>
    {% elif user %}
        <form action="{{ ['/items/', item.id, '/favorite'] | join('') | link }}" >
            <input type="submit" value="{{dictionary["itemgeneraldetails.addFavorites"]}}" class="favorite favoriteOff" />
        </form>
    {% else %}
        <form action="{{ '/login' | link }}">
            {% if siteLocation and siteLocation.indexOf('www.') != 0 %}
                <input type="hidden" name="location" value="{{ siteLocation }}">
            {% endif %}
            <input type="hidden" name="redirect" value="{{ ['/items/', item.id, '/favorite'] | join('') | link }}">
            <input type="submit" value="{{dictionary["itemgeneraldetails.addFavorites"]}}" class="favorite favoriteOff" />
        </form>
    {% endif %}
    <h2>{{ item.price.displayPrice if item.price.displayPrice else "" }}</h2>
    <span>{{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', ' + item.date.since.hour) if item.date.since.hour }} {{ (', '+item.location.cityName) if item.location.cityName }}</span>
    <div id="itemPhotos">
        {% if item.images.length == 0 %}
            <span>({{ dictionary["itemgeneraldetails.NoPicture"] }})</span>
        {% elif item.images.length == 1 %}
            <a href="{{ [item | slugToUrl, '/gallery'] | join('') | link }}">
                <div class="arrow"></div>
                <img alt="" src="{{item.images[0].url }}">
            </a>
        {% else %}
            <a href="{{ [item | slugToUrl, '/gallery?pos='+pos] | join('') | link }}">
                <div class="arrow"></div>
                <img alt="" src="{{item.images[pos].url }}">
            </a>
            <div id="galeryPagination">
                <a href="{{ ([item | slugToUrl, '?pos=', pos - 1] | join('') | link) if pos != 0 else '#' }}" class="arrow {{ "leftD" if pos == 0 else "leftA" }}"></a>
                <div class="center"><strong>{{ pos + 1 }}/{{ item.images.length }}</strong></div>
                <a href="{{ ([item | slugToUrl, '?pos=', pos + 1] | join('') | link) if pos + 1 != item.images.length else '#' }}" class="arrow {{ "rightD" if pos + 1 == item.images.length else "rightA" }}"></a>
            </div>
        {% endif %}
    </div>

    <h3>{{ dictionary["itemgeneraldetails.User"] }}: {{ item.contactName if item.contactName else dictionary["messages_item_page.57"] }}</h3>
    
    {% if item.status.label == 'ready' %}
        <div id="centerBtns">
            {% if item.phone %}
                {% if device.uriSchemeTel %}
                    <a href="tel:{{ item.phone }}" class="btns orange">{{ dictionary["misc.Call"] }}</a>
                {% endif %}
                {% if device.uriSchemeSms %}
                    <a href="sms:{{ item.phone }}" class="btns orange">{{ dictionary["itempagepostcomment.Sms"] }}</a>
                {% endif %}
            {% endif %}
            {% if item.email %}
                <a href="{{ ['/iid-', item.id, '/reply'] | join('') | link }}" class="btns orange">{{ dictionary["register_mail.Email"] }}</a>
            {% endif %}
        </div>
        {% if item.phone %}
            <div id="phone">
                <img alt="" src="{{ "/images/html4/phone.png" | static }}">
                <span>{{ item.phone }}</span>
            </div>
        {% endif %}
    {% endif %}
    
    <div class="line"></div>
    <ul>
        {% if item.optionals %}
            {% for optional in item.optionals %}
                {% if optional.label and optional.value %}
                    <li><strong>{{ optional.label }}: </strong>{{ optional.value }}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if item.coordinates %}
            <li><strong>{{ dictionary["business_directory.Map"] }}: </strong><a href="{{ [item | slugToUrl, '/map'] | join('') | link }}">{{ dictionary["item.ViewBiggerMap"] }}</a></li>
        {% endif %}
    </ul>

    <h3>{{ dictionary["itemgeneraldetails.Description"] }}</h3>

    <p>{{ item.descriptionReplace }}</p>
    {% if relatedItems.length %}
        <div class="line"></div>

        <div id="centerBtns">
            <a href="{{ relatedAdsLink | link }}" class="btns grey">{{ dictionary["itemgeneraldetails.OtherRelatedListings"] | replace(':','')}}</a>
        </div>
    {% endif %}

    {% set templateName = template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
