{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["contactseller_form.ReplyToListing"]) }}
<div id="itemPage" data-qa="reply-message-sent" >
    {% if item.status.visible %}
        <div>{{ item.title }}</div>
        </br>
        <h1>{{ dictionary["item.YourMessageHasBeenSent"] }}</h1>
    {% else %}
        <h1>{{ dictionary["item.ThisAdIsNoLongerAvailable"] }}</h1>
    {% endif %}

    {% set templateName = template + '/partials/tracking.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
