{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, item.category.name) }}
<div id="itemPage">
<div id="itemDisable">
	{{ dictionary["item.AdNotAvailable"] | replace ('<<AD_TITLE>>', '<strong>' + item.title + '</strong>') }}
	<br />
	{% if subcategory.slug %}
		{{ dictionary["item.SeeMoreAds"] | replace ('<<LINK_TO_CATEGORY>>', '<a href="' + (subcategory | slugToUrl | link) + '">' + subcategory.trName + '</a>') }}
	{% elif category.slug %}
		{{ dictionary["item.SeeMoreAds"] | replace ('<<LINK_TO_CATEGORY>>', '<a href="' + (category | slugToUrl | link) + '">' + category.trName + '</a>') }}
	{% else %}
		{{ dictionary["item.SeeMoreAds"] | replace ('<<LINK_TO_CATEGORY>>', '<a href="' + ('/' | link) + '">' + dictionary["defaultfooter.Back"] + '</a>') }}
	{% endif %}
	{% set templateName = template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
