section#posting {
	padding: 0.9375rem;
}

.changeCat {
	overflow: hidden;
	padding: .5rem 1rem;
	margin: 0 0 .5rem;
	background: #eaeaea;
	font-weight: bold;
	color: #333;
	font-size: 1rem;
}

.changeCat a {
	color: #4275BA;
	font-weight: normal;
	text-decoration: none;
}

section#posting > form > h4 {
	border-top: 1px solid #CCCCCC;
}

form.error input.error, form.error textarea.error {
    border-color: red;
}

form.error small.error {
    color: red;
}
