section#selectSubCat ul {
	padding: 0.9375rem;
	list-style: none;
}
section#selectSubCat ul li {
	border-bottom: 1px solid #ccc;
}
section#selectSubCat ul li:last-child {
	border: none;
}
section#selectSubCat ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: #333;
	font-size: 1rem;
}