{{#if blackBar.show}}
    <div class="env">You are now in <strong>{{blackBar.env}} ({{blackBar.platform}} v. {{blackBar.build_version}} :: {{blackBar.static_version}})</strong> environment.</div>
{{/if}}
<header>
    <div id="headerContent">
        <a href="/"><div class="olxLogo"></div></a>
        <nav>
            <ul id="userMenu">
                <li>
                    <a class="userMenuItem" href="/login">Ingresar</a> o <a class="userMenuItem" href="/registration">Registrarte</a>
                </li>
            </ul>
        </nav>
    </div>
</header>