@font-face {
    font-family: 'olx-icon-font';
    src: url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.eot');
    src: url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.eot?#iefix') format('embedded-opentype'),
         url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.woff') format('woff'),
         url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.ttf') format('truetype'),
         url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.svg#olx-icon-fontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}