<h1>{{location.name}}{% if location.city %} > {{location.city.name}}{% endif %}</h1>

<form action="/location">
    <input type="text" name="search"><button type="submit">Search</button>
    <small>Type a city</small>
</form>

<h3>{% if search %}Results{% else %}Popular Cities{% endif %}</h3>

<div class="row-fluid font-format">
    <div class="span6 celd-format" >
        <section style="padding-bottom:0px;">
            <div id='cities.models'>
                <ul>
                    {% for city in cities %}
                        <li>
                            <a href="/?cityId={{id}}" class="city" style="color:black;">{{city.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</div>