<div id="header">
    <span><a href="{{ '/' | link }}">{{ location.url | replace('www.', '') }}</a></span>
    <ul>
        <li>
            <esi:choose>
                <esi:when test="$(user_loggedin)=='true'">
                    <a class="user loggedIn" href="{{ '/myolx' | link }}" title="{{ dictionary['homeheader.My OLX'] }}" data-qa="my-olx-loggedIn" >{{ dictionary['homeheader.My OLX'] }}</a>
                </esi:when>
                <esi:otherwise>
                    <a class="user loggedOut" href="{{ '/login' | link }}" title="{{ dictionary['homeheader.Sign_In'] }}" data-qa="my-olx-loggedOut" >{{ dictionary['homeheader.Sign_In'] }}</a>
                </esi:otherwise>
            </esi:choose>
        </li>
        {% if postButton %}
            <li>
                <esi:choose>
                    <esi:when test="$exists($(QUERY_STRING{'location'}))">
                        <a class="post" href="{{ ['/posting', postLink] | join('') | link }}" title="{{ dictionary["misc.Sell_Post_Mobile_India"] }}">{{ dictionary["misc.Sell_Post_Mobile_India"] }}</a>
                    </esi:when>
                    <esi:otherwise>
                        <a class="post" href="{{ '/location?target=posting' | link }}" title="{{ dictionary["misc.Sell_Post_Mobile_India"] }}">{{ dictionary["misc.Sell_Post_Mobile_India"] }}</a>
                    </esi:otherwise>
                </esi:choose>
            </li>
        {% endif %}
    </ul>
</div>
