.home_view {

	width: 100% !important;

	.search {

		width:980px;
		margin: auto;

		.search-title {

			width: 80%;
			margin: auto;
			padding-bottom: .25em;
			font-weight: normal;
			font-size: $xl;
			color: #999;

		}

		.search-form {

			width: 80%;
			margin: auto;
			padding: 3px;
			border: solid thin #AB0;
			border-radius: 3px;

		}

		.search-term {



		}

		.search-location {



		}

		.search-button {



		}

	}

	.categories {

		padding: 2em 0;
		background-color: #CCC;

		.categories-title {

			width: 600px;
			margin: auto;
			padding: 0 0 .25em;
			border-bottom: solid thin #999;
			font-weight: normal;
			font-size: $l;
			color: #999;

		}

		.categories-list {

			width: 600px;
			margin: auto;
			padding: 1em 0 0;
			list-style: none;

		}

		.category-item {

			display: inline-block;
			width: 50%;
			box-sizing: border-box;
			padding: 1em 1em 0 0;

		}

		.category-link {

			color: #999;

		}

	}

}