<div class="country-area {{ countryMapClass }}">
    <a href="{{ 'nf/all-results' | link }}" data-increment-metric="dgd.home.map">
        <img src="{{ ('/images/desktop/home_maps/' + location.abbreviation | lower + '.gif') | static }}" alt="Mapa de {{ location.name }}" />
    </a>
    <div class="content-description">
        <h2 class="title">{{ dictionary["misc.BuyWhatYouWant"] }}</h2>
        <p class="cities-title icons icon-pin">{{ dictionary["misc.FindAdsCity"] }}</p>
        <ul class="list-cities">
            {% for city in topCities %}
                {% if loop.index <= maxTopCities %}
                    <li>
                        <a title="{{ city.anchor }}" href="{{ '/nf/all-results' | link({location: city.url}) }}" data-location="{{ city.url }}" data-increment-metric="dgd.home.topcity" data-increment-options="{'async':false}" >{{ city.anchor }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                <a class="open-modal" title="{{ dictionary["misc.OtherPlaces_EM"] }}" data-modal="location-modal" href="#" data-qa="other-places-link">{{ dictionary["misc.OtherPlaces_EM"] }}</a>
            </li>
        </ul>
    </div>
</div>
{% view 'modals/location' %}
