<h1>Post a new item</h1>
<h2>Build your post in 3 steps</h2>
<h3>Seller Information</h3>
<form>
	<label for=contact-name>Contact Name:</label>
	<input id="contact-name" type="text" autofocus style="background-color:red" />
	</br>
	<label for=contact-name>Email:</label>
	<input id="email" type="email" style="background-color:red" />
	</br>
	<label for=contact-name>Phone Number:</label>
	<input id="email" type="email" style="background-color:red" />
	</br>
	<label for=contact-name>Location:</label>
	<input id="email" type="email" style="background-color:red" />
	</br>
	<label for=contact-name>Ad address:</label>
	<input id="email" type="email" style="background-color:red" />
	</br>
	
	<input id="post-item" type="button" value="Post" style="color:black"/>
	<input id="save-button" type="button" value="Save" style="color:black"/>
	<input id="back-p2-button" type="button" value="Back" style="color:black" data-destiny="1"/>
</form>