{% extends (template + '/modals/modal.html') %}

{% block id %}edit-featuread-modal{% endblock %}

{% block title %}
    <span class="modal-title">{{ dictionary["crm_new_version.EditFeaturedAd"] }}</span>
{% endblock %}

{% block content %}
    <div id="edit-feature-ad">
        <p>
            {{ dictionary["crm_new_version.RemainingTime"] }} <b class="feature-ad-time"></b>
        </p>
        {{ dictionary["crm_new_version.EditFeaturedAd-Procedure"] }}
        <p>
            {{ dictionary["crm_new_version.Continue"] }}
        </p>
        <a href="#" class="btn icons icon-edit btnedit-modal">{{ dictionary["crm_new_version.EditAnyway"] }}</a>
        <span class="btn-cancel" rel="nofollow" data-modal-close="close">{{ dictionary["wap_posting_step4.Cancel"] }}</span>
    </div>
{% endblock %}
