{% extends (template + '/modals/modal.html') %}

{% block id %}featuread-modal{% endblock %}

{% block title %}
    <span class="modal-title">{{ dictionary["itemslisting.FeatureYourAd"] }}</span>
{% endblock %}

{% block content %}
    <div id="feature-ad">
        <h2>
            {{ dictionary["featured_listings.FeatureYourListingForUp20TimesVisibility"] | replace('<<LINK_FEATURED_LISTINGS>>', '<span>') | replace('<</LINK_FEATURED_LISTINGS>>', '</span>') }}
            <small>
                <a href="{{ '/featured_listings' | link }}" target="_blank">Como posso colocar os meus anúncios em destaque?</a>
            </small>
        </h2>
        <div class="inner" style="margin:0">
            <div id="form-feature">
                <h5>{{ dictionary["itemslisting.FeatureOnlinePayment"] }}</h5>
                <div class="feat_block_disabled ">
                    <p class="feat_block_left">
                        <input type="checkbox" name="featured_0" id="f-hp" value="10" disabled="">
                        <label for="f-lp">{{ dictionary["featured_listings.TopListingsAndSearchResults"] }}</label>
                        <br>
                        {{ dictionary["featured_listings.UnableToFeature_NoImages"] }}
                    </p>
                    <div class="feat_price" display="'show:none;'">
                        <a class="olx-ui-button button-pending-ad" href="{{ ['/myolx/edititem?editid=', item.id, '&sk=', sk] | join('') | link }}">{{ dictionary["edititem_submitbutton.EditIt"] }}</a>
                    </div>
                </div>
                <div id="featureFormSubmit">
                    <input id="featureFormSubmitButton" type="button" class="olx-ui-button disabled" disabled="disabled" value='{{ dictionary["itemslisting.FeatureYourAd"] }}'>
                </div>
            </div>
        </div>
        <div class="footnote2">
            <p class="termsOfService">
                {{ dictionary["featured_listings.OffensivePornographicSpamAdsWillNotBeFeaturedOrReimbursed"] }}
                <a target="_blank" href="{{ '/featured_listings' | link }}">
                    {{ dictionary["featured_listings.ClickHereToReadOurTermsOfService"] }}
                </a>
            </p>
        </div>
    </div>
{% endblock %}
