{% extends (template + '/modals/modal.html') %}

{% block id %}featuread-modal{% endblock %}

{% block title %}
    <span class="modal-title">{{ dictionary["itemslisting.FeatureYourAd"] }}</span>
{% endblock %}

{% block content %}
    <div id="feature-ad">
        <h2>
            {{ dictionary["featured_listings.FeatureYourListingForUp20TimesVisibility"] | replace('<<LINK_FEATURED_LISTINGS>>', '<span>') | replace('<</LINK_FEATURED_LISTINGS>>', '</span>') }}
            <small>
                <a href="{{ '/featured_listings' | link }}" target="_blank">{{ dictionary["featured_listings.HowDoIFeatureMyAd"] }}</a>
            </small>
        </h2>
        <div class="feature-ad-form">
            <h5>{{ dictionary["itemslisting.FeatureOnlinePayment"] }}</h5>
            {% if item.featured.has('errors') and item.featured.get('errors').length != 0 %}
                <div class="feature-ad-errors">
                    {% for error in item.featured.get('errors') %}
                        <span class="fad-error">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="feature-ad-details">
                {% for section in item.featured.get('sections') %}
                <div class="fad-content">
                    <p class="fad-section-{{ section.sectionId }}-form">
                        <input type="checkbox" name="fad-section-{{ section.sectionId }}-check" id="fad-section-{{ section.sectionId }}-check" value="{{ section.sectionId }}" class="fad-check" {% if section.enabled %}data-id="{{ section.sectionId }}" data-payment="{{ section.paymentProviderId }}" data-concept="{{ section.conceptId }}" data-item="{{ item.id }}"{% else %}disabled=""{% endif %}>
                        <label for="fad-section-{{ section.sectionId }}-check">
                            {% if section.sectionId == '4' %}
                                {{ dictionary["featured_listings_emails.HomePage"] }}
                            {% elif section.sectionId == '3' %}
                                {{ dictionary["featured_listings.TopListingsAndSearchResults"] }}
                            {% endif %}
                        </label>

                        {% if section.enabled and section.weeks %}
                            <select id="fad-section-{{ section.sectionId }}-weeks" name="fad-section-{{ section.sectionId }}-weeks">
                                {% for week in (1 | rangeToArray(section.weeks)) %}
                                    <option value="{{ week }}">
                                        {{ week }}
                                        {% if week == 1 %}
                                            {{ dictionary["messages_date_format.week"] }}
                                        {% else %}
                                            {{ dictionary["messages_date_format.WEEKS"] }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </p>
                    {% if section.enabled %}
                        <p class="fad-section-{{ section.sectionId }}-price">
                            <span>{{ section.price.displayPrice }}</span>
                            <small>{{ dictionary["itemslisting.PerWeek"] }}</small>
                        </p>
                    {% else %}
                        {% if section.errors and section.errors.length != 0 %}
                            <p class="fad-section-{{ section.sectionId }}-errors">
                                {% for error in section.errors %}
                                    <span class="fad-error">{{ error }}</span>
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
                {% if not item.images or item.images.length == 0 %}
                    <div class="fad-message">
                        {% if not item.has('price') or item.price.amount == 0 %}
                            {{ dictionary["featured_listings.UnableToFeature_NoImages_NoPrice"] }}
                        {% else %}
                            {{ dictionary["featured_listings.UnableToFeature_NoImages"] }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="fad-submit">
                <div class="feature-ad-terms">
                    {{ dictionary["terms.BeforeSubmitting"] | replace('<<LINK_TERMS_USE>>', (['<a target="_blank" href="', ('/featured_listings' | link), '" data-pass-thru="true" >'] | join(''))) | replace('<</LINK_TERMS_USE>>', '</a>') }}
                </div>
                <input id="fad-submit" type="button" value='{{ dictionary["itemslisting.FeatureYourAd"] }}' {# if not someSectionEnabled %}disabled=""{% endif #} >
                <div class="fad-edit">
                    <a href="{{ ['/myolx/edititem?editid=', item.id, '&sk=', sk] | join('') | link }}">{{ dictionary["edititem_submitbutton.EditIt"] }}</a>
                </div>
            </div>
            <p class="fad-error hide">
                {{ dictionary["postingerror.PleaseSelectAtLeastOneOption"] }}
            </p>
        </div>
    </div>
{% endblock %}
