{% extends (template + '/modals/modal.html') %}

{% block id %}image-modal{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    {% if item.images.length > 1 %}
        <span class="icons icon-arrow-left arrow-prev"></span>
        <span class="icons icon-arrow-right arrow-next"></span>
    {% endif %}
    <figure class="image-viewer" >
        <img src="{{ item.images[0].url }}" alt="{{ item.title }}" class="item-image" data-gallery-image />
    </figure>
    <footer class="modal-footer">
        <span class="item-title">{{ item.title }}</span>
        {% if item.images.length > 1 %}
            <div class="thumbnail-wrapper">
                {% for image in item.images %}
                    <figure class="thumbnail" data-gallery-thumb="{{ loop.index }}" >
                        <img src="{{ image.thumbnail }}" data-image="{{ image.url }}" alt="{{ item.title }}" class="item-image" >
                    </figure>
                {% endfor %}
            </div>
        {% endif %}
    </footer>
{% endblock %}
