{% extends (template + '/modals/modal.html') %}

{% block id %}location-modal{% endblock %}

{% block title %}
    <span class="modal-title">Selecciona tu ciudad o provincia en Bolivia</span>
{% endblock %}


{% block content %}
    <div class="location-content">
        <a href="#" rel="nofollow">Elige Todo El País</a>

            <div class="column">
                <h4>Ciudades populares</h4>
                <ul class="modal-cities">
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Otras Ciudades</a></li>
                </ul>
            </div>
            <div class="column">
                <h4>Estados populares</h4>
                <ul class="modal-cities">
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Otros departamentos</a></li>
                </ul>
            </div>

    </div>
{% endblock %}


