{% extends (template + '/modals/modal.html') %}

{% block content %}
    <div id="location-content">
        <a href="#">Elige Todo El País</a>
        <div class="container-columns">
            <div class="column">
                <h4>Ciudades populares</h4>
                <ul class="modal-cities">
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Otras Ciudades</a></li>
                </ul>
            </div>
            <div class="column column-right">
                <h4>Estados populares</h4>
                <ul class="modal-cities">
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Cercado</a></li>
                    <li><a href="#">Otros departamentos</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


