{% extends (template + '/modals/modal.html') %}

{% block id %}location-modal{% endblock %}

{% block title %}
    <span class="modal-title">{{ dictionary["selectregion.SelectCityStateIn"] | replace('<<COUNTRY>>',location.name)}}</span>
{% endblock %}


{% block content %}
    <div class="location-content">
        <a href="#" rel="nofollow">{{ dictionary["selectregion.SelectEntireCountry"] }}</a>
            <div class="column">
                <h4>{{ dictionary["popularsearchesbody.PopularCities"] }}</h4>
                <ul class="modal-cities">
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Otras Ciudades</a></li>
                </ul>
            </div>
            <div class="column">
                <h4>{{ dictionary["misc.States"] }}</h4>
                <ul class="modal-cities">
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Cercado</a></li>
                    <li><a href="#" rel="nofollow">Otros departamentos</a></li>
                </ul>
            </div>

    </div>
{% endblock %}


