<div class="modal" id="{% block id %}base-modal{% endblock %}" data-modal="{% block id %}base-modal{% endblock %}" >
    <div class="modal-wrapper" >
        <div class="modal-container">
            <div class="modal-header">
                <a href="#" class="icons icon-close" data-modal="{% block id %}base-modal{% endblock %}" title="close"></a>
                {% block title %}

                {% endblock %}
            </div>
            <div class="modal-content">
                {% block content %}

                {% endblock %}
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
