{% extends (template + '/modals/modal.html') %}

{% block id %}video-modal{% endblock %}

{% block title %}
    <span class="modal-title">{{ dictionary["misc.SellingIsEasy"] }} </span><span class="modal-title">{{ dictionary["misc.PostFreeOn"] | replace('<<BRAND>>','OLX') }} </span>
{% endblock %}

{% block content %}
    <div class="video-content">
        <iframe width="635" height="390" frameborder="0" allowfullscreen="" id="video-container-iframe" src="http://www.youtube.com/embed/FmYRXopMdow"></iframe>
    </div>
    <div class="video-thumbnails">
        <ul class="content">
            <li>
                <a href="#29QoFeoJldU">
                    <span class="video-title">OLX Uruguay - Celular - Vender es fácil</span>
                    <span class="icon-play"></span>
                    <img alt="video" src="http://img.youtube.com/vi/29QoFeoJldU/default.jpg" />
                </a>
            </li>
            <li>
                <a href="#Z3wwfLdLgj8">
                    <span class="video-title">OLX Uruguay - Bicicleta - Vender es fácil</span>
                    <span class="icon-play"></span>
                    <img alt="video" src="http://img.youtube.com/vi/Z3wwfLdLgj8/default.jpg" />
                </a>
            </li>
        </ul>
        <div class="social-share">
            <p>{{ dictionary["defaulthtmlhead.ShareThisVideo"] }}:</p>
            <ul>
                <li>
                    <a class="icons icon-facebook"></a>
                </li>
                <li>
                    <a class="icons icon-twitter"></a>
                </li>
                <li>
                    <a class="icons icon-googleplus"></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
