{% extends (template + '/modals/modal.html') %}

{% block id %}video-modal{% endblock %}

{% block title %}
    <span class="modal-title">Vender es fácil </span><span class="modal-title">Publica gratis en OLX</span>
{% endblock %}

{% block content %}
    <div class="video-content">
        <iframe width="635" height="390" frameborder="0" allowfullscreen="" id="video-container-iframe" src="http://www.youtube.com/embed/FmYRXopMdow" data-video-title="OLX. Vender es fácil - Sillón"></iframe>
    </div>
    <div class="video-thumbnails">
        <ul class="content">
            <li style="display: none">
                <a data-video-item="FmYRXopMdow" href="#">
                    <span class="video-title">OLX. Vender es fácil - Sillón</span>
                    <span class="icon-play"></span>
                    <img alt="OLX. Vender es fácil - Sillón" src="http://img.youtube.com/vi/FmYRXopMdow/default.jpg" />
                </a>
            </li>
            <li>
                <a data-video-item="XAbGc_JDWdU" href="#">
                    <span class="video-title">OLX. Vender es fácil - Raqueta</span>
                    <span class="icon-play"></span>
                    <img alt="OLX. Vender es fácil - Raqueta" src="http://img.youtube.com/vi/XAbGc_JDWdU/default.jpg" />
                </a>
            </li>
            <li>
                <a data-video-item="Y2b76k1TFz4" href="#">
                    <span class="video-title">OLX. Vender es fácil - Smartphone</span>
                    <span class="icon-play"></span>
                    <img alt="OLX. Vender es fácil - Raqueta" src="http://img.youtube.com/vi/Y2b76k1TFz4/default.jpg" />
                </a>
            </li>
        </ul>
        <div class="social-share">
            <p>Compartir este video:</p>
            <ul>
                <li>
                    <a data-icon-facebook="true" class="icons icon-facebook" href="#"></a>
                </li>
                <li>
                    <a data-icon-twitter="true" class="icons icon-twitter" href="#"></a>
                </li>
                <li>
                    <a data-icon-gplus="true" class="icons icon-googleplus" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
