{% extends (template + '/modals/modal.html') %}

{% block id %}video-gallery-modal{% endblock %}

{% block title %}
    <span class="modal-title">{{ dictionary["misc.SellingIsEasy"] }} </span><span class="modal-title">{{ dictionary["misc.PostFreeOn"] | replace('<<BRAND>>','OLX') }} </span>
{% endblock %}

{% block content %}
    <div class="video-content">
        <iframe width="635" height="390" frameborder="0" allowfullscreen="" id="video-container-iframe" src="http://www.youtube.com/embed/{{ videos[0].id }}"></iframe>
    </div>
    <div class="video-thumbnails">
        <ul class="content">
        {% for video in videos %}
            <li>
                <a data-video-item="{{ video.id }}" class="video{{ ' active' if loop.first }}" href="#">
                    <span class="video-title">{{ video.title }}</span>
                    <span class="icons icon-play"></span>
                    <img alt="{{ video.title }}" src="http://img.youtube.com/vi/{{ video.id }}/default.jpg" />
                </a>
            </li>
        {% endfor %}
    </ul>
        <div class="social-share">
            <p>{{ dictionary["defaulthtmlhead.ShareThisVideo"] }}:</p>
            <ul>
                <li>
                    <a data-share-facebook data-share-url="https://www.youtube.com/watch?v={{ videos[0].id }}" data-share-title="{{ videos[0].title }}" class="icons icon-facebook" href="#"></a>
                </li>
                <li>
                    <a data-share-twitter data-share-url="https://www.youtube.com/watch?v={{ videos[0].id }}" data-share-title="{{ videos[0].title }}" class="icons icon-twitter" href="#"></a>
                </li>
                <li>
                    <a data-share-gplus data-share-url="https://www.youtube.com/watch?v={{ videos[0].id }}" data-share-title="{{ videos[0].title }}" class="icons icon-googleplus" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
