{% extends (template + '/modals/modal.html') %}

{% block id %}video-gallery-modal{% endblock %}

{% block title %}
    <span class="modal-title">{{ dictionary["misc.SellingIsEasy"] }} </span><span class="modal-title">{{ dictionary["misc.PostFreeOn"] | replace('<<BRAND>>','OLX') }} </span>
{% endblock %}

{% block content %}
    {% for video in videos %}
        {% if loop.first %}
            <div class="video-content">
                <iframe width="635" height="390" frameborder="0" allowfullscreen="" id="video-container-iframe" src="http://www.youtube.com/embed/{{ video.id }}"></iframe>
            </div>

            <div class="video-thumbnails">
                <ul class="content">

        {% endif %}
                    <li {{ 'class="hide"' if loop.first }}>
                        <a data-video-item="{{ video.id }}" href="#">
                            <span class="video-title">{{ video.title }}</span>
                            <span class="icon-play"></span>
                            <img alt="OLX. Vender es fácil - Sillón" src="http://img.youtube.com/vi/{{ video.id }}/default.jpg" />
                        </a>
                    </li>
                {{ '</ul>' if loop.last }}
    {% endfor %}

        <div class="social-share">
            <p>{{ dictionary["defaulthtmlhead.ShareThisVideo"] }}:</p>
            <ul>
                <li>
                    <a data-share-facebook data-share-url="http://www.youtube.com/embed/{{ videos[0].id }}" data-share-title="{{ videos[0].title }}" class="icons icon-facebook" href="#"></a>
                </li>
                <li>
                    <a data-share-twitter data-share-url="http://www.youtube.com/embed/{{ videos[0].id }}" data-share-title="{{ videos[0].title }}" class="icons icon-twitter" href="#"></a>
                </li>
                <li>
                    <a data-share-gplus data-share-url="http://www.youtube.com/embed/{{ videos[0].id }}" data-share-title="{{ videos[0].title }}" class="icons icon-googleplus" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
