<header>
	<div id="headerContent">
	    <a href="/"><div class="olxLogo"></div></a>
	    <nav>
	    	<ul id="userMenu">
	    		<li>
	    			<a class="userMenuItem" href="/login">Ingresar</a> o <a class="userMenuItem" href="/registration">Registrarte</a>
	    		</li>
	    	</ul>
	    </nav>
	</div>
</header>