

<div data-role="panel" id="left-panel">
    <ul data-role="listview"  data-inset="true">
        {{#categories}}
            <li><a href="#page{{pageNum}}">{{name}}</a></li>
        {{/categories}}
    </ul>
</div>

<div data-role="header">
    <h1>Backbone.js + jQuery Mobile</h1>
</div>

<div data-role="content">
    <h3>Application Template for using Backbone.js and jQuery Mobile.</h3>
    <p>Backbone.js is used for code organization (Models, Views) and "routing".</p>
    <p>jQuery Mobile is used for its mobile styles and widgets. The routing and navigation capabilities of jQuery Mobile are disbled to let Backbone.js handle these requirements.</p>
    <p>This is the Home page. It was created dynamically using an underscore.js template.</p>
    <p>Navigate to:</p>
    <!-- <ul data-role="listview"  data-inset="true">
        {{#categories}}
            <li><a href="#page{{pageNum}}">{{name}}</a></li>
        {{/categories}}
    </ul> -->

    <a href="#left-panel" data-rel="panel">Open panel</a>
</div>
