<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="4" border="0">
            <tr>
                <td style="border-top: solid thin #808080;">
                    <strong style="display: block; color: #0075BD;">{{ dictionary["postingerror.Error"] }}</strong>
                    <small style="display: block; font-size: .66em;">
                        <h4 style="margin: 0; padding-top: .5em; padding-bottom: .25em;">{{ dictionary["defaulthtmlhead.SorryThePageYouAreLookingForIsNotAvailable"] }}</h4>
                    </small>
                </td>
            </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="4" border="0">
            <tr>
                <td style="border-top: solid thin #CCCCCC;">
                    <small style="display: block; padding: .5em 0; font-size: .66em;">
                        <p style="margin: 0;">{{ dictionary["defaulthtmlhead.PleaseTryOneOfTheFollowingOptions"] }}</p>
                        <ul style="margin: 0; padding-top: .5em; padding-left: 2em;">
                            <li>{{ dictionary["defaulthtmlhead.MakeSureTheWebAddressYouEnteredIsCorrect"] }}</li>
                            {% if breadcrumb and (breadcrumb != '/' ) %}
                                <li><a href="{{ breadcrumb | link }}">{{ dictionary["defaulthtmlhead.GoBackToThePreviousPage"] }}</a></li>
                            {% endif %}
                            {% set homeLink = ('/' | link ) %}
                            {% set backToHome = dictionary["defaulthtmlhead.TryToAccessThePageDirectlyFromTheBrandHomePage"] | replace('<<LINK_HOME_PAGE>>', '<a href="' + homeLink + '">') | replace('<</LINK_HOME_PAGE>>', '</a>') | replace ('<<BRAND>>','OLX') %}
                            <li>{{ backToHome }}</li>
                        </ul>
                    </small>
                </td>
            </tr>
        </table>
        {% if blackBar.show and error %}
            <table width="100%" cellspacing="0" cellpadding="4" border="0">
                <tr>
                    <td bgcolor="#EEEEEE" style="border-top: solid thin #CCC; background-color: #EEE;">
                        <h2 style="margin: 0; font-weight: normal;"><font color="FF0000">{{ error.statusCode }}</font></h2>
                        <pre style="display: block; margin: 0;">{{ error.detail }}</pre>
                    </td>
                </tr>
            </table>
        {% endif %}
        {% from macros import Breadcrumb %}
        {% set link = (breadcrumb | link) %}
        {{ Breadcrumb(dictionary, link) }}
    </td>
</tr>
