<div class="migration-banner-mx">
	<table width="226" border="0" cellspacing="0" cellpadding="0" height="70">
		<tr>
			<td width="155" align="center" class="message">OLX Muy pronto será<br /><a href="http://www2.segundamano.mx"><img src="{{ '/images/html4/migration/mx/logo_smmx_226.png' | static }}" width="150"></a></td>
			<td height="35" align="center" class="link"><a href="http://www.segundamano.mx"><img src="{{ '/images/html4/migration/mx/boton_publica_226.png' | static }}"></a></td>
		</tr>
	</table>
</div>
