{{#if blackBar.show}}
    <div class="env">You are now in <strong>{{blackBar.env}} ({{blackBar.platform}} v. {{blackBar.version}} :: {{blackBar.revision}})</strong> environment.</div>
{{/if}}
<header>
    <a href="#" class="navLeft">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a href="/"><div class="olxLogo"></div></a>
    <h1></h1>
    <div class="search">
        <form action="/search" class="search-form" >
            <input type="text" class="search-input" name="search" value="" placeholder="¿Qué estás buscando?">
            <button type="submit" class="search-button">
                <span aria-hidden="true" class="icon-search"></span>
                <span class="search-label"></span>
            </button>
        </form>
    </div>
</header>