#posting-flow header #title {
    overflow: hidden;
    padding-right: 1rem;
    font-size: inherit;
    font-weight: normal;
    line-height: 3rem;
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: defaultTitle 250ms ease-in-out;
    -webkit-animation: defaultTitle 250ms ease-in-out;
}

#posting-flow header .disabled {
    display: none;
}

#posting-flow header #back {
    width: 30px;
    height: 30px;
    float: left;
    margin: .5em .5rem 0 0.1rem;
    background: #335c93 url(imageUrl/images/html5/back.png) no-repeat center;
    border: 1px solid #294b78;
    border-radius: .5em;
}
