.post_flow_hub_view {

	header {



	}

	li {

		padding: .5em 1em;

		&:not(:first-child) {

			border-top: solid thin #CCC;

		}

		h3 {

			padding: 0;
			font-weight: normal;

		}

	}

	footer {

		padding: .5em 1em;
		background-color: #F60;
		color: #FFF;
		text-transform: uppercase;
		text-align: center;

	}

}