.post_flow_hub_view {

	counter-reset: index;

	header {

		div {

			position: relative;
			padding-top: 66.6666%;
			background: #DDD url(imageUrl/images/html5/cameraBig.png) no-repeat center center;
			background-size: 45% auto;

			span {

				position: absolute;
				display: block;
				width: 100%;
				margin-top: -24%;
				font-size: 5vw;
				color: #A3B606;
				text-align: center;

			}

			&.fill {

				background-size: cover;

				span {

					display: none;

				}

			}

		}

		p {

			position: relative;
			overflow: hidden;
			padding: 0 1em;
			background-color: #5c2a81;
			color: #FFF;
			height: 1.5em;
			line-height: 1.5em;
			text-align: center;

			small {

				display: block;
				overflow: hidden;
				font-size: .75em;
				text-overflow: ellipsis;
				white-space: nowrap;

			}

		}

	}

	li {

		position: relative;
		padding: 1em 1em 1em 1.5em;
		overflow: hidden;

		&:not(:first-child) {

			border-top: solid thin #CCC;

		}

		&:before {

			content: counter(index, decimal);
    		counter-increment: index;
    		position: absolute;
    		right: -.05em;
    		top: 0;
    		display: block;
    		color: #999;
    		font-size: 8em;
    		font-weight: bold;
    		line-height: 0.66em;
    		text-align: center;
    		opacity: .25;
    
		}

		h3 {

			position: relative;
			z-index: 1;
			overflow: hidden;
			padding: 0;
			font-weight: normal;
			font-size: 1em;
			line-height: 3em;
			color: #333;
			white-space: nowrap;
			text-overflow: ellipsis;

		}

		.stepSummary {

			display: none;
			margin: -.5em 0;

			div {

				font-size: .8em;
				padding-top: .25em;

			}

			small {

				display: block;
				overflow: hidden;
				font-size: .66em;
				text-transform: uppercase;
				color: #999;
				white-space: nowrap;
				text-overflow: ellipsis;

			}

			span {

				display: block;
				overflow: hidden;
				color: #333;
				white-space: nowrap;
				text-overflow: ellipsis;

				&.error {

					color: #C00;

					&:before {

						content: '\2717\00a0';

					}

				}

				&.success {

					&:before {

						content: '\2713\00a0';
						color: #A3B606;

					}

				}

			}

		}

		&.error {

			background-color: #FEE;

			&:before {

				color: #C00;

			}

			h3 {

				display: none;

			}

			.stepSummary {

				display: block;

			}

		}

		&.success {

			&:before {

				color: #A3B606;

			}

			h3 {

				display: none;

			}

			.stepSummary {

				display: block;

			}

		}

	}

	footer {

		padding: 1em;
		background-color: #F60;
		color: #FFF;
		text-transform: uppercase;
		text-align: center;

	}

}
