@keyframes popCloseButton {
	from {
		-moz-transform: scale3d(0, 0, 0);
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
	to {
		-moz-transform: scale3d(1, 1, 1);
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes popCloseButton {
	from {
		-moz-transform: scale3d(0, 0, 0);
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
	to {
		-moz-transform: scale3d(1, 1, 1);
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.post_flow_images_view {

	&.disabled {

		ul > li {

			opacity: 0;
			-moz-transform: scale3d(0, 0, 0);
			-webkit-transform: scale3d(0, 0, 0);
			transform: scale3d(0, 0, 0);

		}

	}

	&:not(.disabled) {

		ul > li {

			opacity: 1;
			-moz-transform: scale3d(1, 1, 1);
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);

			&:nth-child(1) {

				-moz-transition-delay: 10ms;
				-webkit-transition-delay: 10ms;
				transition-delay: 10ms;

			}

			&:nth-child(2) {

				-moz-transition-delay: 110ms;
				-webkit-transition-delay: 110ms;
				transition-delay: 110ms;

			}

			&:nth-child(3) {

				-moz-transition-delay: 210ms;
				-webkit-transition-delay: 210ms;
				transition-delay: 210ms;

			}

			&:nth-child(4) {

				-moz-transition-delay: 110ms;
				-webkit-transition-delay: 110ms;
				transition-delay: 110ms;

			}

			&:nth-child(5) {

				-moz-transition-delay: 210ms;
				-webkit-transition-delay: 210ms;
				transition-delay: 210ms;

			}

			&:nth-child(6) {

				-moz-transition-delay: 310ms;
				-webkit-transition-delay: 310ms;
				transition-delay: 310ms;

			}

		}

	}

	form > input {

		display: none;

	}

	ul {

		overflow: hidden;
		padding: .75rem;

		li {

			position: relative;
			overflow: hidden;
			float: left;
			width: 33.3333%;
			height: 0;
			padding-top: 33.3333%;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;

			-moz-transition: all 250ms ease-in-out 200ms;
	        -webkit-transition: all 250ms ease-in-out 200ms;
	        transition: all 250ms ease-in-out 200ms;

			.image {

				display: block;
				position: absolute;
				top: .25rem;
				right: .25rem;
				bottom: .25rem;
				left: .25rem;
				background-color: #DDD;
				background-position: center center;
				background-repeat: no-repeat;
				background-image: url(imageUrl/images/html5/cameraSmall.png);
				background-size: 75%;

				&:after {

					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					height: .25rem;
					width: 0;
					background-color: #9ACD32;

					-moz-transition: none;
			        -webkit-transition: none;
			        transition: none;

				}

				&.load {

					&:after {

						width: 66%;

						-moz-transition: width 5000ms ease-in-out;
				        -webkit-transition: width 5000ms ease-in-out;
				        transition: width 5000ms ease-in-out;

					}

				}

				&.fill {

					background-size: cover;

					span {

						display: block;
						position: absolute;
						top: 5%;
						right: 5%;
						width: 15%;
						height: 15%;
						min-width: 2rem;
						min-height: 2rem;
						max-width: 4rem;
						max-height: 4rem;
						border-radius: 100%;
						color: #FFF;
						background-color: rgba(0, 0, 0, .5);
						border: solid 2px #FFF;
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						animation: popCloseButton 250ms ease-in-out;
						-webkit-animation: popCloseButton 250ms ease-in-out;

						&:before {

							content: '';
							position: absolute;
							top: 50%;
							left: 15%;
							width: 70%;
							height: 0;
							margin: -1px 0 0 -1px;
							border: 1px solid #FFF;
							-moz-transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							transform: rotate(45deg);

						}

						&:after {

							content: '';
							position: absolute;
							top: 50%;
							left: 15%;
							width: 70%;
							height: 0;
							margin: -1px 0 0 -1px;
							border: 1px solid #FFF;
							-moz-transform: rotate(-45deg);
							-webkit-transform: rotate(-45deg);
							transform: rotate(-45deg);

						}

					}

					&:after {

						width: 100%;
						opacity: 0;

						-moz-transition: width 250ms ease-in-out, opacity 250ms linear 250ms;
				        -webkit-transition: width 250ms ease-in-out, opacity 250ms linear 250ms;
				        transition: width 250ms ease-in-out, opacity 250ms linear 250ms;

					}

				}

			}

			input {

				margin-top: 1em;

			}

		}

	}

	p {

		overflow: hidden;
		height: 1.5rem;
		padding: 0 1rem;
		background-color: #5C2A81;
		color: #FFF;
		line-height: 1.5rem;
		text-align: center;

		small {

			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: .75rem;

		}

	}

	footer {

		margin-top: 0;

	}

}

