#location {
	.popup {
		display: block;

		.popup-wrapper {
			display: block;

			.popup-container {
				height: 100%;
				-moz-transform: scale(1); 
	            -webkit-transform: scale(1); 
	            transform: scale(1);

	            > div {
	            	height: 100%;
	            }

	            a {
	            	text-decoration: none;
	            }
			}
			footer {
				border: none;
			}
		}
	}
}