#posting-flow #category-summary {
    background: #ebebeb;
    padding: .5em 1em;
}
#posting-flow #category-summary .small {
    color: #929292;
    margin: 0 0 .3em;
    font-size: .8rem;
}
#posting-flow #category-summary .summary {
    display: inline-block;
    width: 70%;
    color: #333;
}
#posting-flow #category-summary .change {
    color: #0076be;
    float: right;
    text-align: right;
    text-transform: capitalize;
    width: 25%;
}