.post_flow_optionals_view {

	.summary {

		padding: .5em 1em;
		background-color: #DDD;

		div {

			padding: .5em 0;

			&:not(:first-child) {

				border-top: solid thin #BBB;

			}

			&.changeSubcategory {

				/* Disabled until we improve navigation handling */
				display: none;

			}

			small {

				color: #999;
			    display: block;
			    font-size: 0.66em;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    text-transform: uppercase;
			    white-space: nowrap;

			}

			span {

				color: #333;
			    display: block;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;

			    span {

			    	display: ineline;
			    	color: #09F;
			    	font-size: .8em;

			    }

			}

		}

		.change {



		}

	}

}