<div class="top">
    <p class="title">Usar un Punto de entrega OLX</p>
    <p>En <b>3 simples pasos</b> reservás un espacio seguro para que tu producto sea recogido.</p>
</div>
<div class="async-form border">
    {% include (template + '/landings/asyncpickup/progressbar.html') %}
    <p class="title">Datos del comprador:</p>
    <form>
<!--         <div class="fork-form">
            <fielset class="field-wrapper">
                <label class="bold">
                    <input type="radio" name="hasinfo" value="form">
                    Tengo los datos de contacto de mi comprador.
                </label>
                <label class="bold">
                    <input type="radio" name="hasinfo" value="link">
                    No tengo sus datos todavía.
                </label>
            </fielset>
            <small class="error-alert hide">Elegí una opcion para continuar.</small>
        </div>
        <div class="buyer-form hide"> -->
        <input type="hidden" name="hasinfo" value="form">
        <div class="buyer-form">
            <fieldset class="field-wrapper">
                <label class="bold">Nombre del comprador:</label>
                <input type="text" name="buyer_name" class="text-field">
            </fieldset>
            <fieldset class="field-wrapper">
                <label class="bold">Email del comprador:</label>
                <input type="text" name="buyer_email" class="text-field">
            </fieldset>
            <fieldset class="field-wrapper">
                <label class="bold">Telefóno del comprador:</label>
                <input type="text" name="buyer_phone" class="text-field phone">
            </fieldset>
        </div>
        <span data-step="3" class="posting">Continuar</span>
    </form>
</div>
{% include (template + '/landings/asyncpickup/kiosco-location.html') %}

