<h4 class="title">{{ dictionary["misc.CreatePassword"] }}</h4>
<p class="forgot-msg">{{ dictionary["landingbody.EnterPassword"] }}. {{ dictionary["landingbody.NoPassword"] }}</p>
<form>
    <fieldset class="wrapper">
        <label class="login-label">{{ dictionary["loginbox.Password"] }}:</label>
        <div class="wrapper-inputs">
            <div class="fake-input">
                <input class="password-field" type="password" name="newPassword" data-qa="username-field" value="">
                <a href="#" class="password-toggle">{{ dictionary["misc.Show"] }}</a>
            </div>
            <input type="submit" value="{{ dictionary["misc.CreatePassword"] }}" class="posting send" data-qa="login-button">
        </div>
    </fieldset>
</form>

{% view 'partials/tracking' %}
