<h4 class="title">Crear contraseña</h4>
<p class="forgot-msg">Por favor ingresa una contraseña para tu cuenta de OLX. Recuerda que tienen que ser entre 6 y 20 dígitos.</p>
<form>
    <fieldset class="wrapper">
        <label class="login-label">{{ dictionary['loginbox.Password'] }}:</label>
        <div class="wrapper-inputs">
            <div class="fake-input">
                <input class="password-field" type="password" name="newPassword" data-qa="username-field" value="">
                <a href="#" class="password-toggle">show</a>
            </div>
            <input type="submit" value="Crear contraseña" class="posting send" data-qa="login-button">
        </div>
    </fieldset>
</form>

{% view 'partials/tracking' %}
