<h4 class="title">Crear contraseña</h4>
<p class="forgot-msg">Por favor ingresa una contraseña para tu cuenta de OLX. Recuerda que tienen que ser entre 6 y 20 dígitos.</p>
<form action="{{ '/creatpassword' | link }}" method="POST" enctype="multipart/form-data">
    <fieldset class="wrapper">
        <label class="login-label">{{ dictionary['loginbox.Password'] }}</label>
        <div class="wrapper-inputs">
            <div class="fake-input">
                <input class="password-field" type="password" name="password" data-qa="username-field" value="">
                <a href="#" class="passwordToggle">show</a>
            </div>
            <input type="submit" value="{{ dictionary["landingbody.SubmitRegistration"] }}" class="posting send" data-qa="login-button">
        </div>
    </fieldset>
</form>

{% view 'partials/tracking' %}
