<a rel="nofollow" href="{{ '/myolx/configuration' | link }}" class="icons icon-arrow-left">{{ dictionary["defaultfooter.Back"] }}</a>
<h1>{{ dictionary["register_form.EditMyInfo"] }}</h1>

{% from macros import Field %}

{% set nameField = {
    isOptional: false,
    name: "email",
    mandatory: true,
    label: dictionary["seccion-35.559"],
    fieldType: "text",
    dataType: "string",
    value: user.email
} %}
{{ Field(nameField) }}

{% set webField = {
    isOptional: true,
    name: "currentPassword",
    mandatory: false,
    label: dictionary["lostform.CurrentPassword"],
    fieldType: "password",
    dataType: "string"
} %}
{{ Field(webField) }}

{% set webField = {
    isOptional: true,
    name: "newPassword",
    mandatory: false,
    label: dictionary["lostform.NewPassword"],
    fieldType: "password",
    dataType: "string"
} %}
{{ Field(webField) }}

<fieldset class="save-config">
    <input type="submit" value="{{ dictionary["register_form.Save"] }}" class="save" />
    {{ dictionary["biderrorheader.Or"] }}
    <a href="{{ '/myolx/configuration' | link }}" class="cancel" >{{ dictionary["wap_posting_step4.Cancel"] }}</a>
</fieldset>
