{% set error = '' %}
{% if form.errors.main %}
    {% set error = true %}
{% endif %}

<div class="lostpassword_view {{ 'hide' if success }}">
    <h4 class="title">{{ dictionary["landingbody.ForgotPassword"] }}</h4>
    <p class="forgot-msg">{{ dictionary["lostform.PleaseEnter"]|replace('<<BRAND>>, OLX') }}</p>
    <form action="{{ '/lostpassword' | link }}" method="POST" enctype="multipart/form-data">
        <fieldset class="wrapper {{ 'error' if error }}">
            <label class="login-label">{{ dictionary["comments.CommentsFormEmail"] }}</label>
            <div class="wrapper-inputs">
                <input class="text-field" type="text" name="email" data-qa="username-field" value="{{ form.values.email if form.values.email else '' }}">
                <input type="submit" value="{{ dictionary["landingbody.SubmitRegistration"] }}" class="posting send" data-qa="login-button">
                <small class="advice">{{ dictionary["lostform.ThereIsNoPasswordSetForThisEmailOnBrand"]|replace('<<BRAND>>, OLX') }}</small>
            </div>
        </fieldset>
    </form>
</div>
<div class="lostpassword_success {{ 'hide' if not success }}">
    <div class="success icons icon-envelope">
        <h3 class="center">{{ dictionary["lostform.YourInformation"] }}</h3>
    </div>

    <a href="{{ '/' | link }}" class="back icons icon-arrow-left">{{ dictionary["lostform.GoToBrandHomePage"]|replace('<<BRAND>>','OLX') }}</a>
</div>