<form>
    <div class="actions">
        <label><input type="checkbox">Selecciona: Todos | Ninguno</label>
        <button class="delete btn icons icon-trash">Eliminar</button>
    </div>
    {% if messages.lenght == 0 %}
        <p class="notification">No tenés mensajes nuevos</p>
    {% else %}
        <ul>
            {% for message in messages %}
                <li>
                    <input type="checkbox">
                    <span class="name">{{ message.from.username}}</span>
                    <a href="{{ ('/myolx/readmessages/' + message.id) | link }}" class="title">{{ message.title }}</a>
                    <span class="date">{{ message.date.year }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="backToOlx">
        <a href="{{ '/myolx/myadslisting' | link }}" class="back">Volver a Mi OLX</a>
    </div>
</form>