<form>
    <ul>
        <li>
            <label><input type="checkbox">Selecciona: Todos | Ninguno</label>
            <button class="delete btn icons icon-trash">Eliminar</button>
        </li>
        <li>
            <p>No tenés mensajes nuevos</p>
        </li>
        <li>
            <input type="checkbox">
            <span class="name">user name</span>
            <a href="{{ '/myolx/readmessages' | link }}" class="title">LG Optimus P500h en exelente estado! Movistar</a>
            <span class="date">Sep 25-07:03 PM</span>
        </li>
        <li>
            <input type="checkbox">
            <span class="name">user name</span>
            <a href="{{ '/myolx/readmessages' | link }}" class="title">LG Optimus P500h en exelente estado! Movistar</a>
            <span class="date">Sep 25-07:03 PM</span>
        </li>
        <li>
            <input type="checkbox">
            <span class="name">user name</span>
            <a href="{{ '/myolx/readmessages' | link }}" class="title">LG Optimus P500h en exelente estado! Movistar</a>
            <span class="date">Sep 25-07:03 PM</span>
        </li>
        <li>
            <input type="checkbox">
            <span class="name">user name</span>
            <a href="{{ '/myolx/readmessages' | link }}" class="title">LG Optimus P500h en exelente estado! Movistar</a>
            <span class="date">Sep 25-07:03 PM</span>
        </li>
        <li>
            <input type="checkbox">
            <span class="name">user name</span>
            <a href="{{ '/myolx/readmessages' | link }}" class="title">LG Optimus P500h en exelente estado! Movistar</a>
            <span class="date">Sep 25-07:03 PM</span>
        </li>
        <li>
            <input type="checkbox">
            <span class="name">user name</span>
            <a href="{{ '/myolx/readmessages' | link }}" class="title">LG Optimus P500h en exelente estado! Movistar</a>
            <span class="date">Sep 25-07:03 PM</span>
        </li>
        <li>
            <a href="{{ '/myolx/myadslisting' | link }}" class="back">Volver a Mi OLX</a>
        </li>
    </ul>
</form>