<div message-alert class="alert hide">
    <p message-alert-success class="icons icon-check success">{{ dictionary["itempagepostcomment.CommentPosted"] }}</p>
    <p message-alert-fail class="fail">{{ dictionary["myolx.MessageNotSent"] }}</p>
</div>
<form>
    <div class="actions">
        <label><input data-select-all type="checkbox">Selecciona: Todos | Ninguno</label>
        <button data-delete-message class="delete btn icons icon-trash">{{ dictionary["readmessage.Delete"] }}</button>
    </div>
    {% if messages.length == 0 %}
        <p class="notification">{{ dictionary["netvibes_myolx.content.NoMessages"] }}</p>
    {% else %}
        <ul>
            {% for message in messages %}
                <li data-message class="{{ "read" if message.read }}" >
                    <input type="checkbox" data-message-id="{{ message.id }}" >
                    <span class="name">{{ message.from.username}}</span>
                    <a href="{{ ('/myolx/readmessages/' + message.id) | link }}" class="title">{{ message.title }}</a>
                    <span class="date">{{ message.date.timestamp | date(true) }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="backToOlx">
        <a href="{{ '/myolx/myadslisting' | link }}" class="back">{{ dictionary["myolx.BackToMyOLX"] }}</a>
    </div>
</form>

