<div class="formdeleteitem">
    <div class="confirmdelete">
        <h4 class="subtitle">Va a eliminar su aviso de OLX</h4>
        <div class="itemdelete">
            <figure class="image">
                {% if item.thumbnail %}
                <img src="{{ item.thumbnail }}" alt="" class="thumbnail">
                {% else %}
                <span class="icons icon-photo withoutimg"></span>
                {% endif %}
            </figure>
            <div class="description">
                {{ item.title }}
            </div>
        </div>
        <h5>Para completar la eliminación, díganos porque desea eliminar este aviso:</h5>
        <form action="">
            <div class="reason"><input type="radio" name="close_reason" value="1" id="close_reason1"><label for="close_reason1">Lo he vendido a traves de OLX</label></div>
            <div class="reason"><input type="radio" name="close_reason" value="2" id="close_reason2"><label for="close_reason2">Lo he vendido a través de otro servicio</label></div>
            <div class="reason"><input type="radio" name="close_reason" value="3" id="close_reason3"><label for="close_reason3">He decidido no venderlo</label></div>
            <div class="reason"><input type="radio" name="close_reason" value="4" id="close_reason4"><label for="close_reason4">Otro</label><input type="text" name="close_comment" class="text" id="close_reason5"></div>
            <div class="buttons deleteitem">
                <a href="" class="btn orange">Eliminar Anuncio</a>
                <span>ó</span>
                <a href="" class="">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<ul class="my-items">
    {% if myAds | length == 0 %}
        <li class="item empty">
            {{ dictionary["netvibes_myolx.content.NoActiveListings"] }}
        </li>
    {% endif %}
    {% for item in myAds %}
        {% set status = 'ready' %}
        {% set statustxt = dictionary["listingpageitemslisting.Posted"] %}
        {% if item.status == 'expired' %}
            {% set status = 'expired' %}
            {% set statustxt = dictionary["misc.Expired"] %}
        {% elif item.status == 'closed' %}
            {% set status = 'deleted' %}
            {% set statustxt = dictionary["misc.Removed"] %}
        {% elif item.status == 'rejected' %}
            {% set status = 'rejected' %}
            {% set statustxt = 'RECHAZADO' %}
        {% elif item.status == 'pending' %}
            {% set status = 'pending' %}
            {% set statustxt = dictionary["misc.Pending_BR"] %}
        {% endif %}
        <li class="item {{ status }}">

            <figure class="image">
                {% if (status == 'ready') %}
                    <a href="{{ item | slugToUrl | link }}">
                {% endif %}
                        {% if item.thumbnail %}
                        <img src="{{ item.thumbnailLarge }}" alt="" class="thumbnail">
                        {% else %}
                        <span class="icons icon-photo withoutimg"></span>
                        {% endif %}
                {% if (status == 'ready') %}
                    </a>
                {% endif %}
                <span class="status">
                    {{ statustxt }}
                </span>
            </figure>
            <div class="description">
                <h3 class="title">{{ item.title }}</h3>
                <div class="tips">
                    <span>0  {{ dictionary["myolx.Messages"] }}</span>
                    <span>0 {{ dictionary["netvibes_myolx.content.Views"] }} </span>
                    <span>{{ dictionary["misc.SinceDate"] | replace('<<DATE>>', item.date.timestamp | date("MMM DD, YYYY")) }}</span>
                </div>
                <div class="text">
                    {{ item.message }}
                </div>
                <div class="buttons">
                    {% if (status == 'ready' or status == 'pending') %}
                        <a href="{{ ('/myolx/edititem/'+ item.id) | link }}" class="btn icons icon-edit">{{ dictionary["showactivelistings.Edit"] }} </a>
                        {% if (status == 'ready') %}
                            <a href="{{ ('/myolx/deleteitem/'+ item.id) | link }}" class="btn icons icon-trash btndelete">{{ dictionary["confirmremoveitem.Delete"] }} </a>
                        {% endif %}
                    {% endif %}
                    {% if (status == 'rejected' or status == 'expired' or status == 'deleted') %}
                        {% if status == 'expired' %}
                            <a href="" class="btn icons icon-repulish">Republicar</a>
                        {% endif %}
                        <a href="" class="btn icons icon-trash">Eliminar de esta lista</a>
                    {% endif %}
                </div>
            </div>
            <div class="price">
                <span>{{ item.price.displayPrice }}</span>
            </div>
        </li>
    {% endfor %}
</ul>
{% view 'partials/tracking' %}
