<ul class="my-items">
    {% for item in myAds %}
        {% set status = 'ready' %}
        {% set statustxt = dictionary["listingpageitemslisting.Posted"] %}
        {% if item.status == 'expired' %}
            {% set status = 'expired' %}
            {% set statustxt = dictionary["misc.Expired"] %}
        {% elif item.status == 'closed' %}
            {% set status = 'deleted' %}
            {% set statustxt = dictionary["misc.Removed"] %}
        {% elif item.status == 'rejected' %}
            {% set status = 'rejected' %}
            {% set statustxt = 'RECHAZADO' %}
        {% elif item.status == 'pending' %}
            {% set status = 'pending' %}
            {% set statustxt = dictionary["misc.Pending_BR"] %}
        {% endif %}
        <li class="item {{ status }}">

            <figure class="image">
                {% if (status == 'ready') %}
                    <a href="{{ item | slugToUrl | link }}">
                {% endif %}
                        {% if item.thumbnail %}
                        <img src="{{ item.thumbnailLarge }}" alt="" class="thumbnail">
                        {% else %}
                        <span class="icons icon-photo withoutimg"></span>
                        {% endif %}
                {% if (status == 'ready') %}
                    </a>
                {% endif %}
                <span class="status">
                    {{ statustxt }}
                </span>
            </figure>
            <div class="description">
                <h3 class="title">{{ item.title }}</h3>
                <div class="tips">
                    <span>0  {{ dictionary["myolx.Messages"] }}</span>
                    <span>0 {{ dictionary["netvibes_myolx.content.Views"] }} </span>
                    <span>{{ dictionary["misc.SinceDate"] | replace('<<DATE>>', item.date.timestamp | date("MMM DD, YYYY")) }}</span>
                </div>
                <div class="text">
                </div>
                <div class="buttons">
                    {% if (status == 'ready' or status == 'pending') %}
                        <a href="" class="btn icons icon-edit">{{ dictionary["showactivelistings.Edit"] }} </a>
                        {% if (status == 'ready') %}
                            <a href="" class="btn icons icon-trash">{{ dictionary["confirmremoveitem.Delete"] }} </a>
                        {% endif %}
                    {% endif %}
                    {% if (status == 'rejected' or status == 'expired' or status == 'deleted') %}
                        {% if status == 'expired' %}
                            <a href="" class="btn icons icon-repulish">Republicar</a>
                        {% endif %}
                        <a href="" class="btn icons icon-trash">Eliminar de esta lista</a>
                    {% endif %}
                </div>
            </div>
            <div class="price">
                <span>{{ item.price.displayPrice }}</span>
            </div>
        </li>
    {% endfor %}
</ul>
{% view 'partials/tracking' %}
