<a href="{{ '/myolx/myolxmessages' | link }}" class="back icons icon-arrow-left">Volver a mis mensajes</a>
<h2 class="title">{{ dictionary["myolx.MyOLX"] }} > {{ message.title }}</h2>

<div class="data">
    <p><span>De: </span>{{ message.from.username }} ({{ message.from.email }})</p>
    <p><span>Recibido: </span>{{ message.date.timestamp | date(true) }}</p>
    <p><span>Asunto: </span>{{ message.title }}</span>
</div>

<p class="message">{{ message.body }}</p>

<p class="link">
    <span>{{ dictionary["myolx.ThisMessageIsRegarding"] }}</span>
    <a href="{{ message | slugToUrl | link() }}">{{ message.title }}</a>
</p>

<form data-message-reply data-message-id="{{ message.messageId }}">
    <label>{{ dictionary["myolx.ReplyToThisMessage"] }}</label>
    <textarea data-messageText ></textarea>
    <p data-error class="error hide">Por favor complete el mensaje.</p>
    <img class="spinner hide" src="{{ '/images/desktop/spinner-bgWhite.gif' | static }}" alt="">
    <button class="reply-send btn" type="submit">{{ dictionary["myolx.Reply"] }}</button>
</form>