<a href="{{ '/myolx/myolxmessages' | link }}" class="back icons icon-arrow-left">Volver a mis mensajes</a>
<h2 class="title">Mi OLX > Hola Pepe</h2>

<div class="data">
    <p><span>De:</span> claudia.salinas (claudia.salinas@outlook.es)</p>
    <p><span>Recibido:</span> Oct 23-06:03 PM</p>
    <p><span>Asunto:</span> Necesito Perro</span>
</div>

<p class="message">
    hola tengo un labrador y un boxer machos muy buenos ambos boxer de un año y labrador de dos años pero a cambio pido por cada perro una bolsa de comida pedigree cachorros de 20 kilos por cada perro
</p>

<p class="link">
    <span>Este mensaje se refiere a:</span>
    <a href="#">http://berazategui.olx.com.ar/necesito-perro-iid-733438669</a>
</p>

<form>
    <label>Responde este mensaje</label>
    <textarea></textarea>
    <button class="reply-send btn">Responder</button>
</form>