{% set terms = false %}
{% if (not agreeTerms | is('undefined')) %}
    {% set terms = true %}
{% endif %}

<h4 class="title">
    {{ dictionary["loginbox.Register"] }}
    {% if toPosting %}
        <span>{{ dictionary["loginRequired.CreateAccountToStartSelling"] or "Create an account to start selling on OLX. Don't worry it's free!" }}</span>
    {% endif %}
</h4>

{% view 'users/facebooklogin' %}
{% set registerUrl = '/register-withconf' if registerWithConfirmation else '/register' %}
<form action="{{ registerUrl | link }}" method="POST" enctype="multipart/form-data">
    <div class="wrapper {{ 'error' if form.errors.main else '' }}">
        <small class="advice main">{{ form.errors.main if form.errors.main else '' }}</small>
    </div>

    <fieldset class="wrapper {{ 'error' if form.errors.email else '' }}">
        <label class="login-label">{{ dictionary["comments.CommentsFormEmail"] }}</label>
        <div class="wrapper-inputs">
            <input class="text-field" type="text" name="email" data-qa="email-field" value="{{ form.values.email if form.values.email else '' }}">
            <small class="advice email">{{ form.errors.email if form.errors.email else '' }}</small>
            <span class="info">{{ dictionary["posting_fields_1.Email_address_not_shared"] }}</span>
        </div>
    </fieldset>

    <fieldset class="wrapper {{ 'error' if form.errors.password else '' }}">
        <label class="login-label">{{ dictionary["messages_email_register.Password"] }}:</label>
        <div class="wrapper-inputs">
            <input class="text-field" type="password" name="password" data-qa="password-field" value="{{ form.values.password if form.values.password else '' }}">
            <small class="advice password">{{ form.errors.password if form.errors.password else '' }}</small>
        </div>
    </fieldset>

    <fieldset class="wrapper {{ 'error' if terms else ''}}">
        <div class="wrapper-inputs">
            <label class="terms"><input type="checkbox" name="agreeTerms" class="checkbox" checked="true" data-qa="agree-terms-checkbox">{{ dictionary["loginbox.IAgreeToTheTermsAndConditionsOfBrand"] | replace("<<LINK_TERMS_USE>>", (["<a href='" , "/terms" | link, "'>"] | join(''))) | replace("<</LINK_TERMS_USE>>","</a>") | replace("<<BRAND>>","OLX") }}</label>
            <small class="advice terms">{{ dictionary["register_confirmation.782"] }}</small>
        </div>
    </fieldset>

    <fieldset class="wrapper">
        <input type="submit" value="{{ dictionary["loginbox.Register"] }}" class="posting send" data-qa="registrate-button" >
    </fieldset>
</form>
<p class="login">{{ dictionary["misc.AlreadyAccount"] | replace("<<LINK>>", (["<a href='" , "/login" | link, "'>"] | join(''))) | replace("<</LINK>>","</a>") }}</p>

{% view 'partials/tracking' %}
