{% set terms = false %}
{% if (not agreeTerms | is('undefined')) %}
    {% set terms = true %}
{% endif %}
<h4 class="title">{{ dictionary["loginbox.Register"] }}</h4>
<form action="{{ '/register-withconf' | link }}" method="POST" enctype="multipart/form-data">

    <fieldset class="wrapper {{ 'error' if form.errors.username else '' }}">
        <label class="login-label">{{ dictionary["messages_email_register.Username"] }}:</label>
        <div class="wrapper-inputs">
            <input class="text-field" type="text" name="username" data-qa="username-field" value="{{ form.values.username if form.values.username else '' }}">
            <small class="advice username">{{ form.errors.username if form.errors.username else '' }}</small>
        </div>
    </fieldset>

    <fieldset class="wrapper {{ 'error' if form.errors.email else '' }}">
        <label class="login-label">{{ dictionary["comments.CommentsFormEmail"] }}</label>
        <div class="wrapper-inputs">
            <input class="text-field" type="text" name="email" data-qa="email-field" value="{{ form.values.email if form.values.email else '' }}">
            <small class="advice email">{{ form.errors.email if form.errors.email else '' }}</small>
            <span class="info">{{ dictionary["posting_fields_1.Email_address_not_shared"] }}</span>
        </div>
    </fieldset>

    <fieldset class="wrapper {{ 'error' if form.errors.password else '' }}">
        <label class="login-label">{{ dictionary["messages_email_register.Password"] }}:</label>
        <div class="wrapper-inputs">
            <input class="text-field" type="password" name="password" data-qa="password-field" value="{{ form.values.password if form.values.password else '' }}">
            <small class="advice password">{{ form.errors.password if form.errors.password else '' }}</small>
        </div>
    </fieldset>

    <fieldset class="wrapper {{ 'error' if terms else ''}}">
        <div class="wrapper-inputs">
            <label class="terms"><input type="checkbox" name="agreeTerms" class="checkbox" checked="true" data-qa="agree-terms-checkbox">{{ dictionary["loginbox.IAgreeToTheTermsAndConditionsOfBrand"] | replace("<<LINK_TERMS_USE>>", (["<a href='" , "/terms" | link, "'>"] | join(''))) | replace("<</LINK_TERMS_USE>>","</a>") | replace("<<BRAND>>","OLX") }}</label>
            <small class="advice terms">{{ dictionary["register_confirmation.782"] }}</small>
        </div>
    </fieldset>

    <fieldset class="wrapper">
        <input type="submit" value="{{ dictionary["loginbox.Register"] }}" class="posting send" data-qa="registrate-button" >
    </fieldset>
</form>
<a class="login" href="{{ '/login' | link }}">{{ dictionary["loginbox.IfYouAlreadyHaveAnAccountClickHereToLogIn"] }}</a>