<table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
    <tr>
        <td>
            <strong style="display: block;">Post an ad</strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong style="display: block;">Select a subcategory</strong>
        </td>
    </tr>
    <table width="100%" cellspacing="0" cellpadding="4" border="0" align="left">
        {% for category in subcategories %}
            <tr>
                <td style="border-top: solid thin #808080;">
                    <a style="display: block;" href="/posting/{{categoryId}}/{{category.id}}">
                        <small style="display: block;"><img border="0" alt="" src="" />{{category.trName}}</small>
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr style="display: none;">
            <td>
                {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
                {% include templateName %}
            </td>
        </tr>
    </table>
</table>