<h1>{{location.name}}{% if location.current %} > {{location.current.name}}{% endif %}</h1>

<form action="{{ '/location' | link }}">
	<input type="text" name="search">
	<button type="submit" class="trackMe" data-tracking="Posting-ClickSearchLocation" >Search</button>
    <input type="hidden" value="{{ target }}" name="target" style="display: none;" />
	<small>Type a city</small>
</form>

<h3>{% if search %}Results{% else %}Popular Cities{% endif %}</h3>

<div class="row-fluid font-format">
	<div class="span6 celd-format" >
		<section style="padding-bottom:0px;">
			<div id='cities.models'>
			  	<ul>
					{% for city in cities %}
 						<li>
							<a href="/{{ target }}?location={{city.url}}" class="city" style="color:black;">{{city.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</div>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</div>