{% from macros import Breadcrumb %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["distancediv.changeLocation"]) }}
<header id="location">
	<p>
		<a class="big" href="/{{ target }}?location={{ location.url }}">{{ location.name }}</a>
		{% if location.current and location.current.type != 'country' %}
			<small>&#62; {{ location.current.name }}</small>
		{% endif %}
	</p>
</header>
<header id="search">
	<form class="search-form" action="{{ '/location' | link }}">
		<input type="text" name="search" placeholder="{{ dictionary["countryoptions.EnterCity"] }}" />
		<input type="submit" class="submit trackMe" data-tracking="Posting-ClickSearchLocation" />
		{% if target %}
			<input type="hidden" value="{{ target }}" name="target" style="display: none;" />
		{% endif %}
	</form>
</header>
<div class="list">
	{% if cities.length %}
		<h3>{% if search %}{{ dictionary["listingpageitemslisting.AllResultsNew"] }}{% else %}{{ dictionary["popularsearchesbody.PopularCities"] }}{% endif %}</h3>
		<ul>
			{% for city in cities %}
				<li><a href="/{{ target }}?location={{city.url}}">{{ city.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>{{ dictionary["listingpageitemslisting.WeAreSorryNoResults"] }}</p>
	{% endif %}
</div>
{% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
{% include templateName %}
