{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["homeheader.My OLX"]) }}
{% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
<div id="createPassword">
    <form action="{{ '/createpassword' | link }}" method="POST" enctype="multipart/form-data">
        <p>Por favor ingresa una contraseña para tu cuenta de OLX. Recuerda que tienen que ser entre 6 y 20 dígitos.</p>
        <div class="formField">
            <label>{{ dictionary["loginbox.Password"] }}:</label>
            <input type="password" name="password" value="" />
            <label>{{ dictionary["loginbox.Re-enterPassword"] }}:</label>
            <label>{{ dictionary["seccion-35.518"] }}</label>
            <input type="password" name="confirmPassword" value="" />
        </div>
        <div class="formActions">
            <div class="btn-adjust btnOrange btnForm">
                <input type="submit" value="Crear contraseña" class="btns orange" />
            </div>
        </div>
    </form>
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
{% view 'partials/tracking' %}
