{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["homeheader.My OLX"]) }}
{% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
<div id="login">
    <form action="{{ '/login' | link }}" method="POST" enctype="multipart/form-data">
        <h4>{{ dictionary["loginbox.MemberAccess"] }}</h4>
        <div class="formField">
            <label>{{ dictionary["loginbox.Username"] }}</label>
            <input type="text" value="" name="usernameOrEmail" data-qa="username-field">
        </div>
        <div class="formField">
            <label>{{ dictionary["loginbox.Password"] }}</label>
            <input type="password" value="" name="password" data-qa="password-field">
        </div>
        <input type="hidden" name="redirect" value="{{ redirect if redirect else link }}">
        <div class="formActions">
            <div class="btn-adjust btnOrange btnForm">
                <input type="submit" value="{{ dictionary["loginbox.Login"] }}" name="submit" class="btns orange" data-qa="login-button" >
            </div>
        </div>
    </form>
    <div class="formField" style="padding-top:0;">
        <a href="{{ '/register' | link }}" data-qa="register-link" >{{ dictionary["loginbox.NotAMember"] }} {{ dictionary["loginbox.CreateYourAccount"] | replace(':','.') }}</a>
    </div>
    {% set templateName = template + '/partials/tracking.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
