{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["homeheader.My OLX"]) }}
{% if form and form.errors %}
    <div class="messages errors">
        <span>{{ dictionary["lostform.ThereIsNoPasswordSetForThisEmailOnBrand"]|replace('<<BRAND>>, OLX') }}</span><br/>
    </div>
{% endif %}
<div id="login" {{ 'class="hide"' if success}}>
    <form action="{{ '/lostpassword' | link }}" method="POST" enctype="multipart/form-data">
        <div class="formField">
            <p>{{ dictionary["lostform.PleaseEnter"]|replace('<<BRAND>>, OLX') }}</p>
            <label>{{ dictionary["comments.CommentsFormEmail"] }}</label>
            <input type="text" name="email" value="" />
            <div class="formActions">
                <div class="btn-adjust btnOrange btnForm">
                    <input type="submit" value="{{ dictionary["landingbody.SubmitRegistration"] }}" class="btns orange" />
                </div>
            </div>
        </div>
    </form>
</div>

{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
{% view 'partials/tracking' %}
