{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["homeheader.My OLX"]) }}
{% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
<div id="login">
    <form action="{{ '/lostpassword' | link }}" method="POST" enctype="multipart/form-data">
        <h4>{{ dictionary["loginbox.MemberAccess"] }}</h4>
        <p>{{ dictionary["lostform.PleaseEnter"]|replace('<<BRAND>>, OLX') }}</p>
        <div class="formField">
            <label>{{ dictionary["comments.CommentsFormEmail"] }}</label>
            <input type="text" name="email" value="" />
        </div>
        <div class="formActions">
            <div class="btn-adjust btnOrange btnForm">
                <input type="submit" value="{{ dictionary["landingbody.SubmitRegistration"] }}" class="btns orange" />
            </div>
        </div>
    </form>
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
{% view 'partials/tracking' %}
