{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["myolx.MyAds"], ['<a href="', '/logout' | link, '" class="logout" data-qa="logout-button">', dictionary["myolx.SignOut"], '</a>'] | join) }}
{% if deleted %}
    <div id="messages">
        <div class="messages feedback">{{ dictionary["myolx.TheAdHasBeenDeleted"] }}</div>
    </div>
{% endif %}
<div id="myads">
    {% if items.length %}
        <ul class="itemListing">
            {% for item in items.toJSON() %}
                <li>
                    <a href="{{ item | slugToUrl | link }}">
                        <div class="imageCont" style="background-image: url({{ item.thumbnail if item.thumbnail else ('/images/html4/noPhoto.png' | static) }});"></div>
                        <div class="itemInfo">
                            {% set status = 'ready' %}
                            {% set statustxt = dictionary["listingpageitemslisting.Posted"] %}
                            {% if item.status == 'expired' %}
                                {% set status = 'expired' %}
                                {% set statustxt = dictionary["misc.Expired"] %}
                            {% elif item.status == 'closed' %}
                                {% set status = 'deleted' %}
                                {% set statustxt = dictionary["misc.Removed"] %}
                            {% elif item.status == 'rejected' %}
                                {% set status = 'rejected' %}
                                {% set statustxt = dictionary["item.Rejected"] %}
                            {% elif item.status == 'pending' %}
                                {% set status = 'pending' %}
                                {% set statustxt = dictionary["misc.Pending_BR"] %}
                            {% endif %}
                            <span class="status {{ status }}">{{ statustxt }}</span>
                            <h2 class="title">{{ item.title }}</h2>
                            <p class="itemPrice">{{ item.price.displayPrice }}</p>
                        </div>
                    </a>
                    {% if item.status == 'ready' %}
                        <div class="actions">
                            {% if item.editable %}
                                <a href="{{ ['/myolx/edititem/', item.id] | join('') | link }}" class="action edit">{{ dictionary["showactivelistings.Edit"] }}</a>
                            {% endif %}
                            {% if status == 'ready' %}
                                <a href="{{ ['/myolx/deleteitem/', item.id] | join('') | link }}" class="action delete">{{ dictionary["confirmremoveitem.Delete"] }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="emtyList">
                {{ dictionary["myolx.YouCurrentlyHaveNoActiveListings"] }}
            </div>
        {% endif %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}
{% view 'partials/tracking' %}
