{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary['register_form.278']) }}
<div id="success-box" data-qa="flag-register-success">
    <img src="{{ '/images/html4/icon-envelope.png' | static }}" alt="">
    <h1>{{ dictionary["lostform.WeSentYouAnEmailToConfirmRegistration"] }}</h1>
    <p>{{ dictionary["lostform.ClickTheLinkInTheEmailToConfirmRegistration"] }} {{ dictionary["lostform.IfYouDontReceiveEmailCheckSpamMailbox"] }}</p>
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}

{% view 'partials/tracking' %}
