* {
	margin: 0; 
	padding: 0;
}
body {
	font-family: Helvetica,Arial,sans-serif;
}
a {
	text-decoration: none;
	outline: none;
}
ul, li {
	list-style: none;
}
.clear {
	clear: both;
}
.env {
	padding: .2rem; 
	background: #333; 
	font-size: 10px; 
	color: #FFF;
}
.active {
    font-weight: bold;
}
.last {
	border: none !important;
}
.line {
	height: 1px;
	display: block;
	margin: 6px 0;
	background: #cccccc;
}
.breadcrumb {
	height: 32px;
	position: relative;
	overflow: hidden;
	background: #a0a0a0;
}
.breadcrumb a {
	width: 38px;
	height: 32px;
	float: left;
	border-right: 1px solid #676767;
	background: url(imageUrl/images/html4/navBack.png) no-repeat center;
	text-indent: -9000px;
}
.breadcrumb a.home {
	border-right: none;
	border-left: 1px solid #c9c9c9;
	background: url(imageUrl/images/html4/navHome.png) no-repeat center;
}
.breadcrumb h1 {
	height: 25px;
	padding: 7px 16px 0;
	border-left: 1px solid #c9c9c9;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	color: #ffffff;
}
.btns {
	width: auto;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.btns.orange {
	border: 1px solid #C44D13;
	background: #E0771B;
}
.btns.grey {
	border: 1px solid #4c4b4b;
	background: #666666;
}
.emtyList {
	padding: 28px 14px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
/*---Forms****/
h4 {
	padding: 8px 16px 0;
	clear: both;
	font-size: 16px;
	color: #333333;
	overflow: hidden;
}
.formField {
	padding: 8px 16px;
	clear: both;
	overflow: hidden;
}
.formActions {
	padding: 16px;
	clear: both;
	text-align: left;
}
.formActions .btns {
	padding: 7px 10px;
	font-size: 12.8px;
}
.formField label {
	display: block;
	color: #333333;
}
.formField input, .formField textarea {
	width: 99%;
	display: block;
	padding: 4px 0 4px 4px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	font-size: 16px;
	background: #f8f8f8;
}ç
.formField input {
	height: 22px;
}
.formField textarea {
	height: 72px;
}
#errors {
	margin: 0;
    padding: 6px 12px;
    clear: both;
    color: #333333;
    font-size: 0.8em;
    overflow: hidden;
    border: 1px solid #B55351;
    background: #F9E4E3;
}