{% if blackBar.show %}
    <div class="env">You are now in <strong>{{blackBar.env}} ({{blackBar.platform}} v. {{blackBar.version}} :: {{blackBar.revision}})</strong> environment.</div>
{% endif %}

<h1 id="header_keywords">
    <strong>{{location.name}} Free classifieds</strong>
</h1>

<div class="in-header-wrapper-bg ind-header-container">
    <div id="header" class="new-buddy nuevo n_top ind-header-wrap">
        <a class="logo" id="headerlogolink" href="/" title="Free classifieds in {{location.name}}, Classified ads in {{location.name}}, Online Classified Advertising">
            <img src="{{ '/images/desktop/logoMenu.png' | static }}" alt="Free classifieds in {{location.name}}, Classified ads in {{location.name}}, Online Classified Advertising" width="82" height="82" style="margin: 12px 0" >
        </a>
        <p class="ina-headtxt ">
            {{location.name}} Largest Marketplace<span>Sell anything from used cars to mobiles, furniture, laptops, clothing &amp; more...</span>
        </p>
        <a id="post-it" class="olx-ui-button corner-radius orange ina-post-button" rel="nofollow" href="{% if location.current %}{{ '/posting' | link }}{% else %}{{ '/location?target=posting' | link }}{% endif %}">
            Submit an Ad<span class="ina-free-flag">Free</span>
        </a>
    </div>
</div>