section#itemListing {
    display: block;
}
section#itemListing .breadcrumb .switchView {
    width: 1.7rem;
    height: 1.5rem;
    position: absolute;
    top: .3rem;
    right: .5rem;
    border: 1px solid #355E97;
    border-radius: 0.3125rem;
    background-color: #4275BA;
    background-position: 4px 5px;
    background-repeat: no-repeat;
    background-image: url(imageUrl/images/html5/menuGallerySprite.png);
    cursor: pointer;
}
section#itemListing .breadcrumb .switchView.gallery {
    background-position: -22px 5px;
}
section#itemListing ul.gallery-list li a .image{
    display: none;
}
section#itemListing ul.gallery-list li a .image.filled {
    width: 100%;
    height: 11rem;
    display: block;
    margin: 0 0 .3rem;
}
section#itemListing ul.gallery-list li a p {
    float: left;
    margin: 0 0 0 .3125rem;
    padding: .4rem 0 .3rem;
}
section#itemListing ul.gallery-list li a h3 {
    position: relative;
    float: right;
    padding: 0 .3125rem 0 0;
    left: 0;
    bottom: 0;
}
section#itemListing ul.gallery-list li a .title {
    height: auto;
    clear: both;
    margin: 0;
    padding: .5rem .3125rem;
}
section#itemListing ul.gallery-list li a .title h2 {
    height: auto;
}
section#itemListing #itemPagination {
    width: 200px;
    height: 32px;
    margin: 20px auto 0;
    font-size: 15px;
}
section#itemListing #itemPagination .arrow {
    width: 34px;
    height: 33px;
    float: left;
}
section#itemListing #itemPagination .arrow.leftA {
    background: url(imageUrl/images/html4/leftA.png) no-repeat;
}
section#itemListing #itemPagination .arrow.leftD {
    background: url(imageUrl/images/html4/leftD.png) no-repeat;
}
section#itemListing #itemPagination .arrow.rightA {
    background: url(imageUrl/images/html4/rightA.png) no-repeat;
}
section#itemListing #itemPagination .arrow.rightD {
    background: url(imageUrl/images/html4/rightD.png) no-repeat;
}
section#itemListing #itemPagination .center {
    width: 125px;
    height: 33px;
    float: left;
    padding: 6px 0 0 5px;
    text-align: center;
}
section#itemListing #itemPagination .center a, section#itemListing #itemPagination .center strong {
    width: 10px;
    float: left;
    padding: 0 6px;
    display: inline;
    vertical-align: top;
    color: #333333;
    border-right: 1px solid #000000;
}
section#itemListing #itemPagination .center a.last, section#itemListing #itemPagination .center strong.last {
    border-right: 0 solid #000000;
}
section#itemListing #itemPaginationCaption {
    width: 195px;
    margin: 0 auto 5px;
    clear: both;
    overflow: hidden;
    font-size: 13px;
}
section#itemListing #itemPaginationCaption a {
    color: #aaaaaa;
}
section#itemListing #itemPaginationCaption a.left {
    float: left;
}
section#itemListing #itemPaginationCaption a.right {
    float: right;
}