{% if tracking.params.ati %}
<!-- Chamada do script de TV da TVdata -->
<script type="text/javascript" src="http://tdp01.tvdata.com.br/?a=6&timeframe=300"></script>

<script id="ati-lib" type="text/javascript">
    var atiapi = (atiapi || []);
    var xtcustom = JSON.parse('{{ tracking.params.ati.custom }}');

    atiapi.push(['config', 'domain', '{{ tracking.params.ati.domain }}']);
    atiapi.push('tv-data');
    atiapi.push({
        xtdmc: '{{ tracking.params.ati.host }}',
        xtnv: document,
        xtsd: '{{ tracking.params.ati.protocol }}://{{ tracking.params.ati.logServer }}',
        xtsite: '{{ tracking.params.ati.siteId }}',
        xtcustom: xtcustom,
        xtergo: '1'
    });

    (function() {
        var at   = document.createElement('script');
        at.type  = 'text/javascript';
        at.async = true;
        at.src = "{{'/js/lib/xtcore.js' | static }}";
        (document.getElementById('ati-lib').parentNode).insertBefore(at,null);
    })();
</script>
<noscript>
    <img width="1" height="1" alt="" src="{{ tracking.params.ati.protocol }}://{{ tracking.params.ati.logServer }}.ati-host.net/hit.xiti?s={{ tracking.params.ati.siteId }}&stc={{ tracking.params.ati.custom | encode }}"/>
</noscript>
{% endif %}