<h1>Register</h1>
<div class="row-fluid font-format">
	<div class="span6 celd-format" >
		<section style="padding-bottom:0px;">
            <form action="/registration" method="POST" enctype="multipart/form-data">
                {{#each params.err}}
                    <small style="display: block; color: red;">{{this}}</small>
                {{/each}}
            	<span style="display: block;">Username</span>
                <input type="text" name="username">
            	<span style="display: block;">Email</span>
                <input type="text" name="email">
            	<span style="display: block;">Password</span>
                <input type="password" name="password">
                <span style="display: block;">
                    <input type="checkbox" name="agreeTerms">
                    I agree to the <a href="/terms">Terms and Conditions</a> of OLX 
                </span>
            	<span style="display: block;"><input type="submit" value="Register"></span>
            </form>
		</section>
	</div>
</div>