<!doctype html>
<html>
    {% view 'layout/head' %}
    <body>

        {% view 'header/bar' %}
        {% view 'header/index' %}
        {% set templateName = template + '/partials/search.html' %}
        {% include templateName %}

        <article>
            <div id="content">
                {{body}}
            </div>
        </article>

        {% view 'location/select' %}
        {% view 'footer/languages' %}
        {% view 'footer/footer' %}

        <script src="{{ [jsDir, 'libs.js'] | join('/') | static }}"></script>
        <script src="{{ [jsDir, 'translations.js'] | join('/') | static }}"></script>
        <script src="{{ [jsDir, 'templates', template, 'templates.js'] | join('/') | static }}"></script>
        <script src="{{ [jsDir, 'app.js'] | join('/') | static }}"></script>
        <script>
            (function() {
                var App = window.App = new (require('app/app'))({% json appData %});
                App.bootstrapData({% json bootstrappedData %});
                App.start();
            })();
        </script>
    </body>
</html>
