<div class="modal-section">
    <div class="modal-columns">
		{% set columns = ((countries.length / 6) | round(0, 'ceil')) %}
		{% for country in countries %}
			{% if loop.first or loop.index % columns == 1 %}
				<ul class="modal-column">
			{% endif %}
					<li class="modal-column-item"><a href="{{ ('http://' + country.url) }}" class="modal-column-link" title="{{ country.name }}">{{ country.name }}</a></li>
			{% if loop.last or loop.index % columns == 0 %}
				</ul>
			{% endif %}
		{% endfor %}        
    </div>
</div>
