<div class="footer-options">
	<ul class="select">
		<li><a href="#">Categorias<span class="icons icon-navarrowup"></span></a></li>
		<li><a href="#">Popular en<span class="icons icon-navarrowup"></span></a></li>
		<li><a href="#">OLX cerca tuyo<span class="icons icon-navarrowup"></span></a></li>
		<li><a href="{{ '/help' | link }}">OLX te ayuda<span class="icons icon-navarrowup"></span></a></li>
	</ul>
</div>
<div class="container">
	<p>Clasificados Gratis en Venezuela - Copyright &copy; 2006-2014 OLX, Inc.</p>
	<ul class="social">
		<li><a class="icons icon-facebook" title="facebook" href="#"></a></li>
		<li><a class="icons icon-twitter" title="Twitter" href="#"></a></li>
		<li><a class="icons icon-google-plus" title="google-plus" href="#"></a></li>
	</ul>
</div>
