<div data-slide-content="true" class="slide-container">
    {% if not hidden.categories %}
        <div class="category-slide footer-slide hide">
            <a title="close" data-footer-slidedown="category-slide" class="icons icon-close" href="#"></a>
            {% view 'footer/categorytree' %}
        </div>
    {% endif %}

    <div class="help-slide footer-slide hide">
        <a title="close" data-footer-slidedown="help-slide" class="icons icon-close" href="#"></a>
        <div class="title-bar">
            <h3 class="title">{{ dictionary["biderrorheader.Help"] }}</h3>
        </div>
        <ul>
            <li><a rel="nofollow" href="{{ '/help' | link }}">{{ dictionary["biderrorheader.Help"] }}</a></li>
            <li><a rel="nofollow" href="{{ '/terms' | link }}">{{ dictionary["register_form.termsAgreeB"] }}</a></li>
            <li><a rel="nofollow" href="{{ '/about' | link }}">{{ dictionary["defaultfooter.About OLX"] }} </a></li>
            <!--li><a href="#">{{ dictionary["contact_us.ContactBrand"] }} </a></li-->
        </ul>
    </div>

    <div class="popular-slide footer-slide hide">
        <a title="close" data-footer-slidedown="popular-slide" class="icons icon-close" href="#"></a>
        {% view 'footer/popular' %}
    </div>

    <div class="countries-slide footer-slide hide">
        <a title="close" data-footer-slidedown="countries-slide" class="icons icon-close" href="#"></a>
        {% view 'footer/countries' %}
    </div>
</div>
