{% set sections = 0 %}
{% if location.metadata.seo.topLocations.firstLevel.entities %}
    {% set cities = location.metadata.seo.topLocations.firstLevel.entities %}
    {% set sections = sections + 1 %}
{% endif %}
{% if location.metadata.seo.topLocations.secondLevel.entities %}
    {% set states = location.metadata.seo.topLocations.secondLevel.entities %}
    {% set sections = sections + 1 %}
{% endif %}
{% if cities %}
    {% set columns = ((cities.length / (4 / sections)) | round(0, 'ceil')) %}
    <div class="modal-section">
        <h4 class="modal-section-title">{{ dictionary["popularsearchesbody.PopularCities"] }}</h4>
        <div class="modal-columns">
            {% for city in cities %}
                {% if loop.first or loop.index % columns == 1 %}
                    <ul class="modal-column">
                {% endif %}
                        <li class="modal-column-item"><a href="{{ '/' | link({location: city.url}) }}" class="modal-column-link" title="{{ city.anchor }}">{{ city.anchor }}</a></li>
                {% if loop.last or loop.index % columns == 0 %}
                    {% if loop.last %}
                        <li class="modal-column-item"><a href="{{ (('all-states/' + currentState.hostname) | link({location: location.url})) if currentState.hostname else ('all-states/' | link({location: location.url})) }}" class="modal-column-link" title='{{ dictionary["countryoptions.OtherCities"] }}'>{{ dictionary["countryoptions.OtherCities"] }}</a></li>
                    {% endif %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if states %}
    {% set columns = ((states.length / (4 / sections)) | round(0, 'ceil')) %}
    <div class="modal-section">
        <h4 class="modal-section-title">{{ dictionary["misc.States"] if location.metadata.seo.topLocations.secondLevel.name == 'state' else dictionary["countryoptions.OtherCitiesInRegion"] | replace("<<REGION>>", currentState.name) }}</h4>
        <div class="modal-columns">
            {% for state in states %}
                {% if loop.first or loop.index % columns == 1 %}
                    <ul class="modal-column">
                {% endif %}
                        <li class="modal-column-item"><a href="{{ '/' | link({location: state.url}) }}" class="modal-column-link" title="{{ state.anchor }}">{{ state.anchor }}</a></li>
                {% if loop.last or loop.index % columns == 0 %}
                    {% if loop.last %}
                        <li class="modal-column-item"><a href="{{ '/all-states' | link }}" class="modal-column-link" title='{{ dictionary["countryoptions.AllDepartaments"] }}'>{{ dictionary["countryoptions.AllDepartaments"] }}</a></li>
                    {% endif %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

