.hidden {
	display:none
}

#search {
	border-bottom:1px solid #d0d0d0;
	box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#itemListing {
	margin-top:.25em
}

ul.itemListing li {
	height:auto;
	min-height:90px;
	width: auto !important;
}

ul.itemListing li .itemInfo {
	height:auto;
	min-height:90px
}

ul.itemListing li .itemInfo .centerCont {
	height:auto
}

ul.itemListing li .itemInfo .centerCont a h2 {
	display:inline-block;
	height:1.2em;
	overflow:hidden;
	text-overflow:ellipsis
}

.shopAds,
ul.itemListing li.callsToActionAd,
.adLikeStore,
.nearbyStore{	
	width: auto;		
	background-color:#f7f7f7 !important
}


.shopAds {
	margin:0;
	padding:.5em .5em .75em;		
}

.shopAds h2,
.shopAds h3 {
	font-size:.75em;
	margin:.75em .25em 0;
	color:#666
}

.shopAds h3 {
	margin-top:.75em;
	padding-top:.75em
}

#home .shopAds h3 a {
	padding:0;
	margin:.5em 0 0;
	color:#FF7800
}

#home .shopAds a span,
#home .shopAds a strong {
	
}

#home .shopAds a span {
	top:0;
	font-size:1em;
	color:#ff7800
}

#home .shopAds a strong {
	position: relative;
	bottom: 4px;
	padding: 0.25em 0.35em 0.1em;
	font-size: 75%;
	border-radius: 2px;
	background-color: rgba(255, 221, 199, 0.98);
	font-weight: normal;	
}

ul.itemListing li.spamLikeAd {
	min-height:2em
}

ul.itemListing li.spamLikeAd .shopAdInfo {
	margin:0;
	padding:.75em .5em;	
	background-color:#FFF6E2
}

ul.itemListing li.spamLikeAd .shopAdInfo h2 {
	display:inline;
	font-size:.75em;
	line-height:1.3em
}

span.storeSign {
	position:relative;
	top:-1px;
	margin-right:.5em;
	padding:.25em .33em .1em;
	border-radius:3px;
	color:#fff;
	background-color:#ff7800;
	font-size:.55em
}

ul.itemListing li .itemInfo span:last-child {
	display:inline-block;
	float:none;
	width:3.5em;
	height:1em;
	margin-left:3px;
	overflow:hidden;
	text-overflow:ellipsis
}

ul.itemListing li.callsToActionAd {
	height:120px;
	position:relative;	
}

.callsToActionAd .callsToAction {
	position:relative;
	width:100%;
	margin:0;	
	font-size:.75em;	
}

.callsToActionAd .callsToAction span.storeName,
.callsToActionAd .callsToAction ul {
	display:block;
	width:100%
}

.callsToActionAd .callsToAction span.storeName {
	display: inline-block;
	min-width: 15em;
	max-width:150px;
	min-height: 1em;
	padding-top: 3px;
	padding-left: 22px;
	font-style: italic;
	font-size: 11px;
	color: #666;
	text-align: left;
	text-overflow: ellipsis;
	background: url(imageUrl/images/html4/icons/www.olx.com.ar/storeIcon.png) 3px center no-repeat transparent;
}

.callsToActionAd .callsToAction span.storeName strong{
	color:#9546C8;
	font-weight: normal
}

.callsToActionAd .callsToAction ul {
	position:absolute;
	bottom:8px;
	right:3px;
	width:100px;
	height:2em
}

.callsToActionAd .callsToAction ul li {
	float:left;
	width:24px !important;
	margin:0 4px;
	border-bottom:none
}

.callsToActionAd .callsToAction ul li a.call,
.callsToActionAd .callsToAction ul li a.email,
.callsToActionAd .callsToAction ul li a.sms {
	padding:4px 10px 10px 18px;
	color:#666;
	text-indent:-100000px;
	border:1px solid #ddd;
	border-radius: 3px	
}

.callsToActionAd .callsToAction ul li a.call {
	background:url(imageUrl/images/html4/icons/www.olx.com.ar/phone.png) no-repeat scroll center center #fff;
	background-size: 60%
}

.callsToActionAd .callsToAction ul li a.email {
	background:url(imageUrl/images/html4/icons/www.olx.co.ke/mail.png) no-repeat scroll center 3px #fff;
	background-size: 60%
}

.callsToActionAd .callsToAction ul li a.sms {
	background:url(imageUrl/images/html4/icons/www.olx.co.ke/sms2.png) no-repeat scroll center 7px #fff;
	background-size: 60%
}

ul.itemListing.recommendedShop {
	font-size:.85em
}

.fixedAdTitle {
	margin:.5em;
	font-size:.85em;
	font-weight:700;
	color:#333
}

.shopAds h3 {
	font-size:1em;
	margin:0 0 .5em;
	color:#ff7800
}

.shopAds span {
	font-size:.85em;
	color:#333
}

ul.itemListing.recommendedShop li .itemInfo .centerCont {
	height:auto
}

ul.itemListing.recommendedShop li .itemInfo span:last-child {
	text-overflow:visible;
	overflow:visible;
	width:auto;
	font-size:.85em
}

.storePic {
	width:35%;
	max-width: 150px;
	height:50px;
	z-index:9999999;
	position:absolute;
	background:transparent url(imageUrl/images/html4/icons/www.olx.com.ar/storeFlag2.png) 0 0 no-repeat;
	text-indent:-10000px
}

li.adLikeStore .itemInfo em {
	display:inline-block;
	width:100%;		
	font-size:11px;
	line-height: 12px;
	font-style:normal;
	font-weight:bold;	
	text-overflow: clip ellipsis;
	color:#666
}

.nearbyStore {
	margin: -.5em 0 0.5em;
	padding: .5em 0 0;
	border-left: none;
	border-right: none;
	border-top: none;
}

.nearbyStore h3 {
	text-align: center;
	padding:0.25em 0 .35em;
	border-bottom:1px solid #8900D0;
	color:#8900D0;
	font-size:.7em;	
}

.nearbyStore h2 {
	font-size:1em;
	color:#ff7800;
	margin-bottom:.25em
}

a.mapLink {
	float:right;
	background-color:#E7F6FF;
	padding:.3em .5em;
	font-size:.6em;
	border-radius:3px;
	color:#fff
}

.nearbyStore span.location,
.nearbyStore span.description {
	font-size:.7em;
	display:inline-block;
	color:#333
}

.nearbyStore span.description {
	font-weight:700
}

.stores {
	margin:0 auto
}

.stores ul.itemListing li .itemInfo .centerCont {
	margin:0
}

.stores ul.itemListing li,
.stores ul.itemListing li .itemInfo {
	height:auto;
	min-height:0
}

.stores .shopAds {
	box-shadow:none;
	border:none;
	background-color:transparent
}

.emtyList {
	box-sizing:border-box;
	max-width:90%;
	margin:.75em auto 1em;
	padding:1em;
	border-radius:3px;
	border:2px solid #ff7800
}

#map-canvas{
	width: 100%;
	height: 100px;
}