.hidden {
	display:none
}

#search {
	border-bottom:1px solid #d0d0d0;
	box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#itemListing {
	margin-top:.25em
}

ul.itemListing li {
	height:auto;
	min-height:90px
}

ul.itemListing li .itemInfo {
	height:auto;
	min-height:90px
}

ul.itemListing li .itemInfo .centerCont {
	height:auto
}

ul.itemListing li .itemInfo .centerCont a h2 {
	display:inline-block;
	height:1.2em;
	overflow:hidden;
	text-overflow:ellipsis
}

.shopAds {
	margin:0;
	padding:.5em .5em .75em;
	box-shadow:inset 0 -1px 3px rgba(0,0,0,0.1);
	border-bottom:1px solid #e7e7e7;
	background-color:#FFF6E2
}

.shopAds h2,.shopAds h3 {
	font-size:.75em;
	margin:.75em .25em 0;
	color:#666
}

.shopAds h3 {
	margin-top:.75em;
	padding-top:.75em
}

#home .shopAds h3 a {
	padding:0;
	margin:.5em 0 0;
	color:#FF7800
}

#home .shopAds a span,#home .shopAds a strong {
	
}

#home .shopAds a span {
	top:0;
	font-size:1em;
	color:#ff7800
}

#home .shopAds a strong {
	position:relative;
	top:-2px;
	margin-right:1em;
	padding:.35em .5em .25em;
	border-radius:4px;
	font-size:.85em;
	background-color:#FF7800;
	color:#fff
}

ul.itemListing li.spamLikeAd {
	min-height:2em
}

ul.itemListing li.spamLikeAd .shopAdInfo {
	margin:0;
	padding:.75em .5em;
	background-color:#FFF6E2
}

ul.itemListing li.spamLikeAd .shopAdInfo h2 {
	display:inline;
	font-size:.75em;
	line-height:1.3em
}

span.storeSign {
	position:relative;
	top:-1px;
	margin-right:.5em;
	padding:.25em .33em .1em;
	border-radius:3px;
	color:#fff;
	background-color:#ff7800;
	font-size:.55em
}

ul.itemListing li .itemInfo span:last-child {
	display:inline-block;
	float:none;
	width:3.5em;
	height:1em;
	margin-left:3px;
	overflow:hidden;
	text-overflow:ellipsis
}

ul.itemListing li.callsToActionAd {
	height:120px;
	position:relative;
	background-color:#FFF6E2
}

.callsToActionAd .callsToAction {
	position:relative;
	width:100%;
	margin:0;
	padding-bottom:1em;
	padding-top:3px;
	font-size:.75em;
	border-bottom:1px solid #e7e7e7
}

.callsToActionAd .callsToAction span.storeName,.callsToActionAd .callsToAction ul {
	display:block;
	width:100%
}

.callsToActionAd .callsToAction span.storeName {
	min-height:1em;
	padding-top:3px;
	padding-left:3px;
	font-style:italic;
	color:#ff7c28;
	text-align:left
}

.callsToActionAd .callsToAction ul {
	position:absolute;
	bottom:7px;
	right:0;
	width:50%;
	height:1.5em
}

.callsToActionAd .callsToAction ul li {
	float:right;
	width:24px;
	margin:0 2px;
	border-bottom:none
}

.callsToActionAd .callsToAction ul li a.call,.callsToActionAd .callsToAction ul li a.email,.callsToActionAd .callsToAction ul li a.sms {
	padding:4px 0 4px 18px;
	color:#666;
	text-indent:-1000000px;
	border:none
}

.callsToActionAd .callsToAction ul li a.call {
	background:url(imageUrl/images/html4/icons/www.olx.co.ke/phone.png) no-repeat scroll 0 0 transparent
}

.callsToActionAd .callsToAction ul li a.email {
	background:url(imageUrl/images/html4/icons/www.olx.co.ke/mail.png) no-repeat scroll 0 -2px transparent
}

.callsToActionAd .callsToAction ul li a.sms {
	background:url(imageUrl/images/html4/icons/www.olx.co.ke/sms2.png) no-repeat scroll 0 2px transparent
}

ul.itemListing.recommendedShop {
	font-size:.85em
}

.fixedAdTitle {
	margin:.5em;
	font-size:.85em;
	font-weight:700;
	color:#333
}

.shopAds h3 {
	font-size:1em;
	margin:0 0 .5em;
	color:#ff7800
}

.shopAds span {
	font-size:.85em;
	color:#333
}

ul.itemListing.recommendedShop li .itemInfo .centerCont {
	height:auto
}

ul.itemListing.recommendedShop li .itemInfo span:last-child {
	text-overflow:visible;
	overflow:visible;
	width:auto;
	font-size:.85em
}

.storePic {
	width:50px;
	height:50px;
	z-index:9999999;
	position:absolute;
	background:transparent url(imageUrl/images/html4/icons/www.olx.co.ke/storeFlag.png) 0 0 no-repeat;
	text-indent:-10000px
}

li.adLikeStore .itemInfo em {
	font-size:.75em;
	width:100%;
	display:inline-block;
	font-weight:700;
	font-style:normal;
	color:#666
}

.adLikeStore {
	background-color:#FFF6E2
}

.nearbyStore {
	margin-top:.75em;
	padding:.5em;
	background-color:#FFF6E2;
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #ccc;
	box-shadow:0 -1px 3px rgba(0,0,0,0.1) inset
}

.nearbyStore h3 {
	margin-bottom:.75em;
	padding-bottom:.25em;
	border-bottom:1px solid #e7e7e7;
	color:#666;
	font-size:.8em;
	font-style:italic
}

.nearbyStore h2 {
	font-size:1em;
	color:#ff7800;
	margin-bottom:.25em
}

a.mapLink {
	float:right;
	background-color:#ff7800;
	padding:.3em .5em;
	font-size:.6em;
	border-radius:3px;
	color:#fff
}

.nearbyStore span.location,.nearbyStore span.description {
	font-size:.7em;
	display:inline-block;
	color:#333
}

.nearbyStore span.description {
	font-weight:700
}

.stores {
	margin:0 auto
}

.stores ul.itemListing li .itemInfo .centerCont {
	margin:0
}

.stores ul.itemListing li,.stores ul.itemListing li .itemInfo {
	height:auto;
	min-height:0
}

.stores .shopAds {
	box-shadow:none;
	border:none;
	background-color:transparent
}

.emtyList {
	box-sizing:border-box;
	max-width:90%;
	margin:.75em auto 1em;
	padding:1em;
	border-radius:3px;
	border:2px solid #ff7800
}
