<!doctype html>
<html>
    {% view 'layout/head' %}
    <body>
        {% view 'header/index' %}
        {% set templateName = template + '/location/select.html' %}
        {% include templateName %}
        {% set templateName = template + '/partials/search.html' %}
        {% include templateName %}
        <article>
            {% set templateName = template + '/left-panel/index.html' %}
            {% include templateName %}
            <div id="content">
                {{body}}
                {% set templateName = template + '/footer/index.html' %}
                {% include templateName %}
            </div>
        </article>
        <script src="/js/app/libs.js"></script>
        <script src="/js/app/{{directory}}/app.js"></script>
        <script>
            (function() {
                var App = window.App = new (require('app/app'))({% json appData %});
                App.bootstrapData({% json bootstrappedData %});
                App.start();
            })();
        </script>
    </body>
</html>
