<!doctype html>
<html>
    <head>
        {% set templateName = template + '/partials/head.html' %}
        {% include templateName %}
    </head>
    <body>

        {% set templateName = template + '/header/index.html' %}
        {% include templateName %}
        <article>
            {% set templateName = template + '/left-panel/index.html' %}
            {% include templateName %}
            <div id="content">
                {{body}}
                {% set templateName = template + '/footer/index.html' %}
                {% include templateName %}
            </div>
        </article>
        
        <script src="/js/libs.js"></script>
        <script src="/js/app.js"></script>
        <script>
            (function() {
                var App = window.App = new (require('app/app'))({{appData | json}});
                App.bootstrapData({{bootstrappedData | json}});
                App.start();
            })();
        </script>
    </body>
</html>
