.adserving-listing {
    .ads-csa {
        margin-top: 10px;
        iframe {
            border: 1px solid $greyBorders;
            border-bottom: none;
            box-sizing: border-box;
            display: block;
        }
        &.slot_bottom_listing {
            margin-bottom: 10px;
            margin-top: -10px;
            iframe {
                border: 1px solid $greyBorders;
                border-top: none;
            }
        }
        &.slot_top_listing_gallery:not(:empty) {
            background: $white;
            border: 1px solid $greyBorders;
            box-sizing: border-box;
            height: auto !important; /* es de vida o muerte */
            margin: 10px 0;
            padding: 10px;
            iframe {
                border: none;
            }
        }
    }
    .ads-adx,
    .ads-afc {
        text-align: center;
        iframe {
            border: none;
            margin: 0;
            vertical-align: top;
        }
        &.slot_side_listing,
        &.slot_side_item {
            margin-top: 20px;
        }
        &.slot_top_item {
            margin: 10px 0 20px 0;
            min-height: 90px;
        }
    }
    .ads-afc {
        iframe {
            visibility: hidden;
        }
        ul {
            background: $white;
            border: 1px solid $greyBorders;
            border-radius();
            clear: left;
            ul-reset();
            text-align: left;

            li {
                border-bottom: 1px solid $greyBorders;
                padding: 10px;

                &:last-child {
                    border: none;
                }

                .ads-afc-desc {
                    font-size: $xs;
                }
                .ads-afc-link {
                    font-size: $xs;
                    padding-left: 5px;
                    text-decoration: underline;
                }
                .ads-afc-title {
                    text-decoration: underline;
                }
            }
        }
        &.slot_bottom_item {
            li {
                padding: 20px;

                .ads-afc-title {
                    color: $orange;
                    display: block;
                    font-size: $l;
                }
            }
        }
        &.slot_top_item {
            li {
                .ads-afc-link {
                    color: #080;
                }
                .ads-afc-title {
                    font-size: $m;
                    font-weight: bold;
                    padding: 0 5px 0 0;
                }
            }
        }
    }
}

.adserving-listing:not(:empty) + .items-list {
    margin-top: 0;
}
