.adserving-listing iframe {
    box-sizing: border-box;
    border: 1px solid $greyBorders;
    border-bottom: none;
    display: block;
    margin-top: 10px;
}

.adserving-listing + .items-list {
    margin-top: 0;
}

.items-list + .adserving-listing {
    margin-bottom: 10px;
    margin-top: -10px;
}

.items-list + .adserving-listing iframe {
    border: 1px solid $greyBorders;
    border-top: none;
}
