#breadcrumb {
    color: #000;
    font-size: $xs;
    float: left;
    height: 30px;
    width: 100%;

    .breadcrumb-navigation {
        float: left;
        .count {
            color: #999;
        }
    }

    .breadcrumb-pagination {
        float: right;
        p, a {
            display: inline-block;
            margin: 0;
        }
        a {
            color: #666;
            &.disable {
                color: #ddd;
            }
            &:nth-child(2) {
                box(#fff, #ddd , 3px 0 0 3px, 6px, solid, 1px 0 1px 1px);
            }
            &:last-child {
                box(#fff, #ddd , 0 3ox 3px 0, 6px);
            }
        }
    }
}
