.country-area {
    box();
    clear-fix();
    background: $white;
    background: -moz-linear-gradient(top, $white 20%, $greyPageBg 20%);
    background: -ms-linear-gradient(top, $white 20%, $greyPageBg 20%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,$white), color-stop(20%,$greyPageBg));
    background: -webkit-linear-gradient(top, $white 20%, $greyPageBg 20%);
    background: linear-gradient(to bottom, $white 20%, $greyPageBg 20%);
    float: left;
    height: 347px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 578px;
    img {
        margin: 15px 0 0 0;
    }


    .content-description {
        float: right;
        width: 300px;

        .title {
            color: $green;
            display: table-cell;
            font-size: $xl;
            font-weight: bold;
            height: 55px;
            vertical-align: middle;
        }
        .cities-title {
            color: $greyStrong;
            font-size: $l;
            margin: 45px 0 10px;
            padding-left: 25px;
            &::before {
                font-size: $l;
                margin-left: -25px;
                padding-right: 5px;
                vertical-align: inherit;
            }
        }
        .list-cities {
            ul-reset();
            padding-left: 25px;
        }
        li {
            line-height: 1.3;
            padding-bottom: 10px;
        }
    }

    &.special {
        position: relative;
        .content-description {
            margin-left: 20px;
            float: left;
            width: 100%;
        }
        img {
            position: absolute;
            right: 0;
            bottom: 25px;
        }
    }
}
