.country-area {
    box();
    clear-fix();
    background-color: $white;
    background-image: -moz-linear-gradient(top, $white 18%, $greyPageBg 18%);
    background-image: -ms-linear-gradient(top, $white 18%, $greyPageBg 18%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(18%,$white), color-stop(18%,$greyPageBg));
    background-image: -webkit-linear-gradient(top, $white 18%, $greyPageBg 18%);
    background-image: linear-gradient(to bottom, $white 18%, $greyPageBg 18%);
    float: left;
    height: 347px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 578px;
    position: relative;
    img {
        position: absolute;
        right: 5px;
        bottom: 25px;
    }


    .content-description {
        margin-left: 20px;
        float: left;
        width: 100%;

        .title {
            color: $green;
            display: table-cell;
            font-size: $xl;
            font-weight: bold;
            height: 48px;
            vertical-align: middle;
        }
        .cities-title {
            color: $greyStrong;
            font-size: $l;
            margin: 35px 0 10px;
            padding-left: 25px;
            width: 200px;
            &::before {
                font-size: $l;
                margin-left: -25px;
                padding-right: 5px;
                vertical-align: inherit;
            }
        }
        .list-cities {
            ul-reset();
            padding-left: 25px;
        }
        li {
            line-height: 1.3;
            padding-bottom: 10px;
        }
    }

    &.special {
        .content-description {
            .cities-title {
                width: 100%;
            }
        }
    }
}
