.country-area {
    clear-fix();
    box();
    background: #fff;
    background: -moz-linear-gradient(top,  #fff 28%, #fafafa 28%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#fff), color-stop(28%,#fafafa));
    background: -webkit-linear-gradient(top,  #fff 28%,#fafafa 28%); 
    background: -ms-linear-gradient(top,  #fff 28%,#fafafa 28%);
    background: linear-gradient(to bottom,  #fff 28%,#fafafa 28%); 
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 578px;
    img {
        margin:10px 0 0 10px;
    }   

    .content-description {
        float: right;
        width: 286px;

        h3 {
            color: $green;
            font-size: $xl;
            font-weight: bold;
            margin: 10px 0 0;
            width: 270px;
            line-height: 1;
        }
        .cities-title {
            color: $greyStrong;
            font-size: $l;
            margin: 47px 0 10px;
            &::before {
                padding-right: 8px;
                font-size: $m;
                vertical-align: inherit;
            }
        }
        .list-cities {
            ul-reset();
            padding-left: 25px;
        }
        li {
            padding-bottom: 8px;  
        }
    }
}