.slide-container {
    position: relative;
    .footer-slide {
        box($white, $greyBorders $greyBorders $greyStrong, 3px, 30px, solid, 1px 1px 4px);
        position: absolute;
        bottom: -13px;
        left: 0;
        width: 918px;
        z-index: 9999;
        .icon-close::before {
            background: none repeat scroll 0 0 $greyStrong;
            border-radius: 3px;
            color: #eee;
            font-size: 0.714286rem;
            padding: 4px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        ul {
            ul-reset();
        }
        h1,
        .title {
            border-bottom: 1px solid $greyBorders;
            font-size: $s;
            font-weight: bold;
            margin: 0;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
    }
    .category-slide {
        clear-fix();
        .category-list {
            float: left;
            padding-left: 12px;
            width: 216px;
            li {
                a {
                    font-size: $xs;
                }
                &.category {
                    margin-bottom: 10px;
                    > a {
                        font-weight: bold;
                        font-size: $s;
                    }
                }
            }
        }
    }
    .help-slide {
        li {
            display: inline-block;
            padding-right: 20px;
        }
    }
    .popular-slide {
        clear-fix();
        .popular-column {
            float: left;
            width: 448px;
            ul {
                float: left;
            }
        }
        .popular-cities {
            float: right;
        }
    }
    
    .around-slide {
        clear-fix();
        ul {
            float: left;
            width: 116px;
            a {
                font-size: $xs;
            }
        }
    }
}
