section#map {
	position: absolute;
	right: 1rem;
	top: 1.5rem;
}

#svg-map path {
	fill:#AABB00;
}
#svg-map text {
	fill:#fff;
	font:12px Arial-BoldMT, sans-serif;
	cursor:pointer;
}
#svg-map a {
	text-decoration:none;
}
#svg-map a:hover, #svg-map a.active {
	cursor:pointer;
	text-decoration:none;
}
#svg-map a:hover path, #svg-map a.active path{
	fill:#C9DB17 !important;
}
#svg-map .circle{
	fill:#878787;
}
#svg-map a:hover .circle, #svg-map a.active .circle{
	fill:#222 !important;
	cursor:pointer;
}