aside.postBanner {
	width: 100%;
	float: left;
	margin: 1.25rem 0;

	.btn {
		width: 13.13rem;
		display: block;
	    position: relative;
		clear: both;
	    padding: .6875rem 1.563rem;
	    font-size: 1.125rem;
	    margin: 1.25rem auto;
	    color: #fff;

	    &:before {
			width: 46px;
			height: 46px;
			display: block;
			position: absolute;
		    right: -4px;
		    top: -4px;
		    content: "";		    
		    background: url(imageUrl/images/desktop/gratis.png);	    
		    z-index: 10;
		}
	}
	h2 {
		margin-bottom: 1.875rem;
		font-size: 1.875rem;
	    font-weight: bold;
	    text-align: center;

	    &:before, &:after {
	    	width: 1.875rem;
	    	height: 1.875rem;
	    	position: absolute;
	    	content: "";
	    	background: url(imageUrl/images/desktop/doubleArrows.jpg);
	    }
	    &:after {
	    	background-position: -31px 0;
		    margin: 23px 0 0 22px;
	    }
	    &:before {
	    	margin: 23px 0 0 -50px;
	    }
	}
	ul {
		width: 100%;
		display: inline-block;

		li {
			a{
				width: 5.25rem;
			    float: left;
				display: block;
			    font-size: .8125rem;
			    font-weight: bold;
			    margin-right: .875rem;
			    text-align: center;
		    	
		    	div {
		    		width: 5rem;
		    		height: 5rem;
		    		display: block;
		    		border: 4px solid #fff;
				    border-radius: 31.25rem;
				    color: #fff;
				    font-size: 3.75rem;
		    	}
		    	.icon-cat-831 {
					background:#ff2366;
				}

				.icon-cat-831:hover {
					border-color:#ffbacf;
				}

				.icon-cat-800 {
					background:#84d0f0;
				}

				.icon-cat-800:hover {
					border-color:#c3e4f2;
				}

				.icon-cat-857 {
					background:#008fd3;
				}

				.icon-cat-857:hover {
					border-color:#abd2e5;
				}

				.icon-cat-881 {
					background:#db3ba1;
				}

				.icon-cat-881:hover {
					border-color:#e5acd0;
				}

				.icon-cat-817 {
					background:#9c2181;
				}

				.icon-cat-817:hover {
					border-color:#d294c4;
				}

				.icon-cat-802 {
					background:#719314;
				}

				.icon-cat-802:hover {
					border-color:#c7dc8f;
				}

				.icon-cat-805 {
					background:#0c6;
				}

				.icon-cat-805:hover {
					border-color:#9ff7cb;
				}

				.icon-cat-806 {
					background:#009997;
				}

				.icon-cat-806:hover {
					border-color:#99dad9;
				}

				.icon-cat-856 {
					background:#e56a77;
				}

				.icon-cat-856:hover {
					border-color:#ebbabf;
				}

				.icon-cat-243 {
					background:#761c8c;
				}

				.icon-cat-243:hover {
					border-color:#b986c6;
				}
		    	span {
		    		color: #38b;
		    	}
		    }
		}
	}
}