@import '../helpers/variables.styl';
@import '../helpers/mixins.styl';

#post-banner {
	width: 980px;
	float: left;
	clear: both;

    .post-banner-title {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        height: 70px;
        text-align: center;

        &:before, &:after {
            width: 31px;
            height: 31px;
            position: absolute;
            content: "";
            background: url(imageUrl/images/desktop/doubleArrows.jpg);
        }
        &:after {
            background-position: -31px 0;
            margin: 23px 0 0 22px;
        }
        &:before {
            margin: 23px 0 0 -50px;
        }

    }

    ul {
        display: block;
        text-align: center;
        ul-reset();

        li {
            display: inline-block;
            margin-right: 5px;
            a {
                font-size: 1rem;
                font-weight: bold;
                &:hover {
                    text-decoration: none;
                }
                div {
                    color: #fff;
                    font-size: 4.615rem;
                    height: 80px;
                    width: 80px;
                    box(#008fd3, #fff, 50%, 0, solid, 4px);

                    &:hover {
                        border-color: #abd2e5;
                    }
                }
            }
        }
    }

}
