#seo-box {
    box();
    clear-fix();
    float: left;
    width: 958px;
    margin-top: 30px;

    .title {
        border-bottom: 1px solid $greyBorders;
        display: block;
        font-size: $s;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    ul {
        ul-reset();
        padding: 0 10px;
        li {
            display: inline-block;
            font-size: $xs;
            width: 24%;

            a {
                color: #blue;
            }
        }
    }
}
