#seo-box {
    box();
    clear-fix();
    clear: both;
    margin-top: 30px;
    padding: 20px;

    .title {
        border-bottom: 1px solid $greyBorders;
        display: block;
        font-size: $s;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    ul {
        ul-reset();
        padding: 0 10px 0 0;
        li {
            display: inline-block;
            font-size: $xs;
            vertical-align: top;
            width: 24%;

            a {
                color: #blue;
            }
        }
        &.twoColumn li {
            width: 48%;
        }
        &.threeColumn li {
            width: 32%;
        }
    }
    .item-paginator {
        border-bottom: 1px solid #ccc;
        display: inline-block;
        font-size: $xs;
        margin-left: -20px;
        padding: 0 20px 10px;
        width: 100%;
        a {
            position: relative;
            &.previous-item {
                float: left;
                tab-arrow(left, $greyStrong, $greyStrong, 1px, 3px, 1);
                &::before,
                &::after {
                    margin-right: 5px;
                }
                &:hover {
                    &::before,
                    &::after {
                        border-right-color: $black;
                    }
                }
            }
            &.next-item {
                float: right;
                tab-arrow(right, $greyStrong, $greyStrong, 1px, 3px, 1);
                &::before,
                &::after {
                    margin-left: 5px;
                }
                &:hover {
                    &::before,
                    &::after {
                        border-left-color: $black;
                    }
                }
            }
        }
    }
    .top-searches {
        font-size: $xs;
        margin: 0;
        a:not(:last-child)::after {
            color: $black;
            content: "-";
            margin-left: 2px;
        }
    }
    .level-path-bottom {
        span {
            font-size: $xs;
            &::before {
                color: $greyStrong;
                font-size: remify(7px);
            }
        }
    }
    &.seo-item-page {
        width: 620px;
        clear: left;
    }
    &>div:not(:first-child) {
        margin-top: 20px;
    }
}
