.seo-item-page {
    width: 640px;
    #level-path-bottom {
        span {
            font-size: $xs;
            &::before {
                color: $greyStrong;
                font-size: remify(7px);
            }
        }
    }
}