.users_lostpasswordsuccess_view {

    .icon-envelope {
        background-image: url(imageUrl/images/html5/icon-envelope.png);
        display: inline-block;
        height: 27px;
        width: 41px;
    }
    
    .notification-message {
        background-color: $lightBlue;
        border-color: $lightBlueBorder;
    }
}