.users_success_view {
    #success-box {
        text-align: center;
        padding: 10px;
        background-color: #EAF7FF;
        border: 1px solid #C4E0F5;
        margin: 25px;

        h1 {
            font-weight: bold;
            font-size: 18px;
        }
        p {
            margin-top:5px;
        }
    }
}
