<meta charset="utf-8" />
<title>{{ head.title }}</title>
{% for metatag in head.metatags %}
    <meta name="{{metatag.metaname if metatag.metaname else metatag.name}}" content="{{metatag.content}}" />
{% endfor %}
<link href="{{'/css/template/styles.css' | replace('template', template) | static }}" media="screen" rel="stylesheet" />
{% if head.canonical %}
    <link rel="canonical" href="{{head.canonical}}" >
{% endif %}
<link rel="shortcut icon" href="{{ '/images/common/favicon.ico' | static }}" type="image/x-icon">

<script type="text/javascript" charset="utf-8">
  (function(G,o,O,g,L,e){G[g]=G[g]||function(){(G[g]['q']=G[g]['q']||[]).push(
   arguments)},G[g]['t']=1*new Date;L=o.createElement(O),e=o.getElementsByTagName(
   O)[0];L.async=1;L.src='//www.google.com/adsense/search/async-ads.js';
  e.parentNode.insertBefore(L,e)})(window,document,'script','_googCsa');
</script>
