<!doctype html>
<html>
    {% view 'layout/head' %}
    <body>
        <div id="progressBar"></div>
        {% include (template + '/layout/bar.html') %}
        <div id="wrapper" class="wrapper-main">
            {% view 'header/keywords' %}
            {% view 'header/usernav' %}
            {% view 'header/index' %}
            <div id="content">
                {{ body }}
            </div>
            {% view 'footer/footer' %}
        </div>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setDomainName', '{{ appData.session.host }}']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <script>function init() {
            $LAB
                .script("{{ [jsDir, 'common', 'libs.js'] | join('/') | static }}")
                .script("{{ [jsDir, 'common', 'translations.js'] | join('/') | static }}")
                .script("{{ [jsDir, 'common', ((['config-', environment, '.js'] | join('')) if (environment != 'production') else 'config.js')] | join('/') | static }}")
                .script("{{ [jsDir, directory, 'templates', 'desktop', 'templates.js'] | join('/') | static }}").wait()
                .script("{{ [jsDir, directory, 'app.js'] | join('/') | static }}").wait(function wait() {
                    var App = window.App = new (require('app/app'))({% json appData %});
                    App.bootstrapData({% json bootstrappedData %});
                    App.start();
                });
        }</script>
        <script async src="{{ '/js/LAB.js' | static }}" onload="init()"></script>

        <script type="text/javascript" charset="utf-8">
        var pageOptions = {
          'pubId': 'olx-browse',
          'query': '0km',
          'channel': 'OLX_BO',
          'hl': 'es',
          'adPage': 3
        };

        var adblock1 = {
            'container': 'slot_top',
            'width': '100%',
            'fontFamily': 'arial',

            'rolloverLinkUnderline': false,
            'fontSizeTitle': 16,
            'lineHeightTitle': 26,
            'colorTitleLink': '#38B',
            'noTitleUnderline': true,

            'fontSizeDomainLink': 12,
            'lineHeightDomainLink': 16,
            'colorDomainLink': '#999',

            'fontSizeDescription': 12,
            'lineHeightDescription': 16,
            'colorText': '#999',

            'colorAdSeparator': '#CCC',

            'verticalSpacing': 2,

            'clickableBackgrounds': true,

            'adIconLocation': 'ad-left',
            'adIconWidth': 143,
            'adIconHeight': 112,
            'adIconSpacingAbove' : 4,
            'adIconSpacingBefore': 6,
            'adIconSpacingAfter': 15,
            'adIconUrl': 'http://afs.googleusercontent.com/olx/olx_pt.png',

            'rolloverAdBackgroundColor': '#FFF',

            'lines': 3,
            'longerHeadlines': true,
            'domainLinkAboveDescription': false

        };

        _googCsa('ads', pageOptions, adblock1);

        </script>


    </body>
</html>
