<!doctype html>
<html>
    {% view 'layout/head' %}
    <body>
        <div id="progressBar"></div>
        {% include (template + '/layout/bar.html') %}
        <div id="wrapper" class="wrapper-main">
            {% view 'header/usernav' %}
            {% view 'header/index' %}
            <main id="content">
                {{ body }}
            </main>
            {% view 'footer/footer' %}
        </div>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setDomainName', '{{ appData.session.host }}']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <script>function init() {
            $LAB
                .script("{{ [jsDir, 'common', 'libs.js'] | join('/') | static }}")
                .script("{{ [jsDir, 'common', 'translations.js'] | join('/') | static }}")
                .script("{{ [jsDir, 'common', ((['config-', environment, '.js'] | join('')) if (environment != 'production') else 'config.js')] | join('/') | static }}")
                .script("{{ [jsDir, directory, 'templates', 'desktop', 'templates.js'] | join('/') | static }}").wait()
                .script("{{ [jsDir, directory, 'app.js'] | join('/') | static }}").wait(function wait() {
                    var App = window.App = new (require('app/app'))({% json appData %});
                    App.bootstrapData({% json bootstrappedData %});
                    App.start();
                });
        }</script>
        <script async src="{{ '/js/LAB.js' | static }}" onload="init()"></script>
    </body>
</html>
