{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["defaultfooter.Back"]) }}
{% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
<div id="posting">
    <form id="postingForm" action="{{ '/post' | link }}" method="POST" enctype="multipart/form-data">
        <h4 class="title" >{{ dictionary["item.ChosenCategory"] }}: {{ subcategory.name }}</h4>
        <div class="formField">
            <label>{{ dictionary["posting_fields_1.photos"] }}: <small>{{ dictionary["posting_photos.UpTo5XMore"] }}</small></label>
            <div class="imgHolder">
                <input id="file1" type="file" name="images[]" />
            </div>
            <div class="imgHolder">
                <input id="file2" type="file" name="images[]" />
            </div>
        </div>
        {% for field in fields.productDescription %}
            {% if  field.name == 'description' %}
                {% set templateName = 'compiled/' + template + '/fields/textarea.html' %}
            {% else %}
                {% set templateName = 'compiled/' + template + '/fields/' + field.fieldType + '.html' %}
            {% endif %}
        {% include templateName %}
        {% endfor %}
        {% if fields.categoryAttributes.length %}
            <div class="line"></div>
            <h4>{{ dictionary["misc.SpecificFields_title"] }}</h4>
            {% for field in fields.categoryAttributes %}
                {% if (field.values) or (field.fieldType == 'text') %}
                    {% set templateName = 'compiled/' + template + '/fields/' + field.fieldType + '.html' %}
                    {% include templateName %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="line"></div>
        <h4>{{ dictionary["defaulthtmlhead.SellerInformation"] }}</h4>
        {% for field in fields.contactInformation %}
            {% set templateName = 'compiled/' + template + '/fields/' + field.fieldType + '.html' %}
            {% include templateName %}
        {% endfor %}

        <input type="hidden" name="postingSession" value="{{postingSession}}">
        <input type="hidden" name="location" value="{{siteLocation}}">
        <input type="hidden" name="languageId" value="{{language}}">
        <input type="hidden" name="languageCode" value="{{languageCode}}">
        <input type="hidden" name="platform" value="{{platform}}">
        <input type="hidden" name="category.parentId" value="{{category.id}}">
        <input type="hidden" name="category.id" value="{{subcategory.id}}">
        <div class="formField">
            <h3>
                {{ dictionary["itemslisting.NavigatorByLocation"] }} : {{location.current.name}}<br>
                <a href="{{ ('/location?target=posting/'+category.id+'/'+subcategory.id) | link }}">{{ dictionary["countryoptions.ChangeCity"] }}</a>
            </h3>
        </div>

        <div class="formActions">
            <div class="btn-adjust btnOrange btnForm">
                <input type="submit" value="{{ dictionary["wap_posting_step5.Post"] }}" class="btns orange w100">
            </div>
        </div>
    </form>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link) }}
