{% from macros import Breadcrumb, BreadcrumbHome, ErrorsPosting, FieldText, FieldTextArea, FieldCombobox %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["defaultfooter.Back"]) }}
{% if form and form.errors %}{{ ErrorsPosting(form.errors, dictionary) }}{% endif %}
<div id="posting">
    <form id="postingForm" action="{{ '/post' | link }}" method="POST" enctype="multipart/form-data">
        <h4 class="title" >
            {{ dictionary["itemslisting.Category"] }} {{ subcategory.name }}
            <a href="{{ '/posting' | link }}">{{ dictionary["defaultheader.change"] }}</a>
        </h4>
        <div class="formField">
            <label>{{ dictionary["posting_fields_1.photos"] }}: <small>{{ dictionary["posting_photos.UpTo5XMore"] }}</small></label>
            <div class="imgHolder">
                <input id="file1" type="file" name="images[0]" />
            </div>
            <div class="imgHolder">
                <input id="file2" type="file" name="images[1]" />
            </div>
        </div>

        {% for field in fields.productDescription %}
            {% if  field.name == 'description' %}
                {{ FieldTextArea(field.label, field.name, field.mandatory, form,  user) }}
            {% elif field.fieldType == 'text' %}
                {{ FieldText(field.label, field.name, field.mandatory, form,  user) }}
            {% elif field.fieldType == 'combobox' %}
                {{ FieldCombobox(field.label, field.name, field.mandatory, form,  user, field.values) }}
            {% endif %}
        {% endfor %}
        
        {% if fields.categoryAttributes.length %}
            <div class="line"></div>
            <h4>{{ dictionary["misc.SpecificFields_title"] }}</h4>
            {% for field in fields.categoryAttributes %}
                {% if (field.values) or (field.fieldType == 'text') %}
                    {% if field.fieldType == 'text' %}
                        {{ FieldText(field.label, field.name, field.mandatory, form,  user) }}
                    {% elif field.fieldType == 'combobox' %}
                        {{ FieldCombobox(field.label, field.name, field.mandatory, form,  user, field.values) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="line"></div>
        <h4>{{ dictionary["defaulthtmlhead.SellerInformation"] }}</h4>
        {% for field in fields.contactInformation %}
            {% if field.fieldType == 'text' %}
                {{ FieldText(field.label, field.name, field.mandatory, form,  user) }}
            {% elif field.fieldType == 'combobox' %}
                {{ FieldCombobox(field.label, field.name , form, field.value) }}
            {% endif %}
        {% endfor %}

        <input type="hidden" name="postingSession" value="{{postingSession}}">
        <input type="hidden" name="location" value="{{siteLocation}}">
        <input type="hidden" name="languageId" value="{{language}}">
        <input type="hidden" name="languageCode" value="{{languageCode}}">
        <input type="hidden" name="platform" value="{{platform}}">
        <input type="hidden" name="category.parentId" value="{{category.id}}">
        <input type="hidden" name="category.id" value="{{subcategory.id}}">
        <div class="formField">
            <h3>
                {{ dictionary["itemslisting.NavigatorByLocation"] }}: {{location.current.name}}<br>
                <input type="submit" value="{{ dictionary["countryoptions.ChangeCity"] }}" class="link" formaction="/post/location">
            </h3>
        </div>

        <div class="formField">
            <small>* {{ dictionary["wap_posting_step4.mandatoryField"] }}</small>
        </div>

        <div class="formActions">
            <div class="btn-adjust btnOrange btnForm">
                <input type="submit" value="{{ dictionary["wap_posting_step5.Post"] }}" class="btns orange w100">
            </div>
        </div>
    </form>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link) }}
