{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["defaultfooter.PublishFreeAd"]) }}
<div id="success">
    <div>
        <h1>{{ dictionary["misc.AllSet_Mob"] }}</h1>
        <h2>{{ dictionary["misc.AdSubmittedApproval"] }}</h2>
        <p>{{ dictionary["misc.SeeAdIn2Hrs_Mob"] }}</p>
        <p>{{ dictionary["postingtitlelisting.view"] }} <a href="/{{ item | slugToUrl | link }}">{{ dictionary["itemwarning.Here"] }}</a></p>
    </div>
    <div style="margin:6px 0 0 0;">
        <h1>{{ dictionary["misc.EmailAdActivated_Mob"] }}</h1>
        <a href="{{ '/posting' | link }}" class="btns orange">{{ dictionary["misc.CreateAnotherAd_Mob"] }}</a>
        <a href="{{ '/' | link }}" class="back">{{ dictionary["misc.BackToStart_Mob"] }}</a>
    </div>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link) }}
