#category-tree {
    box();
    clear-fix();
    padding: 0 0 18px 0;
    margin-bottom: 20px;

    .title-bar {
        border-bottom: 1px solid $greyBorders;

        .title-module {
            display: inline-block;
            padding: 12px 20px 20px 24px;
        }

        a {
            font-size: $s;
            font-weight: bold;
            margin-left: 5px;
            vertical-align: middle;
            height: 18px;

            span {

                &.icon-navarrowup {
                    padding-left: 4px;

                    &:before {
                        line-height: 1;
                        font-size: remify(20px);
                        transform(rotate(90deg));
                    }
                }
            }
        }

        h1 {
            display: inline-block;
            padding-left: 24px;
            font-size: $xl;
        }
    }

    ul {
        ul-reset();
    }

    .category-list {
        box-sizing: border-box;
        float: left;
        padding: 0 10px;
        width: 25%;

        &:last-child {
            padding-right: 20px;
        }

        .category {
            li {
                padding-bottom: 10px;
            }
        }

        a {
            &:hover {
                text-decoration: underline;
            }

            .icon {
                background: url(imageUrl/images/desktop/sprite-home-icons.png)  0 0 no-repeat;
                display: block;
                square(54px);
                margin: 20px 0 9px;
            }
            .cat-186 {
                background-position: 0 -108px;
            }
            .cat-187 {
                background-position: 0 -432px;
            }
            .cat-16 {
                background-position: 0 -216px;
            }
            .cat-185 {
                background-position: 0 -378px;
            }
            .cat-190 {
                background-position: 0 -54px;
            }
            .cat-191 {
                background-position: 0 -162px;
            }
            .cat-362 {
                background-position: 0 -648px;
            }
        }
        .category-link {
            color: $black;
            display: inline-block;
            font-size: $l;
            padding-bottom: 13px;
        }
    }

    .category-list-first {
         padding-left: 20px;
    }
}
