#category-tree {
    margin-bottom: 20px;
    .title-bar {
        border-bottom: 1px solid $greyBorders;

        .title-module {
            display: inline-block;
            padding: 12px 20px 20px 24px;
        }

        a {
            font-size: $s;
            font-weight: bold;
            margin-left: 5px;
            vertical-align: middle;
            height: 18px;

            span {

                &.icon-navarrowup {
                    padding-left: 4px;

                    &:before {
                        line-height: 1;
                        font-size: remify(20px);
                        transform(rotate(90deg));
                    }
                }
            }
        }

        h2 {
            display: inline-block;
            padding-left: 24px;
            font-size: $xl;
        }
    }

    ul {
        ul-reset();
    }

    .category-list {
        padding-left: 20px;
    }
}
