#category-tree {
	padding: 8px 0;

	.title-bar {
		border-bottom: 1px solid #e4e4e4;

		.title-module {
			display: inline-block;
			padding: 12px 20px 20px 24px;
		}

		a {
			font-weight: bold;
			font-size: $s;
			margin-bottom: 4px;
		}
		h1 {
			display: inline-block;
		}
	}

	ul {
		ul-reset();
	}
	.icons {
		padding-left: 24px;
		clear-fix();

		.category {
			width: 33%;
			float: left;

			ul a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	a {
		strong {
			font-size: $s;
			color: #333;
			display: block;
			margin-bottom: 20px;
		}

		&:hover {
			text-decoration: none;
		}

		.icon {
			background: url(imageUrl/images/desktop/sprite-home-icons.png)  0 0 no-repeat;
			display: block;
			height: 54px;
			margin: 30px 0 9px;
			width: 54px;
		}

		.cat-186 {
			background-position: 0 -108px;
		}

		.cat-187 {
			background-position: 0 -432px;
		}

		.cat-16 {
			background-position: 0 -216px;
		}

		.cat-185 {
			background-position: 0 -378px;
		}

		.cat-190 {
			background-position: 0 -54px;
		}

		.cat-191 {
			background-position: 0 -162px;
		}

		.cat-362 {
			background-position: 0 -648px;
		}
	}
}
