#home {
	padding: 2.5rem 0 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	h1 {
		width: 30.63rem;
		padding-top: 0;
		color: #ff7700;
		font-size: 2.25rem;
	}
	h2 strong {
		color: #ff7700;
	}

	section.categories {
		width: 100%;
		height: 14.38rem;
		padding: 1.25rem 1.4rem;
		margin: 5rem 0 0 0; 
		background: #eee;
		z-index: 0;
		clear: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		h3 {
	    	color: #628;
		    font-size: 1.125rem;
		    font-weight: normal;
	    }

	    .slideBtn {
	    	width: 32px;
	    	height: 32px;
	    	position: relative;
	    	top: 50px;
	    	float: left;
	    	display: block;
	    	background: none repeat scroll 0 0 #fff;
		    border-radius: 50%;
		    color: #333;
		    line-height: 1;
		    cursor: pointer;
	    }
	    .prev {
	    	margin: 0 1rem 0 0;
	    }
	    .prev:before, .next:before {
	    	font-size: 2rem;
	    }
	    .prev:before {
	    	content: "";
	    }
	    .next:before {
	    	content: "";
	    }
	}
	section.apps {
		float: left;
		margin: 2rem 1.25rem 0;
		a {
			width: 8.375rem;
			height: 2.375rem;
			float: left;
			display: block;
			text-indent: -9000;
			background-image: url(imageUrl/images/common/marketing/apps-light.gif);
			&:first-child {
				background-position: 0 0;
			}
			&:last-child {
				margin: 0 0 0 .625rem;
				background-position: -134px 0;
			}
		}
	}
	section.states {
		width: 100%;
		float: left;
		padding: 0 1.25rem;
		margin: 2rem 0;

		ul {
			list-style: none;

			li {
				float: left;
				margin: 0 0 0 .5rem;
				font-size: .875rem;
				color: #666;

				a {
					color: #666;
				} 
			}
		}
	}
}



/*----Slide----*/
.swiper-container {
	float: left;
    margin:1.25rem 0 0 0;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    z-index:1;
}
.swiper-container, .swiper-container .swiper-slide{
	width: 350px; 
	height: auto!important;
}
.swiper-container .swiper-wrapper {
    height: auto!important;
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
}
.swiper-container .swiper-slide {float: left;}


ul.swiper-container li.swiper-slide a {
	width: 5.938rem;
    display: block;
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #333;

    &:hover {
		color: #38B;
		-webkit-transition:all 0.4s;
    	-moz-transition:all 0.4s;
    	transition:all 0.4s;
	}

    .icons:before {
		width: 5.938rem;
		height: 5.938rem;
		display: block;    
	    margin-bottom: .625rem;
	    padding-top: 1rem;
	    font-size: 3.5rem;
	    border: 3px dashed #fff;
	    border-radius: 50%;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	

    &:hover .icons:before {
    	border-color:#B9DDF3; 
    	background: #fff;
    	color:#38B;
    	-webkit-transition:all 0.4s;
    	-moz-transition:all 0.4s;
    	transition:all 0.4s;
    }
}
