nav.leftContent {
	width: 14.38rem;
	float: left;
	clear: left;
	border-radius: 3px;

	&.topLocation {
		margin: 0 0 .625rem 0;
		padding: .9375rem;
		background-color: #1c8fcf;
		color: #fff;
		font-size: 1.313rem;
		font-weight: normal;
		cursor: pointer;
		line-height: 1.313rem;

		&:after {
			left: 13px;
			top: 3px;
			display: inline-block;
			position: relative;
			border-color: #fff transparent transparent;
			border-image: none;
			border-right: 6px solid transparent;
			border-style: solid;
			border-width: 5px 6px 6px;
			content: "";
				
			
		}
	}
	&.refine {
		background: #e8f6ff;
		border: 1px solid #e8f6ff;

		h3 {
			padding: .625rem 0 .3125rem .9375rem;
			display: block;
			font-size: 1.313rem;
			font-weight: normal;
		}
		.filters {
			padding: 0 .625rem .625rem;

			> ul {
				li {
					a {
						border-bottom: 1px solid #cce7f8;
					}
					&:first-child a, &:last-child a {
						border-bottom: none;
					}
				}
			}
			a, p {
				padding: .5rem 0 .5rem 2.375rem;
				position: relative;
				display: block;
				border-radius: 3px;
				font-size: .8125rem;

				span.icons {
					position: absolute;
					font-size: 1.75rem;
					left: .3125rem;
					top: 0;

					&.arrow {
						font-size: 1.438rem;
						letter-spacing: -1rem;
					}
					&.arrow:before {
						content:"{{";
					}
				}
				span.counter {
					font-size: .6875rem;
					color: #666;
				}
			}
			a{
				margin: 0 0 1px;
				color: #0076be;
				
				span.counter {
					color: #666;
				}
				&:hover {
					background: #0076be!important;
					color: #fff;

					span {
						color: #fff;
					}
				}
			}
			p {
				margin: 0 0 5px;
				background: #666;
				color: #fff;
				
				span.counter {
					color: #fff;
				}
				&:after {
					border-color: #666 transparent;
					border-style: solid;
					border-width: 9px 10px 0;
					bottom: -9px;
					content: "";
					left: 10px;
					position: absolute !important;
					z-index: 9999;
				}
			}
			ul.subCat {
				a {
					padding: .625rem;
					background: #fff;
				}
			}
		}
		&.location {
			margin: .625rem 0 0 0;

			ul {
				li {
					a {
						border: none;
						padding: .375rem;
					}
				}
			}
		}
	}
}

section.list {
	width: 732px;
	float: right;
    position: relative;

    nav {
    	height: 2.125rem;
	    font-size: 14px;

	    .tabs {
	    	float: left;

	    	a {
			    height: 2.063rem;
			    float: left;
			    display: block;
			    margin-right: .625;
			    padding: .4375rem .625rem .25rem;
			    text-decoration: none;
			    color: #06d;

			    &.active {
			    	height: 2.25rem;
				    margin-top: -1px;
				    padding: .5rem .625rem .3125rem;
			    	background: #fff;
			    	border-color: #ccc;
				    border-image: none;
				    border-radius: .25rem .25rem 0 0;
				    border-style: solid solid none;
				    border-width: 1px 1px 0;
				    color: #000;
				    font-weight: bold;
			    }
			    &:before {
			    	display: inline-block;
			    	line-height: .625rem;
			    	font-size: 1.5rem;
			    }
			    &.galery:before {
			    	content: "o";
				    height: .75rem;
				    padding-right: 2px;
			    }
			    &.list:before {
			    	content: "n";
				    height: .875rem;
			    }
	    	}
	    }

	    .sort {
	    	height: 1.875rem;
	    	float: right;line-height: 1.875rem;
	    	position: relative;
	    }
	}
	ul.listing {
		width: 100%;
		border-bottom: 1px solid #ccc;
		 li {
		 	border: 1px solid #ccc;
		 	border-bottom: none;
		 	padding: 1.25rem;

		 	a {
		 		display: block;
		 		color: #666;

		 		> div {
		 			height:  5.688rem;
		 			float: left;
		 		}
		 		.photo {
		 			width: 7.563rem;
		 			padding: .1875rem;
		 			border: 1px solid #ccc;
		 			background: #fff;

		 			div {
		 				width: 100%;
		 				height: 100%;
		 				display: block;
		 				background-size: contain;
		 				background-position: center;
		 				background-repeat: no-repeat;

		 				&.noPhoto {
		 					background-image: url(imageUrl/images/html5/noPhoto.png); 
		 				}
		 			}
		 		}
		 		.title {
		 			width: 50%;
		 			padding-left: 1rem;

		 			h3, span {
		 				width: 100%;
		 				float: left;
		 				line-height: 1.5rem;
		 			}
		 			h3 {
		 				color: #38b;
		 				font-size: 1rem;
		 				font-weight: normal;
		 			}
		 			span {
		 				font-size: .75rem;
		 				color: #666;
		 			}
		 		}
		 		.price {
		 			width: 20%; 
		 			color: #333;
		 			font-size: .9375rem;
		 			font-weight: bold;
		 			padding-right: .625rem;
		 		}
		 		.date {
		 			width: 10%;
		 			font-size: .75rem;
		 			color: #666;
		 		}
		 	}
		 	&:hover {
	 			background: #e0f4ff;
	 		}
		 }
	}
	.itemPagination {
		width: 100%;
		margin: 2.5rem 0 0 0;
		text-align: center;

		> a {
			margin: 0;
		    padding: 0 .625rem;
		    border: medium none;
		    border-radius: .3125rem;
		    font-size: 1.125rem;
		    line-height: 2.813rem;

		    &.next{
		    	width: 86.7%;
		    	float: right;
		    	background: #2e9ada;
		    	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
		    	font-weight: bold;
		    	color: #fff;

			    &.first {
			    	width: 100%;
			    }
			}
			&.prev {
				width: 12%;
				float: left;
				padding: 0 0 0 .9375rem;
				position: relative;
				background: #e0e0e0;
				box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
				font-size: .875rem;
				color: #0076be;
				text-align: center;

				&.last {
					width: 100%;
				}

				&:before {
					position: absolute;
					left: 3px;
				    top: 0;
					color: #707070;
				    content: "{";
				    font-size: 1.875rem;
				    
				}
			}
		}
		> div {
			width: 86.7%;
			float: right;
			text-align: center;

			&.full {
				width: 100%;
			}
			strong , a {
				height: 1.875rem;
				margin: .9375rem .1875rem;
				display: inline-block;
				font-size: .875rem;
				line-height: 1.875rem;
			}
			a {
				color: #0076be;
			}
		}
	}
}