section#itemListing {
	margin: .625rem 0 0 0;

	nav.categories {
		width: 14.38rem;
		float: left;
		background: #f6f6f6;
		h2, h3 {
			display: block;
			padding: .625rem .9375rem;
			color: #000;
		}
		h2 {
			font-size: .875rem;
		}
		h3, a {
			font-size: .8125rem;
		}
		h3 span {
			font-size: .625rem;
			color: #888;
			font-weight: normal;
		}
		div.categories {
			.subCat {
				background: #fff;
				border-left: 1px solid #f6f6f6;
				border-right: 1px solid #f6f6f6;

				a {
					padding: .3125rem 0 .3125rem .625rem;
				}
			}
			a {
				display: block;
				border: 1px solid #fff;
				padding: .625rem .3125rem .625rem .625rem;
				color: #38b;

				span.icons {
					float: left;
					line-height: 1.125rem;

					&:before {
						width: 1.625rem;
						display: inline-block;
						color: #0076be;
					    font-size: 1.375rem;
					    line-height: .9375rem;
					    text-transform: none;
					    vertical-align: top;				    
					}
				}
				span.count {
					color: #888;
					font-size: .625rem;
				}

				&:hover {
					background: #fff;
					color:  #369;
					border-color: #b9ddf3;
				}
			}
		}
		div.subCategories {
			ul {
				li {
					width: 50%;
					height: 3.563rem;
					float: left;
					border: 1px solid #fff;

					&:hover {
							background: #fff;
							box-shadow: 0 0 0 1px #7bd inset;
						}
					a {
						display: block;
						padding: .625rem 0 0px 0px;
						color: #38b;
						font-weight: bold;
						font-size: .75rem;


						span.icons {
							float: left;
							&:before {
								width: 2.188rem;
								display: inline-block;
								color: #0076be;
							    font-size: 2rem;
							    font-weight: normal;
							    line-height: normal;
							    vertical-align: middle;
							}
						}
						span.count {
							color: #888 !important;
    font-size: 10px;
    font-weight: normal;
    padding-left: 0;
						}
					}
				}
			}
		}
		.filters {
			padding: 0 0 0.75rem 0;

			.price {
				padding: 0 0 0 .9375rem;

				input, button {
					border-radius: 3px;
					display: inline-block;
					height: 1.938rem;
					background: #fff;
					border: 1px solid #ccc;
					text-align: center;
				}
				input {
					width: 4.313rem;
					margin: 0 .625rem 0 0;
					font-size: .8125rem;
				}
				button {
					width: 2.5rem;
				    color: #666;

				    &:before {
				    	content: "";
					    display: inline-block;
					    font-size: 1.25rem;
				    }
				}
			}
		}
	}
	nav.location {
		width: 45.63rem;
		float: right;
		font-size: .875rem;

		> ul {
			width: 45.63rem;
		    height: 2.063rem;
		    position: relative;
		    margin: 0 0 -1px;
		    padding: 0;
		    z-index: 10;

		    &:after {
			    clear: both;
			    visibility: hidden;
			    width: 730px;
			    content: '.';
			    margin: 0px;
			    padding: 0px;
		    }
		    li {
		    	height: 33px;
		    	float: left;
		    	position: relative;
		    	border-style: solid;
    			border-width: 1px;
    			padding: .375rem .625rem .375rem .9375rem;
		    
		    	&.one {
		    		background: #ffee77;
		    		border-color: #dbd4a8;
		    		border-bottom-color: #ffee77;
		    		border-radius: 3px 3px 0 0;

		    		&:after {
		    			width: 333px;
		    			height: 41px;
		    			position: absolute;
		    			left: -16px;
		    			top: -5px;
		    			margin-right: 0;
		    			background: url(imageUrl/images/desktop/escolhaEstado.png);
					    content: "";
		    		}
		    	}

		    	&.parent {
				    background: #fff;
				    border-top: 1px solid rgb(241, 238, 220);
				    border-bottom: 1px solid rgb(241, 238, 220);
				    border-left: 1px solid rgb(241, 238, 220);
				    border-right: 0;

				    &:after {
					    display: block;
					    height: 31px;
					    position: absolute;
					    right: -11px;
					    top: 0px;
					    width: 11px;
					    z-index: 11;
					    content: '';
					    border-top: 16px solid rgba(0, 0, 0, 0);
					    border-right: 0px;
					    border-bottom: 15px solid rgba(0, 0, 0, 0);
					    border-left: 11px solid rgb(255, 255, 255);
					    list-style: none outside none;
				    }
				    &:before {
					    display: block;
					    height: 31px;
					    position: absolute;
					    right: -12px;
					    top: 0px;
					    width: 11px;
					    z-index: 9;
					    content: '';
					    border-top: 16px solid rgba(0, 0, 0, 0);
					    border-right: 0px;
					    border-bottom: 15px solid rgba(0, 0, 0, 0);
					    border-left: 11px solid rgb(241, 238, 220);
					    list-style: none outside none;
				    }
				    a {
					    color: rgb(51, 136, 187);
					    text-decoration: none solid rgb(51, 136, 187);
					    border: 0px none rgb(51, 136, 187);
					    line-height: 1.188rem;
					    list-style: none outside none;
					    outline: rgb(51, 136, 187) none 0px;
				    }
		    	}
		    	&.current {
		    		float: left;
				    height: 33px;
				    position: relative;
				    z-index: 10;
				    background: rgb(255, 238, 119);
				    border-top: 1px solid rgb(219, 212, 168);
				    border-right: 1px solid rgb(219, 212, 168);
				    border-bottom: 1px solid rgb(255, 238, 119);
				    border-left: 1px solid rgb(219, 212, 168);
				    border-radius: 3px 3px 0 0;
				    font: normal normal normal 14px/19.600000381469727px arial, helvetica, sans-serif;
				    list-style: none outside none;

				    &:before {
					    display: block;
					    height: 31px;
					    left: 0px;
					    position: absolute;
					    right: -12px;
					    top: 0px;
					    width: 146px;
					    z-index: 10;
					    content: '';
					    border-top: 16px solid rgba(0, 0, 0, 0);
					    border-bottom: 15px solid rgba(0, 0, 0, 0);
					    border-left: 11px solid rgb(219, 212, 168);
					    list-style: none outside none;
				    }

				    a {
					    color: rgb(243, 243, 243);
					    display: inline-block;
					    height: 14px;
					    position: relative;
					    right: -4px;
					    top: 0px;
					    width: 18px;
					    z-index: 10;
					    list-style: none outside none;
					    outline: rgb(243, 243, 243) none 0px;

					    &:before {
						    color: rgb(204, 204, 51);
						    display: block;
						    height: 39px;
						    left: -5px;
						    position: absolute;
						    top: -10px;
						    width: 28px;
						    content: '';
						    line-height: 2.438rem;
						    font-family: olx-icon-font;
						    font-size: 28px;
						    list-style: none outside none;
						    outline: rgb(204, 204, 51) none 0px;
					    }
				    }
		    	}
		    }
		}

		div.list {
			width: 45.63rem;
			position: relative;
		    text-align: left;
		    z-index: 1;
		    background: #fe7;
		    border: 1px solid rgb(204, 204, 51);
		    border-radius: 0 3px 3px 3px;
		    margin: -1px 0px 0px;
		    padding: 10px;

		    ul {
		    	li {
		    		width: 23%;
		    		float: left;
		    		margin: 0 0 0 1%;
		    		padding: 0 0 .375rem 0;
		    		font-size: .8125rem;

		    		a {
		    			color: #38b;

		    			span {
		    				font-size: .625rem;
		    				color: #666;
		    			}
		    		}

		    	}
		    }
		}
	}

	section.list {
		width: 732px;
		float: right;
	    position: relative;

	    nav {
	    	height: 2.125rem;
	    	margin: 1rem 0 .625rem 0;
		    border-bottom: 1px solid #ccc;
		    font-size: 14px;

		    .tabs {
		    	float: left;

		    	a {
		    		background: none repeat scroll 0 0 #f4f4f4;
				    border-color: #ccc #ccc -moz-use-text-color;
				    border-image: none;
				    border-radius: 4px 4px 0 0;
				    border-style: solid solid none;
				    border-width: 1px 1px 0;
				    color: #666;
				    display: block;
				    float: left;
				    height: 33px;
				    margin-right: 10px;
				    padding: 7px 10px 4px;
				    text-decoration: none;

				    &.active {
				    	background: none repeat scroll 0 0 #fff;
					    color: #000;
					    height: 35px;
					    margin-top: -1px;
					    padding: 8px 10px 5px;
				    }
				    &:before {
				    	display: inline-block;
				    	line-height: 10px;
				    }
				    &.galery:before {
				    	content: "!";
					    font-size: 16px;
					    height: 12px;
					    padding-right: 2px;
				    }
				    &.list:before {
				    	content: "L";
					    font-size: 26px;
					    height: 14px;
				    }
		    	}
		    }

		    .sort {
		    	height: 1.875rem;
		    	float: right;line-height: 1.875rem;
		    	position: relative;
		    }
		}
		ul.listing {
			width: 100%;
			 li {
			 	margin: 0 0 .625rem 0;
			 	border: 1px solid #ccc;

			 	a {
			 		display: block;
			 		color: #666;

			 		> div {
			 			height: 6.875rem;
			 			float: left;
			 		}
			 		.photo {
			 			width: 20%;
			 			padding: .125rem;
			 			border-right: 1px solid #ccc;

			 			div {
			 				width: 100%;
			 				height: 100%;
			 				display: block;
			 				background-size: contain;
			 				background-position: center;
			 				background-repeat: no-repeat;

			 				&.noPhoto {
			 					background-image: url(imageUrl/images/html5/noPhoto.png); 
			 				}
			 			}
			 		}
			 		&:hover .title, &:hover .price, &:hover .date {
			 			background: #e0f4ff;
			 		}
			 		.title, .price, .date {
			 			padding: .625rem 0;
			 		}
			 		.title {
			 			width: 50%;
			 			padding-left: .5rem;

			 			h3, span {
			 				width: 100%;
			 				float: left;
			 				line-height: 1.5rem;
			 			}
			 			h3 {
			 				color: #38b;
			 				font-size: 1rem;
			 				font-weight: normal;
			 			}
			 			span {
			 				font-size: .75rem;
			 				color: #666;
			 			}
			 		}
			 		.price {
			 			width: 20%; 
			 			color: #333;
			 			font-size: .9375rem;
			 			font-weight: bold;
			 			padding-right: .625rem;
			 		}
			 		.date {
			 			width: 10%;
			 			font-size: .75rem;
			 			color: #666;
			 		}
			 	}
			 }
		}
		.itemPagination {
			width: 100%;
			margin: 2.5rem 0 0 0;
			text-align: center;

			> a, div.center {
				display: inline-block;
				height: 2rem;
			}
			div.center {
				height: 2rem;
				border-top:1px solid #ddd;
				border-bottom:1px solid #ddd;

				a, strong {
					position: relative;
					top: 5px;
					padding: 2px 7px;
					margin: 0 .5rem;
					font-size: .9375rem;
				}
				a {
					color: #38b;
					font-weight: bold;
					-webkit-transition:all 0.4s;
					-moz-transition:all 0.4s;
					transition:all 0.4s;
					&:hover {
						background: #38b;
				    	border-radius: 23px;
				    	color: #fff;
					}
				}
				strong {
					background: #665;
				    border-radius: 23px;
				    color: #fff;
				}
			}
			> a {
				padding: 0 .8rem;
				border:1px solid #ddd;
				color: #333;
				&:after {
					position: relative;
					top: .3125rem;	
				}
			}
			> a:first-child {
				border-radius: 3px 0 0 3px;
				&:after {
					content: "";
				}
			}
			> a:last-child {
				border-radius: 0 3px 3px 0;
				&:after {
					content: "";
				}
			}
		}
	}
}


