@import '../helpers/variables.styl';
@import '../helpers/mixins.styl';

#listing-filters {
	.category-selected {
		background: #666;
		color: #fff;
		position: relative;
		span {
			font-size: .7692rem;
			font-weight: normal;
		}
		&.arrow:after {
			left: 10px;
			bottom: -11px;
			arrow(#666 transparent transparent, 5px 6px 6px);
		}
		&:before {
			font-size: 1.8rem;
		}
	}
	.sub-categories {
		background: #fff;
		ul-reset();

		li {
			&:hover {
				box-shadow(0 0 0 1px #38b inset);
				a, .count {
					text-decoration: none;
					color: #666;
				}
			}
			.count {
				color: #888;
				font-size: .7692rem;
			}
		}
	}
	.filter {
		display: block;
		padding: 10px;
		border-bottom: 1px solid #ddd;
		&:last-child {
			border: none;
		}

		&.price {
			.text-field {
				width: 60px;
				float: left;
				margin-right: 10px;
			}
			.button {
				width: 34px;
				height: 34px;
				background: #999;
				color: #fff;
				border: none;
				text-align: center;
				border-radius();
			}
		}
		&.check-box {
			label {
				display: block;
				padding: 5px 0;
				color: #38b;
				input {
					vertical-align: bottom;
					position: relative;
					top: -1px;
				}
			}
		}
	}
}
