#listing-filters {
	.categories-link {
		border-bottom: 1px solid $greyBorders;
	}
	.count {
		color: $greyStrong;
		font-size: $xs;
	}
	.category-selected {
		background: $greyStrong;
		color: $white;
		position: relative;
		span {
			font-size: $xs;
			font-weight: normal;
		}
		&.arrow:after {
			left: 10px;
			bottom: -11px;
			arrow($greyStrong transparent transparent, 5px 6px 6px);
		}
		&.icons::before {
			font-size: $m;
			margin-right: 5px;
		}
	}
	.sub-categories {
		background: $white;
		ul-reset();

		li {
			&:hover {
				box-shadow(0 0 0 1px $blue inset);
				a,
				.count {
					text-decoration: none;
					color: $greyStrong;
				}
			}

		}
	}
	.filter {
		border-bottom: 1px solid $greyBorders;
		display: block;
		padding: 10px;
		&:last-child {
			border: none;
		}

		&.range {
			.text-field {
				display: inline-block;
				margin-right: 6px;
				vertical-align: middle;
				width: 60px;
			}
			.button {
				background: $greyStrong;
				border-radius();
				border: none;
				color: $white;
				height: 34px;
				line-height: 1;
				text-align: center;
				width: 34px;
			}
		}
		&.check-box {
			label,
			.link-range {
				color: $blue;
				cursor: pointer;
				display: block;
				font-size: $xs;
				padding: 5px 0;
				input {
					vertical-align: bottom;
					position: relative;
					top: -1px;
				}
			}
		}
	}
}
