.locations_select_view {
	header#location {

		background: #EFEFEF;
		border-bottom:1px solid #BCBCBC;
		border-top:1px solid #BCBCBC;
		overflow: hidden;
		padding: 0.4rem 0.8rem 0.5rem 0.5rem;
		h1,
		h3,
		strong {

			color: #333;
			display: inline-block;
			float: right;
			font-size: 1.063rem;
			font-weight: normal;
			text-align: right;
			width: 60%;
			a {
				background: url(imageUrl/images/html5/flecha_home.png) right center no-repeat;
				color: #008dcb;
			    font-size: 0.85rem;
			    font-weight: bold;
			    padding: 0 0.6rem;
				&.big {

					font-size: 1.063rem;
				}
			}
			small {
				font-size: 0.6875rem;
			}
		}
		.locationtext {
			background: url(imageUrl/images/html5/icon_location.png) left center no-repeat;
			color: #494949;
			float: left;
			font-size: .95rem;
			line-height: 1.5;
			padding: 0 1.2rem;
		}

	}

}
