<section id="itemPage" data-qa="item">
    <section class="title">
        <span class="date">
            {{ item.date.since.day if item.date.since.day }}
            {{ dictionary[item.date.since.dictionary] }}
            {{ (', ' + item.date.since.hour) if item.date.since.hour }}
            {{ (', '+item.location.cityName) if item.location.cityName }}
        </span>
        <h1>{{ item.title }}</h1>
        <div class="price">{{ item.price.displayPrice if item.price.displayPrice else "" }}</div>
        <div class="clear"></div>
    </section>

    {% if item.images.length == 0 %}
        <section class="noPicture">
            <span></span>
            <p>{{ dictionary["itemgeneraldetails.NoPicture"] }}</p>
            <div class="clear"></div>
        </section>
    {% elif item.images.length == 1 %}
        <section class="onePicture">
            <div class="slide">
                <div style="background-image: url('{{ item.images[0].url }}');"></div>
            </div>
        </section>
    {% else %}
        <section class="swiper-container zd-gallery">
            <div class="swiper-wrapper">
                {% for image in item.images %}
                    <div class="swiper-slide">
                        <div class="slide">
                          <div style="background-image: url('{{ image.url }}');"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="slidePagination"></div>
        </section>
        <div class="swiper-container swiper-nav">
            <div class="swiper-wrapper">
                {% for image in item.images %}
                <div class="swiper-slide {{ 'active-nav' if loop.index == 1 else '' }}" data-url="{{ image.url }}">
                    <div class="smallslide">
                        <div class="img" style="background-image: url('{{ image.smallUrl }}');"></div>
                        <div class="bg"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <section class="optionals">
        {% if item.optionals %}
            <ul>
                {% for optional in item.optionals %}
                    {% if optional.label and optional.value %}
                        <li>{{ optional.label }}: <strong>{{ optional.value }}</strong></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="clear"></div>
    </section>

    <section class="detail">
        <h3>{{ dictionary["itemslisting.NewAdDetails"] }}</h3>
        <p>{{ item.descriptionReplace }}</p>
    </section>

    <section class="map">
        {% set map = "http://maps.googleapis.com/maps/api/staticmap?center=" + item.coordinates.latitude + "," + item.coordinates.longitude + "&zoom=14&size=120x92&markers=" + item.coordinates.latitude + "," + item.coordinates.longitude + "&sensor=false" %}

        <div class="profile" {{ 'style="background-image: url('+ map +')"' if item.coordinates.latitude }}>
        {% if item.phone and item.contactName %}
            <strong>{{ item.contactName }}</strong>
            <span>{{ item.phone }}</span>
        {% elif item.phone or item.contactName %}
            <strong>{{ item.contactName if item.contactName }}</strong>
            <span> {{ item.phone if item.phone }}</span>
        {% endif %}
            <span>
                {% if item.location.neighborhoodName %}
                    {{ item.location.neighborhoodName if item.location.neighborhoodName }}
                {% else %}
                    {{ item.location.cityName if item.location.cityName }}
                {% endif %}
                {{ (', '+item.location.countryName) if item.location.countryName }}
            </span>
        </div>
    </section>

    {% if not item.status.onReview %}
    <section class="contentshare">
        {% set favClass = 'remove' %}
        {% set favLink = '#' %}
        {% set favText = dictionary["item.RemoveFromFavorites"] %}
        {% set flagText = dictionary["item.FlagAsSpamOrScam"] or 'Report item' %}
        {% set flagTextDone = dictionary["item.FlagAsSpamOrScamDone"] or 'Item reported' %}
        {% if not item.isFavorite %}
            {% set favClass = 'add' %}
            {% set favText = dictionary["itemgeneraldetails.addFavorites"] %}
            {% if not user %}
                {% set favLink = (['/login?redirect=/items/', item.id, '/favorite'] | join('') | link) %}
            {% endif %}
        {% endif %} 
        <a data-itemId="{{ item.id }}" class="btnshare fav {{ favClass }}" href="{{ favLink }}" data-qa="{{ favClass }}-favorite" >{{ favText }}</a>

        <a href="#share" class="btnshare share trackMe" data-tracking="ItemPage-ClickShare">{{ dictionary["item.ShareAd"] }}</a>
        
        {% if flagItem.enabled %}        
            <a href="#" class="btnshare flag" data-text-done="{{ flagTextDone }}" data-increment="true" data-increment-category="africa" data-increment-action="item" data-flag="flagAsSpamOrScam" data-increment-value="{{ 'auth' if user else 'anon' }}.flagging" >{{ flagText }}</a>
        {% endif %}

    </section>
    {% endif %}

    {% view 'items/partials/relatedads' %}

    {% if (item.metadata.seo.prevItem or item.metadata.seo.nextItem) %}
        <section class="nav">
            <span></span>
            <div class="links {{ 'twice' if (item.metadata.seo.prevItem and item.metadata.seo.nextItem) }}">
                {% if item.metadata.seo.prevItem %}
                    <a class="first" href="{{ item.metadata.seo.prevItem.itemUrl | link }}">{{ dictionary["listingpageitemslisting.Previous"] }} </a>
                {% endif %}
                {% if item.metadata.seo.nextItem %}
                    <a class="second" href="{{ item.metadata.seo.nextItem.itemUrl | link }}">{{ dictionary["itemslisting.Next"] }} </a>
                {% endif %}
            </div>
        </section>
    {% endif %}

</section>

{% if item.status.contactable and showContact %}
    <section class="actions">
        <div class="background"></div>
        <div class="actionscontent">

        {% if item.email and not item.phone %}
            <div class="action email fullWidth">
                <a href="{{ ['iid-', item.id, '/reply'] | join('') | link }}" class="trackMe" data-tracking="Reply-ClickEmail" data-qa="reply-button">
                    <span>{{ dictionary["replymessage.Email"] }}</span>
                </a>
            </div>
        {% elif item.email and item.phone %}
            {% if device.uriSchemeTel and device.uriSchemeSms %}
                <div class="action call" >
                    <a href="tel:{{ item.phone }}" class="trackMe" data-tracking="Reply-ClickCall">
                        <span>{{ dictionary["misc.Call"] }}</span>
                    </a>
                    <p class="separator"></p>
                </div>
                <div class="action sms">
                    <a href="sms:{{ item.phone }}" class="trackMe" data-tracking="Reply-ClickSms">
                        <span>{{ dictionary["itempagepostcomment.Sms"] }}</span>
                    </a>
                    <p class="separator"></p>
                </div>
                <div class="action email">
                    <a href="{{ ['iid-', item.id, '/reply'] | join('') | link }}" class="trackMe" data-tracking="Reply-ClickEmail" data-qa="reply-button" >
                        <span>{{ dictionary["replymessage.Email"] }}</span>
                    </a>
                </div>
            {% elif device.uriSchemeTel and not device.uriSchemeSms %}
                <div class="action call midWidth">
                    <a href="tel:{{ item.phone }}" class="trackMe" data-tracking="Reply-ClickCall">
                        <span>{{ dictionary["misc.Call"] }}</span>
                    </a>
                    <p class="separator"></p>
                </div>
                <div class="action email midWidth">
                    <a href="{{ ['iid-', item.id, '/reply'] | join('') | link }}" class="trackMe" data-tracking="Reply-ClickEmail" data-qa="reply-button" >
                        <span>{{ dictionary["replymessage.Email"] }}</span>
                    </a>
                </div>
            {% elif device.uriSchemeSms and not device.uriSchemeTel %}
                <div class="action sms midWidth">
                    <a href="sms:{{ item.phone }}" class="trackMe" data-tracking="Reply-ClickSms">
                        <span>{{ dictionary["itempagepostcomment.Sms"] }}</span>
                    </a>
                    <p class="separator"></p>
                </div>
                <div class="action email midWidth">
                    <a href="{{ ['iid-', item.id, '/reply'] | join('') | link }}" class="trackMe" data-tracking="Reply-ClickEmail" data-qa="reply-button" >
                        <span>{{ dictionary["replymessage.Email"] }}</span>
                    </a>
                </div>
            {% else %}
                <div class="action email fullWidth">
                    <a href="{{ ['iid-', item.id, '/reply'] | join('') | link }}" class="trackMe" data-tracking="Reply-ClickEmail" data-qa="reply-button" >
                        <span>{{ dictionary["replymessage.Email"] }}</span>
                    </a>
                </div>
            {% endif %}
        {% elif item.phone and not item.email %}
            {% if device.uriSchemeTel and device.uriSchemeSms %}
                <div class="action call midWidth">
                    <a href="tel:{{ item.phone }}" class="trackMe" data-tracking="Reply-ClickCall">
                        <span>{{ dictionary["misc.Call"] }}</span>
                    </a>
                </div>
                <div class="action sms midWidth">
                    <a href="sms:{{ item.phone }}" class="trackMe" data-tracking="Reply-ClickSms">
                        <span>{{ dictionary["itempagepostcomment.Sms"] }}</span>
                    </a>
                </div>
            {% elif device.uriSchemeTel and not device.uriSchemeSms %}
                <div class="action call fullWidth">
                    <a href="tel:{{ item.phone }}" class="trackMe" data-tracking="Reply-ClickCall">
                        <span>{{ dictionary["misc.Call"] }}</span>
                    </a>
                </div>
            {% elif device.uriSchemeSms and not device.uriSchemeTel %}
                <div class="action sms fullWidth">
                    <a href="sms:{{ item.phone }}" class="trackMe" data-tracking="Reply-ClickSms">
                        <span>{{ dictionary["itempagepostcomment.Sms"] }}</span>
                    </a>
                </div>
            {% endif %}
        {% endif %}
        <div class="clear"></div>
        </div>
    </section>
{% endif %}

{% if item.images.length == 1 %}
    <div id="galContOne" class="galCont">
        <div class="title">{{ item.title }}</div>
        <div class="galCont-container swiper-container-gal" style="background-image: url('{{ item.images[0].url }}');"></div>
        <div class="galActions">
            <div class="close"><span></span></div>
            <!--<div class="playDis"><span></span></div>-->
            <div class="prevDis"><span></span></div>
            <div class="nextDis"><span></span></div>
        </div>
    </div>
{% elif item.images.length > 1  %}
    <div id="galCont" class="galCont">
        <div class="title">{{ item.title }}</div>
        <div class="galCont-container swiper-container-gal">
            <div class="swiper-wrapper">
                {% for image in item.images %}
                    <div class="swiper-slide" style="background-image: url('{{ image.url }}');"></div>
                {% endfor %}
            </div>
            <div class="slidePaginationGal"></div>
        </div>
        <div class="galActions">
            <div class="close"><span></span></div>
            <!--<div class="pause"><span></span></div>-->
            <div class="prev"><span></span></div>
            <div class="next"><span></span></div>
        </div>
    </div>
{% endif %}

<div id="share" class="popup">
    <div class="popup-wrapper">
        <div class="popup-container">
            <div class="popup-title">{{ dictionary["itemgeneraldetails.ShareThisAd"] }}</div>
            <div>
                <ul>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ href }}" target="_blank" class="facebookButton">Facebook</a></li>
                    <li><a href="https://twitter.com/intent/tweet?original_referer={{ href }}&text={{ item.title | encode }}&url={{ href }}" target="_blank" class="twitterButton">Twitter</a></li>
                </ul>
            </div>

            <footer>
                <a href="#" class="popup-close btns grey">{{ dictionary["wap_posting_step4.Cancel"] }}</a>
            </footer>
        </div>
    </div>
</div>

<div class="msg-resulted">
    <div class="msg-container" data-qa="reply-message-sent">
        <span>{{ (dictionary["comments.YourMessageHasBeenSent"] | replace('<br />','')) }}</span>
        <div class="msg-bg"></div>
    </div>
</div>
{% view 'partials/tracking' %}
