# Default config
environment: development

server:
  port: 3030
  maxSockets:
    http: 500
    https: 500

platforms:
  - wap
  - html4
  - html5
  - desktop

smaug:
  protocol: http
  host: api-v2.olx.com

session:
  secret: VWaB5TfjGPNWXJATbr6BK3Hy

memcached:
  hosts:
    - 'localhost:11211'

cluster:
  enabled: true

newrelic:
  enabled: false

memwatch:
  enabled: true

cron:
  enabled: true

statsD:
  enabled: false

formidable:
  uploadDir: /tmp
  keepExtensions: true
  multiples: true
  acceptFiles: false

error:
  detail: true

middleware:
  exclude:
    all:
      - /health
      - /stats
      - /stats/memory
      - /stats/threads
      - /stats/check
      - /stats/sockets
      - /analytics
      - /analytics/pageview.gif
      - /analytics/pageevent.gif
      - /analytics/graphite.gif
      - /force
      - /force/wap
      - /force/html4
      - /force/html5
      - /force/desktop

uglify:
  enabled: false

publicEnvironments:
  testing:
    host: 'm-testing'
    mask: 'py'
  staging:
    host: 'm-staging'
    mask: 'py'

hosts:
  - olx
  - haibao
  - olxtunisie
  - olx-nederland
  - olxmonaco
  - haibao
  - olxalgerie
  - jaovat

redirect:
  onDesktop: true

migrated:
    - www.olx.com.bo
