<header>
    <a href="#" class="navLeft">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a href="/"><div class="olxLogo"></div></a>
    <h1></h1>
    <div class="search"></div>
</header>