.migration-banner-cl {

	display: block;
	text-align: center;
	background-color: #F70;
	
	img {

		vertical-align: middle;

	}

}

.migration-banner-bd {

	display: block;
	text-align: center;
	background-color: #473;
	
	img {

		width: 100%;
		vertical-align: middle;

	}
	
}

.migration-banner-mx {

	width: 100%;
	background: #EEE url(imageUrl/images/html4/migration/mx/gradient_260.jpg) repeat-x top center;
	
	table {

		margin: 0 auto;
		
	}
	
	.message {

		background-image: url(imageUrl/images/html4/migration/mx/flecha_226.png);
		background-repeat: no-repeat;
		background-position: top right;
		color: #FFF;
		vertical-align: top;
		font-size: 16px;
		font-family: Helvetica, Arial, sans-serif;
		padding:8px 5px 5px;
		text-align:left;

		img {

			margin-top: 7px;

		}

	}
	
	.link {

		color: #FFF;
		vertical-align: middle;
		text-align:center;

	}
	
}
