#search {
	position: relative;
	padding: 3px 11px;
	background: #dddddd;
	color: #333;
}
#search input.search {
	width: 85%;
	height: 30px;
	float: left;
	margin: 0;
	padding: 0 0 0 5px;
	font-size: 16px;
	background: #ffffff;
	outline: none;
	border-radius: 0;
	border: none;
}
#search input.submit {
	width: 12%;
	height: 30px;
	float: right;
	padding: 2px;
	text-indent: -9000px;
	background: url(imageUrl/images/html4/lupa.png) no-repeat center #818080;
	border: none;
	border-radius: 0;
	cursor: pointer; 
}
#search span {
	display: inline-block;
	font-size: 12px;
}