<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#FFFFFF">
            <tbody>
                <tr>
                    <td style="border-top: solid thin #808080;">
                        <strong style="color: #0075BD;">{{category.name}}</strong>
                        <small style="color: #999;">({{category.counter}})</small>
                    </td>
                </tr>
            </tbody>
        </table>
        {% view 'location/select' %}
        {% set templateName = 'compiled/' + template + '/partials/search.html' %}
        {% include templateName %}
        <table width="100%" border="0" align="left" cellspacing="0" cellpadding="4" bgcolor="#FFFFFF">
            <tbody>
                {%for item in items %}
                    <tr>
                        <td style="border-top: solid thin #808080;">
                            <a style="display: block;" tabindex="1" href="/{{ item | slugToUrl | link }}">
                                <small style="display: block;">
                                    {% if item.thumbnail %}
                                        <img border="0" alt="" src="{{ '/images/wap/photo.gif' | static }}">
                                    {% else %}
                                        <img border="0" alt="" src="{{ '/images/common/gif1x1.gif' | static }}" width="12" height="9" >
                                    {% endif %}
                                    {{ item.title }} - {{ item.price.displayPrice }}
                                </small>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr style="display: none;">
                    <td>
                        {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
                        {% include templateName %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% if metadata.next or metadata.previous %}
            <table width="100%" border="0" bgcolor="#DDDDDD" cellspacing="0" cellpadding="4">
                <tbody>
                    <tr>
                        <td align="center" style="border-top: solid thin #808080;">
                            <small style="display: block;">
                                {% if metadata.previous %}
                                    <a href="{{ metadata.previous | link }}" >&lt;</a>
                                {% endif %}
                                {{ metadata | pagination('wap') }}
                                {% if metadata.next %}
                                    <a href="{{ metadata.next | link }}" >&gt;</a>
                                {% endif %}
                            </small>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        {% from macros import breadcrumb %}
        {% set link = (referer | breadcrumb | link) %}
        {{ breadcrumb(dictionary, link) }}
    </td>
</tr>
