<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="4" border="0">
            <tr>
                <td style="border-top: solid thin #808080;">
                    <strong style="display: block;"><font color="#0075BD">{{ item.title }}</font></strong>
                </td>
            </tr>
            <tr style="display: none;">
                <td>
                    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
                    {% include templateName %}
                </td>
            </tr>
        </table>
        {% if errors %}
            <table width="100%" cellspacing="0" cellpadding="4" border="0" style="width: 100%;">
                <tr>
                    <td style="border-top: solid thin #808080;">
                        <small style="display: block;">
                            {% for error in errors %}
                                <font color="#FF0000">{{ error }}</font><br />
                            {% endfor %}
                        </small>
                    </td>
                </tr>
            </table>
        {% endif %}
        <form action="{{ ['/items/', item.id, '/reply'] | join('') | link }}" method="POST" enctype="multipart/form-data">
            <table width="100%" cellspacing="0" cellpadding="4" border="0">
                <tr>
                    <td style="border-top: solid thin #808080;">
                        <small style="display: block;"><strong>{{ dictionary["contactseller_form.55"] }}</strong> <span>{{ item.contactName if item.contactName else "anonymous" }}</small>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: solid thin #CCC;">
                        <small style="display: block;">{{ dictionary["contactseller_form.57"] }} ({{ dictionary["wap_posting_step4.mandatoryField"] }})</small>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding: 2px; border: solid thin #BBB;">
                                    <input type="text" name="email" value="{{ user.email if user.email }}" style="display: block; width: 100%; padding: 0; margin: 0; border-width: 0;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small style="display: block;">{{ dictionary["contactseller_form.1366"] }} ({{ dictionary["wap_posting_step4.mandatoryField"] }})</small>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding: 2px; border: solid thin #BBB;">
                                    <input type="text" name="name" value="{{ user.username if user.username }}" style="display: block; width: 100%; padding: 0; margin: 0; border-width: 0;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small style="display: block;">{{ dictionary["contactseller_form.1512"] }} ({{ dictionary["contactseller_form.6"] }})</small>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding: 2px; border: solid thin #BBB;">
                                    <input type="text" name="phone" value="" style="display: block; width: 100%; padding: 0; margin: 0; border-width: 0;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small style="display: block;">{{ dictionary["contactseller_form.58"] }}</small>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding: 2px; border: solid thin #BBB;">
                                    <textarea name="message" style="display: block; width: 100%; padding: 0; margin: 0; border-width: 0;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: solid thin #CCC; text-align: left;">
                        <input type="hidden" name="itemId" value="{{ item.id }}" />
                        <input type="submit" name="submit" value="{{ dictionary["contactseller_form.60"] }}" />
                    </td>
                </tr>
            </table>
        </form>
        {% from macros import breadcrumb %}
        {% set link = (referer | breadcrumb | link) %}
        {{ breadcrumb(dictionary, link) }}
    </td>
</tr>
