<tr>
    <td>
        {% view 'location/select' %}
        {% set templateName = 'compiled/' + template + '/partials/search.html' %}
        {% include templateName %}
        {% if metadata.total == 0 %}
            <table width="100%" border="0" align="left" cellspacing="0" cellpadding="4">
                <tbody>
                    <tr>
                        <td style="border-top: solid thin #808080;">
                            <small style="display: block;">Lo lamentamos pero no hay resultados para tu búsqueda.</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <table width="100%" border="0" align="left" cellspacing="0" cellpadding="4">
                <tbody>
                    {%for item in items %}
                        <tr>
                            <td style="border-top: solid thin #808080;">
                                <a style="display: block;" tabindex="1" href="/{{ item | slugToUrl | link }}">
                                    <small style="display: block;">
                                        {% if item.thumbnail %}
                                            <img border="0" alt="" src="{{ '/images/wap/photo.gif' | static }}">
                                        {% else %}
                                            <img border="0" alt="" src="{{ '/images/common/gif1x1.gif' | static }}" width="12" height="9" >
                                        {% endif %}
                                        {{ item.title }} {{ " - "+item.price.displayPrice if item.price.displayPrice }}
                                    </small>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if metadata.next or metadata.previous %}
                <table width="100%" border="0" bgcolor="#DDDDDD" cellspacing="0" cellpadding="4">
                    <tbody>
                        <tr>
                            <td align="center" style="border-top: solid thin #808080;">
                                <small style="display: block;">
                                    {{ (['<a href="', metadata.previous | link, '" >&lt;</a>'] | join('')) if metadata.previous }}
                                    {{ metadata | pagination('wap') }}
                                    {{ (['<a href="', metadata.next | link, '" >&gt;</a>'] | join('')) if metadata.next }}
                                </small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
        {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
        {% include templateName %}
        {% from macros import breadcrumb %}
        {% set link = (referer | breadcrumb | link) %}
        {{ breadcrumb(dictionary, link) }}
    </td>
</tr>
