{% from macros import Breadcrumb, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["homeheader.My OLX"]) }}
{% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
<section id="login">
    <form action="{{ '/login' | link }}" method="POST" enctype="multipart/form-data">
        <h4>{{ dictionary["loginbox.MemberAccess"] }}</h4>
        <label>{{ dictionary["loginbox.Username"] }}</label>
        <input type="text" name="usernameOrEmail">
        <label >{{ dictionary["loginbox.Password"] }}</label>
        <input type="password" name="password">
        <input type="hidden" name="redirect" value="{{ redirect if redirect else link }}">
        <div class="btnCenter">
            <input type="submit" value="{{ dictionary["loginbox.Login"] }}" class="btns orange">
        </div>
    </form>
    <a href="{{ '/register' | link }}">{{ dictionary["loginbox.NotAMember"] }} {{ dictionary["loginbox.CreateYourAccount"] | replace(':','.') }}</a>
</section>
