<section id="login">
	<h1>Acesse seus anúncios</h1>
	<form action="{{ '/login' | link }}" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="redirect" value="{{ redirect if redirect else link }}">

		<div class="field">
	        <label>{{ dictionary["loginbox.Username"] }}</label>
	        <input type="text" name="usernameOrEmail">
        </div>
        <div class="field">
        	<label >{{ dictionary["loginbox.Password"] }} <a href="">Esqueceu a senha?</a></label>
        	<input type="password" name="password">
		</div>
        <div class="field">
			<label><input type="checkbox" tabindex="3" checked="" id="rememberme" name="rememberme"> Lembrar meus dados de acesso</label>
        </div>

        <div class="field">
        	<input type="submit" value="{{ dictionary["loginbox.Login"] }}" class="btn orange">
        </div>
    </form>
    <div class="field">
    	<a href="" class="register">Criar uma conta</a>
	</div>
	<div class="field center">
    	<a class="fbBtn">
    		<span>Conecte-se com o Facebook</span>
		</a>
	</div>

	<form>
	<div class="field">
		<h3>Não Cadastrado</h3>
		<p>Receba um e-mail com o link para <strong>"Excluir, Editar e/ou Destacar"</strong> os seus anúncios já publicados pelo MeuOLX. Insira abaixo o mesmo e-mail utilizado para publicar e clique em "Enviar".</p>
		<strong>E-mail:</strong> <input type="text" name="email" class="mail">
	</div>
	</form>
</section>

{% view 'partials/tracking' %}
