<label class="field-label">* {{ dictionary["itemslisting.NavigatorByCategory"] }}</label>
{% if experiments.desktopCategorySelector %}
    <div class="posting-category-selector">
        <button type="button" id="posting-category-selector-button">Seleccioná una categoría</button>
        <ul class="posting-categories-suggested"></ul>
    </div>
{% endif %}
<ul class="posting-categories-list">
{% for category in categories %}
    <li>
   		<a href="#" class="category icons icon-cat-{{ category.id }}{{ ' active select' if item.get('category').parentId == category.id }}" data-id="{{ category.id }}" data-qa="category-name-{{ category.id }}" >{{ category.trName }}</a>
        <ul class="subcategories child-categories-list{{ ' hide' if item.get('category').parentId != category.id }}" data-id="{{ category.id }}">
        {% for subCategory in category.children.toJSON() %}
            <li><a href="#" class="subcategory icons {{ ' select icon-check' if item.get('category').id == subCategory.id }}" data-id="{{ subCategory.id }}" data-qa="subcategory-name-{{ subCategory.id }}">{{ subCategory.trName }}</a></li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
