<label class="field-label">* {{ dictionary["itemslisting.NavigatorByCategory"] }}</label>
{% if experiments.categorySuggestion %}
    <div class="posting-category-suggestion">
        <button type="button" id="posting-category-suggestion-button">Seleccioná una categoría</button>
        <template id="template-category">
            <li class="icons icon-cat-{categoryid} {classname}"><span>{subcategoryname}<br><small>en {categoryname}</small></span> <a href="#" data-category="{categorydata}" data-increment-action="{action}" data-increment-value="option-{index}">{buttontext}</a></li>
        </template>
        <template id="template-other-categories">
            <li class="{classname}"><a href="#" data-increment-action="{action}" data-increment-value="option-others">{text}</a></li>
        </template>
        <ul class="posting-categories-suggested"></ul>
    </div>
{% endif %}
<ul class="posting-categories-list">
{% for category in categories %}
    <li>
   		<a href="#" class="category icons icon-cat-{{ category.id }}{{ ' active select' if item.get('category').parentId == category.id }}" data-id="{{ category.id }}" data-qa="category-name-{{ category.id }}" >{{ category.trName }}</a>
        <ul class="subcategories child-categories-list{{ ' hide' if item.get('category').parentId != category.id }}" data-id="{{ category.id }}">
        {% for subCategory in category.children.toJSON() %}
            <li><a href="#" class="subcategory icons {{ ' select icon-check' if item.get('category').id == subCategory.id }}" data-id="{{ subCategory.id }}" data-qa="subcategory-name-{{ subCategory.id }}">{{ subCategory.trName }}</a></li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
