{% from macros import Field %}

<h2 class="section-title">{{ dictionary["posting_step4.ContactInformation"] }}</h2>

{% set contactNameField = {
	isOptional: false,
	name: "contactName",
	mandatory: true,
	label: "Nombre de contacto",
	fieldType: "text",
	dataType: "string"
} %}

{% set emailField = {
	isOptional: false,
	name: "email",
	mandatory: true,
	label: "Email",
	fieldType: "text",
	dataType: "string"
} %}

{% set phoneField = {
	isOptional: false,
	name: "phone",
	mandatory: false,
	label: "Número de Teléfono",
	fieldType: "text",
	dataType: "string"
} %}

{% set adressField = {
	isOptional: true,
	name: "streetAddress",
	mandatory: false,
	label: "Dirección exacta",
	fieldType: "text",
	dataType: "string"
} %}

{{ Field(contactNameField) }}
{{ Field(hint = dictionary["posting_fields_1.YourEmailAddressWontBeShared"], emailField) }} <!-- <small class="advice icons icon-lock">this should have icon</small> -->
{{ Field(phoneField) }}
{{ Field(adressField) }}

{% view 'post/locations' %}

<fieldset class="seller-post">
    <!--<input id="seller-remember" type="checkbox" checked />--> <!-- LABEL HERE -->
    <input type="submit" value="{{ dictionary['wap_posting_step5.Post'] }}" class="posting" data-qa="submit-button" disabled />
    <small class="hint message">{{ dictionary["misc.ByPublishingYouAgreeTerms"] | replace('<<LINK_TO_TERMS_AND_CONDITIONS>>', '<a href="/terms">') | replace('<</ LINK_TO_TERMS_AND_CONDITIONS>>', '</a>') }}</small>    
</fieldset>
