{% from macros import FieldText, FieldTextArea, FieldCombobox %}

{{ FieldText('Título', 'title', 'true', '0 caracteres. Un buen título precisa de por lo menos 60 caracteres.') }}

{{ FieldTextArea('Descripción de tu anuncio', 'description', 'true') }}

<fieldset class="wrapper">
    <label for="price" class="posting-label">* Precio</label>
    <div class="wrapper-inputs">
        <input id="price" class="text-field" type="text" placeholder="$" name="priceC" required />
        <div class="wrapper-inner-inputs">
            <input id="price-option" type="checkbox" />
            <label for="price-option" class="price-checkbox-label">Negociable</label>
        </div>
    </div><!-- Maybe we should discuss this naming -->
</fieldset>
