{% from macros import Field %}
{% set titleField = {
	dataType: "string",
	fieldType: "text",
	isOptional: "false",
	label: dictionary["messages_auction_bid_class.7"],
	mandatory: "true",
	name: "title"
} %}
{% set descriptionField = {
	dataType: "string",
	fieldType: "text",
	isOptional: "false",
	label: dictionary["posting_fields_1.description"],
	mandatory: "true",
	name: "description"
} %}
{{ Field(hint = '0 caracteres. Un buen título precisa de por lo menos 60 caracteres.', titleField) }}
{{ Field(descriptionField) }}
