{% if errors or formErrors %}
	<h4 class="title">{{ dictionary["postingerror.Error"] }} <small class="close">{{ dictionary["contactseller_form.Close"] }}</small></h4>
{% endif %}
{% if errors %}
	<p class="detail">Por favor, verifica los errores indicados{{ dictionary["posting_publishbutton.ValidationError"] }}<em>({{ errors.length }})</em></p>
	<ul class="summary">
		{% for error in errors %}
			<li><strong>{{ error.field }}</strong>: <em>{{ error.message }}</em></li>
		{% endfor %}
	</ul>
{% endif %}
{% if formErrors %}
	<p class="detail">Hubo un error. Por favor, intenta nuevamente.{{ dictionary["postingerror.ThereWasAnErrorTryingToFulfillYourRequest"] }} {{ dictionary["postingerror.PleaseTryAgain"] }}</p>
	<ul class="summary">
		{% for formError in formErrors %}
			<li>{{ formError }}</li>
		{% endfor %}
	</ul>
{% endif %}
