<div class="featured-ads">
    <div class="featured-ads-tip"></div>
    <p class="featured-ads-title">{{ dictionary["itemslisting.FeatureYourAd"] }}</p>
    <br>
    <ul>
        <li>Por R$ 10,00 por semana, seu anúncio aparece no topo das listagens</li>
        <li>Após destacado, não será possível editar o anúncio</li>
        <li>Apenas será cobrado após a aprovação do destaque</li>
    </ul>
    <a href="#" class="open-modal" rel="nofollow" data-modal="featuread-modal">Clique aqui para destacar</a>
    {% view 'modals/feature_ad' %}
</div>
