<label for="images" class="posting-label">* Ingrese fotos y venda más rápido</label>
<input type="file" name="images[0]" id="file0" class="image-input-file" accept="image/*" />
<input type="file" name="images[1]" id="file1" class="image-input-file" accept="image/*" />
<input type="file" name="images[2]" id="file2" class="image-input-file" accept="image/*" />
<input type="file" name="images[3]" id="file3" class="image-input-file" accept="image/*" />
<input type="file" name="images[4]" id="file4" class="image-input-file" accept="image/*" />
<input type="file" name="images[5]" id="file5" class="image-input-file" accept="image/*" />
<input type="file" name="images[6]" id="file6" class="image-input-file" accept="image/*" />
<input type="file" name="images[7]" id="file7" class="image-input-file" accept="image/*" />

<div class="wrapper-inputs">
	<ul class="file-upload">
	    <li class="image-cont track-me" data-tracking="Posting-ClickUploadPicture" data-input="file0">
	        <div class="image icons icon-addpicture"></div>
	        <span class="remove icons icon-error"></span>
	    </li><!--
	    --><li class="image-cont track-me" data-tracking="Posting-ClickUploadPicture" data-input="file1">
	        <div class="image icons icon-addpicture"></div>
	        <span class="remove icons icon-error"></span>
	    </li><!--
	    --><li class="image-cont track-me" data-tracking="Posting-ClickUploadPicture" data-input="file2">
	        <div class="image icons icon-addpicture"></div>
	        <span class="remove icons icon-error"></span>
	    </li><!--
	    --><li class="image-cont track-me" data-tracking="Posting-ClickUploadPicture" data-input="file3">
	        <div class="image icons icon-addpicture"></div>
	        <span class="remove icons icon-error"></span>
	    </li>
	    <li class="image-cont track-me" data-tracking="Posting-ClickUploadPicture" data-input="file4">
	        <div class="image icons icon-addpicture"></div>
	        <span class="remove icons icon-error"></span>
	    </li><!--
	    --><li class="image-cont track-me" data-tracking="Posting-ClickUploadPicture" data-input="file5">
	        <div class="image icons icon-addpicture"></div>
	        <span class="remove icons icon-error"></span>
	    </li><!--
	    --><li class="image-cont track-me" data-tracking="Posting-ClickUploadPicture" data-input="file6">
	        <div class="image icons icon-addpicture"></div>
	        <span class="remove icons icon-error"></span>
	    </li><!--
	    --><li class="image-cont track-me" data-tracking="Posting-ClickUploadPicture" data-input="file7">
	        <div class="image icons icon-addpicture"></div>
	        <span class="remove icons icon-error"></span>
	    </li>
	</ul>
	<small class="advice">Formatos aceptados: JPG, JPEG, GIF, o PNG. Tamaño máximo por foto 20MB</small>
</div>
