<label for="images" class="field-label">{{ dictionary["photos.AddAndSellFaster"] }}</label>
{%- for i in range(0, 7) -%}
	<input type="file" name="images[{{ i }}]" id="file{{ i }}" class="image-input-file" accept="image/*" />
{%- endfor -%}
<div class="field-controls">
	<ul class="file-upload">
	    <li class="image-cont track-me first-img{{ " loaded" if item.get('images')[0] }}" data-tracking="Posting-ClickUploadPicture" data-input="file0">
	        <div class="image{{ " fill r1" if item.get('images')[0] else " icons icon-addpicture" }}" {{ ("style='background-image: url(" + item.get('images')[0].thumbnail + ");'") if item.get('images')[0] }}></div>
	        <span class="remove icons icon-close"></span>
	    </li><!--
	    --><li class="image-cont track-me{{ " loaded" if item.get('images')[1] }}" data-tracking="Posting-ClickUploadPicture" data-input="file1">
	        <div class="image{{ " fill r1" if item.get('images')[1] else " icons icon-addpicture" }}" {{ ("style='background-image: url(" + item.get('images')[1].thumbnail + ");'") if item.get('images')[1] }}></div>
	        <span class="remove icons icon-close"></span>
	    </li><!--
	    --><li class="image-cont track-me{{ " loaded" if item.get('images')[2] }}" data-tracking="Posting-ClickUploadPicture" data-input="file2">
	        <div class="image{{ " fill r1" if item.get('images')[2] else " icons icon-addpicture" }}" {{ ("style='background-image: url(" + item.get('images')[2].thumbnail + ");'") if item.get('images')[2] }}></div>
	        <span class="remove icons icon-close"></span>
	    </li><!--
	    --><li class="image-cont track-me{{ " loaded" if item.get('images')[3] }}" data-tracking="Posting-ClickUploadPicture" data-input="file3">
	        <div class="image{{ " fill r1" if item.get('images')[3] else " icons icon-addpicture" }}" {{ ("style='background-image: url(" + item.get('images')[3].thumbnail + ");'") if item.get('images')[3] }}></div>
	        <span class="remove icons icon-close"></span>
	    </li>
	    <li class="image-cont track-me{{ " loaded" if item.get('images')[4] }}" data-tracking="Posting-ClickUploadPicture" data-input="file4">
	        <div class="image{{ " fill r1" if item.get('images')[4] else " icons icon-addpicture" }}" {{ ("style='background-image: url(" + item.get('images')[4].thumbnail + ");'") if item.get('images')[4] }}></div>
	        <span class="remove icons icon-close"></span>
	    </li><!--
	    --><li class="image-cont track-me{{ " loaded" if item.get('images')[5] }}" data-tracking="Posting-ClickUploadPicture" data-input="file5">
	        <div class="image{{ " fill r1" if item.get('images')[5] else " icons icon-addpicture" }}" {{ ("style='background-image: url(" + item.get('images')[5].thumbnail + ");'") if item.get('images')[5] }}></div>
	        <span class="remove icons icon-close"></span>
	    </li><!--
	    --><li class="image-cont track-me{{ " loaded" if item.get('images')[6] }}" data-tracking="Posting-ClickUploadPicture" data-input="file6">
	        <div class="image{{ " fill r1" if item.get('images')[6] else " icons icon-addpicture" }}" {{ ("style='background-image: url(" + item.get('images')[6].thumbnail + ");'") if item.get('images')[6] }}></div>
	        <span class="remove icons icon-close"></span>
	    </li><!--
	    -->
	</ul>
	<small class="hint message">{{ dictionary["posting_photos.AcceptedFormats"] }} {{ dictionary["postingerror.MaximumAllowedSizeForUploadedFilesIsNumber"] | replace('<<NUMBER>>', '20') }} </small>
</div>
