<label for="images" class="field-label">{{ dictionary["photos.AddAndSellFaster"] }} <small>({{ dictionary["messages_site_class.Optional"] }})</small></label>
{%- for i in range(0, 7) -%}
	<input type="file" name="images[{{ i }}]" id="file{{ i }}" class="image-input-file" accept="image/*" />
{%- endfor -%}
<div class="field-controls">
	<ul class="file-upload">
		{%- for i in range(0, 7) -%}
		    <li class="image-cont track-me{{ " first-img" if loop.first }}{{ " loaded" if item.get('images')[i] }}" data-tracking="Posting-ClickUploadPicture" data-input="file{{ i }}">
		        <div class="image{{ " fill r1" if item.get('images')[i] else " icons icon-addpicture" }}" {{ ("style='background-image: url(" + item.get('images')[i].thumbnail + ");'") if item.get('images')[i] }}></div>
		        <div class="overlay-image"></div>
		        <span class="remove icons icon-close"></span>
		    </li>
		{%- endfor -%}
	</ul>
	<small class="hint message exclude">{{ dictionary["posting_photos.AcceptedFormats"] }} {{ dictionary["postingerror.MaximumAllowedSizeForUploadedFilesIsNumber"] | replace('<<NUMBER>>', '5') }} </small>
</div>
