{% if keepPostingCat %}
    <aside id="notification-keep-posting" class="notification-keep-posting{{ ' hide' if accepExchange.enabled }}">
        <h3 class="title">{{ dictionary["crm_new_version.KeepPosting"] }}</h3>
        <p class="message icons icon-arrow"><span class="highlight">{{ dictionary["crm_new_version.SomethingElseToPost"] }} </span>{{ dictionary["defaultheader.PostAFreeAd"] }}.</p>
        <div class="categories-best-selling">
            {% for category in keepPostingCat %}
                {% if category.category and category.subcategory %}
                    {% set postingLink = '/posting?g=1&cat='+category.category+'&subcat='+category.subcategory %}
                {% else %}
                    {% set postingLink = '/posting?g=1cat='+category.category %}
                {% endif %}
                <a href="{{ postingLink | link }}" class="module">
                    <article class="icons icon-cat-{{ category.icon }}">
                        <p>{{ dictionary["misc.publish-in"] }} <strong>{{ category.name }}</strong></p>
                    </article>
                </a>
            {% endfor %}
            <a href="{{ '/posting?g=1' | link }}" class="posting" role="button">{{ dictionary["defaultheader2.Post"] }}</a>
        </div>
    </aside>
{% endif %}