{% from macros import Field %}

{% set statesField = {
    name: "state",
    mandatory: "true",
    label: dictionary["defaultheader.State"],
    values: states,
    fieldType: "combobox",
    dataType: "select",
    selected: location.state
} %}

{{ Field(statesField) }}

{% set citiesField = {
    name: "city",
    mandatory: "true",
    label: dictionary["messages_item_page.City"],
    values: cities,
    fieldType: "combobox",
    dataType: "select",
    selected: location.city
} %}

{{ Field(citiesField) }}

{% set neighborhoodsField = {
    name: "neighborhood",
    mandatory: "true",
    label: dictionary["misc.Neighborhood-1"],
    values: neighborhoods,
    fieldType: "combobox",
    dataType: "select",
    selected: location.neighborhood,
    hide: "false" if neighborhoods.length > 1 else "true"
} %}

{{ Field(neighborhoodsField) }}
