<fieldset class="wrapper">
	<label for="seller-state" class="posting-label">* Estado</label>
	<div class="wrapper-inputs">
		<select id="seller-state" class="text-field select-field">
			<option value="Capital Federal">Capital Federal</option>
			<option value="Capital Federal">Capital Federal</option>
			<option value="Capital Federal">Capital Federal</option>
			<option value="Capital Federal">Capital Federal</option>
			<option value="Capital Federal">Capital Federal</option>
			<option value="Capital Federal">Capital Federal</option>
		</select>
		<div class="wrapper-inner-inputs">
			<input id="ad-map-option" type="checkbox" />
			<label for="ad-map-option">Agregar la ubicación en el mapa</label>
		</div>
	</div>
</fieldset>
