{% from macros import Field %}
{% for field in fields %}
	{% set validField = { 
        name: field.name,
        mandatory: field.mandatory,
        optionalsmessage: optionalsmessage,
        label: field.label,
        fieldType: "combobox" if field.fieldType == "combobox" else "text",
        dataType: "select" if field.fieldType == "combobox" else "string",
        values: field.values if field.values else [],
        related: field.related,
        value: field.value,
        autocomplete: true
    } %}
       {{ Field(validField) }}
{% endfor %}
