.filter_order {
    background: #dadada;
    border-bottom: 1px solid #cccbcb;
    display: table;
    overflow: hidden;
    padding: 0 0 0.5rem 0;
    width: 100%;
    .count_ads {
        color: #4a148c;
        display: block;
        float: left;
        font-family: Arial;
        font-size: .9rem;
        font-weight: normal;
        margin: 0 0 0 10px;
        overflow: hidden;
        width: 20%;
        padding-top: 1px;
        span {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .btnsort {
        background: #fff url(imageUrl/images/html5/icon_flechas.png) 10px center no-repeat;
        margin-right: 10px;
    }
    .btnfil {
        background: #fff url(imageUrl/images/html5/icon_filter.png) 10px center no-repeat;
        margin-right: 10px;
    }
    .withouttext{
        padding: 15px;
        margin-right: 10px;
        &.showig{
            background: #fff url(imageUrl/images/html5/view_listing.png) center center no-repeat;
        }
        &.show {
            background: #fff url(imageUrl/images/html5/view_gallery.png) center center no-repeat;
        }
    }
    &.rtl {
        .count_ads {
            float: right;
            margin: 0 10px 0 0;
        }
        .btnsort,
        .btnfil {
            padding: 7px 7px 7px 30px;
            margin-left: 10px;
        }
        .filter_order:after {
            content: " ";
            clear: both;
            display: block;
        }
    }
}


@media (max-width : 279px) {
    .filter_order {
        span {
            line-height: 1.2;
            width: 100%;
        }
    }
}
