.filter_order{
	overflow:hidden;
	background:#dadada;
	border-bottom:1px solid #cccbcb;
	padding:0 0.5rem 0.5rem;
	span{
		color: #4a148c;
	    display: block;
	    float: left;
	    font-family: Arial;
	    font-size: 1.1rem;
	    font-weight: normal;
	    margin-top: 6px;
	}
	.btnsort{
		background:#fff url(imageUrl/images/html5/icon_flechas.png) 10px center no-repeat;
		margin-left:10px;
	}
	.btnfil{
		background:#fff url(imageUrl/images/html5/icon_filter.png) 10px center no-repeat;
	}
}