.migration-banner-cl {

	display: block;
	text-align: center;
	background-color: #F70;
	
	img {

		vertical-align: middle;

	}

}

.migration-banner-bd {

	
	
}

.migration-banner-mx {
	
	overflow: hidden;
	padding: 6px 10px 10px;
	border-bottom: solid 2px #F60;
	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #CCCCCC));
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);
	background: linear-gradient(to bottom, #FFFFFF 0%, #CCCCCC 100%);
		
	.message {

		line-height: 2em;
		padding-bottom: 6px;
		border-bottom: solid thin #CCC;

		span {

			display: inline-block;
			padding: 0 20px 0 10px;
			margin: 4px 0;
			font-size: 15px;
			color: #FFF;			
			background: transparent url(imageUrl/images/html5/migration/mx/flecha_320.png) no-repeat center right;

		}
		
		a {

			display: inline-block;
			width: 145px;
			height: 40px;

		}
		
		img {

			vertical-align: middle;

		}

	}
	
	.apps {

		overflow: hidden;
		border-top: solid thin #EEE;
		
	}
	
	.post {

		float: left;
		margin: 10px 10px 0 0;
		padding: 0 10px
		color: #FFF;
		line-height: 34px;
		border-radius: 2px;
		background: #F70;
		font-size: 15px;

	}
	
	.app-list {

		float: left;
		overflow: hidden;

	}
	
	.app {

		float: left;
		width: 108px;
		height: 36px;
		margin-top: 10px;
		text-indent: -9000em;

	}
	
	.ios {

		margin-right: 10px;
		background-image: url(imageUrl/images/common/marketing/appstore.gif);

	}
	
	.android {

		background-image: url(imageUrl/images/common/marketing/googleplay.gif);

	}

}