{% if currentCategory and search %}
    <span class="title">{{ dictionary["itemslisting.NavigatorByCategory"] }}</span>
    <a href="{{ ('/nf/search/' + search) | linkig }}" rel="nofollow"  class="icons icon-arrow-left">{{ dictionary["listingpageitemslisting.AllCategories"] }}</a>
{% endif %}
{% if filters %}
    {% for filter in filters.toJSON() %}
        {% if filter.name != 'state' and filter.name != 'city' and filter.name != 'sort'  %}
            {% if filter.otherType == 'LIST' %}
                <span class="title filter-title" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}">{{ filter.description }}<span class="icons icon-arrow-up"></span></span>
                <div class="filter check-box {{ filter.name }}">
                    {% for value in filter.list %}
                        <span class="link-range" data-filter-from="{{ value.from }}" data-filter-to="{{ value.to }}" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}" data-increment-filter="{{ filter.name }}">{{ value.label }}</span>
                    {% endfor %}
                    {{ ('<span class="clean-filters" data-filter-name="' + filter.name + '" data-filter-type="' + filter.type + '" >[' + dictionary["item.Clear"] + ']</span>') if filters.isActive(filter.name) }}
                </div>
            {% elif filter.type == 'SELECT' and filter.name == 'parentcategory' and not ('contains' | _(['allresults', 'allresultsig'], currentRoute.action)) %}
                <span class="title filter-title" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}">{{ filter.description }}<span class="icons icon-arrow-up"></span></span>
                <ul class="sub-categories filter-category {{ filter.name }}">
                    {% for value in filter.value %}
                        <li>
                            <a href="#" data-filter-id="{{ value.id }}" data-filter-name="{{ value.value }}" data-filter-slug="{{ value.slug }}"{% if currentRoute.controller == 'searches' and ('contains' | _(['filter', 'filterig', 'search', 'searchig'], currentRoute.action)) %} data-increment-metric="dgd.search.category.{{ loop.index }}"{% endif %} data-increment-filter="{{ filter.name }}">{{ value.value }} <span class="count">{{ value.count | countFormat }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            {% elif filter.type == 'SELECT' and filter.name == 'category' and search %}
                {% if not currentCategory.has('parentId') %}
                    <span class="category-selected arrow icons icon-cat-{{ category.get('id') }}">{{ category.get('trName') }} <span>{{ (meta.showTotal or meta.total) | countFormat }}</span></span>
                    <ul class="sub-categories filter-subcategory">
                        {% for value in filter.value %}
                            <li>
                                <a href="#" data-filter-id="{{ value.id }}" data-filter-slug="{{ value.slug }}" data-increment-filter="{{ filter.name }}"><h2>{{value.value}}</h2> <span class="count">{{ value.count | countFormat }}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="{{ ['/nf/', (category.toJSON() | slugToUrl), '/', search] | join | linkig }}" class="icons icon-cat-{{ category.get('id') }}" > {{ category.get('trName') }} </a>
                    <span class="category-selected">{{ currentCategory.get('trName') }} <span>{{ meta.total | countFormat }}</span></span>
                {% endif %}
            {% elif filter.type == 'SELECT' and filter.name != 'category' and filter.name != 'neighborhood' and filter.value.length > 1 and not ('contains' | _(['allresults', 'allresultsig'], currentRoute.action)) %}
                {% if filter.name == 'carbrand' and isABTCategoryCarsEnabled %}
                    {% set collapse = true %}
                {% else %}
                    {% set collapse = false %}
                {% endif %}
                <span class="title filter-title" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}">{{ filter.description }}<span class="icons icon-arrow-up{{ ' icon-arrow-down' if collapse }}"></span></span>
                <div class="filter check-box {{ filter.name }}"{{ ' style="display: none;"' if collapse }}>
                    {% for value in filter.value %}
                        <label>
                            <input type="checkbox" value="{{ value.id }}" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}" {{ 'checked' if filters.has(filter.name, value.id) }} data-increment-filter="{{ filter.name }}">
                            {{ value.value }} <span class="count">{{ value.count }}</span>
                        </label>
                    {% endfor %}
                    {{ ('<span class="clean-filters" data-filter-name="' + filter.name + '" data-filter-type="' + filter.type + '" >[' + dictionary["item.Clear"] + ']</span>') if filters.isActive(filter.name) }}
                </div>
            {% elif filter.type == 'RANGE' %}
                <span class="title filter-title" data-filter-name="{{ filter.name }}">{{ filter.description }}<span class="icons icon-arrow-up"></span></span>
                <div class="filter range {{ filter.name }}">
                    {% for input in filter.value  %}
                        <input type="text" placeholder="{{ input.value }}" class="text-field" data-filter-id="{{ input.id }}" value="{{ filter.current[input.id] if filters.has(filter.name, input.id) }}" data-filter-value="{{ filter.current[input.id] if filters.has(filter.name, input.id) }}" />
                    {% endfor %}
                    <button class="icons icon-check button range-submit" type="submit" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}" data-increment-filter="{{ filter.name }}"></button>
                    {{ ('<span class="clean-filters" data-filter-name="' + filter.name + '" data-filter-type="' + filter.type + '" >[' + dictionary["item.Clear"] + ']</span>') if filters.isActive(filter.name) }}
                </div>
            {% elif filter.type == 'BOOLEAN' %}

            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
