{% if item.images.length == 0 %}
    {% set classesFigure = 'image-viewer image-wrapper icons icon-photo single' %}
{% elif item.images.length == 1 %}
    {% set classesFigure = 'image-viewer image-wrapper single' %}
{% else %}
    {% set classesFigure = 'image-viewer image-wrapper' %}
{% endif %}

<figure id="image-viewer" class="{{ classesFigure }}">
    {% if item.images.length > 0 %}
        <img src="{{ item.images[0].url }}" alt="{{ item.title }}" class="item-image" data-gallery-image />
    {% endif %}
</figure>
{% if item.images.length > 1 %}
    <div class="image-navigator" data-gallery-navigator >
        <a href="#" class="icons icon-arrow-up arrow-prev"></a>
        <div class="thumbnail">
            <div class="thumbnail-wrapper" data-gallery-thumbwrapper="{{ item.images.length }}">
                {% for image in item.images %}
                    <figure class="{{ 'active' if loop.first }}" data-gallery-thumb="{{ loop.index }}" >
                        <a href="#" class="image-wrapper"><img src="{{ image.thumbnail }}" data-image="{{ image.url }}" alt="{{ item.title }}" class="item-image" ></a>
                    </figure>
                {% endfor %}
            </div>
        </div>
        <a href="#" class="icons icon-arrow-down arrow-next"></a>
    </div>
{% endif %}
