{% include (template + '/modals/addfavorites.html') %}

<div class="social-sharing">
    <p>{{ dictionary["itemslisting.NewShareThisAd"] }} :</p>
    <ul>
        <li class="button-fb" data-share-facebook data-share-url="{{ item.slug }}" >
            <a href="#" rel="nofollow" class="icons icon-facebook"></a>
        </li>
        <li class="button-twitter" data-share-twitter data-share-url="{{ item.slug }}" data-share-title="{{ item.title }}">
            <a href="#" rel="nofollow" class="icons icon-twitter"></a>
        </li>
        <li class="button-googleplus" data-share-gplus data-share-url="{{ item.slug }}" >
            <a href="#" rel="nofollow" class="icons icon-googleplus"></a>
            {# <a class="icons icon-googleplus" href="https://plus.google.com/share?url={{ item.slug }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a> #}
        </li>
    </ul>
</div>
<div class="actions">
{% if not item.status.onReview %}
        {% set dataUser = true if user else false %}
    {% set favText = dictionary["item.RemoveFromFavorites"] %}
    {% set current =  'remove' %}
    {% if not item.isFavorite %}
        {% set current =  'add' %}
        {% set favText = dictionary["itemgeneraldetails.addFavorites"] %}
        {# {% if not user %}
            {% set favLink = (['/login?redirect=/items/', item.id, '/favorite'] | join('') | link) %}
        {% endif %} #}
    {% endif %}
    <a class="{{ 'open-modal' if not dataUser }}" data-modal="favorites-modal" data-current="{{ current }}" data-user="{{ dataUser }}" data-fav="addToFavorites" data-itemId="{{ item.id }}" data-remove="{{ dictionary["item.RemoveFromFavorites"] }}" data-add="{{ dictionary["itemgeneraldetails.addFavorites"] }}" href="#" rel="nofollow" title="{{ favText }}">{{ favText }}</a>
{% endif %}
</div>

