<div class="relatedads">
    <h2>{{ dictionary ["itemgeneraldetails.RelatedListings"] }}</h2>
    
    {% for relatedItem in relatedItems %}
        {% if loop.index < 4 %}
            {% if relatedItem.thumbnail %}
                <div class="related-item">
                    <div class="related-wrap" data-itemId="{{ relatedItem.id }}" data-tracking="ItemPage-ClickRelatedAdImg" >
                        <a class="related-img" href="{{ relatedItem | slugToUrl | link }}">
                            <img src="{{ relatedItem.thumbnail }}" alt="">
                        </a>
                        <a class="related-title" href="{{ relatedItem | slugToUrl | link }}">
                            {{ relatedItem.title }}
                        </a>
                        <h3>{{ relatedItem.price.displayPrice }}</h3>
                        <span>
                        {{ relatedItem.date.day +' '+ dictionary["itemslisting.Of"] +' '+ dictionary["messages_date_format.9" + (relatedItem.date.month + 100 + '') | replace('1', '', 1)] }}
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>