<div class="user-info">
    {% if item.contactName %}
        <p class="icons icon-user user-name">{{ item.contactName }}</p>
        {% if item.user.firstActivityDate %}
            <span>
                {% if item.user.firstActivityDate.month < 10 %}
                    {% set month = "messages_date_format.90" %}
                {% else %}
                    {% set month = "messages_date_format.9" %}
                {% endif %}
                {{ dictionary["usersprofile.OnBrandSince"] | replace(':', '') }} 
                {{ dictionary[month + item.user.firstActivityDate.month] + ' ' + item.user.firstActivityDate.year }}
            </span>
        {% endif %}
    {% endif %}
    {#<span class="user-status">User Status</span>#}
    {% if item.phone %}
    <p class="icons icon-phone user-phone">{{ item.phone }}</p>
        <span>{{ dictionary["misc.SayOLX"] }}</span>
    {% endif %}
</div>

<form id="replyForm" action="">
    <input type="hidden" class="itemId" name="itemId" value="{{ item.id }}">
    <fieldset class="message">
        <label for="message">
            <textarea id="message" class="message" name="message" cols="30" rows="6" placeholder="{{ dictionary["supportform.Message"] | replace(':','') }} "></textarea>
            <span class="error hide message"></span>
        </label>
    </fieldset>
    <fieldset class="name">
        <label for="name">
            <input type="text" name="name" id="name" class="name" value="" maxlength="200" placeholder="{{ dictionary["comments.CommentsFormName"] }} ">
            <span class="error hide name"></span>
        </label>
    </fieldset>
    <fieldset  class="email">
        <label for="email">
            <input type="text" name="email" id="email" class="email" value="{{ user.email }}" maxlength="200" placeholder="{{ dictionary["buyerinfo.E-mail"] }} ">
            <span class="error hide email"></span>
        </label>
    </fieldset>
    <fieldset>
        <label for="phone">
            <input type="text" name="phone" id="phone" class="phone" value="" maxlength="15" placeholder="{{ dictionary["item.YourPhoneNumberOptionalZA"] }} ">
        </label>
    </fieldset>
    <span class="spinner hide"></span>
    <fieldset class="submit">
        <label for="submit">
            <input type="submit" value="{{ dictionary["misc.SendEmail"] }} " id="submit" class="olx-ui-button orange" data-qa="reply-send-button" >
        </label>
    </fieldset>
    <p class="replySuccess icons icon-check hide" data-qa="reply-message-sent">
        {{ dictionary["item.YourMessageHasBeenSent"] }}
        <span>{{ dictionary["replymessage.SendAnotherMessage"] }} </span>
    </p>
</form>
<div class="disclaimer">
    <p>
        {{ dictionary["item.ClickAgreeTermsZA"] | replace('<<LINK>>','<a rel="nofollow" href="/terms" target="_blank">') | replace('<</LINK>>','</a>') }}
    </p>
</div>
