{{platform}}
<div class="home-page"style="padding:0px;">
"Testeando AB Testing en WAP"

	{{#eq button_color.value "red"}}
		<a href="/experiments/button_color/RED?url=/&client_id={{button_color.client_id}}">RED</a>
	{{/eq}}

	{{#eq button_color.value "blue"}}
		<a href="/experiments/button_color/BLUE?url=/&client_id={{button_color.client_id}}">BLUE</a>
	{{/eq}}
</div>