{% from macros import breadcrumb, breadcrumbHome %}
{{ breadcrumb(dictionary, dictionary["distancediv.changeLocation"]) }}
<div id="locationSelect" class="locationBreadcrumb">
    <p>
        <a href="/?location={{ location.url }}">{{ location.name }}</a>{% if location.current %} &#62; <a href="/?location={{ location.children[0].url }}">{{ location.children[0].name }}</a>{% endif %}
    </p>
</div>
<div id="search">
    <form action="/location">
        <input type="text" name="search" value="" class="search">
        <input type="submit" value="{{ dictionary["homeheader.Search"] }}" class="submit">
        <span>{{ dictionary["countryoptions.EnterCity"] }}</span>
    </form>
</div>
<div id="location">
    {% if cities.length %}
        <h4>
            {{ dictionary["listingpageitemslisting.AllResultsNew"] if search else dictionary["popularsearchesbody.PopularCities"] }}
        </h4>
        <ul class="normalList">
            {% for city in cities %}
                    <li class="{{ "last" if loop.last else "" }}">
                        <a href="/?location={{city.url}}" class="city" style="color:black;">{{city.name}}</a>
                    </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="emtyList">{{ dictionary["listingpageitemslisting.WeAreSorryNoResults"] }}</div>
    {% endif %}
</div>
{{ breadcrumbHome(dictionary) }}
