{% from macros import Breadcrumb %}
{% set link = ((breadcrumb if breadcrumb else '/') | link) %}
{{ Breadcrumb(dictionary, link, dictionary["postingerror.Error"]) }}
<div class="errorPage">
    <p><strong>{{ dictionary["defaulthtmlhead.SorryThePageYouAreLookingForIsNotAvailable"] }}</strong></p>
    <p>{{ dictionary["defaulthtmlhead.PleaseTryOneOfTheFollowingOptions"] }}</p>
    <ul>
        <li>{{ dictionary["defaulthtmlhead.MakeSureTheWebAddressYouEnteredIsCorrect"] }}</li>
        {% if breadcrumb and (breadcrumb != '/' ) %}
            <li><a href="{{ breadcrumb | link }}">{{ dictionary["defaulthtmlhead.GoBackToThePreviousPage"] }}</a></li>
        {% endif %}
        {% set homeLink = ('/' | link ) %}
        {% set backToHome = dictionary["defaulthtmlhead.TryToAccessThePageDirectlyFromTheBrandHomePage"] | replace('<<LINK_HOME_PAGE>>', '<a href="' + homeLink + '">') | replace('<</LINK_HOME_PAGE>>', '</a>') | replace ('<<BRAND>>','OLX') %}
        <li>{{ backToHome }}</li>
    </ul>
</div>
