<form id="filter" class="filters">
	{% for filter in filters.toJSON() %}
	    {% if filter.name != 'state' and filter.name != 'city'  %}
	        {% if filter.type == 'SELECT' and filter.name == 'parentcategory' %}


	        {% elif filter.type == 'SELECT' %}
			    <fieldset data-filter="true" data-filter-type="{{ filter.type }}" data-filter-name="{{ filter.name }}">
			        <label>{{ filter.description }}</label>
			        <a class="bold" href="#" data-filter-value="{{ 'toyota' if filter.name == 'carbrand' }}">{{ filter.name }}</a><br>
			        <ul>
	                	{% for value in filter.value %}
		                	<li>
			                	<label class="check-box">
			                        <input type="checkbox" value="{{ value.id }}" {{ 'checked' if filters.has(filter.name, value.id) }}>
			                        {{ value.value }} <span class="count">{{ value.count }}</span>
			                	</label>
		                	</li><br>
	                    {% endfor %}
			        </ul>
			    </fieldset>
	        {% elif filter.type == 'RANGE' %}
			    <fieldset data-filter="true"data-filter-type="{{ filter.type }}" data-filter-name="{{ filter.name }}">
			        <strong data-filter-name="{{ filter.name }}">{{ filter.description }}</strong>
					{% for input in filter.value %}
			            {% if loop.first %}
					        <div class="left">
					            <label>{{ input.value }}</label>
					            <input type="number" value="{{ filter.current[input.id] if input.value }}" data-filter-id="{{ input.id }}" value="{{ filter.current[input.id] if filters.has(filter.name, input.id) }}" data-filter-id="{{ input.id }}">
					        </div>
	                	{% endif %}
			            {% if loop.last %}
					        <div class="right">
					            <label>{{ input.value }}</label>
					            <input type="number" value="{{ filter.current[input.id] if input.value }}" data-filter-id="{{ input.id }}" value="{{ filter.current[input.id] if filters.has(filter.name, input.id) }}" data-filter-id="{{ input.id }}">
					        </div>
	                	{% endif %}

                	{% endfor %}
			    </fieldset>
	        {% elif filter.type == 'BOOLEAN' %}
			    <fieldset data-filter="true"data-filter-type="{{ filter.type }}" data-filter-name="{{ filter.name }}">
			        <label class="block">{{ filter.description }}
			            <input type="checkbox" name="{{ filter.name }}" value="true" {{ checked }}>
			        </label>
			    </fieldset>
	        {% endif %}
	    {% endif %}
	{% endfor %}
	<fieldset class="no-border">
		<a href="#" class="clear">{{ dictionary["itemslisting.ClearAll"] }}</a>
	</fieldset>

	<fieldset class="center no-border">
		<input class="btns orange" type="submit" value="{{ dictionary["countryoptions.Accept"] }}" />
	</fieldset>
</form>
