<section id="filter" class="filters">
    <ul>
        {% for filter in filters.toJSON() %}
            {% if filter.name != 'state' and filter.name != 'city'  %}
                {% if filter.type == 'SELECT' and filter.name == 'parentcategory' %}
                    <li class="filter">
                        <span class="title">{{ dictionary["itemslisting.NavigatorByCategory"] }}</span>
                        <ul class="dropdown hide">
                            {% for value in filter.value %}
                                <li class="category trackMe" data-filter-id="{{ value.id }}" data-filter-name="{{ value.value }}" data-filter-slug="{{ value.slug }}" data-tracking="Filter-{{ value.value }}">{{ value.value }} <span class="count">({{ value.count }})</span></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% elif filter.type == 'SELECT' and filter.name != 'sort' and filter.name != 'neighborhood' %}
                    {% if filter.value %}
                        <li class="filter" data-filter-type="{{ filter.type }}" data-filter-name="{{ filter.name }}">
                            {% set active = true if filters.isActive(filter.name) else false %}
                            <span class="title {{ 'active' if active }} {{ 'selected' if filters.isActive(filter.name) }}">{{ filter.description }}</span>
                            <ul class="dropdown {{ 'hide' if not active }}">
                                {{ ('<li class="clear-all clean-filters trackMe" data-tracking="Filter-Clean_' + filter.name + '">[ ' + dictionary["item.Clear"] + ' ]</li>') if active }}
                                {% for value in filter.value %}
                                    <li class="check-box">
                                        <input type="checkbox" class="trackMe" data-tracking="Filter-{{ filter.description }}" value="{{ value.id }}" {{ 'checked' if filters.has(filter.name, value.id) }}>
                                        <span class="label trackMe" data-tracking="Filter-{{ filter.description }}">{{ value.value }} <span class="count">({{ value.count }})</span></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% elif filter.type == 'RANGE' %}
                    {% if filter.value %}
                        <li class="filter" data-filter-type="{{ filter.type }}" data-filter-name="{{ filter.name }}">
                            {% set active = true if filters.isActive(filter.name) or filter.name == 'pricerange' else false %}
                            <span class="title {{ 'active' if active }} {{ 'selected' if filters.isActive(filter.name) }}">{{ filter.description }}</span>
                            <div class="dropdown range {{ 'hide' if not active }}">
                                {% for input in filter.value %}
                                    <input type="number" value="{{ filter.current[input.id] if input.value }}" placeholder="{{ input.value }}" data-filter-id="{{ input.id }}">
                                {% endfor %}
                                <button class="range-submit trackMe" data-tracking="Filter-{{ filter.description }}" type="submit" value=""></button>
                                {{ ('<span class="clear-all clean-filters range trackMe" data-tracking="Filter-Clean_' + filter.name + '">[ ' + dictionary["item.Clear"] + ' ]</span>') if filters.isActive(filter.name) }}
                            </div>
                        </li>
                    {% endif %}
                {% elif filter.type == 'BOOLEAN' %}
                    {% if filter.name == 'hasimage' %}
                        <li class="filter">
                            <span class="location">
                                {{ dictionary["defaultheader.Location"] }}
                                <a class="bold" href="/location?target={{ path | replace('/filter', '') }}">{{ location.children[0].name if location.children[0].name else location.name }}</a>
                            </span>
                        </li>
                        <li class="filter" data-filter-type="{{ filter.type }}" data-filter-name="{{ filter.name }}">
                            {% set active = true if filters.isActive(filter.name) else false %}
                            <span class="title {{ 'active' if active }}">{{ 'Tipo de aviso' }}</span>
                            <ul class="dropdown {{ 'hide' if not active }}">
                                <li class="adType {{ 'active' if active }} trackMe" data-tracking="Filter-Has_image" data-filter-value="true">{{ 'Avisos con foto' }}</li>
                                <li class="clear-all trackMe" data-filter-value="true" data-tracking="Filter-Has_image_all">{{ 'Todos los avisos' }}</li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</section>
{% view 'partials/tracking' %}