{% view 'locations/select' %}
{% view 'partials/search' %}
<section id="itemListing">
    {% from macros import Breadcrumb %}
    {% set link = (breadcrumb | link) %}
    {{ Breadcrumb(dictionary, link, category.trName, '<span class="switchView"></span>') }}
    {% if meta.total == 0 %}
        <div class="emtyList">
            <div></div>
            <p>
                {% if location.current.name %}
                    {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>',category.name) | replace('<<REGION>>',location.current.name)}}
                {% else %}
                    {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>',category.name) | replace('<<REGION>>',location.name)}}
                {% endif %}
            </p>
            <a class="btns orange" href="{{ '/' | link }}" >{{ dictionary["registrationconfirmsuccesstext.Browse"] | replace('<<BRAND>>','OLX') }}</a>
        </div>
    {% else %}
        <ul class="itemListing">
            {% view 'items/items' %}
            <div class="clear"></div>
        </ul>
        {% if infiniteScroll %}
            <div class="loader is-loading" style="display: none;">
                <img src="{{ '/images/html5/loading.gif' | static }}" alt="Loading...">
            </div>
            <input id="category" type="hidden" class="hide" value="{{ category.id }},{{ category.name }}">
            <input id="subcategory" type="hidden" class="hide" value="{{ subcategory.id }},{{ subcategory.name }}">
            <input id="currentUrl" type="hidden" class="hide" value="{{ meta.current | link }}">
        {% elif meta.next or meta.previous %}
            <div id="itemPagination">
                <a href="{{ (meta.previous | link) if meta.previous else '#' }}" class="arrow {{ "leftA" if meta.previous else "leftD" }}"><span>{{ dictionary["itemslisting.Previous"] }}</span></a>
                <div class="center">
                    {{ meta | pagination }}
                </div>
                <a href="{{ (meta.next | link) if meta.next else '#' }}" class="arrow {{ "rightA" if meta.next else "rightD" }}"><span>{{ dictionary["itemslisting.Next"] }}</span></a>
            </div>
        {% endif %}
    {% endif %}
</section>

{% view 'pages/interstitial' %}

{% view 'partials/tracking' %}
