<p>
    <a href="{{ [url, 'filter'] | join('/') | link }}">filter</a>
</p>
<p>
    <a href="{{ [url, 'sort'] | join('/') | link }}">sort</a>
</p>
{% view 'locations/select' %}
{% view 'partials/search' %}
<section id="itemListing">
    {% if metadata.total == 0 %}
        <div class="emtyList">
            <div></div>
            <p>
                {% block noResultsMsg %}
                    {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>',category.name) | replace('<<REGION>>', location.current.name if location.current.name else location.name)}}
                {% endblock %}
            </p>
            <a class="btns orange" href="{{ '/' | link }}" >{{ dictionary["registrationconfirmsuccesstext.Browse"] | replace('<<BRAND>>','OLX') }}</a>
        </div>
    {% else %}
        <ul class="item-listing">
            {% view 'items/items' %}
            <div class="clear"></div>
        </ul>
        {% if infiniteScroll %}
            <div class="loader is-loading" style="display: none;">
                <img src="{{ '/images/html5/loading.gif' | static }}" alt="Loading...">
            </div>
            <input id="category" type="hidden" class="hide" value="{{ category.id }},{{ category.name }}">
            <input id="subcategory" type="hidden" class="hide" value="{{ subcategory.id }},{{ subcategory.name }}">
            <input id="currentUrl" type="hidden" class="hide" value="{{ metadata.current | link }}">
        {% elif metadata.next or metadata.previous %}
            {% include (template + '/items/pagination.html') %}
        {% endif %}
    {% endif %}
    {% include (template + '/partials/tracking.html') %}
</section>
{% view 'pages/interstitial' %}
