<div class="pagination-listing">
	<div class="backtop"><a href="#"></a></div>
    {% if paginator.has('previous') %}<a href="{{ (paginator.get('previous') | link) }}">{% endif %}<span class="button-previous">{{ dictionary["itemslisting.Previous"] }}</span>{% if paginator.has('previous') %}</a>{% endif %}
    {% if paginator.has('next') %}<a href="{{ (paginator.get('next') | link) }}">{% endif %}<span class="button-next">{{ dictionary["itemslisting.Next"] }}</span>{% if paginator.has('next') %}</a>{% endif %}
    <div class="pages">
        {% for page in paginator.pages(5) %}
            {% if page.isCurrent %}
                <strong {{ 'class="last"' if paginator.isLast(page.page) }}>{{ page.page }}</strong>
            {% else %}
                <a href="{{ page.url | link }}" {{ ' class="last"' if paginator.isLast(page.page) }}>{{ page.page }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
