<form id="replyForm" action="">
    {% if user.email %}
        <div class="info">
                {% if user.username %}
                    <span>{{ user.username }}</span>
                    <input type="hidden" value="{{ user.username }}" class="name" name="name">
                {% endif %}
                <span>{{ user.email }}</span>
                <input type="hidden" value="{{ user.email }}" name="email" class="email">
        </div>
    {% endif %}
    <div class="contentmessage {{ 'lines' if not user.email }}">
        <h3>{{ dictionary["mybids.ContactSeller"] }}</h3>
        <div class="field">
            <label>* {{ dictionary["replymessage.Message"] }}</label>
            <textarea class="message" name="message"></textarea>
            <small class="placeholder">{{ dictionary["misc.EnterMessage"] }}</small>
            <small class="message error hide"></small>
        </div>
    </div>
    {% if not user.email %}
        <h3>{{ dictionary["itemgeneraldetails.PersonalInfo"] }}</h3>
        <div class="field">
            <label>* {{ dictionary["replymessage.Name"] }}</label>
            <input type="text" value="{{ user.username if user.username }}" class="name" name="name">
            <small class="placeholder">{{ dictionary["misc.EnterName"] }}</small>
            <small class="name error hide"></small>
        </div>
        <div class="field">
            <label>* {{ dictionary["replymessage.Email"] }}</label>
            <input type="text" value="{{ user.email if user.email }}" class="email" name="email">
            <small class="placeholder">{{ dictionary["misc.EnterEmail"] }}</small>
            <small class="email error hide"></small>
        </div>

        <div class="field">
            <label>{{ dictionary["itemgeneraldetails.Phone"] }}</label>
            <input type="number" class="phone" name="phone">
            <small class="placeholder">{{ dictionary["misc.EnterPhoneNumber"] }}</small>
        </div>
    {% endif %}

    <input type="hidden" class="itemId" name="itemId" value="{{ item.id }}">
    <input type="hidden" class="itemSlug" name="itemSlug" value="{{ item.slug }}">

    <input type="hidden" class="itemCategory" value="{{ item.category.id }}">
    <input type="hidden" class="itemSubcategory" value="{{ item.category.parentId }}">
    <span>* {{ dictionary["wap_posting_step4.mandatoryField"] }}</span>

    <div class="btnCenter">
        <button type="submit" class="btns orange submit trackMe" data-tracking="ItemPage-ClickReply" data-qa="reply-send-button">
                {{ dictionary["myolx.Send"] }}
        </button>
    </div>
</form>
<div class="clear"></div>

{% view 'partials/tracking' %}
