 <section class="reply">
    <form id="replyForm" action="">

        <label>* {{ dictionary["replymessage.Message"] }}</label>
        <textarea class="message" name="message" placeholder="Escribe tu mensaje"></textarea>
        <small class="message hide"></small>

        <label>{{ dictionary["replymessage.Name"] }}</label>
        <input type="text" value="{{ user.username if user.username }}" placeholder="Escribe tu nombre" class="name" name="name">

        <label>* {{ dictionary["replymessage.Email"] }}</label>
        <input type="email" value="{{ user.email if user.email }}" placeholder="Escribe tu email" class="email" name="email">
        <small class="email hide"></small>

        <label>{{ dictionary["itemgeneraldetails.Phone"] }}</label>
        <input type="number" class="phone" name="phone" placeholder="Escribe tu teléfono">
        <input type="hidden" class="itemId" name="itemId" value="{{ item.id }}">

        <input type="hidden" class="itemCategory" value="{{ item.category.id }}">
        <input type="hidden" class="itemSubcategory" value="{{ item.category.parentId }}">
        <span>* {{ dictionary["wap_posting_step4.mandatoryField"] }}</span>

        <div class="btnCenter">
            <button type="submit" class="btns submit trackMe" data-tracking="ItemPage-ClickReply" data-qa="reply-send-button">{{ dictionary["myolx.Send"] }}</button>
        </div>
    </form>
    <div class="clear"></div>
</section>