{% view 'locations/select' %}
{% view 'partials/search' %}
<section id="itemListing">
    {% from macros import Breadcrumb %}
    {% set link = (breadcrumb | link) %}
    {{ Breadcrumb(dictionary, link, dictionary["listingpageitemslisting.ResultsForNew4"] | replace('<<KEYWORD>>' , search) | replace('<<NUMBER>>' , metadata.total), '<span class="switchView"></span>') }}
    {% if metadata.total == 0 %}
        <div class="emtyList">
            <div></div>
            <p>{{ dictionary["misc.NoResults"] }}</p>
            <a class="btns orange" href="{{ '/' | link }}" >{{ dictionary["registrationconfirmsuccesstext.Browse"] | replace('<<BRAND>>','OLX') }}</a>
        </div>
    {% else %}
        <ul class="itemListing">
            {% view 'items/items' %}
            <div class="clear"></div>
        </ul>
        {% if infiniteScroll %}
            <div class="loader is-loading" style="display: none;">
                <img src="{{ '/images/html5/loading.gif' | static }}" alt="Loading...">
            </div>
            <input id="currentUrl" type="hidden" class="hide" value="{{ metadata.current | link }}">
        {% elif metadata.next or metadata.previous %}
            <div id="itemPagination">
                <a href="{{ (metadata.previous | link) if metadata.previous else '#' }}" class="arrow {{ "leftA" if metadata.previous else "leftD" }}"></a>
                <div class="center">
                    {{ metadata | pagination }}
                </div>
                <a href="{{ (metadata.next | link) if metadata.next else '#' }}" class="arrow {{ "rightA" if metadata.next else "rightD" }}"></a>
            </div>
        {% endif %}
    {% endif %}
</section>

{% view 'pages/interstitial' %}

{% view 'partials/tracking' %}
