body{
	background-color:#f5f5f5;
	padding-top:0px !important;
}
.swipe img {
width: auto;
height: auto;
padding-bottom: 0;
font-size: 0;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}