@import 'vendor/bootstrap.min.css'
@import 'vendor/swipe.css'
@import 'style-arwen.css'
@import 'custom.css'
@import 'arwen-rendr.css'

@import 'base_view'

body
  background-color: whitesmoke
  padding-top: 50px

  &.loading
    .loading-indicator
      display: block

.loading-indicator
  display: none
  float: right
  color: white
  line-height: 40px
