<section id="selectCat" class="fullCont">
	<h1>Desapega! É rápido, fácil e grátis.</h1>
	<p>Escolha a categoria para colocar o seu anúncio:</p>

	<div id="categories">
		<h2><strong>1</strong>Selecione uma categoria:</h2>
		<ul class="catList">
			{% for category in categories %}
	            <li id="cat{{category.id}}" class="category icons icon-cat-{{ category.id }}" >
	            	{{category.trName}}
	            	<div class="cat{{category.id}} catContent">
		            	<h2><strong>2</strong> Selecione uma subcategoria:</h2>
		            	<ul class="catList">
			            	{% for subCategory in category.children.toJSON() %}
			            		<li>
			            			<a href="{{ ['/posting/', category.id, '/', subCategory.id] | join('') | link }}">{{ subCategory.trName }}</a>
			            		</li>
			            	{% endfor %}
			            </ul>
			        </div>
	            </li>
	        {% endfor %}
		</ul>
	</div>
	<div class="postingText">
		<strong>Lembre-se:</strong>
		<ul>
			<li>Você não precisa se cadastrar para publicar</li>
			<li>Anúncios duplicados serão removidos</li>
			<li>Insira apenas um item por anúncio, se necessário, crie vários anúncios</li>
			<li>Anúncios que não estejam de acordo com os Termos e Condições da OLX serão removidos</li>
		</ul>
	</div>
</section>

{% view 'partials/tracking' %}
