{% from macros import Breadcrumb %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["posting_select_subcategory.SelectSubcategory"]) }}
<section id="selectSubCat" class="list">
    <ul>
        {% for category in subcategories %}
            <li>
                <a href="{{ ['/posting/', categoryId, '/', category.id] | join('') | link }}" class="trackMe" data-tracking="Posting-ClickSelectSubcategoryList" data-id="{{category.id}}" data-parent.id="{{categoryId}}" >{{category.trName}}</a>
            </li>
        {% endfor %}
    </ul>
    {% set templateName = template + '/partials/analytics.html' %}
    {% include templateName %}
</section>
