<tr>
	<td>
		<table width="100%" cellspacing="0" cellpadding="4" border="0" style="width: 100%;">
			<tr>
				<td style="border-top: solid thin #808080;">
					<strong style="color: #0075BD;">Help</strong>
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="0" cellpadding="4" border="0" style="width: 100%;">
			<tr>
				<td style="border-top: solid thin #808080;">
					{% for item in items %}
				        <strong>{{item.name}}</strong>
				            {% for question in item.questions %}
				                <small class="help-question">{{question.question}}</small>
				                <small>{{ question.response}}</small>
				            {% endfor %}
				    {% endfor %}
				</td>
			</tr>
		</table>
		{% from macros import Breadcrumb %}
		{% set link = (breadcrumb | link) %}
		{{ Breadcrumb(dictionary, link, ('/' | link)) }}
	</td>
</tr>
