<table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
	<tr>
        <td align="center" style="border-top: solid thin #808080;">
            <!-- <small style="display: block;"><a href="/choosecountry">{{ dictionary["countryoptions.ChangeCountry"] }}</a> | <a href="/login">{{ dictionary["homeheader.Sign_In"] }}</a> | <a href="/registration">{{ dictionary["homeheader.Register"] }}</a></small> -->
        	<small style="display: block;"><a href="/choosecountry">Change Country</a> | <a href="/login">Sign in</a> | <a href="/registration">Register</a></small>
        	{# Change actions if user is logged in #}
        </td>
    </tr>
</table>
