<table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
    <tr>
        <td style="border-top: solid thin #808080; border-bottom: solid thin #B0B0B0; padding:1px 4px;">
            <small><a href="/location/page/1">Selecciona una ciudad</a></small>
        </td>
    </tr>
</table>
