<table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
    <tr>
        <td style="border-top: solid thin #B0B0B0;">
            <!-- <small>{{ dictionary["defaultheader.WhatAreYouLookingFor"] }}</small> -->
            <small>What are you looking for?</small>
            <form action="/search/page/1">
                <input type="text" name="search" value="">
                <input type="submit" name="search_button" value="[homeheader.Search]">
            </form>
        </td>
    </tr>
</table>
