section#myads ul.itemListing li a p {
	float: left;
	padding: 3px 6px;
	color: #ffffff;
	font-size: 12px;
}
section#myads ul.itemListing li a p.pending {
	background: orange;
}
section#myads ul.itemListing li a p.rejected {
	background: red;
}