<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<esi:eval src="http://$(HTTP_HOST)/esi?$(QUERY_STRING)" setheader="'set-cookie: ' + $(HTTP_COOKIE)"/>
<html>
    {% view 'layout/head' %}
    <body>
        {% set googleTagManager = template + "/google/tagmanager.html" %}
        {% include googleTagManager %}
        {% set bar = template + "/layout/bar.html" %}
        {% include bar %}
        {% view 'header/index' %}
        {{body}}
        {% view 'footer/downloadapp' %}
        {% view 'footer/languages' %}
        {% view 'footer/footer' %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setDomainName', '{{ appData.session.host }}']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
