<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    {% view 'layout/head' %}
    <body>
        {% set googleTagManager = template + "/google/tagmanager.html" %}
        {% include googleTagManager %}
        {% set bar = template + "/layout/bar.html" %}
        {% include bar %}
        {% view 'header/index' %}
        {{body}}
        {% view 'footer/downloadapp' %}
        {% view 'footer/languages' %}
        {% view 'footer/footer' %}
    </body>
</html>
