.items_reply_view {
    section.reply {
        display: inline-block;
        font-size: 1rem;
        padding: .75rem .5rem;
        width: 95%;

        span {
            color: #494949;
            display: block;
            font-size: 0.75rem;
            margin: 0 0 .7rem 0;
        }

        form {
            display: block;
            textarea, input {
                -moz-box-sizing: border-box;
                border-radius: 0.5em;
                border: 1px solid #B1B1B1;
                color: #222;
                display: block;
                margin: .2rem 0 .6rem;
                padding: .5rem;
                width: 100%;
                &::-webkit-input-placeholder {
                   color: #B1B1B1;
                }

                &:-moz-placeholder {
                   color: #B1B1B1;
                }

                &::-moz-placeholder {
                   color: #B1B1B1;
                }

                &:-ms-input-placeholder {
                   color: #B1B1B1;
                }
            }

            textarea {
                height: 6rem;
                resize: none;
            }

            input {
                height: 2.3rem;
            }

            small {
                color: #FF0000;
                display: block;
                font-size: 0.75rem;
                margin: -0.5rem 0 0.5rem;
                padding: 0.25rem 0 0 0.5rem;
            }

            .btnCenter {
                text-align: center;
                .btns {
                    background: #A8B301;
                    border: 1px solid #8c9603;
                    font-size: 14px;
                    font-weight: 800;
                    padding: .5rem 2rem;
                    width: auto;
                }
            }
        }

        label {
            color: #000
            display: block;
            font-size: .85rem;
            font-weight: 800;
            margin: 0 0 0 .2rem;
        }

        .replySubmit {
            display: block;
            text-align: center;
        }
    }
}