.items_show_view {
    section {
        height: auto;
        margin: 0 0 .5rem;

        &.nav {
            background: #EFEFEF;
            border-bottom: 1px solid #ccc;
            overflow: hidden;
            padding: 10px;
            margin-bottom: 0 !important;
            span {
                float: left;
                color: #550C90;
                line-height: 2;
                font-size: 14px;
            }
            .links {
                float: right;
                border-radius: 5px;
                background: #FFF;
                border: 1px solid #D4D4D4;
                box-shadow: 0 1px 0 rgba(0,0,0,.2);
                padding: 5px 10px;
                a {
                    color: #0096CF;
                    font-size: 13px;
                    padding: 0 10px;
                    font-weight: 700;

                    &:first-child {
                        background: transparent url(imageUrl/images/html5/flecha_home_left.png) no-repeat left center;
                        border-right: 1px solid #0096CF;
                    }
                    &:last-child {
                        background: transparent url(imageUrl/images/html5/flecha_home.png) no-repeat right center;
                    }
                }
            }
        }

        &.title {
            padding: 0 .5rem;
            h1 {
                color: #303030;
                width: 100%;
                margin: .5rem 0;
                font-size: 1.25rem;
                font-weight: normal;
            }
            .date {
                display: block;
                margin: .5rem 0 0;
                font-size: 0.6875rem;
                color: #B1B1B1;
            }
            .price {
                float: left;
                font-size: 1.5rem;
                font-weight: 700;
                color: #ff7700;
                line-height: 1;
            }
        }

        &.noPicture {
            padding: .5rem;
            color: #fff;
            background: #d1d1d1;
            margin: 0 !important;

            span {
                width: 1.25rem;
                height: 0.9375rem;
                float: left;
                margin: .1rem .5rem 0 0;
                background: url(imageUrl/images/html5/itemPageSprite.png) no-repeat -104px 0;
            }
        }

        &.onePicture {
            .slide {
                position: relative;
                width: 100% !important;
                &:before {
                    content: "";
                    display: block;
                    padding-top: 56.25% !important;
                }

                div {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    cursor: pointer;
                }
            }
        }

        &.optionals {
            padding: 0 .5rem;
            margin: .75rem 0;
            ul {
                float: left;
                color: #494949;
                font-size: .75rem;

                li {
                    display: inline-block;
                    margin: 0 0.375rem 0.375rem 0;
                    font-size: 13px;
                }
            }
        }

        &.detail {
            background: #EFEFEF;
            color: #2A2929;
            padding: 10px;
            h3 {
                padding: 0 0 3px 0;
                margin: 0;
            }
            p {
                font-size: 14px;
            }
        }

        &.map {
            overflow: hidden;
            width: 96%;
            margin: 10px auto !important;
            .profile {
                background-color: #A8B301;
                color: #fff;
                display: inline-block;
                width: 100%;
                background-repeat: no-repeat;
                background-position: right;
                span {
                    display: block;
                    margin-left: 10px;
                    font-size: 13px;
                    &:last-child {
                        margin: 0 10px 10px 10px;
                    }
                }
                strong {
                    display: block;
                    margin: 10px 10px 0 10px;
                    font-size: 1.03rem;
                }
            }
        }

        &.contentshare {
            border-top: 2px solid #E3E3E3;
            overflow: hidden;
            padding: 15px 10px 0 10px;
            .btnshare {
                border-radius: 5px;
                background: #FFF;
                border: 1px solid #D4D4D4;
                box-shadow: 0 1px 0 rgba(0,0,0,.2);
                padding: 6px 10px 6px 25px;
                color: #000;
                display: block;
                float: left;
                font-size: 14px;
                width: 36%;
                &.fav{
                    margin-right: 10px;
                    background: url(imageUrl/images/html5/favorite_itempage.png) no-repeat 5px center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &.share {
                    float: right;
                    background: url(imageUrl/images/html5/share_itempage.png) no-repeat 5px center;
                }
                &.remove {

                }
            }
        }

        &.actions {
            width: 96%;
            margin: 0 !important;
            position: fixed;
            left: 7px;
            bottom: 0;
            background: #fff;
            z-index: 10;
            right: 10px;


            .action {
                position: relative;
                width: 33.3% !important;
                float: left;
                cursor: pointer;
                z-index: 10;

                .separator {
                    width: 1px;
                    height: 100%;
                    background: url(imageUrl/images/html5/linea_divisoria.png) right center no-repeat;
                    display: block;
                    position: absolute;
                    right: 1px;
                    top: 0;
                }

                &.email {
                    margin: 0;
                }
                &:before {
                    content: "";
                    display: block;
                    padding-top: 50%!important;
                }
                div, a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-repeat: no-repeat;
                    background-position: center 20%;
                    background-color: #FF7700;
                    background-size: 32%;
                    span {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: .1em;
                        text-align: center;
                        color: #fff;
                        font-size: .8em;
                    }
                }
                &.call {
                    a {
                        background-image: url(imageUrl/images/html5/phone.png);
                    }
                }
                &.sms {
                    a {
                        background-image: url(imageUrl/images/html5/sms.png);
                        border-radius: 0 4px 4px 0;
                    }
                }
                &.email {
                    div {
                        background-image: url(imageUrl/images/html5/email.png);
                        border-radius: 4px 0 0 4px;
                    }
                }
                &.fullWidth {
                    width: 100%!important;
                    &:before {
                        padding-top: 16%!important;
                    }
                    div, a {
                        background-size: 10%;
                        border-radius: 4px;
                    }
                }
                &.midWidth {
                    width: 49%!important;
                    &:before {
                        padding-top: 32%!important;
                    }
                    div, a {
                        background-size: 20%;
                    }
                    div {
                        border-radius: 4px 0 0 4px;
                    }
                    a {
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
        }

        @media screen and (orientation:landscape) {
            .actions {
                .action:before{
                    padding-top: 28%!important;
                }
            }
            .actions {
                .action {
                    div, a {
                        background-size: 15%;
                    }
                }
            }
        }
    }




    /*----Slide comon css----*/
    .swiper-container, .swiper-containerRA {
        margin:0 auto;
        position:relative;
        overflow:hidden;
        -webkit-backface-visibility:hidden;
        -moz-backface-visibility:hidden;
        -ms-backface-visibility:hidden;
        -o-backface-visibility:hidden;
        backface-visibility:hidden;
        /* Fix of Webkit flickering */
        z-index:1;
    }
    .swiper-container, .swiper-containerRA, .swiper-container .swiper-slide, .swiper-containerRA .swiper-slide, {width: 100%; height: auto!important;}
    .swiper-container .swiper-wrapper, .swiper-containerRA .swiper-wrapper{
        height: auto!important;
        position:relative;
        width:100%;
        -webkit-transition-property:-webkit-transform, left, top;
        -webkit-transition-duration:0s;
        -webkit-transform:translate3d(0px,0,0);
        -webkit-transition-timing-function:ease;

        -moz-transition-property:-moz-transform, left, top;
        -moz-transition-duration:0s;
        -moz-transform:translate3d(0px,0,0);
        -moz-transition-timing-function:ease;

        -o-transition-property:-o-transform, left, top;
        -o-transition-duration:0s;
        -o-transform:translate3d(0px,0,0);
        -o-transition-timing-function:ease;
        -o-transform:translate(0px,0px);

        -ms-transition-property:-ms-transform, left, top;
        -ms-transition-duration:0s;
        -ms-transform:translate3d(0px,0,0);
        -ms-transition-timing-function:ease;

        transition-property:transform, left, top;
        transition-duration:0s;
        transform:translate3d(0px,0,0);
        transition-timing-function:ease;
    }
    /*-------*/
    .swiper-container .swiper-slide {float: left;}

    .swiper-container .slide{position: relative; width: 100%!important;}
    .swiper-container .slide:before{content: ""; display: block; padding-top: 56.25%!important;}
    .swiper-container .slide div{position: absolute; top: 0; left: 0;   bottom: 0; right: 0; background-position: center center; background-repeat: no-repeat; background-size: cover;}
    .swiper-container .slidePagination{width: 100%; height: auto;   display: block; margin: 0 0 0 0; text-align: center; line-height: 0; font-size: 0;}
    .swiper-container .slidePagination span.swiper-pagination-switch{width: 48px;   height: 4px; background: #494949; display: inline-block;}
    .swiper-container .slidePagination span.swiper-pagination-switch.swiper-active-switch{background: #ff7700;}


    /*IE10 Windows Phone 8 Fixes*/
    .swiper-wp8-horizontal {
        -ms-touch-action: pan-y;
    }
    .swiper-wp8-vertical {
        -ms-touch-action: pan-x;
    }

    /*----Galery----*/
    .galCont {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 100; display: none; width: 100%; height: 100%; background: #000;}

    /*----Visible----*/
    .galCont.visible {display: block;}
    .swiper-container-gal, .swiper-container-gal .swiper-slide {width: 100%; height: 100%;}
    .galCont .title{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        border-bottom: 1px solid #42403f;
        color: #ffffff;
        font-size: 13px;
        font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
        text-align: center;
        display: block;
        padding: 13px; z-index: 100;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .swiper-container-gal .swiper-slide , #galContOne .galCont-container {float: left; background-position: center center; background-repeat: no-repeat; background-size: contain;}
    .galCont .galActions{width: 100%; height: 20px; position: absolute; left: 0; bottom: 0;
        background: #000000;
        border-top: 1px solid #42403f;
        color: #ffffff;
        font-size: 13px;
        font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
        text-align: center;
        height: 44px;
        display: table;
        table-layout: fixed; z-index: 100;
    }
    .galActions > div{
        display: table-cell; outline: none; -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .galActions > div > span{width: 44px; height: 44px; margin: 0 auto; display: block; background-image: url(imageUrl/images/html5/itemPageSprite.png); background-repeat: no-repeat;}
    .galActions > div.close > span{background-position: -3px -40px;}
    .galActions > div.pause > span{background-position: -170px -40px;}
    .galActions > div.pause.play > span {background-position: -90px -40px!important;}
    .galActions > div.prev > span{background-position: -45px -40px;}
    .galActions > div.next > span{background-position: -134px -40px;}


    .galActions > div.closeDis > span{background-position: -3px -84px;}
    .galActions > div.playDis > span{background-position: -90px -84px;}
    .galActions > div.prevDis > span{background-position: -45px -84px;}
    .galActions > div.nextDis > span{background-position: -134px -84px;}

    .swiper-container-gal {
        height: 100% !important;
        text-align: center;
        width: 100%;
        margin:0;
        position:relative;
        overflow:hidden;
        -webkit-backface-visibility:hidden;
        -moz-backface-visibility:hidden;
        -ms-backface-visibility:hidden;
        -o-backface-visibility:hidden;
        backface-visibility:hidden;
        /* Fix of Webkit flickering */
        z-index:1;
    }

    /*----Popups----*/
    .popup-container > div .facebookButton:before {background-image: url(imageUrl/images/html5/facebook.png);}
    .popup-container > div .twitterButton:before {background-image: url(imageUrl/images/html5/twitter.png);}


    .msgCont {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 100; display: none; width: 100%; height: 100%; -moz-transition: all 400ms ease-in-out 0ms; -webkit-transition: all 400ms ease-in-out 0ms; transition: all 400ms ease-in-out 0ms;}
    .msgCont-wrapper {display: table-cell; width: 100%; height: 100%; padding: 1rem; text-align: center; vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
    .msgCont-container {display: block; text-align: center; overflow: hidden; width: 70%; margin: 0 auto; padding: 1rem; background: rgba(51, 51, 51, .75); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transform: scale(0); -moz-transition: all 250ms ease-in-out 0ms; -webkit-transform: scale(0); -webkit-transition: all 250ms ease-in-out 0ms; transform: scale(0); transition: all 250ms ease-in-out 0ms; color: #fff; font-size: 1rem;}

    .msgCont.visible {display: table;}
    .msgCont.visible .msgCont-container {-moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1);}





}