<table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
    <tr>
        <td style="border-top: solid thin #B0B0B0;">
            <table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#DDDDDD">
                <tr>
                    <td bgcolor="#FF6600" align="center">
                        <font size="2" style="display: block;">
                            <a style="display: block;" href={% if location.current %}"{{ ['/posting', postLink] | join('') | link }}"{% else %}"{{ '/location?target=posting' | link }}"{% endif %}>
                                <strong><font color="#FFFFFF">&nbsp;&nbsp;{{ dictionary["defaultfooter.PublishFreeAd"] }}&nbsp;&nbsp;</font></strong>
                            </a>
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
