<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="width: 100%;" bgcolor="#FFFFFF">
            <tr>
                <td style="padding: .25em .5em; border-top: solid thin #808080;">
                    <strong style="color: #0075BD;">{{ dictionary["postingheader.Post"] }}</strong>
                    <br>
                    <small>{{ dictionary["posting_selector.SelectSubCategory"] }}</small>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="4" border="0" align="left" bgcolor="#FFFFFF">
            {% for category in subcategories %}
                <tr>
                    <td style="border-top: solid thin #808080;">
                        <a style="display: block;" href="{{ ['/posting/', categoryId, '/', category.id] | join('') | link }}" data-qa="subcategory-name">
                            <small style="display: block;"><img border="0" alt="" src="" />{{category.trName}}</small>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr style="display: none;">
                <td>
                    {% set templateName = template + '/partials/tracking.html' %}
                    {% include templateName %}
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        {% from macros import Breadcrumb %}
        {% set link = (breadcrumb | link) %}
        {{ Breadcrumb(dictionary, link, ('/' | link)) }}
    </td>
</tr>
