<tr>
    <td style="padding: .25em .5em; border-top: solid thin #808080;">
        <strong style="color: #0075BD;">{{ dictionary["postingheader.Post"] }}</strong>
    </td>
</tr>
<tr>
    <td style="padding: .5em .5em .25em; border-top: solid thin #808080;">
        <strong style="color:#494949;">{{ dictionary["misc.AllSet_Mob"] }}</strong><br>
        <strong style="color:#e2771c;">{{ dictionary["misc.AdSubmittedApproval"] }}</strong><br>
        <small>{{ dictionary["misc.SeeAdIn2Hrs_Mob"] }}</small><br>
        <small>{{ dictionary["postingtitlelisting.view"] }} <a href="{{ item | slugToUrl | link }}" data-qa="posted-ad-link" >{{ dictionary["itemwarning.Here"] }}</a></small><br><br>
    </td>
</tr>
<tr>
    <td style="padding: .25em .5em .5em;">
        <strong>{{ dictionary["misc.EmailAdActivated_Mob"] }}</strong><br>
    </td>
</tr>
<tr>
    <td style="padding: .25em .5em .5em;">
        <table width="100%" cellspacing="0" cellpadding="4" border="0" bgcolor="#FFFFFF">
            <tr>
                <td bgcolor="#FF6600" align="center">
                    <font size="2" style="display: block;">
                        <a href="{{ '/posting' | link }}" style="display: block;">
                            <strong><font color="#FFFFFF">{{ dictionary["misc.CreateAnotherAd_Mob"] }}</font></strong>
                        </a>
                    </font>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="padding: .25em .5em .5em;" align="center">
        <small><a href="{{ '/' | link }}" style="color:#474747;" >{{ dictionary["misc.BackToStart_Mob"] }}</a></small>
    </td>
</tr>
<tr style="display: none;">
    <td>
        {% set templateName = template + '/partials/tracking.html' %}
        {% include templateName %}
    </td>
</tr>
<tr>
    <td>
        {% from macros import Breadcrumb %}
        {% set link = (breadcrumb | link) %}
        {{ Breadcrumb(dictionary, link, ('/' | link)) }}
    </td>
</tr>
