{% from macros import Breadcrumb, ErrorsPosting %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["defaultfooter.Back"]) }}
<div class="changeCat">
    {{ dictionary["itemslisting.Category"] }} : {{ subcategory.name }}
    <a href="{{ '/posting' | link }}">{{ dictionary["defaultheader.change"] }}</a>
</div>
{% if form and form.errors %}{{ ErrorsPosting(form.errors, dictionary) }}{% endif %}
<section id="posting">
    <form id="postingForm" action="{{ '/post' | link }}" method="POST" enctype="multipart/form-data">
        <label>{{ dictionary["posting_fields_1.photos"] }}: <br> <small>{{ dictionary["posting_photos.UpTo5XMore"] }}</small></label>
        <div class="fileUpload">
            <input type="file" name="images[]" class="file1" />
            <input type="file" name="images[]" class="file2" />
            <input type="file" name="images[]" class="file3" />
            <input type="file" name="images[]" class="file4" />
            <div class="image trackMe" data-tracking="Posting-ClickUploadPicture" id="file1"><span></span></div>
            <div class="image trackMe" data-tracking="Posting-ClickUploadPicture" id="file2"><span></span></div>
            <div class="image trackMe" data-tracking="Posting-ClickUploadPicture" id="file3"><span></span></div>
            <div class="image trackMe" data-tracking="Posting-ClickUploadPicture" id="file4"><span></span></div>
        </div>

        {% for field in fields.productDescription %}
            {% if  field.name == 'description' %}
                {% set templateName = 'compiled/' + template + '/fields/textarea.html' %}
            {% else %}
                {% set templateName = 'compiled/' + template + '/fields/' + field.fieldType + '.html' %}
            {% endif %}
        {% include templateName %}
        {% endfor %}
        {% if fields.categoryAttributes.length %}
            <h4>{{ dictionary["misc.SpecificFields_title"] }}</h4>
            {% for field in fields.categoryAttributes %}
                {% if (field.values) or (field.fieldType == 'text') %}
                    {% set templateName = 'compiled/' + template + '/fields/' + field.fieldType + '.html' %}
                    {% include templateName %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <h4>{{ dictionary["defaulthtmlhead.SellerInformation"] }}</h4>
        {% for field in fields.contactInformation %}
            {% set templateName = 'compiled/' + template + '/fields/' + field.fieldType + '.html' %}
            {% include templateName %}
        {% endfor %}

        <h3>
            {{ dictionary["itemslisting.NavigatorByLocation"] }} : {{location.current.name}}<br>
            <a href="{{ ('/location?target=posting/'+category.id+'/'+subcategory.id) | link }}">{{ dictionary["countryoptions.ChangeCity"] }}</a>
        </h3>

        <input type="hidden" name="postingSession" value="{{postingSession}}">
        <input type="hidden" name="location" value="{{siteLocation}}">
        <input type="hidden" name="languageId" value="{{language}}">
        <input type="hidden" name="languageCode" value="{{languageCode}}">
        <input type="hidden" name="platform" value="{{platform}}">
        <input type="hidden" name="category.parentId" value="{{category.id}}" class="itemCategory">
        <input type="hidden" name="category.id" value="{{subcategory.id}}"  class="itemSubcategory">

        <div class="btnCenter">
            <input type="submit" value="{{ dictionary["wap_posting_step5.Post"] }}" class="btns orange trackMe" data-tracking="Posting-ClickSubmit" >
        </div>

        {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
        {% include templateName %}
    </form>

</section>
