{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
<section class="afterPosting">
    <article class="ready">
        <h1>{{ dictionary["misc.AllSet_Mob"] }}</h1>
        <h2>{{ dictionary["misc.AdSubmittedApproval"] }}</h2>
        <p>{{ dictionary["misc.SeeAdIn2Hrs_Mob"] }}<br></p>
        <p>{{ dictionary["postingtitlelisting.view"] }} <a href="/{{ item | slugToUrl | link }}">{{ dictionary["itemwarning.Here"] }}</a></p>
        <input type="hidden" class="hide itemId" value="{{ item.id }}">
        <input type="hidden" class="hide itemCategory" value="{{ item.category.id }}">
        <input type="hidden" class="hide itemSubcategory" value="{{ item.category.parentId }}">
    </article>
    <article class="mail">
        <h1>{{ dictionary["misc.EmailAdActivated_Mob"] }}</h1>
        <a href="{{ '/posting' | link }}" class="posting">{{ dictionary["misc.CreateAnotherAd_Mob"] }}</a>
        <a class="home" href="{{ '/' | link }}">{{ dictionary["misc.BackToStart_Mob"] }}</a>
    </article>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</section>