{% from macros import Breadcrumb, Errors %}
<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="4" border="0">
            <tr>
                <td style="border-top: solid thin #808080;">
                    <a style="display: block;" tabindex="1" href="{{ item | slugToUrl | link }}">
                        <strong style="display: block;"><font color="#0075BD">{{ item.title }}</font></strong>
                    </a>
                </td>
            </tr>
            <tr style="display: none;">
                <td>
                    {% set templateName = template + '/partials/tracking.html' %}
                    {% include templateName %}
                </td>
            </tr>
        </table>
        {% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
        <form action="{{ ['/items/', item.id, '/reply'] | join('') | link }}" method="POST" enctype="multipart/form-data">
            <table width="100%" cellspacing="0" cellpadding="4" border="0">
                <tr>
                    <td style="border-top: solid thin #808080;">
                        <small style="display: block;"><strong>{{ dictionary["contactseller_form.55"] }}</strong> <span>{{ item.contactName if item.contactName else "anonymous" }}</small>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small style="display: block;">* {{ dictionary["replymessage.Message"] }}</small>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding: 2px; border: solid thin #BBB;">
                                    <textarea name="message" style="display: block; width: 100%; padding: 0; margin: 0; border-width: 0;" ></textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small style="display: block;">* {{ dictionary["replymessage.Name"] }}</small>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding: 2px; border: solid thin #BBB;">
                                    <input type="text" name="name" value="{{ user.username if user.username }}" style="display: block; width: 100%; padding: 0; margin: 0; border-width: 0;" >
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small style="display: block;">* {{ dictionary["replymessage.Email"] }}</small>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding: 2px; border: solid thin #BBB;">
                                    <input type="text" name="email" value="{{ user.email if user.email }}" style="display: block; width: 100%; padding: 0; margin: 0; border-width: 0;" >
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small style="display: block;">{{ dictionary["itemgeneraldetails.Phone"] }}</small>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding: 2px; border: solid thin #BBB;">
                                    <input type="text" name="phone" value="" style="display: block; width: 100%; padding: 0; margin: 0; border-width: 0;" >
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small style="display: block; font-size: 0.7em;">* {{ dictionary["wap_posting_step4.mandatoryField"] }}</small>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: solid thin #CCC; text-align: left;">
                        <input type="hidden" name="itemId" value="{{ item.id }}" />
                        <input type="submit" name="submit" value="{{ dictionary["contactseller_form.60"] }}" data-qa="reply-send-button" />
                    </td>
                </tr>
            </table>
        </form>
        {% set link = (breadcrumb | link) %}
        {{ Breadcrumb(dictionary, link, ('/' | link)) }}
    </td>
</tr>
