.footer_footer_view {

	background: #f8f6f6;
	padding: 0;
	text-align: center;

	&.disabled {
		display: none;
	}

	p {
		text-transform: uppercase;
		padding: .5rem 0;
		color: #494949;
		font-size: 0.625rem;
		font-weight: bold;
		border-top: 1px solid #eaeaea;
		&.free {
			border: 0;
			text-transform: none;
			background: #494949;
			color: #fff;
		}
	}

}



