.notification-message {
    box($greenLight, $greenBorder, 3px, 20px 20px 20px 100px, solid, 1px);
    clear-fix();
    margin-bottom: 20px;
    position: relative;
    min-height: 50px;

    &.icon-happy::before, &.icon-sad::before {
        color: $green;
        font-size: remify(64px);
        left: 20px;
        position: absolute;
        top: 13px;
    }

    
    h4,
    p {
        line-height: 1.4;
        margin: 0;
    }

    h4 {
        font-size: $l;
    }
}
.didYouSellNo {
    clear-fix();

    h2 {
        color: $violet;
        font-size: $ll;
        text-align: center;
        margin: 0 0 5px 0;
    }

    p {
        color: $black;
        font-size: $l;
        text-align: center;
        margin-bottom: 25px;
    }
    .didYouSellOptions {
        margin: auto;

        p {
            margin-bottom: 10px;
        }

        .facebook-share {
            action-button($blueFacebook, $white, 3px, 10px);
            cursor: pointer;
            font-size: $m;
            height: 22px;
            padding: 0;
            text-align: left;
            width: 136px;

            span {
                border-right: 1px solid $blueFacebook;
                box-shadow: 1px 0px $blueFacebookBorder;
                display: inline-block;
                padding: 2px 5px;
                &::before {
                    margin-top: -2px;
                }
            }
            p {
                display: inline-block;
                margin: 1px 0 0px 10px;
                vertical-align: middle;
                font-size: 12px;
                color: $white;
            }
            .icons {
                color: $white;
                font-size: $m;
            }
        }
    }
    article {
        float: left;
        height: 100px;
        padding: 10px 10px 30px 10px;
        width: 290px;
        h3 {
            color: $green;
            font-size: $l;
            font-weight: 300;
        }
        p {
            color: $black;
            font-size: $s;
            text-align: left;
        }
        div {
            float: left;
            padding-left: 15px;
            width: 80%;
        }
    }
    .icons {
        color: $green;
        font-size: $xxl;
        position: relative;
        float: left;
    }
}
