.notification-message {
    box($greenLight, $greenBorder, 3px, 20px 20px 20px 100px, solid, 1px);
    clear-fix();
    margin-bottom: 20px;
    position: relative;
    min-height: 50px;

    &.icon-happy::before, &.icon-sad::before {
        color: $green;
        font-size: remify(64px);
        left: 20px;
        position: absolute;
        top: 13px;
    }

    
    h4,
    p {
        line-height: 1.4;
        margin: 0;
    }

    h4 {
        font-size: $l;
    }
}
.didYouSellNo {
    clear-fix();
    h2 {
        color: $violet;
        font-size: $ll;
        text-align: center;
        margin-bottom: 5px;
    }

    p {
        color: $black;
        font-size: $l;
        text-align: center;
        margin-bottom: 15px;
    }
    .didYouSellOptions {
        margin: auto;
    }
    article {
        float: left;
        height: 100px;
        padding: 10px;
        width: 290px;
        h3 {
            color: $green;
            font-size: $l;
            font-weight: 300;
        }
        p {
            color: $black;
            font-size: $s;
            text-align: left;
        }
        div {
            float: left;
            padding-left: 15px;
            width: 80%;
        }
    }
    .icons {
        color: $green;
        font-size: $xxl;
        position: relative;
        float: left;
    }
}
