.pages_featured_listings_view {
    box($white, $greyBorders, 3px, 20px, solid, 1px)

    ul {
        ul-reset();
        li {
            margin-bottom: 40px;
        }
    }

    .content-img {
        height: 300px;
        background: $greyBorders;
    }

    h4, p {
        width: 80%;
    }

    h3 {
        font-size: $l;
        font-weight: normal;
        border-bottom: 1px solid $greyBorders;
    }

    h4 {
        font-size: $m;
        margin-bottom: 0;
    }

    p {
        font-size: $s;
        margin-top: 10px;
    }
}