.pages-help-view {
    clear-fix();
    .help-navigation {
        float: left;
        width: 294px;
        ul {
            ul-reset();
            li {
                border-top: 1px solid $lightBlueBorder;
            }
        }

        .help-toggle-content {
            display: block;
            padding: 14px 0 15px 20px;
            &:hover {
                background: $white;
            }
        }

        .icons::before {
            font-size: $m;
            margin-right: 10px;
        }

        .selected {
            background: $white;
            border-right: 1px solid $lightBlueBorder;
            cursor: auto;
            position: relative;

            a,
            .icons::before {
                color: $greyStrong;
            }

            &:hover a {
                text-decoration: none;
            }
        }
        .selected::after,
        .selected::before {
            border: solid transparent;
            content: " ";
            height: 0;
            left: 100%;
            position: absolute;
            top: 50%;
            width: 0;
        }
        .selected::after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: $white;
            border-width: 24px;
            margin-top: -24px;
        }
        .selected::before {
            border-color: rgba(185, 221, 243, 0);
            border-left-color: $lightBlueBorder;
            border-width: 25px;
            margin-top: -25px;
        }
        .title {
            font-size: $xl;
            font-weight: normal;
            margin: 0;
            padding: 15px 0 15px 20px;
        }
        .menu-box {
            margin-bottom: 20px;
        }
        .blue-box {
            box($lightBlue, $lightBlueBorder , 3px, 0, solid, 1px);
        }
        .grey-box {
            box($greyBoxBg, $greyBorders , 3px, 0, solid, 1px);
        }

    }

    .help-about-content {
        box($white, $greyBorders , 3px, 0, solid, 1px);
        float: right;
        width: 656px;

        .help-content-display {
            display: none;
        }
        
        .help-content-display-first {
            display: block;
        }

        .title {
            border-bottom: 2px solid $greyBorders;
            font-size: $l;
            font-weight: bold;
            margin: 0;
            padding: 19px 0 18px 20px;
        }


        .question {
            border-bottom: 1px dotted $greyBorders;
            &:last-child {
                border-bottom: none;
            }

            .icon-arrow-down,
            .icon-arrow-right {
                cursor: pointer;
                font-weight: normal;
                margin: 0;
                padding: 15px;
                &::before {
                    color: $greyStrong;
                    font-size: remify(8px);
                    margin-right: 10px;
                }
                &:hover::before {
                    color: $black;
                }
            }
        }

        .faq-open {
            background: $greyBoxBg;
            .icon-arrow-down{
                font-weight: bold;
                &::before {
                    color: $black;
                    font-size: remify(8px);
                    margin-right: 10px;
                }
            }
        }

        .question-content {
            display: none;
            line-height: 1.5;
            padding: 0 20px 15px 33px;

            p {
                margin: 0;
            }

            ul {
                ul-reset();
                li {
                    line-height: remify(18px);
                }
            }
        }

        .contact {
            margin: 20px;
            fieldset,
            div {
                border: 0 none;
                font-size: $s;
                span {
                    display: block;
                    font-size: $xs;
                    margin: 5px 0 0 115px;
                    &.notification {
                        color: $greyStrong;
                        &::before {
                            margin: -3px 3px 0 0;
                        }
                    }
                    &.error {
                        color: $red;
                        &.hide {
                            display: none;
                        }
                    }
                }
                &.error {
                    textarea,
                    select,
                    input[type="text"] {
                        border-color: $red;
                    }
                }
                label {
                    display: inline-block;
                    margin-right: 10px;
                    text-align: right;
                    width: 100px;
                }
                input[type="text"],
                select,
                textarea {
                    border-radius(3px);
                    border: 1px solid $greyBorders;
                    font-size: $s;
                    padding: 10px;
                    resize: none;
                    width: 455px;
                }
                input[type="text"] {
                    height: 20px;
                }
                input[type="submit"] {
                    action-button($orange, $white, 3px, padding = 10px 0);
                    font-size: $l;
                    margin-left: 115px;
                    width: 100px;
                }
                select {
                    background: $white;
                    width: 477px;
                }
                label[for="message"] {
                    margin-top: 8px;
                    vertical-align: top;
                }

                &.error {
                    label,
                    .label {
                        color: $red;
                    }
                    select,
                    input,
                    textarea {
                        border-color: $red;
                    }
                }
            }
            .verification {
                margin: 5px 10px 10px;
                p {
                    display: inline-block;
                    margin: 8px 10px 0 0;
                    text-align: right;
                    vertical-align: top;
                    width: 100px;
                }
                div {
                    display: inline-block;
                }
            }
            span.spinner {
                margin-left: 125px;
            }
            .replyResult {
                box($pink, $pinkBorder, 3px, 10px 10px 10px 50px, solid);
                color: $black;
                font-size: $s;
                margin-left: 123px;
                position: relative;
                width: 420px;

                &:before {
                    color: $red;
                    font-size: $l;
                    left: 20px;
                    position: absolute;
                    top: 14px;
                }

                span {
                    color: $blue;
                    cursor: pointer;
                    display: block;
                    padding-top: 3px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.success {
                    background: $greenLight;
                    border-color: $greenBorder;
                    height: 40px;
                    margin-left: 3px;
                    padding: 20px 10px 0 48px;
                    width: 553px;

                    &:before {
                        top: 17px;
                        color: $green;
                    }
                }
            }
        }

        .about-content {
            float: right;
            width: 656px;

            .title {
                border-bottom: 1px solid $greyBorders;
                font-size: $xl;
                margin: 0;
                padding: 19px 0 18px 0;
            }

            .subtitle {
                font-size: $l;
                line-height: $l;
                font-weight: bold;
                margin: 0 0 20px;
                color: $orange;
            }

            section {
                margin-top: 35px;
                overflow: hidden;
                padding: 0 20px;
                &.title-section {
                    margin-top: 0;
                    padding: 0;
                    h3, p{
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }

            p {
                font-size: $baseFont;
            }

            .box {
                padding: 10px 15px;
                width: 258px;

                &.box-left {
                    float: left;
                }

                &.box-right {
                    float: right;
                }

                p {
                    margin: 5px 0;
                }
                
            }

            &.about {
                .mission-container {
                    img{
                        width: 322px;
                        margin: 0 auto;
                        display: block;
                    }
                }

                .presence-container {
                    img {
                        width: 100%;
                        display: block;
                    }
                }

                .stats-container {
                    .box {
                        border-bottom: 1px solid $greyBorders;
                        padding-top: 20px;
                        padding-bottom: 20px;

                        &.border-none{
                            border-bottom: none;
                        }
                    }


                    .box-title{
                        font-size: $m;
                        margin-bottom: 8px;
                    }

                    .box-numbers{
                        font-size: $xxxl;
                        line-height: $xl;
                        font-weight: bold;
                        color: #999;
                    }
                }

                .leadership-container {
                    .box {
                        overflow: hidden;
                        text-align: left;
                        padding-left: 0;
                        padding-right: 0;
                        width: 288px;
                        min-height: 110px;

                        div {
                            float: left;
                            padding: 4px 10px;
                            width: 183px;
                        }

                        img {
                            float: left;
                            display: block;
                            width: 85px;
                        }
                    }
                    .box-title {
                        font-size: $l;
                        line-height: $ll;
                        font-weight: bold;
                    }

                    .box-position {
                        font-size: $s;
                        line-height: $m;
                    }

                }
                
            }

            &.why {
                dl {
                    margin-top: 20px;
                }
                ul{
                    ul-reset();
                    font-size: $m;
                    line-height: $l;
                    margin-bottom: 0px;
                    margin-top: 30px;
                }
                .icons {
                    position: relative;
                    margin-bottom: 35px;
                    &::before {
                        color: $green;
                        font-size: 70px;
                        position: absolute;
                        left: 0;
                        display: block;
                    }
                    &.icon-piggy-bank {
                        &::before {
                            content:"\e603";
                        }
                    }
                    &.icon-like {
                        &::before {
                            content:"\e602";
                        }
                    }
                    &.icon-clock {
                        &::before {
                            content:"\6c";
                        }
                    }
                    &.icon-tag {
                        &::before {
                            content:"\2a";
                        }
                    }
                    &.icon-search {
                        &::before {
                            content:"\29";
                        }
                    }
                    &.icon-lock {
                        &::before {
                            content:"\2c";
                        }
                    }
                    &.icon-money-round {
                        &::before {
                            content:"\e600";
                        }
                    }
                    &.icon-cellphones {
                        &::before {
                            content:"\68";
                        }
                    }
                    &.icon-community {
                        &::before {
                            content:"\6e";
                        }
                    }
                    &.icon-earth {
                        &::before {
                            content:"\e601";
                        }
                    }

                    p {
                        margin: 5px 0 5px 80px;
                        &.title-list {
                            color: $green;
                            font-size: $l;
                        }
                    }
                }

                
            }
            &.press {
                .user-ads {
                    position: relative;
                    .slide {
                        height: 195px;
                        width: 942px;
                        overflow: hidden;
                        position: relative;
                        margin-left: 20px;
                        ul {
                            ul-reset();
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 120px;
                            li, .items-image, img {
                                width: 180px;
                            }
                            li{
                                display: inline-block;
                            }
                        }
                    }
                    .arrows {
                        position: absolute;
                        top: 90px;
                        z-index: 10;
                        cursor: pointer;
                        color: $greyStrong;
                        &:hover {
                            color: $black;
                        }
                        &.icon-arrow-left {
                            left: 0;
                        }
                        &.icon-arrow-right {
                            right: 0;
                        }
                    }

                    .carousel-container,
                    .carousel-mask{
                        width: 500px;
                        position: relative;
                    }

                    .carousel-container{
                        padding: 20px 40px;
                        background: #ccc;
                    }

                    .carousel-mask{
                        overflow: hidden;
                        margin: 0 auto;
                    }

                    #carousel{
                        overflow: hidden;
                        position: relative;
                        left: 0;
                    }

                    #carousel li{
                        float: left;
                        width: 500px;
                        margin-right: 2px;
                    }

                    #carousel li img{
                        width: 100%;
                    }


                    .direction-icon{
                        position: absolute;
                        top: 50%;
                        margin-top: -30px;
                    }

                    .prev-button{
                        left: 5px;
                    }

                    .next-button{
                        right: 5px;
                    }
                }
            }    
            &.tips {
                ul {
                    ul-reset();
                    margin-top: 20px;
                }
                li {
                    font-size: $m;
                    line-height: $l;
                    margin-bottom: 10px;
                    list-style: disc inside;
                }
            }



        }




    }

}


