.pages_mobilepromo_view {
    .banner-mobilepromo {
        clear-fix();
        box(url(imageUrl/images/desktop/marketing/home-banner/banner.png) bottom right #fff no-repeat, #ccc, 3px, 0, solid, 2px);
        position: relative;
        height: 380px;
        .left-column {

        }
    }
}