.pages-thanks-view {
    .content-thanks,
    .content-keep-posting {
        box();
    }
    .content-thanks {
        margin-bottom: 20px;
        text-align: center;

        h1 {
            color: $violet;
        }
    }

    .content-keep-posting {
        clear-fix();

        .keep-posting-block {
            float: left;

            h2 {
                color: $orange;
                margin: 0 0 14px;
            }

            p {
                margin: 0 0 10px;
            }

            .posting{
                display: block;
            }
        }
        .girl {
            float: left;
            margin-right: 8px;
        }
    }
}