.pages-thanks-view {

    .content-thanks {
        box();
        margin-bottom: 20px;
        padding-bottom: 30px;
        text-align: center;

        p {
            margin: 20px 0;
            font-size: $m;

            &.thanks-you {
                font-size: $s;
            }
        }

        h1 {
            color: $violet;
            font-size: $xl;
            font-weight: bold;
        }
        .posting {
            display: inline-block;
        }
        .content-video {
            background: url(imageUrl/images/desktop/marketing/thanks/frase.gif) no-repeat left 30px center;
            width: 100%;

            &.content-video-en {
                background: url(imageUrl/images/desktop/marketing/thanks/phrase.gif) no-repeat left 30px center;
            }
        }
        .content-thanks-you {
            background: url(imageUrl/images/desktop/marketing/thanks/items.jpg) no-repeat center bottom;
            padding-bottom: 100px;
        }
    }
}