{% if result %}
    <aside id="notification-message" class="notification-message icons icon-star-circle">
        <h4>{{ dictionary["featured_listings.YourAdWillBeFeaturedSoon"] }}</h4>
        <p>{% set itemLink = (item.slug.replace(domain, fullDomain)) %} <a href="{{ itemLink }}">{{ itemLink }}</a></p>
    </aside>
{% else %}
    <aside id="notification-message" class="notification-message icons icon-sad">
        <h4>{{ dictionary["featured_listings.TheTransactionFailed"] }} {{ dictionary["featured_listings_emails.YouHaveNotBeenCharged"] }}</h4>
        <p><a href="{{ '/myolx/myadslisting' | link }}">{{ dictionary["myolx.BackToMyAds"] }}</a></p>
    </aside>
{% endif %}
{% view 'post/keepposting' %}


{% view 'partials/tracking' %}
