<h3>Anúncios em destaque</h3>

<ul>
    <li>
        <p>
            Esse serviço permite que você dê mais exposição ao seu produto. Seus anúncios ficarão no topo da lista ou na home do site pelo tempo que determinar. O que está esperando, contrate agora mesmo o seu destaque e venda muito mais!
        </p>
    </li>
    <li>
        <h4>Benefícios</h4>
        <p>
            Seu anúncio será visualizado no topo de listagem por um número maior de compradores. Aumente suas possibilidades de venda. Você consegue vender em menos tempo.
        </p>
        <div class="content-img">
            <img src="" alt="">
            <span>Exemplo de anúncio destacado nos resultados de pesquisa</span>
        </div>
    </li>
    <li>
        <h4>Como funciona?</h4>
        <p>
            Para Anúncios em Destaque no Topo da Listagem e em Resultados de Pesquisa, os Anúncios em Destaque serão exibidos na subcategoria adequada, tendo rotatividade aleatória dentre todos os Anúncios em Destaque daquela subcategoria e localização contratados por outros usuários. A escolha do Anúncio em Destaque é feita de maneira aleatória e randômica para garantir que todos os clientes que contrataram o serviço tenham a mesma oportunidade de aparecer no topo da lista de resultados . Este é o motivo pelo qual seu anúncio não aparecerá sempre no topo da lista de resultados de Anúncios em Destaque.
        </p>
    </li>
    <li>
        <h4>Qual será o aumento de visitas em minha lista?</h4>
        <p>
            O objetivo dos destaques é aumentar a visibilidade de seus produtos e aumentar sua vendas e contatos. Os resultados de estudos mostram que anúncios com destaque são visualizados até 8 vezes mais que anúncios normais. Em categorias com mais anúncios, poderá ter até 20 vezes mais visibilidade, aumentando suas chances de venda.
        </p>
    </li>
    <li>
        <h4>Como compro um anúncio em destaque ?</h4>
        <p>
            Você pode adquirir um Anúncio em Destaque a partir do último passo do processo de postagem, que confirma que o seu anúncio foi publicado, ou a partir de "MeuOLX". O processo é simples. Você seleciona por quantas semanas deseja exibir seu anúncio . Logo após, você será direcionado à página de pagamento, que possui várias opções para realização do mesmo. Após realizar o pagamento, você receberá a confirmação de que seu anúncio está disponível com a opção de tempo de contratação escolhida. Se seu anúncio estiver em conformidade com os Termos de Uso da OLX, você receberá uma confirmação por e-mail. Lembre-se que não será possível nenhum reembolso uma vez que você tenha adquirido um anúncio em destaque. Todas as vendas de Anúncios em destaque são definitivas.
        </p>
    </li>
    <li>
        <h4>Quanto custa?</h4>
        <p>
            Anúncios em destaque no topo das listas de resultados de pesquisas custam 10,00 por semana. Você pode escolher o período que deseja que seu anúncio fique em Destaque no topo das listas de resultados por até 4 semanas pagando.
        </p>
    </li>
    <li>
        <h4>Durante quanto tempo o meu anúncio vai aparecer na secção de anúncios em destaque?</h4>
        <p>
            Os anúncios em destaque são vendidos por semana (7 dias). Poderá destacar os seus anúncios por até 4 semanas.
        </p>
    </li>
    <li>
        <h4>O que faço quando não visualizo minha opção de destaque?</h4>
        <p>
            Se contratou uma opção de destaque e não a vê na área designada, por favor:
        </p>

        <p>
            Verifique se recebeu uma confirmação por e-mail, dizendo que seu anúncio está online. Poderá levar até 24 horas para que os anúncios em destaque sejam aprovados.<br>
            Verifique as datas de início e de fim para o seu anúncio em destaque no e-mail de confirmação recebido.<br>
            Lembre-se que o seu anúncio é randômico (está em "rotação" com outros anúncios da mesma categoria) portanto nem sempre é visualizado por você. Como regra geral, em um determinado dia não haverá mais de 18 anúncios de "rotação" em uma categoria em uma determinada cidade para que o seu anúncio seja exibido aproximadamente uma vez a cada três, a página é carregada para Anúncios em destaque no topo das listas e Resultados de Pesquisa.*<br>
            Se você continuar a ver um erro, <a href="#">entre em contato com nossa Equipe de Atendimento ao Cliente.</a>
        </p>
    </li>
    <li>
        <h4>Posso modificar meu anúncio destacado?</h4>
        <p>
            Para garantir uma boa experiência aos compradores e usuários, não permitimos que os anúncios em destaque sejam modificados até que a opção de anúncio em destaque termine.
        </p>

        <p>
            Se você quiser fazer alterações em seus Anúncios em Destaque, terá duas opções:
        </p>

        <p>
            Esperar até que a opção de Anúncio em Destaque contratada finalize. Modifique o seu anúncio e contrate a opção de Anúncio em Destaque outra vez.
            Para alterações e informações importantes <a href="#">entre em contato com nossa Equipe de Apoio ao Cliente.</a>
        </p>
    </li>
    <li>
        <h4>Ainda tem dúvidas?</h4>
        <p>
            Se tiver outras dúvidas, comentários ou sugestões <a href="#">entre em contato com nossa equipe de apoio ao cliente.</a>
        </p>
    </li>
    <li>
        <h4>Termos e Condições para Anúncios em Destaque</h4>
        <p>
            Os termos e condições abaixo cobrem a utilização de anúncios em destaque e são adicionais aos <a href="#">Termos e Condições da OLX.</a>
        </p>
        <p>
            Como comprovação de pagamento de um anúncio em destaque, OLX irá apenas emitir uma "Confirmação de contratação" que você receberá no final do processo com outra confirmação por e-mail.<br>
            Se, por qualquer razão, técnica ou de qualquer natureza, o seu anúncio não é mostrado na área de "Anúncios em destaque", a nossa responsabilidade limita-se a adicioná-lo o quanto antes na listagem de destaque.<br>
            Todos os dados recolhidos através da contratação de destaques são geridos pela nossa política de privacidade.
            Dispomos de um serviço terceirizado que é responsável pelo nosso sistema de faturamento.<br>
            Anúncios que são ofensivos, pornográficos, spam, com enganos ou que infringem os direitos de autor, não irão ser destacados e o valor investido não será reembolsado.<br>
            ESTE SERVIÇO DE ANÚNCIOS EM DESTAQUE É FORNECIDO “NO ESTADO EM QUE SE ENCONTRA” OU “CONFORME DISPONÍVEL”, SEM GARANTIA DE QUALQUER ESPÉCIE, ATÉ O PERMITIDO PELA LEI. OLX NÃO PROPORCIONA NENHUMA GARANTIA OU DECLARAÇÃO E NÃO SE RESPONSABILIZA PELA VERACIDADE E INTEGRIDADE DO CONTEÚDO DISPONIBILIZADO NA ÁREA DE ANÚNCIOS EM DESTAQUE.
        </p>
    </li>
    <li>
        <p>
            * Os resultados podem variar de colocação para colocação e não são garantidos.
        </p>
    </li>
</ul>