<h3>{{ dictionary["widgets.Featured_listings"] }}</h3>

<ul>
    <li>
        <p>
            {{ dictionary["featured_listings.FeaturedListings_Content"] }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.Benefits"] }}</h4>
        <p>
            {{ dictionary["featured_listings.Benefits_content"] }}
        </p>
        <div class="content-img">
            <img src="" alt="">
            <span>{{ dictionary["misc.SampleFeatured"] }}</span>
        </div>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.HowDoesItWork"] }}</h4>
        <p>
            {{ dictionary["featured_listings.HowDoesItWork_New"] }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.HowMuchVisitsWillIncrease"] }}</h4>
        <p>
            {{ dictionary["featured_listings.HowMuchVisitsWillIncrease_content"] }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.HowDoIBuyAFeaturedListing"] }}</h4>
        <p>
            {{ dictionary["featured_listings.HowDoIBuyAFeaturedListing_New"] }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.HowMuchDoesItCost"] }}</h4>
        <p>
            {{ dictionary["featured_listings.HowMuchDoesItCost_New"] }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.HowLongWillMyListingAppearInFeaturedListings"] }}</h4>
        <p>
            {{ dictionary["featured_listings.HowLongWillMyListingAppearInFeaturedListings_content"] }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.IDontSeeMyListingInFeaturedListings"] }}</h4>
        <p>
            {{ dictionary["featured_listings.IDontSeeMyListingInFeaturedListings_content"] | replace('<<CONTACTLINK>>','<a href="mailto:support@olx.com">') | replace('<</CONTACTLINK>>','</a>') }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.WhyCantIModifyMyListing"] }}</h4>
        <p>
            {{ dictionary["featured_listings.WhyCantIModifyMyListing_content"] | replace('<<CONTACTLINK>>','<a href="mailto:support@olx.com">') | replace('<</CONTACTLINK>>','</a>') }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.StillHaveQuestions"] }}</h4>
        <p>
            {{ dictionary["featured_listings.StillHaveQuestions_content"] | replace('<<CONTACTLINK>>','<a href="mailto:support@olx.com">') | replace('<</CONTACTLINK>>','</a>') }}
        </p>
    </li>
    <li>
        <h4>{{ dictionary["featured_listings.AdditionalTermsForFeaturedAds"] }}</h4>
        <p>
            {{ dictionary["featured_listings.AdditionalTermsForFeaturedAds_content"] | replace('<<LINK_TERMS_USE>>', (['<a target="_blank" href="', ('/featured_listings' | link), '" data-pass-thru="true" >'] | join(''))) | replace('<</LINK_TERMS_USE>>', '</a>') }}
        </p>
    </li>
    <li>
        <p>
            {{ dictionary["featured_listings.ResultsMayVaryFromPostingToPostingAndAreNotGuaranteed"] }}
        </p>
    </li>
</ul>
