* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica,Arial,sans-serif;
}
a {
	text-decoration: none;
	outline: none;
}
ul, li {
	list-style: none;
}
ul.normalList {
	padding: 0 16px;

}
ul.normalList li {
	position: relative;
	border-bottom: 1px solid #CCCCCC;
}
ul.normalList li h2 {
	font-size: 16px;
}
ul.normalList li a {
	display: block;
	padding: 8px 0;
	color: #333333;
	line-height: 24px;
	text-transform: capitalize;
}
.clear {
	clear: both;
}
.env {
	padding: .2rem;
	background: #333;
	font-size: 10px;
	line-height: 14px;
	color: #FFF;
}
.active {
    font-weight: bold;
}
.last {
	border: none !important;
}
.line {
	height: 1px;
	display: block;
	margin: 6px 0;
	background: #cccccc;
}
.breadcrumb {
	height: 32px;
	position: relative;
	overflow: hidden;
	background: #a0a0a0;
}
.breadcrumb a.arrow {
	width: 38px;
	height: 32px;
	float: left;
	border-right: 1px solid #676767;
	background: url(imageUrl/images/html4/navBack.png) no-repeat center;
	text-indent: -9000px;
}
.breadcrumb a.arrow.home {
	border-right: none;
	border-left: 1px solid #c9c9c9;
	background: url(imageUrl/images/html4/navHome.png) no-repeat center;
}
.breadcrumb h3 {
	height: 25px;
	padding: 7px 16px 0;
	border-left: 1px solid #c9c9c9;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	color: #ffffff;
}
.breadcrumb a.logout {
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 11px;
	color: #ffffff;
}
.btns {
	width: auto;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.btns.orange {
	border: 1px solid #C44D13;
	background: #E0771B;
}
.btns.grey {
	border: 1px solid #4c4b4b;
	background: #666666;
}
.btns.blue {
	border: 1px solid #2C4B77;
	background: #355E97;
}
.emtyList {
	padding: 28px 14px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
/*----Titles----*/
h1, h2, h3, h4 {
	display: block;
	overflow: hidden;
	font-weight: normal;
}
h1 {
	font-size: 20px;
	color: #494949;
}
h2 {
	font-size: 20px;
	color: #E2771C;
}
h3 {
    color: #333333;
    font-size: 16px;
}
h3 a {
    font-size: 12px;
    color: #4275BA;
    text-decoration: none;
}
h4 {
	padding: 8px 16px 0;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}
/*---Forms****/
.formField {
	padding: 8px 16px;
	clear: both;
	overflow: hidden;
}
.formActions {
	padding: 16px;
	clear: both;
	text-align: left;
}
.formActions .btns {
	padding: 7px 10px;
	font-size: 12.8px;
}
.formActions .btns.w100 {
	width: 100%;
}
.formField label {
	display: block;
	padding: 0 0 4px 0;
	color: #333333;
}
.formField label > a {
	color: #4275BA;
	text-decoration: underline;
}
.formField > a {
	text-decoration: underline;
}
.formField > a {
	font-size: 11px;
	color: #0000EE;
}
.formField > label > small {
	display: block;
	padding: 2.5px 0 0;
	font-size: 10px;
	line-height: 13px;
	color: #ff6700;
}
.formField > small {
	display: block;
	padding: 2.5px 0 0;
	font-size: 10px;
	line-height: 13px;
	color: #333333;
}
.formField > input, .formField > textarea {
	width: 99%;
	display: block;
	padding: 4px 0 4px 4px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	font-size: 16px;
	background: #f8f8f8;
}
.formField > input {
	height: 22px;
}
.formField > input.checkbox {
	width: auto;
	float: left;
	margin: 0 7px 0 0;
}
.formField > textarea {
	height: 72px;
}
.messages {
	margin: 0;
    padding: 6px 12px;
    clear: both;
    font-size: 0.8em;
    overflow: hidden;
    color: #333333;
}
.errors {
    border: 1px solid #B55351;
    background: #F9E4E3;
}
.feedback {
    border: 1px solid #9ba145;
    background: #dbe295;
}
.analytics {
    display: none;
}
/*----Itemlisting----*/
ul.itemListing li {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #cccccc;
}
ul.itemListing li a {
	display: block;
	color: #333333;
}
ul.itemListing li a .imageCont {
	width: 35%;
	max-width: 150px;
	height: 90px;
	float: left;
	margin: 0 8px 0 0;
	overflow: hidden;
	border-right: 1px solid #ececec;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
ul.itemListing li .itemInfo {
	height: 90px;
	position: relative;
	overflow: hidden;
	color: #323232;
}
ul.itemListing li .itemInfo span {
	float: left;
	clear: left;
	margin: 2px 0;
	font-size: 11px;
	color: #777777;
}
ul.itemListing li .itemInfo .centerCont {
	width: 98%;
	height: 33px;
	float: left;
	clear: both;
	position: relative;
	overflow: hidden;
	margin: 3px 0;
}
ul.itemListing li .itemInfo .centerCont a p {
	height: 33px;
	display: table-cell;
	font-size: 14px;
	line-height: 17px;
	overflow: hidden;
	vertical-align: middle;
	color: #333333;
}
ul.itemListing li .itemInfo h2 {
	float: right;
	font-size: 16px;
	color: #fd7600;
	margin: 0 8px 0 0;
}
