<script type="text/javascript">
    var _gaq = _gaq || [];

    _gaq.push(function() {
        var host = '{{ tracking.params.google.host }}';
        var tracker = _gat._getTracker('{{ tracking.params.google.id }}');
        var referrerDomain = 'emptyReferrer';
        var doStore = true;

        if (typeof document.referrer != 'undefined' && document.referrer != '') {
            referrerDomain = document.referrer.match(/:\/\/(.[^/]+)/)[1];

            if (referrerDomain.indexOf(host) != -1) {
                doStore = false;
            }
        }
        if (doStore) {
            tracker._setCustomVar(2, 'keep_referral', referrerDomain, 2);
        }
        tracker._trackPageview('{{ tracking.params.page }}');
    });
</script>