{% if tracking.params and tracking.params.ninja %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'cleanup': function() {
            window.dataLayer.push({% json tracking.params.ninja.params %});
        }});

        (function() {
            window.configTracking = {% json tracking.params.ninja.config %};

            var ninja = document.getElementById('ninja-lib');
            if (!ninja) {
                ninja = document.createElement('script');
                ninja.type = 'text/javascript';
                ninja.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'ninja.onap.io/ninja.js';
                ninja.async = true;
                ninja.id = 'ninja-lib';
                document.getElementsByTagName('head')[0].appendChild(ninja);
            }
        })();
    </script>
    {% if tracking.params.ninja.noscript %}
        <noscript>
            {% for url in tracking.params.ninja.noscript.urls %}
                <img src="{{url}}" class="tracking" width="1" height="1">
            {% endfor %}
            {% if tracking.params.ninja.noscript.iframe %}
                <iframe src="{{ tracking.params.ninja.noscript.iframe }}" width="1" height="1" marginwidth="1" marginheight="1" frameborder="0"></iframe>
            {% else %}
                {{ tracking.params.ninja.noscript.body }}
            {% endif %}
        </noscript>
    {% endif %}
{% endif %}