{% if tracking.params and tracking.params.ninja %}
<script type="text/javascript" id="ninja-lib">
    var dataLayer = window.dataLayer || [];
    dataLayer.push({{ tracking.params.ninja.params }});

    (function() {
        window.configTracking = {
            siteUrl: "{{ location.url }}",
            environment: "testing"
        };

        var ninja = document.createElement('script');
        ninja.type = 'text/javascript';
        ninja.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'ninja.onap.io/ninja.js';
        ninja.async = true;
        document.getElementById('ninja-lib').parentNode.appendChild(ninja);
    })();
</script>
{% endif %}