{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["misc.Sell_Post_Mobile_India"] if target == 'posting' else dictionary["distancediv.changeLocation"]) }}

{% if target and target == 'posting' %}
    <div class="messages errors">
        <span>{{ dictionary["countrystatecityv2.MessageFromPost"]}}</span><br>
    </div>
{% endif %}

<div id="locationSelect" class="locationBreadcrumb">
    <p><a href="{{ ['/', target or ''] | join | link({location: location.url}) }}">{{ location.name }}</a>{% if location.current and location.current.type != 'country' %} &#62; {{ location.current.name }}{% endif %}</p>
</div>
<div id="search">
    <form action="{{ '/location' | link }}">
        <input type="text" name="search" value="" class="search">
        <input type="submit" value="{{ dictionary["homeheader.Search"] }}" class="submit">
        <input type="hidden" value="{{ target }}" name="target" style="display: none;" />
        <span>{{ dictionary["countryoptions.EnterCity"] }}</span>
    </form>
</div>
<div id="location">
    {% if cities.length %}
        <h4 class="location-select-city-subtitle" >
            {{ dictionary["listingpageitemslisting.AllResultsNew"] if search else dictionary["popularsearchesbody.PopularCities"] }}
        </h4>
        <ul class="normalList">
            {% for city in cities %}
                <li class="{{ "last" if loop.last else "" }}">
                    <a href="{{ ['/', target or ''] | join | link({location: city.url}) }}" class="city" style="color:black;" data-qa="city-name" >{{city.name}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="emtyList">{{ dictionary["listingpageitemslisting.WeAreSorryNoResults"] }}</div>
    {% endif %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}

{% view 'partials/tracking' %}
