<div id="locationSelect">
	
    {% if heading %}
        {% set tag = 'h1' %}
    {% else %}
        {% set tag = 'strong' %}
    {% endif %}


    {% if location.current and location.current.type != 'country' %}
        <{{ tag }}>
            <strong>{{location.current.name}}</strong> 
        </{{ tag }}>
        <a href="{{ '/location' | link }}">{{ dictionary["countryoptions.ChangeCity"] }}</a>
    {% else %}
        <{{ tag }}>
            <strong>{{location.name}}</strong> 
        </{{ tag }}>
        <a href="{{ '/location' | link }}">{{ dictionary["countryoptions.SelectACity"] }}</a>
    {% endif %}
</div>
