<section id="itemListing">
	<nav class="breadcrumb">
		<a href="">Todas as Categorias</a>
		<span class="arrow"></span> <strong>{{ category.trName }}</strong>
		{% if location.current and location.current.type != 'country' %}
			Anúncios em {{location.current.name}}
		{% else %}
			Anúncios no {{location.name}}
		{% endif %}
		<span class="count">({{ meta.total | countFormat }})</span>
		{% if not infiniteScroll and (meta.next or meta.previous) %}
			<div class="itemPagination">
            	<p>Página {{ meta.page }} de {{ meta.totalPages | countFormat }}</p>
                <a href="{{ (meta.previous | link) if meta.previous else '#' }}" class="icons left {{ "disable" if not meta.previous }}"></a><a href="{{ (meta.next | link) if meta.next else '#' }}" class="icons right {{ "disable" if not meta.next }}"></a>
            </div>
        {% endif %}
	</nav>

	<nav class="categories">
		<div class="subCategories">
			<h2>Selecione a categoria</h2>
			<ul>
				{% for category in categories  %}
					<li>
						<a href="{{ category | slugToUrl | link }}">
							<span class="icons icon-cat-{{ category.id }}"></span>
							{{ category.trName }}<br>
							<span class="count">{{ (category.counter | countFormat) if category.counter > 0  }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
	<nav class="location">
		<ul>
			{% if not location.current or location.current.type == 'country' %}
				<li class="one"><a href="{{ '/nf/all-results' | link({location: 'www.olx.com.br'}) }}" rel="nofollow">{{ location.name }}</a></li>
			{% elif location.current and location.current.type == 'state' %}
				<li class="parent"><a href="{{ '/nf/all-results' | link({location: 'www.olx.com.br'}) }}" rel="nofollow">{{ location.name }}</a></li>
				<li class="current">{{ location.current.name }}<a href="{{ '/nf/all-results' | link({location: 'www.olx.com.br'}) }}"></a></li>
			{% elif location.current and location.current.type == 'city' %}
				<li class="parent"><a href="{{ '/nf/all-results' | link({location: 'www.olx.com.br'}) }}" rel="nofollow">{{ location.name }}</a></li>
				<li class="parent"><a href="{{ '/nf/all-results' | link({location: location.children[0].url }) }}" rel="nofollow">{{ location.children[0].name }}</a></li>
				<li class="current">{{ location.current.name }}<a href="{{ '/nf/all-results' | link({location: location.children[0].url}) }}"></a></li>
			{% endif %}
		</ul>
		{% if meta.filters.state or meta.filters.city %}
			<div class="list">
				<ul>
					{% for state in meta.filters.state.value %}
						<li><a href="{{ '/nf/all-results' | link({location: state.id}) }}">{{ state.value }} <span>{{ state.count | countFormat }}</span></a></li>
					{% endfor %}
					{% for city in meta.filters.city.value %}
						<li><a href="{{ '/nf/all-results' | link({location: city.id}) }}">{{ city.value }} <span>{{ city.count | countFormat }}</span></a></li>
					{% endfor %}
					<div class="clear"></div>
				</ul>
			</div>
		{% endif %}
	</nav>
	<section class="list">
		<nav>
			<div class="tabs">
				<a href="" class="galery icons">Fotos Maiores</a>
				<a href="" class="list icons active">Exibição em Lista</a>
			</div>
			<div class="sort">
				<label>Ordenado por:</label>
				<select name="listing-order-combo">
					<option selected="selected" value="date*to*showdesc">Mais recentes</option>
					<option value="price">Menor preço</option>
					<option value="pricedesc">Maior preço</option>
				</select>
			</div>
		</nav>
		<ul class="listing itemListing">
			{% view 'items/items' %}
		</ul>
		{% if infiniteScroll %}
            <div class="loader is-loading" style="display: none;">
                <img src="{{ '/images/html5/loading.gif' | static }}" alt="Loading...">
            </div>
            <input id="currentUrl" type="hidden" class="hide" value="{{ meta.current | link }}">
        {% elif meta.next or meta.previous %}
            <div class="itemPagination">
                <a href="{{ (meta.previous | link) if meta.previous else '#' }}" class="arrow icons {{ "leftA" if meta.previous else "leftD" }}"></a><div class="center">{{ meta | pagination }}</div><a href="{{ (meta.next | link) if meta.next else '#' }}" class="arrow icons {{ "rightA" if meta.next else "rightD" }}"></a>
            </div>
        {% endif %}
	</section>

	{% view 'partials/postbanner' %}

	<div class="clear"></div>
</section>

{% view 'partials/tracking' %}
