@font-face {
	font-family: 'olx-icon-font';
	src:url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.eot?1frysp');
	src:url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.eot?#iefix1frysp') format('embedded-opentype'),
		url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.woff?1frysp') format('woff'),
		url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.ttf?1frysp') format('truetype'),
		url('http://static03.olx-st.com/frontEnd/br/assets/fonts/olx-icon-font.svg?1frysp#olx-icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'olx-icon-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-New-Cat:before {
	content: "\e637";
}
.icon-cat-916:before {
	content: "\e634";
}
.icon-cat-917:before {
	content: "\e635";
}
.icon-cat-914:before {
	content: "\e636";
}
.icon-uni21:before {
	content: "\21";
}
.icon-uni22:before {
	content: "\22";
}
.icon-uni23:before {
	content: "\23";
}
.icon-uni24:before {
	content: "\24";
}
.icon-uni41:before {
	content: "\41";
}
.icon-uni42:before {
	content: "\42";
}
.icon-uni43:before {
	content: "\43";
}
.icon-olx:before {
	content: "\44";
}
.icon-uni45:before {
	content: "\45";
}
.icon-cat-802:before {
	content: "\46";
}
.icon-uni47:before {
	content: "\47";
}
.icon-uni48:before {
	content: "\48";
}
.icon-uni4A:before {
	content: "\4a";
}
.icon-uni4B:before {
	content: "\4b";
}
.icon-uni4C:before {
	content: "\4c";
}
.icon-uni4D:before {
	content: "\4d";
}
.icon-uni4E:before {
	content: "\4e";
}
.icon-cat-822:before {
	content: "\4f";
}
.icon-cat-823:before {
	content: "\50";
}
.icon-cat-825:before {
	content: "\51";
}
.icon-uni52:before {
	content: "\52";
}
.icon-uni53:before {
	content: "\53";
}
.icon-uni54:before {
	content: "\54";
}
.icon-uni55:before {
	content: "\55";
}
.icon-uni56:before {
	content: "\56";
}
.icon-uni57:before {
	content: "\57";
}
.icon-uni58:before {
	content: "\58";
}
.icon-uni59:before {
	content: "\59";
}
.icon-uni5A:before {
	content: "\5a";
}
.icon-uni61:before {
	content: "\61";
}
.icon-uni62:before {
	content: "\62";
}
.icon-uni63:before {
	content: "\63";
}
.icon-uni64:before {
	content: "\64";
}
.icon-uni65:before {
	content: "\65";
}
.icon-cat-378:before {
	content: "\66";
}
.icon-uni67:before {
	content: "\67";
}
.icon-uni68:before {
	content: "\68";
}
.icon-uni69:before {
	content: "\69";
}
.icon-uni6A:before {
	content: "\6a";
}
.icon-uni6B:before {
	content: "\6b";
}
.icon-uni6C:before {
	content: "\6c";
}
.icon-uni6D:before {
	content: "\6d";
}
.icon-uni6E:before {
	content: "\6e";
}
.icon-cat-824:before {
	content: "\6f";
}
.icon-uni70:before {
	content: "\70";
}
.icon-uni71:before {
	content: "\71";
}
.icon-uni72:before {
	content: "\72";
}
.icon-uni73:before {
	content: "\73";
}
.icon-home:before {
	content: "\74";
}
.icon-uni75:before {
	content: "\75";
}
.icon-cat-803:before {
	content: "\76";
}
.icon-uni77:before {
	content: "\77";
}
.icon-uni78:before {
	content: "\78";
}
.icon-uni79:before {
	content: "\79";
}
.icon-cat-804:before {
	content: "\7a";
}
.icon-uniE000:before {
	content: "\e000";
}
.icon-uniE001:before {
	content: "\e001";
}
.icon-uniE002:before {
	content: "\e002";
}
.icon-cat-882:before {
	content: "\e003";
}
.icon-uniE004:before {
	content: "\e004";
}
.icon-cat-817:before {
	content: "\e005";
}
.icon-cat-807:before {
	content: "\e006";
}
.icon-uniE034:before {
	content: "\e034";
}
.icon-uniE035:before {
	content: "\e035";
}
.icon-uniE036:before {
	content: "\e036";
}
.icon-uniE037:before {
	content: "\e037";
}
.icon-uniE038:before {
	content: "\e038";
}
.icon-cat-818:before {
	content: "\e039";
}
.icon-cat-915:before {
	content: "\e03a";
}
.icon-uniE03B:before {
	content: "\e03b";
}
.icon-uniE03C:before {
	content: "\e03c";
}
.icon-uniE03D:before {
	content: "\e03d";
}
.icon-cat-857:before {
	content: "\e03e";
}
.icon-uniE03F:before {
	content: "\e03f";
}
.icon-uniE040:before {
	content: "\e040";
}
.icon-uniE041:before {
	content: "\e041";
}
.icon-uniE042:before {
	content: "\e042";
}
.icon-uniE043:before {
	content: "\e043";
}
.icon-uniE044:before {
	content: "\e044";
}
.icon-uniE045:before {
	content: "\e045";
}
.icon-uniE046:before {
	content: "\e046";
}
.icon-uniE047:before {
	content: "\e047";
}
.icon-uniE048:before {
	content: "\e048";
}
.icon-uniE049:before {
	content: "\e049";
}
.icon-uniE04A:before {
	content: "\e04a";
}
.icon-uniE04B:before {
	content: "\e04b";
}
.icon-uniE04C:before {
	content: "\e04c";
}
.icon-uniE04D:before {
	content: "\e04d";
}
.icon-uniE04E:before {
	content: "\e04e";
}
.icon-uniE04F:before {
	content: "\e04f";
}
.icon-uniE050:before {
	content: "\e050";
}
.icon-cat-831:before {
	content: "\e051";
}
.icon-uniE052:before {
	content: "\e052";
}
.icon-uniE053:before {
	content: "\e053";
}
.icon-cat-856:before {
	content: "\e054";
}
.icon-uniE055:before {
	content: "\e055";
}
.icon-uniE056:before {
	content: "\e056";
}
.icon-uniE057:before {
	content: "\e057";
}
.icon-uniE058:before {
	content: "\e058";
}
.icon-uniE059:before {
	content: "\e059";
}
.icon-uniE05A:before {
	content: "\e05a";
}
.icon-cat-812:before {
	content: "\e05d";
}
.icon-uniE05E:before {
	content: "\e05e";
}
.icon-uniE062:before {
	content: "\e062";
}
.icon-uniE063:before {
	content: "\e063";
}
.icon-uniE064:before {
	content: "\e064";
}
.icon-uniE066:before {
	content: "\e066";
}
.icon-uniE068:before {
	content: "\e068";
}
.icon-uniE06A:before {
	content: "\e06a";
}
.icon-uniE06C:before {
	content: "\e06c";
}
.icon-uniE06E:before {
	content: "\e06e";
}
.icon-uniE070:before {
	content: "\e070";
}
.icon-uniE072:before {
	content: "\e072";
}
.icon-uniE074:before {
	content: "\e074";
}
.icon-cat-243:before {
	content: "\e600";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE604:before {
	content: "\e604";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-cat-805:before {
	content: "\e606";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE608:before {
	content: "\e608";
}
.icon-cat-368:before {
	content: "\e609";
}
.icon-uniE60A:before {
	content: "\e60a";
}
.icon-cat-908:before {
	content: "\e60b";
}
.icon-uniE60C:before {
	content: "\e60c";
}
.icon-cat-800:before {
	content: "\e60d";
}
.icon-cat-884:before {
	content: "\e60e";
}
.icon-cat-377:before {
	content: "\e60f";
}
.icon-cat-907:before {
	content: "\e610";
}
.icon-cat-820:before {
	content: "\e611";
}
.icon-cat-880:before {
	content: "\e612";
}
.icon-cat-854:before {
	content: "\e613";
}
.icon-cat-909:before {
	content: "\e614";
}
.icon-cat-879:before {
	content: "\e615";
}
.icon-cat-819:before {
	content: "\e616";
}
.icon-cat-808:before {
	content: "\e617";
}
.icon-uniE618:before {
	content: "\e618";
}
.icon-uniE619:before {
	content: "\e619";
}
.icon-uniE61A:before {
	content: "\e61a";
}
.icon-cat-885:before {
	content: "\e61b";
}
.icon-cat-416:before {
	content: "\e61c";
}
.icon-cat-379:before {
	content: "\e61d";
}
.icon-cat-813:before {
	content: "\e61e";
}
.icon-cat-809:before {
	content: "\e61f";
}
.icon-cat-814:before {
	content: "\e620";
}
.icon-cat-855:before {
	content: "\e621";
}
.icon-cat-883:before {
	content: "\e622";
}
.icon-cat-214:before {
	content: "\e623";
}
.icon-cat-832:before {
	content: "\e624";
}
.icon-uniE625:before {
	content: "\e625";
}
.icon-cat-376:before {
	content: "\e626";
}
.icon-cat-211:before {
	content: "\e627";
}
.icon-cat-415:before {
	content: "\e628";
}
.icon-cat-410:before {
	content: "\e629";
}
.icon-cat-388:before {
	content: "\e62a";
}
.icon-cat-16:before {
	content: "\e62b";
}
.icon-cat-367:before {
	content: "\e62c";
}
.icon-cat-363:before {
	content: "\e62d";
}
.icon-cat-301:before {
	content: "\e62e";
}
.icon-uniE62F:before {
	content: "\e62f";
}
.icon-uniE630:before {
	content: "\e630";
}
.icon-uniE632:before {
	content: "\e632";
}
.icon-uniE631:before {
	content: "\e631";
}
.icon-cat-816:before {
	content: "\e633";
}
