.header-logo-home{float:left;margin:-15px 20px 0 0;position: relative;z-index: 1}
.header-text a{color:#AAA}

#the-content {border:1px solid #ccc;border-radius:3px; padding:28px;margin:0; padding: 40px 20px 0px}
#supercontainer{margin-top:10px;}
#slide-container{position:absolute; bottom:67px; left:0; padding:0}
#populars-on-olx {float: left;overflow: hidden;border: 1px solid #ccc;width: 660px;margin-top: 20px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;font-size: 12px;}
#populars-on-olx .box-title {border-bottom: 1px solid #ccc;font-size: 18px;padding: 10px 20px;background: #F1F1F1;}
#populars-on-olx .all-cities {clear: both;}
#populars-on-olx #popular-cities, #populars-on-olx #popular-states {float: left;width: 328px;margin: 0;}
#populars-on-olx #popular-cities .box-title, #populars-on-olx #popular-states .box-title {background: transparent;border-bottom: 1px solid #ccc;font-size: 13px;font-weight: bold;padding: 0 0 10px;margin: 0 10px 10px;}
#populars-on-olx #popular-cities .city-column, #populars-on-olx #popular-cities .state-column, #populars-on-olx #popular-states .city-column, #populars-on-olx #popular-states .state-column {margin: 0;width: 33.33%;float: left;padding-top: 10px;}
#populars-on-olx #popular-cities .city-column a, #populars-on-olx #popular-cities .state-column a, #populars-on-olx #popular-states .city-column a, #populars-on-olx #popular-states .state-column a {display: block;padding: 0 10px;}
#populars-on-olx #popular-cities {padding: 15px 0 20px 10px;}
#populars-on-olx #popular-states {padding: 15px 10px 20px 0;}
#populars-on-olx #popular-searches {clear: both;margin: 0 20px;}
#populars-on-olx #popular-searches h3 {background: transparent;border-bottom: 1px solid #ccc;font-size: 13px;font-weight: bold;padding: 0 0 10px;margin: 0 0 10px;}
#populars-on-olx #popular-searches .pop-rel.nuevo {padding-bottom: 10px;margin-bottom: -1px;border-bottom: 1px solid #ccc;}
#populars-on-olx #popular-searches div {margin: 21px 10px 20px 0;width: 23%;float: left;}
#populars-on-olx #popular-searches div a {display: block;}
#categories-footer, #populars-on-olx, #country-list{display:none; background:#fff;border:1px solid #ddd; border-radius:3px 3px 0 0; width:980px; box-sizing: border-box; -moz-box-sizing: border-box;-webkit-box-sizing: border-box;z-index:5001}
#categories-footer .close {margin:10px}
#categories-footer.active{cursor:default;}
#categories-footer h4{ margin: 20px 10px 0 20px;}
#country-list , #populars-on-olx{padding:20px}
#popular-cities .box-title, #popular-states .box-title {margin: 0;}
#country-list .countries .block {width:12.5%; float:left}
#country-list .countries .block a {display:block}
#populars-on-olx #popular-states {width:63%}
#populars-on-olx #popular-states .state-column {width:25%; float:left}
#footer .links{-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;margin-bottom:0;background-color:#FFF!important;color:#aaa;font-size:14px;padding:0}
#footer .footer-bottom{line-height:30px;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;background-color:#FFF!important;color:#aaa;font-size:14px;padding:0}
#footer .links a {color:#aaa;font-size:14px}
#footer .links a:hover{color:#369}
#footer .links > * {display:inline-block;padding:2px 0;font-size:12px}
#footer > .links > a:before{line-height:.8;padding:0 !important;margin:0 5px; content:"•";}
#footer > .links > a.alpha:before{margin:0}
#footer .links a.active{background:#fff; color:#000; border-radius: 0 0 3px 3px;border-top-color:#fff; z-index:5002;position:relative}
#footer .links a.arrow-dropdown.active:after{border-width:0 4px 4px;border-color:#000 transparent; color:#000;}
.arrow-dropdown:after{display:none}
#footer .links a.active:before{color:#fff}
#footer .links a#categories-footer-link:before{content:""}
#footer .links a#categories-footer-link{padding-left:0; white-space: nowrap;}
#footer .apps{float:right}
#footer .app-store,#footer .google-play{background:url(http://images04.olx-st.com/frontEnd/br/assets/images/home/apps.gif) no-repeat;display:block;text-indent:-9000px;float:left}
#footer .app-store{width:105px;height:30px; background-position: 0 0;}
#footer .google-play{width:92px;height:30px; background-position: 0 -30px;margin-left: 10px;}
.footer-bottom{margin:10px 0}
.footer-bottom ul {display: inline-block;height: 20px;float: none;margin-left: 20px}
.footer-bottom ul li {display:block; float:left;margin: 5px 5px 5px 0 }
.footer-slide .countries h3,  .footer-slide .box-title, #categories-footer h4{border-bottom: 1px solid #CCCCCC;font-size: 13px;font-weight: bold;padding-bottom: 10px;margin-bottom: 10px}
.footer-slide .countries h3{width: 101%;} 
.footer-slide a:hover{color:#034D94; text-decoration:underline;}

.countries h3,  #categories-footer h3 a.strong {font-size:13px;font-weight:bold; margin-right:20px; padding-bottom:10px}
.countries h3{border-bottom:1px solid #ddd}
.Facebook a, .Twitter a{display:block;text-indent:-30000px;background:url("http://images04.olx-st.com/images/v4/social_icons.gif");width:20px; height:19px; overflow:hidden}
.Facebook a{background-position:-20px 0}  .Facebook a:hover {background-position:-60px 0;} 
.Twitter a{background-position: 0 0}  .Twitter a:hover {background-position:-40px 0}
.text-orange {color:#fd7400!important}
.text-white {color:#fff!important; font-size: 12px;}
.close{position:relative; z-index:501; float:right; width:22px; height:22px; margin:-10px -10px 0 0; cursor:pointer; text-indent:-9000px; background: url("http://images04.olx-st.com/images/v4/close-icon.png") no-repeat scroll 5px 5px #C0C0C0;border-radius: 4px 4px 4px 4px;}
.close:hover {background-color:#000;cursor:pointer;}
.column {width:175px; margin:0 0 20px 20px; float:left}
.column .block a {    display: block;    margin: 2px 0}
.column.first{width:175px}
.column.last {width:175px}
.block ul li{margin:2px 0}
.block h3 {margin:20px 0 10px}
.olx-ui-button {display:inline-block;padding:6px 20px;font-size:20px;font-weight:none;color:#fff;text-align:center;vertical-align:middle;text-decoration:none;cursor:pointer;border:1px solid;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;background-color:#aaa;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjI1KSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,rgba(255,255,255,0.25)),color-stop(100%,rgba(255,255,255,0)));background-image:-webkit-linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0));background-image:-moz-linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0));background-image:-o-linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0));background-image:linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0));border-color: transparent;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*zoom:1;-webkit-appearance:none;}
.olx-ui-button:hover {color:#fff;text-decoration:none;background-image:none;filter: alpha(opacity=90);}
.olx-ui-button:active {background-image:none;box-shadow:0 2px 4px rgba(0,0,0,0.15) inset,0 1px 2px rgba(0,0,0,0.05);outline:0;}
.olx-ui-button.orange {background-color:#f70;}

.home-left{float:left;width:490px; padding-left: 10px}
.home-left h2{color: #FF7700; font-size: 36px; font-weight: bold; letter-spacing: -1px; line-height: 27px; margin-bottom: 10px;}
.home-left h3{font-size:26px;line-height: 50px; color:#333;}
.home-left h3 strong{color:#F70;}

.home-counter{font-size: 14px; padding:20px 10px;background: #eee}

#map-tooltip{ text-align:left; text-decoration:none; position:fixed; display:none; border:1px solid #bbb; background-color:#fff; padding:6px 10px; z-index:2002; margin-left: -9px; margin-top: -27px; color:#666; line-height:16px; font-size:13px }
#map-tooltip:before{ content:""; position:absolute; border-width:10px 10px 0 0; left:9px; bottom:-10px; border-style:solid; border-color:#ccc transparent; display:block; width:0 }
#map-tooltip:after{ content:""; position:absolute; border-width:8px 8px 0 0; left:10px; bottom:-8px; border-style:solid; border-color:#fff transparent; display:block; width:0 }
#map-tooltip .state{ font-weight:bold; display:block }
#map-tooltip.reverse:after{ left:auto; right:11px }
#map-tooltip.reverse:before{ left:auto; right:10px }

.home-map{ margin-top: -22px; margin-right: -10px; float: right;position: relative;z-index: 1 }
.home-map-text{font-size:13px;font-weight:700;position:absolute;line-height:15px;display:block;width:139px;height:32px;top:260px;left:30px;text-align:left;text-indent:-999px;overflow:hidden;background:url(../images/home/map-message.png) no-repeat}

#the-map.fallback{ left:10px !important }

.home-states{font-size: 14px; color:#666; text-align: left; padding:10px 0;margin:0;border:0;}
.home-states a.alpha{margin-left:5px;}
.home-states a.omega{margin:0;}
.home-states a.extra-margin{margin-right:12px;}
.home-states a:hover{text-decoration:none;color:#38B !important}
.home-states a{color:#666;margin-left:8px !important;margin-right:0 !important;}

#olx-tooltip{text-align:left;text-decoration:none;position:absolute;display:none;border:1px solid #bbb;background-color:#fff;padding:6px 10px;z-index:2002;margin-top:-30px;color:#666;line-height:16px;font-size:13px;}
#olx-tooltip:before{content:"";position:absolute;border-width:10px 10px 0 0;left:9px;bottom:-10px;border-style:solid;border-color:#ccc transparent;display:block;width:0}
#olx-tooltip:after{content:"";position:absolute;border-width:8px 8px 0 0;left:10px;bottom:-8px;border-style:solid;border-color:#fff transparent;display:block;width:0}

.my-olx{font-size:13px; text-align: right;margin-bottom: -10px;}

/* Survey */
.survey-button{background-color: #ECFFD1;border: 1px solid #B6D39C;border-radius: 3px 3px 3px 3px;clear: both;color: #646464;font-size: 17px;margin: 5px auto 20px;padding: 10px 20px;width:980px;} 
.survey-text{display: inline-block; height: 28px; vertical-align: middle; } 
.survey-icon{color: #AABB00;display: inline-block;font-family: 'olx-icon-font';font-size: 22px; padding: 0; }
.survey-link:hover{text-decoration: underline;}

.carousel-categories{clear:left;position:absolute;width:978px;height:230px;padding:20px 30px;left:0;top:170px;background: #EEE;z-index:0;}
.carousel-categories h3{font-size:18px;font-weight:normal;color:#628;}
.carousel-categories .carousel-container{display:block;float:left;width:350px;height:150px;margin-top:20px;overflow: hidden;}
.carousel-categories .carousel-container ul{display:block;width:9999px;}
.carousel-categories .carousel-container ul li{float:left;margin:0 10px;}
.carousel-categories .carousel-container ul li a{display: block; width: 95px;color:#333; text-decoration:none; text-align: center;font-size:12px;font-weight:bold;}
.carousel-categories .carousel-container ul li a .icon-cat{ display: block; width: 95px; height: 95px;margin-bottom:10px;border:3px dashed #FFF; border-radius: 50%; }
.carousel-categories .carousel-container ul li a .icon-cat:before{ display:inline-block;padding-top:16px;font: 56px 'olx-icon-font'; }
.carousel-categories .carousel-container ul li a:hover{color:#38B;text-decoration:none;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;}
.carousel-categories .carousel-container ul li a:hover .icon-cat{border-color:#B9DDF3; background: #FFF;color:#38B;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;}
.carousel-categories .button-prev, .carousel-categories .button-next{position:relative;display:block;float:left;width:32px;height:32px;top:50px;background:#FFF;border-radius:50%;color:#333;}
.carousel-categories .button-prev:hover, .carousel-categories .button-next:hover{color:#38B;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;}
.carousel-categories .button-prev:before, .carousel-categories .button-next:before{display:inline-block;font:32px 'olx-icon-font';line-height:32px;}
.carousel-categories .button-prev{margin-right:10px;}
.carousel-categories .button-prev:before{content:'\e001';}
.carousel-categories .button-next{margin-left:10px;}
.carousel-categories .button-next:before{content:'\e002';}
.carousel-on{position:relative;height:100%;}
.carousel-on ul{position:absolute;left:0;}

.home-apps{clear:left;margin-top:390px;}
.home-apps .app-store,.home-apps .google-play{width:134px;height:38px;background:url(../images/home/apps-light.gif) no-repeat;display:block;text-indent:-9000px;float:left}
.home-apps .google-play{ background-position: 0 0;}
.home-apps .app-store{background-position: -134px 0 ;margin-left: 10px;}

/* Mobile banner */
.mobile-banner{display:none;position:fixed;width:49px;height:122px;top:168px;left:0;}
.mobile-banner .mobile-banner-image{display:block;width:49px;height:122px;background:url(../images/home/android-banner-slim.gif) no-repeat;}
.mobile-banner.showed .mobile-banner-image{background:url(../images/home/android-banner-slim.png) no-repeat;}
.mobile-banner .mobile-banner-close{position:absolute;display:block;width:20px;height:20px;top:-20px;left:5px;color:#CCC;text-decoration:none;overflow:hidden;}
.mobile-banner .mobile-banner-close:hover{color:#C00;}
.mobile-banner .mobile-banner-close:before{position:relative;top:-6px;left:-6px;font:32px 'olx-icon-font';content:'\e03d';line-height:32px;}

/*
.my_olx { visibility:collapse; text-align:right; right: 7px; position: relative;}
.my_olx * { visibility:visible; }
.my_olx a:before { content:'|'; display:inline-block; margin-right:7px ; color:#AAAAAA;}
.my_olx a{margin:0 -8px;}
.my_olx a.noLoggedIn:before { display:none }
.my_olx > * { display:none }
.my_olx .block{display:inline-block;}
*/

@media only screen and (min-width: 1140px){
	.mobile-banner{width:102px;height:252px;top:130px;}
	.mobile-banner .mobile-banner-image{width:102px;height:252px;background:url(../images/home/android-banner-02.gif) no-repeat;}
	.mobile-banner.showed .mobile-banner-image{background:url(../images/home/android-banner.png) no-repeat;}
	.mobile-banner .mobile-banner-close{top:-25px;}
}

/* mkt banner - queen campaign */
#queen-banner{ display:none; position:absolute; top:110px; left:-105px; }
#queen-banner a{ display: block; background:url(http://images04.olx-st.com/frontEnd/br/assets/images/mkt/rainha-1280-v3.png); width:142px; height:239px; border:0; }
#marcianos-banner{ display:none; position:absolute; top:120px; left:-86px; }
#marcianos-banner a{ display: block; background:url(http://images04.olx-st.com/frontEnd/br/assets/images/mkt/marcianos-1280-v3.png); width:125px; height:239px; border:0; }
#medusa-banner{ display:none; position:absolute; top:120px; left:-91px; }
#medusa-banner a{ display: block; background:url(http://images04.olx-st.com/frontEnd/br/assets/images/mkt/medusa-1280.png); width:118px; height:274px; border:0; }

@media only screen and (max-width: 1180px) {
    #queen-banner{ overflow: hidden; top: 178px; left:-17px; }
    #queen-banner a{ height:108px; width: 81px; background:url(http://images04.olx-st.com/frontEnd/br/assets/images/mkt/rainha-1024-v3.png) no-repeat left top }
    #marcianos-banner{ overflow: hidden; top: 209px; left:-17px; }
    #marcianos-banner a{ height:108px; width: 81px; background:url(http://images04.olx-st.com/frontEnd/br/assets/images/mkt/marcianos-1024-v3.png) no-repeat left top }
    #medusa-banner{ overflow: hidden; top: 221px; left:-17px; }
    #medusa-banner a{ height:121px; width: 65px; background:url(http://images04.olx-st.com/frontEnd/br/assets/images/mkt/medusa-1024.png) no-repeat left top }
    .home-left{ padding-left:20px; width:450px; }
    .carousel-categories h3 { margin-left: 10px;}
}