a { color:#38B }
a:hover { color:#369 }

hr{background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:20px 0;border:none}

.left{float:left;}
.right{float:right;}
.centered{margin: 0 auto;}

/*Header*/
.header-session .my_olx{color:#aaa}
.header-session a .my_olx{color:#38B!important}
.header-session .login-myolx{color:#000}
.header{width:980px;background: #FFF;position:relative;border-top:5px solid #628;border-bottom:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-left:1px solid #cdcdcd;border-radius:0 0 3px 3px;padding:0 20px;overfow:hidden;height:76px;margin-bottom:10px}
.header:before,.header:after{position:absolute;top:-5px;left:50%;display:block;width:420px;height:5px;content:'';z-index:0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.header:before{margin-left:-490px;border-left:140px solid #628;border-right:140px solid #F70;background:#AB0;}
.header:after{margin-left:70px;border-left:140px solid #AB0;border-right:140px solid #628;background:#F70;}
.header-session{font-size:13px;text-align:right;padding:5px 0}
.header-logo{margin:5px 20px 0 0;float:left;}
.header-form{margin-top:15px;border:1px solid #AB0;border-radius:3px;float:left;padding:5px;width:315px}
.header-form-input{border:0!important;width:240px;padding:0 10px!important; float:left;margin-top:9px;}
.header-form-button{float:right;background-color:#AB0;background-image:linear-gradient(to bottom,#AB0,#893);background-size:100% auto;border:1px solid #893;border-radius:3px;cursor:pointer;font-size:13px;padding:5px !important;position:relative;text-align:center;color:#FFF;font-weight:500}
.header-form-button:hover{background-image:none;background:#893}
.header-button{float:right;font-size:18px;font-weight:400;margin-top:10px;padding:11px 25px !important;  position: relative\9;}
.header-button:after{z-index:10;background:url(http://static02.olx-st.com/frontEnd/br/assets/images/common/gratis.png) no-repeat;content:"";display:block;height:46px;position:absolute;right:16px;top:6px;width:46px; top:-5px\9; right:-6px\9 }
.header-text{font-size:13px;width:500px;float:left;color:#aaa;margin-top:15px}
.header-text a{color:#AAA !important; }

.category-promotion{width:980px;height:152px;background:#FFF;margin:10px auto 20px;border:2px dashed #CCC;padding:20px;text-align:left;border-radius:3px}
.category-promotion .category-subtitle{font-size:18px;width:336px;float:left;line-height:20px;padding-top:20px}
.category-promotion .category-title{font-size:28px;color:#f70;margin-bottom:15px}
.category-promotion a.category-blue{color:#369; text-decoration: none;}
.category-promotion a.category-blue:hover{text-decoration: underline;}
.category-promotion .category-links{float:left}
.category-promotion .category-links a{float:left;width:190px;display:block;border:1px solid #CCC;margin:0 0 0 10px;border-bottom:4px solid #CCC;padding:10px 0;text-align:center;font-size:13px}
.category-promotion .category-links a:hover{text-decoration:none;background:none repeat scroll 0 0 #3588BC;border-color:#29749E;color:#FFF;transition:all .2s ease 0}
.category-promotion .icon-cat{display:block;overflow:hidden;margin-top:-14px;height:62px}
.category-promotion .icon-cat:before{margin:auto;width:40px;font:70px olx-icon-font}
.desapega-banner{margin:10px auto 0px;}
.top-banner{margin:10px auto 0px; height:152px;}

.ui-breadcrumb #firstpath0, .ui-breadcrumb a.backtoresults, #prefooter #levelpathBottom .ui-breadcrumb>a, #the-listing .ui-breadcrumb > a{ color:#38B }
.ui-breadcrumb #firstpath0:hover, .ui-breadcrumb a.backtoresults:hover, #prefooter #levelpathBottom .ui-breadcrumb>a:hover, #the-listing .ui-breadcrumb > a:hover{ color: #369; }

.extra-post-button{border:1px solid #CCC;border-radius:3px;padding:10px;text-align: center;font-size:20px;margin:10px 0 0;height:62px;}
.extra-post-button .text-gray{color:#666;}
.extra-post-button .text-gray:after{font-family: 'olx-icon-font';content: "\e002";padding:0 10px 0 5px;font-size:30px;line-height:30px;height:36px;display:inline-block;vertical-align:middle;}

.home .extra-post-button{border:0;}

.clearleft{ clear:left }

.styled-select select { width:100%; background: #fff; border: 1px solid #ccc; padding: 5px 10px; color: #777; margin: 0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; outline:none; display: inline-block; -webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer; height:auto }
label.styled-select { position:relative; width:200px }
label.styled-select:after {background:#fff; font: 17px/1 'olx-icon-font'; content: "\e000"; color: #333; right: 8px; top:6px; width:20px; padding:2px 0; position:absolute; pointer-events:none; display:inline-block }
/* [http://www.thecssninja.com/javascript/pointer-events-60fps] */
.disable-hover, .disable-hover * {pointer-events: none !important;}

/* banner for promote posting */
#banner-promotion{ width: 230px; margin-top: 20px; display:none; float: left; border:1px solid #FFBA6C; background:#FFF; border-radius:2px; color: #333; font-size: 13px; text-align: center; padding: 12px; }
#banner-promotion h3{ font-size: 22px; color:#f70; line-height: 20px; margin-bottom: 3px; }
#banner-promotion h3 span{ color:#333; font-weight: normal; font-size: 18px; }
#banner-promotion p{ font-size:14px; }
#banner-promotion a.link { display: block; padding: 10px 0 8px 0; background: #fff; border:1px solid #ccc; border-width:1px 1px 3px 1px; border-radius:2px; margin-top: 10px; line-height: 17px; }
#banner-promotion a.link strong{ font-size:14px; }
#banner-promotion a.link:hover{text-decoration:none;background:none repeat scroll 0 0 #3588BC;border-color:#29749E;color:#FFF;transition:all .2s ease 0}
#banner-promotion .posting-button{ margin-top:10px; display:block; font-size:14px; font-weight: normal; padding-top: 8px; }
#banner-promotion .posting-button strong{ font-size:18px; font-weight: normal; display: block; line-height: 18px; }
#banner-promotion .icon-cat{ display: block; overflow: hidden; height: 29px; }
#banner-promotion .icon-cat:before{ margin:auto; width:40px; font: 44px 'olx-icon-font'; line-height: 28px; }
.listing #banner-promotion{margin:20px 0;}

/* parent categories "please verify css/olx-icon-font.css" */
.icon-cat-811:before { content:'\e05d'; } /* ANIMAIS */
.icon-cat-821:before { content:'\4f'; } /* EMPREGOS E NEGÓCIOS */
.icon-cat-853:before { content:'\e054'; } /* BEBÊS E CRIANÇAS */
.icon-cat-881:before { content:'\e003'; } /* ESPORTES */
.icon-cat-806:before { content:'\e006'; } /* PARA SUA CASA */
.icon-cat-362:before { content:'\66'; } /* VEÍCULOS */
.icon-cat-815:before { content:'\e005'; } /* MODA E BELEZA */
.icon-cat-185:before { content:'\e600'; } /* MÚSICA, ARTE E LAZER */
.icon-cat-830:before { content:'\e03e'; } /* CELULARES E TABLETS */
.icon-cat-913:before { content:'\e03a'; } /* AGROPECUÁRIA */


a#posting-promotion-template{ display:none }

/*Rever*/
#footer .footer-bottom,#footer .links{background-color:#FFF!important;color:#aaa;font-size:14px;padding:10px 0}
#footer .links a{color:#aaa;font-size:14px}
#footer .links a:hover { color:#369 }
#footer > .links > a:before{padding:0 !important;margin:0 5px; content:"•";}
#footer > .links > a.alpha:before{margin:0}
.arrow-dropdown:after{display:none}
.footer-bottom{border-top:1px solid #eee;}
#footer .links .col{padding-right:0;width:230px;margin-right:15px}
#footer .links .col h5{text-shadow:none}
#footer .links .col .connect li.ico-mob:before{font:22px 'olx-icon-font';content:"D";vertical-align:middle;color:#aaa}
#footer .links .col .connect li.ico-fac:before{font:22px 'olx-icon-font';content:"\E03B";vertical-align:middle;color:#aaa}
#footer .links .col .connect li.ico-twi:before{font:22px 'olx-icon-font';content:"h";vertical-align:middle;color:#aaa}
#footer .links .col .connect li{padding:0}

.posting-footer{ background: #FFF; color:#AAA;padding:0;font-size:13px;padding:20px 0;}

.sharing{margin:40px 0 20px 0;}
.sharing-facebook,.sharing-twitter,.sharing-google{background:url(http://static03.olx-st.com/frontEnd/br/assets/images/item/big-share.png) no-repeat;text-indent:-9000px;display:inline-block;margin-right:20px;}
.sharing-facebook{background-position:0 0;width:159px;height:30px}
.sharing-facebook:hover{background-position:0 -30px}
.sharing-twitter{background-position:-159px 0;height:30px;width:138px}
.sharing-twitter:hover{background-position:-159px -30px}
.sharing-google{background-position:-297px 0;height:30px;width:143px; margin-right:0;}
.sharing-google:hover{background-position:-297px -30px}

.colorful-banner { margin:20px 0; clear: both }
.colorful-banner h2{font-size:30px;text-align: center;font-weight: bold;margin-bottom: 30px;}
.colorful-banner h2:after,.colorful-banner h2:before{content:"";width:30px;height:30px;background:url(http://static03.olx-st.com/frontEnd/br/assets/images/common/double-arrows.jpg) no-repeat}
.colorful-banner h2:after{position:absolute;background-position:-31px 0;margin:23px 0 0 22px}
.colorful-banner h2:before{position:absolute;margin:23px 0 0 -50px}
.colorful-banner .olx-ui-button{clear:both;display:block;font-size:18px;font-weight:400;padding:11px 25px!important;width:210px!important;margin:20px auto!important}
.colorful-banner .olx-ui-button:after{z-index:10;background:url(http://static03.olx-st.com/frontEnd/br/assets/images/common/gratis.png) no-repeat;content:"";display:block;height:46px;position:absolute;width:46px;margin:-39px 0 0 142px}
.colorful-banner .cat-831 .radius{background: #ff2366;}
.colorful-banner .cat-831:hover .radius{border-color:#ffbacf ;}
.colorful-banner .cat-800 .radius{background: #84d0f0;}
.colorful-banner .cat-800:hover .radius{border-color:#c3e4f2 ;}
.colorful-banner .cat-857 .radius{background: #008fd3;}
.colorful-banner .cat-857:hover .radius{border-color:#abd2e5 ;}
.colorful-banner .cat-881 .radius{background: #db3ba1;}
.colorful-banner .cat-881:hover .radius{border-color:#e5acd0 ;}
.colorful-banner .cat-817 .radius{background: #9c2181;}
.colorful-banner .cat-817:hover .radius{border-color:#d294c4 ;}
.colorful-banner .cat-802 .radius{background: #719314;}
.colorful-banner .cat-802:hover .radius{border-color:#c7dc8f ;}
.colorful-banner .cat-805 .radius{background: #00cc66;}
.colorful-banner .cat-805:hover .radius{border-color:#9ff7cb ;}
.colorful-banner .cat-806 .radius{background: #009997;}
.colorful-banner .cat-806:hover .radius{border-color:#99dad9 ;}
.colorful-banner .cat-856 .radius{background: #e56a77;}
.colorful-banner .cat-856:hover .radius{border-color:#ebbabf ;}
.colorful-banner .cat-243 .radius{ background: #761c8c;}
.colorful-banner .cat-243:hover .radius{border-color:#b986c6 ;}
.colorful-banner .icon-cat{font-size:60px}
.colorful-banner .radius{display:block;border-radius:500px;color:#FFF;border:4px solid #FFF;padding:0;width:80px;height:80px;padding-top:7px}
.colorful-banner .icons a{font-size:13px;text-align:center;width:84px;display:block;float:left;font-weight:700;margin-right:15px}
.colorful-banner .icons a.omega{margin-right: 0;}
.colorful-banner .icons a:hover{ text-decoration: none;}
.colorful-banner .icons a:hover .link{text-decoration: underline;}
#olx-tooltip{text-align:left;text-decoration:none;position:absolute;display:none;border:1px solid #bbb;background-color:#fff;padding:6px 10px;z-index:2002;margin-top:-30px;color:#666;line-height:16px;font-size:13px;}
#olx-tooltip:before{content:"";position:absolute;border-width:10px 10px 0 0;left:9px;bottom:-10px;border-style:solid;border-color:#ccc transparent;display:block;width:0}
#olx-tooltip:after{content:"";position:absolute;border-width:8px 8px 0 0;left:10px;bottom:-8px;border-style:solid;border-color:#fff transparent;display:block;width:0}
