<div class="header-session">
    <span id="my_olx_container" class="my_olx">
        <a href="http://www.olx.com.br/login.php?redirect=http%3A%2F%2Fwww.olx.com.br%2F" onclick="javascript:trackGAEvent('Myolx', 'ClickSignIn');" rel="nofollow" style="display: inline;" class="noLoggedIn">Entrar</a>  |
        <a href="/myolx/index.php?a=4&amp;x=1&amp;src=3" class="block">Meus anúncios</a>
    </span>
</div>
<div class="header">
    <a title="Anúncios grátis em Brasil, anúncios classificados em Brasil (Compra em Brasil, Venda em Brasil, Motor em Brasil, Moradia - Locais Comunidade em Brasil,...)" href="http://www.olx.com.br" class="header-logo-home">
        <img alt="Anúncios grátis em Brasil, anúncios classificados em Brasil (Compra em Brasil, Venda em Brasil, Motor em Brasil, Moradia - Locais Comunidade em Brasil,...)" src="//cdn.optimizely.com/img/400230764/f2cfea8b38f845f1958c0685eab554ad.png" style="position: relative; margin-left: -40px;">
    </a>
    <div class="header-text">Na OLX você vende e compra bicicletas, celulares, carrinhos de bebê,<br> guitarras, carros, casas, móveis e muito mais! É fácil, rápido e grátis.</div>
    <a id="post-it" href="http://www.olx.com.br/posting.php?src=8" rel="nofollow" class="header-button olx-ui-button orange">Publicar anúncio</a>
</div>