.landings_republish_view{
    
    .notification-message {
        box($greenLight, $greenBorder, 3px, 40px 20px 40px 100px, solid, 1px);

        &.icons::before {
            color: $green;
            font-size: remify(64px);
            left: 20px;
            position: absolute;
            top: 30px;
        }
    }
}
