@import 'font/font.css'

* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body, html {
    font-family: arial,helvetica,sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    outline: none;
}
ul, li {
    list-style: none;
}
.visible {
    display: block!important;
}
.hide {
	display: none!important;
}
#wrapper {
	width: 100%;
	margin: 0;
    text-align: left;
}
.btn {
	display: inline-block;
	cursor: pointer;
	background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(center top , rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)); 
	background-image: -webkit-linear-gradient(center top , rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)); 
	background-image: linear-gradient(center top , rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-align: center;
}
.btn.orange {
	background-color: #f70;
}

.clear {
	clear: both;
}
.fRight {
	float: right;
}

/*----Progres Bar----*/
#progressBar {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #FF7700;
    border-radius: 10%;
    -moz-transition: width 500ms ease-out,opacity 400ms linear;
    -ms-transition: width 500ms ease-out,opacity 400ms linear;
    -o-transition: width 500ms ease-out,opacity 400ms linear;
    -webkit-transition: width 500ms ease-out,opacity 400ms linear;
    transition: width 500ms ease-out,opacity 400ms linear;
}
#progressBar:before {
    position: absolute;
    content: '';
    top: 0;
    opacity: 1;
    width: 10%;
    right: 0px;
    height: 2px;
    box-shadow: #BD5901 1px 0 6px 2px;
    border-radius: 50%;
}

section {
	position: relative;

	&#content {
		width: 61.25rem;
		margin: 0 auto 1.25rem;

	}
}

/*section {
	position: relative;

	nav.breadcrumb {
		width: 100%;
		float: left;
		margin: 1rem 0;
		font-size: .875rem;
		color: #000;

		a {
			color: #38b;
		}

		span.arrow {

			&:before {
			    color: #000;
			    content: "";
			    display: inline-block;
			    font-family: 'olx-icon-font';
			    font-size: 15px;
			    line-height: 10px;
			    vertical-align: middle;
			}
			&.fRight:before {
				content: "";
			}
		}
		span.count {
			color: #888;
		}

		.itemPagination {
			float: right;

			p {
				margin: 0 .625rem 0 0;
				display: inline-block;
				color: #333;
			    font-size: .875rem;
			    line-height: 1.875rem;
			}
			a {
				background: none repeat scroll 0 0 #fff;
			    border: 1px solid #ccc;
			    border-radius: 0;
			    box-shadow: none;
			    height: 32px;
			    margin: 0;
			    padding: 2px 7px !important;
			    font-size: 1.313rem;
			    color: #333;

			    &:after {
			    	top: 5px;
			    	display: inline-block;
			    }

	    		&.left {
	    			border-bottom-left-radius: 3px;
	    			border-top-left-radius: 3px;
	    			border-right: none;

	    			&:after {
	    				content: "";
	    			}
	    		}
	    		&.right {
	    			border-bottom-right-radius: 3px;
	    			border-top-right-radius: 3px;

	    			&:after {
	    				content: "";
	    			}
	    		}
	    		&.disable {
	    			color: #888;
	    		}
			}
		}
	}
	
	h1, h2 {
		color: #333;
	}
	h1 {
		padding: .625rem 0 .125rem 1.25rem;
        font-size: 1.875rem;
	}
	> h2 {
		padding: 0 0 .125rem 1.25rem;
        font-size: 1.625rem;
        font-weight: normal;
	}
	> p {
        padding: 0 1.25rem;
        font-size: .8125rem;
    }
}



/*----Icons----*/
.icons:before, .icons:after {
	display: inline-block;
    font-family: 'olx-icon-font';
    vertical-align: middle;
    font-weight: normal;
}
/*
.icon-cat-811:before, .icon-cat-812:before {
content:'\e05d';
}

.icon-cat-821:before, .icon-cat-822:before {
content:'\4f';
}

.icon-cat-853:before {
content:'\e054';
}

.icon-cat-881:before, .icon-cat-882:before {
content:'\e003';
}

.icon-cat-806:before, .icon-cat-807:before {
content:'\e006';
}
.icon-cat-362:before, .icon-cat-378:before {
content:'\66';
}

.icon-cat-815:before {
content:'\e005';
}

.icon-cat-185:before {
content:'\e600';
}

.icon-cat-830:before {
content:'\e03e';
}

.icon-cat-913:before {
content:'\e03a';
}
.icon-cat-800:before {
content:"\e60d";
}

.icon-cat-884:before {
content:"\e60e";
}

.icon-cat-377:before {
content:"\e60f";
}

.icon-cat-907:before {
content:"\e610";
}

.icon-cat-820:before {
content:"\e611";
}

.icon-cat-880:before {
content:"\e612";
}

.icon-cat-854:before {
content:"\e613";
}

.icon-cat-909:before {
content:"\e614";
}

.icon-cat-879:before {
content:"\e615";
}

.icon-cat-819:before {
content:"\e616";
}

.icon-cat-808:before {
content:"\e617";
}

.icon-uniE618:before {
content:"\e618";
}

.icon-uniE619:before {
content:"\e619";
}

.icon-uniE61A:before {
content:"\e61a";
}

.icon-cat-885:before {
content:"\e61b";
}

.icon-cat-416:before {
content:"\e61c";
}

.icon-cat-379:before {
content:"\e61d";
}

.icon-cat-813:before {
content:"\e61e";
}

.icon-cat-809:before {
content:"\e61f";
}

.icon-cat-814:before {
content:"\e620";
}

.icon-cat-855:before {
content:"\e621";
}

.icon-cat-883:before {
content:"\e622";
}

.icon-cat-214:before {
content:"\e623";
}

.icon-cat-832:before {
content:"\e624";
}

.icon-uniE625:before {
content:"\e625";
}

.icon-cat-376:before {
content:"\e626";
}

.icon-cat-211:before {
content:"\e627";
}

.icon-cat-415:before {
content:"\e628";
}

.icon-cat-410:before {
content:"\e629";
}

.icon-cat-388:before {
content:"\e62a";
}

.icon-cat-16:before, .icon-cat-368:before {
content:"\e62b";
}

.icon-cat-367:before {
content:"\e62c";
}

.icon-cat-363:before {
content:"\e62d";
}

.icon-cat-301:before {
content:"\e62e";
}
.icon-cat-831:before{	
	content: "\e051";
}
.icon-cat-857:before{	
	content: "\e03e";
}
.icon-cat-817:before{	
	content: "";
}
.icon-cat-802:before{	
	content: "F";
}
.icon-cat-805:before{
	content: "";
}
.icon-cat-856:before {
    content: "";
}
.icon-cat-243:before {
    content: "";
}
.icon-cat-908:before {
    content: "";
}
.icon-cat-914:before {
    content: "";
}
.icon-cat-915:before {
    content: "";
}
.icon-cat-916:before {
    content: "";
}
.icon-cat-917:before {
    content: "";
}
.icon-cat-803:before {
    content: "v";
}
.icon-cat-804:before {
    content: "z";
}
.icon-cat-818:before {
    content: "";
}
.icon-cat-816:before {
    content: "";
}
.icon-cat-824:before {
    content: "o";
}
.icon-cat-825:before {
    content: "Q";
}
.icon-cat-823:before {
    content: "P";
}
.icon-arrow:before {
    content: "";
}
*/