@import 'helpers/normalize.css';
a {
	color: #38b;
	display: inline-block;
	outline: none;
	text-decoration: none;
	vertical-align: middle;

	&:hover {
		color: #369;
		text-decoration: underline;
	}
}

body {
	background: #fafafa;
	font-family: arial, helvetica, sans-serif;
}

html {
	font-size: $baseFont;
}

input::-webkit-input-placeholder {
   color: #999;
}

input::-moz-placeholder {
   color: #999;
}

input:-ms-input-placeholder {
   color: #999;
}

main {
    clear-fix();
}

#progressBar {
    background: #FF7700;
    border-radius: 10%;
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    transition(width 500ms ease-out,opacity 400ms linear);
    width: 0%;
    z-index: 999999;
}

.noscroll{
    overflow: hidden;
}
.hide {
    display: none;
}
.posting {
	border-radius();
	action-button($orange, #fff, 3px, 15px 30px);
	font-size: $l;
	font-weight: bold;
	line-height: 1;
}

.search-form {
	fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}
	.button,
	.text-field {
		display: inline-block;
		vertical-align: middle;
	}
	.button {
		action-button($green, #fff, 0 3px 3px 0, 0);
		border: none;
		font-size: $xxl;
		height: 40px;
		line-height: 1;
		width: 40px;
	}
	.text-field {
		border-color: $green;
		border-radius(3px 0 0 3px);
		&:focus {
	    	border-color: $green;
	    	box-shadow(0 0 1px 1px rgba(0,0,0,.1));
	    	color: #000;
	    }
	}
}

.text-field {
	border-color: #ccc;
	border-radius();
	border-style: solid;
	border-width: 1px;
	color: #ccc;
	font-size: $s;
	line-height: 1;
	padding: 0 10px;
    height: 36px;
    &:focus {
    	border-color: #999;
    	box-shadow(0 0 1px 1px rgba(0,0,0,.1));
    	color: #000;
    }
}

.title-module {
	font-size: $m;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

.wrapper-main {
	margin: auto;
	max-width: 980px;
}
