@import 'helpers/normalize.styl';
@import 'helpers/animations.css';
a {
    color: $blue;
    outline: none;
    text-decoration: none;
    &:hover {
        color: #369;
        text-decoration: underline;
    }
}

body {
    background: $greyPageBg;
    font-family: arial, helvetica, sans-serif;
}

html {
    font-size: $baseFont;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $greyStrong;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

main {
    clear-fix();
}
