{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, category.name) }}
<div id="itemListing">
    <ul class="itemListing">
        {% for item in items %}
            <li>
                <a href="/{{ item | slugToUrl | link }}">
                    <div class="imageCont">
                        <div class="imageContAlign">
                            <img alt="" src="{{ item.thumbnail if item.thumbnail else ('/images/html4/noPhoto.png' | static) }}" {{ "class='noPhoto'" if not item.thumbnail }}>
                        </div>
                    </div>
                </a>
                <div class="itemInfo">
                    <h2>{{ item.price.displayPrice }}</h2>
                    <span>{{ item.date.since }}</span>
                    <div class="centerCont">
                        <a href="/{{ item | slugToUrl | link }}">
                            <p>{{ item.title }}</p>
                        </a>
                    </div>
                    <span>{{ item.displayLocation }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if metadata.next or metadata.previous %}
        <div id="itemPagination">
            <a href="{{ (metadata.previous | link) if metadata.previous }}" class="arrow {{ "leftA" if metadata.previous else "leftD" }}"></a>
            <div class="center">
                {{ metadata | pagination }}
            </div>
            <a href="{{ (metadata.next | link) if metadata.next }}" class="arrow {{ "rightA" if metadata.next else "rightD" }}"></a>
        </div>
        <div id="itemPaginationCaption">
            {{ "<a href='' class='left'>Anterior</a>" if metadata.previous }}
            {{ "<a href='' class='right'>Siguiente</a>" if metadata.next }}
        </div>
    {% endif %}

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link) }}
