{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, category.name) }}
<div id="itemListing">
    {% if metadata.total == 0 %}
        <div class="emtyList">
            {% if location.current.name %}
                {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>',category.name) | replace('<<REGION>>',location.current.name)}}
            {% else %}
                {{ dictionary["listingpageitemslisting.ZeroResultsPage"] | replace('<<CATEGORY>>',category.name) | replace('<<REGION>>',location.name)}}
            {% endif %}
        </div>
    {% else %}
        <ul class="itemListing">
            {% for item in items %}
                <li>
                    <a href="/{{ item | slugToUrl | link }}">
                        <div class="imageCont" style="background-image: url({{ item.thumbnail if item.thumbnail else ('/images/html4/noPhoto.png' | static) }});"></div>
                    </a>
                    <div class="itemInfo">
                        <h2>{{ item.price.displayPrice }}</h2>
                        <span>{{ dictionary[item.date.since] }}
                            {% if item.displayLocation %}
                                {{ dictionary["crm_new_version.RenameCategory_3"] }} {{ item.displayLocation }}
                            {% endif %}
                        </span>
                        <div class="centerCont">
                            <a href="/{{ item | slugToUrl | link }}">
                                <p>{{ item.title }}</p>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if metadata.next or metadata.previous %}
            <div id="itemPagination">
                <a href="{{ (metadata.previous | link) if metadata.previous else '#' }}" class="arrow {{ "leftA" if metadata.previous else "leftD" }}"></a>
                <div class="center">
                    {{ metadata | pagination }}
                </div>
                <a href="{{ (metadata.next | link) if metadata.next else '#' }}" class="arrow {{ "rightA" if metadata.next else "rightD" }}"></a>
            </div>
            <div id="itemPaginationCaption">
                {{ ["<a href='' class='left'>", dictionary["itemslisting.Previous"], "</a>"] | join('') if metadata.previous }}
                {{ ["<a href='' class='right'>", dictionary["itemslisting.Next"], "</a>"] | join('') if metadata.next }}
            </div>
        {% endif %}
    {% endif %}

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link) }}
