{% from macros import Breadcrumb, BreadcrumbHome, Errors %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["contactseller_form.ReplyToThisAd"]) }}
{% if form and form.errors %}{{ Errors(form.errors) }}{% endif %}
<div id="reply">
    <form action="{{ ['/items/', item.id, '/reply'] | join('') | link }}" method="POST" enctype="multipart/form-data">
        <h4>{{ item.title }}</h4>
        <div class="formField">
            <label>{{ dictionary["contactseller_form.55"] }} {{ item.contactName if item.contactName else "anonymous" }}</label>
        </div>
        <div class="formField">
            <label>* {{ dictionary["replymessage.Message"] }}</label>
            <textarea name="message"></textarea>
        </div>
        <div class="formField">
            <label>* {{ dictionary["replymessage.Name"] }}</label>
            <input type="text" name="name" value="{{ user.username if user.username }}">
        </div>
        <div class="formField">
            <label>* {{ dictionary["replymessage.Email"] }}</label>
            <input type="text" name="email" value="{{ user.email if user.email }}" >
        </div>
        <div class="formField">
            <label>{{ dictionary["itemgeneraldetails.Phone"] }}</label>
            <input type="text" name="phone" value="">
        </div>
        <div class="formField">
            <small>* {{ dictionary["wap_posting_step4.mandatoryField"] }}</small>
        </div>
        <div class="formActions">
            <div class="btn-adjust btnOrange btnForm">
                <input type="submit" value="{{ dictionary["contactseller_form.60"] }}" name="submit" class="btns orange">
            </div>
        </div>
    </form>

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link) }}
