{% from macros import breadcrumb, breadcrumbHome %}
{% set link = (referer | breadcrumb | link) %}
{{ breadcrumb(dictionary, link, item.category.name) }}
<div id="itemPage">
    {% if item.status.visible %}
        <h1>{{ item.title }}</h1>
        {% if item.isFavorite %}
            <form action="{{ ['/items/', item.id, '/favorite/delete'] | join('') | link }}" >
                <input type="submit" value="[mobilepromo.RemoveFromFavorites]" class="favorite favoriteOn" />
            </form>
        {% elif user %}
            <form action="{{ ['/items/', item.id, '/favorite'] | join('') | link }}" >
                <input type="submit" value="[itemgeneraldetails.addFavorites]" class="favorite favoriteOff" />
            </form>
        {% else %}
            <form action="{{ '/register' | link }}">
                <input type="submit" value="[itemgeneraldetails.addFavorites]" class="favorite favoriteOff" />
            </form>
        {% endif %}
        <h2>{{ item.price.displayPrice if item.price.displayPrice else "" }}</h2>
        <span>{{ item.date.timestamp | date }}, {{ item.location.cityName }}</span>
        <div id="itemPhotos">
            {% if item.images.length == 0 %}
                <span>({{ dictionary[itemgeneraldetails.NoPicture] }})</span>
            {% elif item.images.length == 1 %}
                <a href="/{{ [item | slugToUrl, '/galery'] | join('') | link }}">
                    <div class="arrow"></div>
                    <img alt="" src="{{item.images[0].url | static }}">
                </a>
            {% else %}
                <a href="/{{ [item | slugToUrl, '/galery?pos='+pos] | join('') | link }}">
                    <div class="arrow"></div>
                    <img alt="" src="{{item.images[pos].url | static }}">
                </a>
                <div id="galeryPagination">
                    <a href="?pos={{ pos if pos == 0 else pos - 1 }}" class="arrow {{ "leftD" if pos == 0 else "leftA" }}"></a>
                    <div class="center"><strong>{{ pos + 1 }}/{{ item.images.length }}</strong></div>
                    <a href="?pos={{ pos if pos + 1 == item.images.length else pos + 1 }}" class="arrow {{ "rightD" if pos + 1 == item.images.length else "rightA" }}"></a>
                </div>
            {% endif %}
        </div>

        <h3>{{ dictionary[mybids.ContactSeller] }}</h3>

        <div id="centerBtns">
            {% if item.phone %}
                {% if device.uriSchemeTel %}
                    <a href="tel:{{ item.phone }}" class="btns orange">{{ dictionary["misc.Call"] }}</a>
                {% endif %}
                {% if device.uriSchemeSms %}
                    <a href="sms:{{ item.phone }}" class="btns orange">{{ dictionary["itempagepostcomment.Sms"] }}</a>
                {% endif %}
            {% endif %}
            <a href="{{ ['/iid-', item.id, '/reply'] | join('') | link }}" class="btns orange">{{ dictionary["register_mail.Email"] }}</a>
        </div>
        {% if item.phone %}
            <div id="phone">
                <img alt="" src="{{ "/images/html4/phone.png" | static }}">
                <span>{{ item.phone }}</span>
            </div>
        {% endif %}
        <div class="line"></div>

        <ul>
            {% if item.optionals %}
                {% for optional in item.optionals %}
                    {% if optional.value %}
                        <li><strong>{{ optional.label }}: </strong>{{ optional.value }}</li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if item.coordinates %}
                <li><strong>Mapa: </strong><a href="url-para-el-mapa/{{ item.id }}?latitude={{ item.coordinates.latitude }}&longitude={{ item.coordinates.longitude }}">{{ dictionary["item.ViewBiggerMap"] }}</a></li>
            {% endif %}
        </ul>

        <h3>{{ dictionary["itemgeneraldetails.Description"] }}</h3>

        <p>{{ item.description }}</p>

        <div class="line"></div>

        <div id="centerBtns">
            <a href="{{ relatedAdsLink | link }}" class="btns grey">{{ dictionary["itemgeneraldetails.OtherRelatedListings"] }}</a>
        </div>
    {% else %}
        <div id="itemDisable">{{ dictionary["item.ThisAdIsNoLongerAvailable"] }}</div>
    {% endif %}

    {% set templateName = 'compiled/' + template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ breadcrumbHome(dictionary, link) }}
