.users_createpassword_view {
    #createPassword {
        p {
            padding: 20px;
        }

        .formField {
            label {
                padding-top: 10px;
            }
        }
    }
}