.users_lostpassword_view {
    .formField {
        padding: 20px 20px;
        clear: both;
        overflow: hidden;

        p {
            margin-bottom: 20px;
        }

        .formActions {
            padding: 20px 0 20px 0;
        }
    }
    .notification-message {
        box($lightBlue, $lightBlueBorder, 3px, 20px, solid, 1px);
    }
}