.users_myolx_view {
    .normalList {
        padding: 0;

        li {
            background-color: #452a78;
            border-color: #26075f;
            color: #ffffff;
            font-size: 14px;
            padding: 0 10px;

            &.email {
                background-color: #26075f;
                border: none;
                padding: 4px 10px;
                font-weight: bold;
            }
            a {
                color: #ffffff;
            }
        }
    }
}
