<div class="appStores">
    <div class="container-stores">
        <a class="google-play" href="#" rel="nofollow">
            <img alt="google-play" src="{{ '/images/common/marketing/googleplay_big.gif' | static }}" />
        </a>
        <a class="app-store" href="#" rel="nofollow">
            <img alt="app-store" src="{{ '/images/common/marketing/appstore_big.gif' | static }}" />
        </a>
    </div>
    <p class="icons icon-sketchyarrow">{{ dictionary["about.Download_Mob"] }}</p>
</div>
