<div class="appStores">
    <div class="container-stores">
        <a class="google-play" href="#">
            <img alt="google-play" src="{{ '/images/common/marketing/googleplay_big.gif' | static }}" />
        </a>
        <a class="app-store" href="#">
            <img alt="app-store" src="{{ '/images/common/marketing/appstore_big.gif' | static }}" />
        </a>
    </div>
    <p class="icons icon-sketchyarrowright">Descargar Gratís<span class="icons icon-sketchyarrowleft"></span></p>
</div>
