{% if marketing.home_block_banner_image.link %}
	{% set link = marketing.home_block_banner_image.link %}
{% else %}
	{% set link = '/posting' %}
{% endif %}
<div class="marketing-box-sell marketing-box-sell-ar language-{{ selectedLanguage }}" data-increment-metric="dgd.home.banner">
    <p class="title">{{ dictionary["misc.Sell-Unused"] }}</p>
    <p class="subtitle">{{ dictionary["misc.Free-NoCommission"] }}</p>
    <a href="{{ link | link }}" rel="nofollow">
    	<img src="{{ ('/images/desktop/marketing/home-banner/' + marketing.home_block_banner_image.image + '.png') | static }}" class="image">
    </a>
</div>