<div class="marketing-box-sell language-{{ selectedLanguage }}" data-increment-metric="dgd.home.banner">
    <p class="title">{{ dictionary["misc.Sell-Unused"] }}</p>
    <p class="subtitle">{{ dictionary["misc.Free-NoCommission"] }}</p>
    <span class="stuff"></span>
    <div class="description">
        <div class="icons icon-time">
            <p>{{ dictionary["misc.LessThan2"] }}</p>
        </div>
        <div class="icons icon-envelope">
            <p>{{ dictionary["misc.JustEmail"] }}</p>
        </div>
        <div class="icons icon-chat">
            <p>{{ dictionary["misc.AgreeWithBuyer"] }}</p>
        </div>
    </div>
</div>
