.landings_republish_view{
    
    .notification-message {
        box($greenLight, $greenBorder, 3px, 20px, solid, 1px);

        .icon-check {
            background-image: url(imageUrl/images/html5/icon-check.png);
            display: inline-block;
            height: 36px;
            width: 36px;
        }
    }
}
