<div id="contact" class="help-content-display" {{ 'style="display:block"' if tab == 'contact' }}>
    <h3 class="title">{{ dictionary["contact_us.ContactBrand"] | replace('<<BRAND>>','OLX') }}</h3>
    <div class="contact">
        <p>{{ dictionary["supportform.FillForm"] }}</p>
        <form id="contactForm" data-contact-form action="">
            <fieldset>
                <label for="area">{{ dictionary["supportform.Department"] }}</label>
                <select name="area">
                    <option value="support">{{ dictionary["contact_us.ContactSupportTeam"] }}</option>
                    <option value="partnership">{{ dictionary["contact_us.ContactPartnership"] }}</option>
                    <option value="press">{{ dictionary["contact_us.ContactPress"] }}</option>
                    <option value="mobile">{{ dictionary["contact_us.ContactMobileAdvertising"] }}</option>
                    <option value="legal">{{ dictionary["contact_us.ContactLegalIssues"] }}</option>
                    <option value="feeds">{{ dictionary["contact_us.ContactFeedSupport"] | replace('<<BRAND>>','OLX') }}</option>
                </select>
                <span class="error hide subject"></span>
            </fieldset>
            <fieldset>
                <label for="subject">{{ dictionary["supportform.Subject"] }}</label>
                <input type="text" name="subject" value="" maxlength="200">
                <span class="error hide subject"></span>
            </fieldset>
            <fieldset>
                <label for="name">{{ dictionary["itemcomments.CommentsFormName"] }}</label>
                <input type="text" name="name" value="" maxlength="200">
                <span class="error hide name"></span>
            </fieldset>
            <fieldset>
                <label for="email">{{ dictionary["messages_item_page.CommentsFormEmail"] }}</label>
                <input type="text" name="email" value="" maxlength="200">
                <span class="icons icon-lock notification">{{ dictionary["lostform.PleaseEnterTheEmailAddressYouUsedToRegisterOnBrand"] }}</span>
                <span class="error hide email"></span>
            </fieldset>
            <fieldset>
                <label for="message">{{ dictionary["supportform.Message"] }}</label>
                <textarea name="message" cols="30" rows="6"></textarea>
                <span class="error hide message"></span>
            </fieldset>
            <div class="verification" data-captcha-verification>
                <p class="label">{{ dictionary["supportform.VerificationCode"] }}</p>
                <div class="g-recaptcha" data-callback data-sitekey="6LcjQf8SAAAAAEOXFJQiVtou5CmhFq5B4nopsbtN"></div>
                <span class="error hide message"></span>
            </div>

            <span class="spinner hide"></span>

            <fieldset data-submit >
                <label for="submit">
                    <input type="submit" value="{{ dictionary["supportform.Submit"] }}" >
                </label>
            </fieldset>
            <p class="replyResult fail icons icon-close hide" data-reply="error" >
                {{ dictionary["buynow.FatalError"] }}
                <span>{{ dictionary["postingerror.PleaseTryAgain"] }}</span>
            </p>
             <p class="replyResult success icons icon-check hide" data-reply="success" >
                 {{ dictionary["item.YourMessageHasBeenSent"] }}
                 <span>{{ dictionary["replymessage.SendAnotherMessage"] }} </span>
             </p>
        </form>
    </div>
</div>