<div class="help-navigation">
    <h3>Necesita ayuda</h3>
    <ul>
        <li class="selected">
            <a class="help-toggle-content" data-help-content="new-olx" href="#"><span class="icons icon-user"></span>Nuevo en OLX</a>
        </li>
        <li>
            <a class="help-toggle-content" data-help-content="ads" href="#"><span class="icons icon-listview"></span>Anucios</a>
        </li>
        <li>
            <a class="help-toggle-content" data-help-content="faqs" href="#"><span class="icons icon-question"></span>Preguntas frecuentes</a>
        </li>
        <li class="">
            <a class="help-toggle-content" data-help-content="more-suggestions" href="#"><span class="icons icon-more"></span>Mas sugerencias</a>
        </li>
    </ul>
</div>
<div class="help-content">
    <div id="new-olx" class="help-content-display">
        <h3>Nuevo en OLX</h3>
        <div class="faqs">
            <div class="question">
                <h4 class="icons icon-arrowright">¿Qué es OLX?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        OLX es el mercado en línea del mundo para comprar y vender localmente, intercambiar y comunicarse con otros usuarios.
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Es GRATIS OLX?</h4>
                <div class="question-content" style="display:none;">
                    <p>¡Si, OLX es 100% gratis!</p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Debo registrarme para usar OLX?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        No. Puedes navegar el sitio y publicar avisos sin registrarte. Registrarse en OLX es GRATUITO y muy simple:
                    </p>
                    <ol>
                        <li>Haz click en "Registrarte" y completa la información básica de contacto.</li>
                        <li>¡Ya estás registrado en OLX!</li>
                        <li>OLX te enviará un email con un link e instrucciones para confirmar tu registro.</li>
                    </ol>
                    <p>
                        Una vez que tengas una cuenta de OLX, puedes administrar tus avisos e información personal incluso más fácilmente desde la sección "Mi OLX" del sitio.
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Cómo busco un aviso en OLX?</h4>
                <div class="question-content" style="display:none;">
                <p>
                    Puedes navegar los listados cuando no estás seguro de lo que buscas o cuando simplemente quieres ver la variedad de avisos de OLX o de una categoría en particular. Haz click sobre las categorías y las subcategorías y, si encuentras un aviso en el que estás interesado, simplemente haz click en el título del aviso.
                </p>
                <p>
                    También puedes buscar avisos específicos usando algunas palabras que los describan. En este caso, ingresa las palabras que desciben el aviso que buscas en el campo de búsqueda y haz click en el botón de búsqueda o con forma de lupa. Verás una página de resultados con avisos de OLX que contienen las palabras que usaste para realizar la búsqueda. Recorre esos resultados y si algún aviso te interesa, haz click en su título. 
                </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Qué es Mi OLX?</h4>
                <div class="question-content" style="display:none;">
                    <p>Con Mi OLX, puedes seguir y administrar tus avisos, compras, ventas, datos personales, informaciones de OLX, mensajes, favoritos y mucho más desde un único lugar seguro. </p>
                </div>
            </div>
           
        </div>
    </div>
    <div id="ads" class="help-content-display" style="display: none;">
        <h3>Anuncios</h3>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Cómo publico un aviso en OLX?</h4>
            <div class="question-content" style="display:none;">
                <p>
                    - Haz clic en el botón "Publica un aviso gratis".
                </p>
                <p>
                    - Si todavía no tienes una cuenta y no deseas registrarte, simplemente selecciona la localidad, la categoría y subcategoría donde aparecerá tu aviso y estarás listo para publicarlo. También puedes registrarte y obtener una cuenta de OLX, solo tendrás que indicar la información básica de contacto. Luego te pediremos que subas fotos y que proporciones un título y una descripción de tu aviso.
                </p>
                <p>    
                    - Este proceso de registro es muy breve y nada más terminar podrás publicar avisos.
                </p>
                <p>
                    - Si ya tienes una cuenta en OLX, simplemente inicia la sesión y sigue el proceso.
                </p>
                <p>
                    - Publicar en OLX es GRATIS.
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Cómo agrego una imagen?</h4>
            <div class="question-content" style="display:none;">
                <p>
                    En el formulario de publicación, debajo del título del aviso, encontrará un botón que te permitirá añadir una o más fotos. Si pulsas sobre "Seleccionar fotos", 
                    aparecerá una ventana que te permitirá seleccionar archivos de tu equipo. Selecciona el archivo con la imagen que quieras subir y pulsa "Aceptar". 
                    De esta forma se subirá la foto a tu aviso. Para subir más imágenes, pulsa sobre el botón "Explorar". La imagen que subas en primer lugar será la imagen principal
                     de tu aviso y aparecerá junto al título del aviso en la categoría correspondiente. El proceso de subir fotos en OLX es fácil y sencillo, puedes subir hasta 20 (veinte) 
                     fotos en cada aviso. Cuanto menos pese la foto más rápido se cargará. Recomendamos que las fotos no pesen más de 200 kb. Hemos notado que los avisos con fotos 
                     reciben más respuestas que los avisos sin ellas. Subir fotos a OLX es GRATIS. 
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Cómo edito un aviso?</h4>
            <div class="question-content" style="display:none;">
                <p>
                   Si tienes una cuenta en OLX podrás editar tus avisos mediante la opción "Avisos activos" en la sección Mi OLX del sitio. Selecciona el artículo y pulsa sobre el botón "Editar". Cuando hayas hecho y aprobado los cambios se actualizarán inmediatamente. Puedes repetir este proceso todas las veces que quieras. Si todavía no tienes una cuenta en OLX, podrás acceder a las mismas funciones a través del enlace que aparece en el email de confirmación que recibirás cada vez que publiques un aviso en el sitio, y mediante el botón editar en la página que indica que se ha completado con éxito el proceso de publicación. 
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Cómo cambio una foto o imagen?</h4>
            <div class="question-content" style="display:none;">
                <p>
                    Puedes editar una imagen siguiendo los pasos para modificar un aviso. Cuando estés en la página de edición, ve a la sección Fotos, haz click en "Quitar esta foto" para eliminarla y luego en "Agregar otra foto" para agregar una nueva imagen. 
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Durante cuánto tiempo aparecerá mi aviso en OLX?</h4>
            <div class="question-content" style="display:none;">
                <p>
                    Actualmente los avisos en OLX caducan a los 180 días. Elimine el aviso manualmente si ya no necesita publicarlo. Publique un nuevo aviso si desea continuar ofreciendo su item o servicio luego de que el aviso haya caducado. 
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Cómo elimino mi aviso?</h4>
            <div class="question-content" style="display:none;">
                <p>
                    Si tienes una cuenta de OLX y vendiste tu producto o simplemente deseas dejar de publicarlo, puedes hacerlo a través de la opción \'Avisos Activos\' en la sección Mi OLX del sitio. Haz click en la cajita a la izquierda del aviso o avisos que deseas dejar de publicar y luego haz click en el botón ‘Eliminar los avisos seleccionados’. Si todavía no tienes una cuenta en OLX, puedes acceder a la misma funcionalidad usando el link dentro del email de confirmación recibido al publicar el aviso en el sitio. 
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Cómo puedo guardar un aviso para recuperarlo más tarde?</h4>
            <div class="question-content" style="display:none;">
                <p>
                    Ve al aviso que te interesa y haz click en "Agregar a Favoritos" para realizarle seguimiento. 
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Cómo comparto mi aviso en Facebook/Twitter/etc?</h4>
            <div class="question-content" style="display:none;">
                <p>
                    Ve a la página del aviso. Debajo del texto hay una columna llamada "Comparte este aviso”. Debajo hay una lista de aplicaciones en dónde puedes compartir tu aviso tan solo haciendo click sobre ellas: Facebook, Twitter, y correo electrónico entre muchas otras.
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">¿Puedo incluir información personal de contacto en mis avisos?</h4>
            <div class="question-content" style="display:none;">
                <p>
                    Sí. Puedes incluir información personal de contacto en tus avisos.
                </p>
            </div>
        </div>
    </div>

    <div id="faqs" class="help-content-display" style="display: none;">
        <h3>Preguntas Generales</h3>
        <div class="faqs">
            <div class="question">
                <h4 class="icons icon-arrowright">¿Qué son avisos clasificados?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        En los avisos clasificados, los compradores siempre contactan al vendedor para negociar, incluso cuando el vendedor publica un precio. 
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Cómo cambio la información de mi registración?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        Si tienes una cuenta de OLX, ingresa a "Mi OLX" haciendo click en el link Mi OLX ubicado en la parte superior derecha de la página principal de OLX y escribe tu nombre de usuario y contraseña. Verás una página con tus avisos activos. Busca la sección "Configuraciones". Debajo encontrarás el link "Cambiar dirección de email o contraseña”, haz click sobre el mismo e ingresarás a una página donde puedes editar tu información personal, incluyendo el email y la contraseña. 
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Cómo reviso mis mensajes?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        Hay dos formas de leer mensajes cuando tienes una cuenta en OLX. La primera es iniciar sesión en Mi OLX. Cuando estés en la pantalla de Mi OLX, busca el título "Mensajes". Debajo habrá un link que te llevará a la bandeja de entrada, donde podrás ver todos los mensajes que has recibido en tus avisos. Si haces clic en el mensaje, podrás ver el mensaje completo, y tendrás la opción de responder. El segundo método es respondiendo directamente al mensaje que recibiste en tu cuenta personal de correo electrónico.
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Cómo contesto un mensaje consultando por mi aviso?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        Existen dos formas de responder un email que te enviaron por uno de tus avisos. Si tienes una cuenta de OLX, puedes responder fácilmente a través de Mi OLX < Mis Mensajes. Al seleccionar y abrir el mensaje, verás una cajita en la pantalla para ingresar tu respuesta. O puedes responder al email directamente. Si no tienes una cuenta de OLX, puedes ir a Mi OLX y a Mis Mensajes haciendo click en el link del primer email que recibiste al publicar tu aviso o puedes responder directamente desde tu cuenta de email.
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">Como comprador, ¿cómo contacto a un vendedor?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        contacto incluyendo tu dirección de correo electrónico y el mensaje que quieres enviarle al vendedor y luego presiona "Enviar".
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Cómo puedo asociarme con OLX?</h4>
                <div class="question-content" style="display:none;">
                    <p>    
                        Si tienes varios avisos y quieres publicarlos en OLX, puedes hacerlo en los formatos XML o CSV. Los publicaremos gratuitamente y estos avisos se actualizarán regularmente. Puedes encontrar información detallada en <a href="http://www.olx.com.bo/feeds/specifications.html">http://www.olx.com.bo/feeds/specifications.html</a>
                        Póngase en contacto con el <a href="contacts.php?fv[contact]=ContactLegalIssues">Departamento de asociación</a> donde le informarán sobre cómo configurar su listado de avisos (feed).
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div id="more-suggestions" class="help-content-display" style="display: none;">
        <h3>Más Sugerencias</h3>
        <div class="faqs">
            <div class="question">
                <h4 class="icons icon-arrowright">¿Qué cosas hacen los vendedores potencialmente fraudulentos?</h4>
                <div class="question-content" style="display:none;">
                    <ul>
                        <li>Pedirán que envíes dinero a sus cuentas internacionales. El vendedor puede pedir que envíes dinero al exterior y aceptar sólo Western Union o algún otro servicio de envío o transferencia de dinero (e-Gold).</li>
                        <li>Darán una dirección distinta a la indicada en la página con los detalles del producto.</li>
                        <li>Recomendarán servicios de pagos o de envío de dinero o de depósitos en garantía desconocidos.</li>
                        <li>No serán honestos sobre la autenticidad de sus productos en venta.</li>
                        <li>No proveerán un número de teléfono verificable o rastreable.</li>
                        <li>Tratarán de convercerta para que no uses servicios de pago que ofrezcan protección (servicios conocidos y aceptables como PayPal, Escrow.com, etc.).</li>
                        <li>En general no contestarán tus llamados telefónicos ni tus emails en varias ocasiones.</li>
                        <li>Continuamente te darán excusas de por qué no recibiste el artículo.</li>
                        <li>Venderán copias sospechas de software, música, videos, etc.</li>
                        <li>Se negarán a darte un número de seguimiento de envíos válido.</li>
                        <li>Venderán productos caros y populares a precios sospechosamente bajos.</li>
                    </ul>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Qué puedo hacer si sospecho de un vendedor fraudulento?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        Si sospechas que un aviso del sitio es falso o fraudulento, por favor contáctanos a través de <a href="contacts.php?fv[contact]=ContactLegalIssues">Asuntos Legales</a> 
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Cómo puedo evitar un fraude?</h4>
                <div class="question-content" style="display:none;">
                        <p>
                            En OLX, creemos que la compra de artículos publicados en tu zona - donde puedes ver y evaluar el artículo, encontrarte con el vendedor y pagar al momento de la entrega - es la manera más segura y recomendable de operar. Con respecto a la compra de artículos nacionales o internacionales, recomendamos firmemente tomar, como mínimo, las siguientes medidas para protegerse de los vendedores fraudulentos:
                        </p>
                        <ul>
                            <li>Utiliza siempre el sistema de OLX
                                <br>Para comunicarte con los vendedores de OLX siempre utiliza el botón  "Responder a este aviso" en la página que brinda detalles del aviso. Se enviará un email al vendedor con tu dirección de email y todas las operaciones tendrán lugar directamente entre tú y el vendedor a través de nuestro sistema. De esta manera, si se nos notifica de una actividad fraudulenta relacionada con el vendedor, tendremos tus datos para contactarte y brindarte mayor información. Debido a que nuestro mercado es siempre gratuito, debemos desalentar el mantener comunicaciones fuera de línea. 
                            </li>
                            <li>Conoce e infórmate sobre lo que estás comprando.
                                <br>Antes de hacerle una oferta al vendedor, pregúntale lo necesario para saber más acerca de lo que te está vendiendo. Puedes enviarle al vendedor comentarios y mensajes anteriores a la venta, luego hacer una oferta una vez que te sientas seguro de comprar el artículo. También te recomendamos comparar los precios minoristas y los precios de otros vendedores del sitio. Recuerda, si el precio es demasiado bueno para ser cierto, posiblemente sea un fraude. Debes ser especialmente cuidadoso al comprar artículos de alta tecnología, sobre todo cuando los precios son mucho más bajos que los precios de distribuidores o los precios del gremio. Algunos artículos de alta tecnología como monitores planos, computadoras, notebooks, netbooks y teléfonos celulares son los artículos más comunes de los estafadores. En muchos casos, es adecuado solicitar el número de serie antes de enviar el dinero.
                            </li>
                            <li>Solicítale a los vendedores su dirección y número de teléfono
                                <br>Una vez que hayas negociado el precio y hayas decidido comprar el artículo,  solicítale al vendedor su número telefónico y llámalo a distintos horarios para asegurarte de que reciben tus llamados. Los vendedores honestos deberían poder brindarte esta información. Contar con un vendedor que tiene un número telefónico registrado, hará que ese vendedor resulte más fácil de encontrar y, por ende, habrá menos posibilidades de que sea fraudulento.
                            </li>
                            <li> Utiliza un método de pago con protección contra fraudes.
                                <br>Recomendamos fuertemente NO HACER envíos de dinero a través de transferencias bancarias.  Muchos vendedores fraudulentos aceptan únicamente dinero a través de transferencias, Money Gram o transferencias similares debido a que los compradores no pueden recuperar su dinero y no se puede rastrear a los vendedores. Si estás en Estados Unidos y tienes que pagar mediante orden de pago, te sugerimos usar una orden de pago postal. Las órdenes de pago postal pueden investigarse, mientras que otras órdenes de pago no.
                                <br>Hay muchas formas de pago que le ofrecen protección a los compradores. Las tarjetas de crédito, los servicios de custodia tales como Escrow.com, el sistema de Pago contra Entrega y otros servicios de pago online ofrecen distintos grados de protección.
                            </li>
                            <li> Hazle seguimiento a tu envío.
                                <br>La mayoría de las empresas de envíos y transportes permiten a las personas seguir sus envíos mientras están en tránsito. Recomendamos que le pidas el número de identificación y seguimiento del envío al vendedor para que puedas controlar tu artículo mientras esté en tránsito. Asegúrate de conocer la empresa de transportes que usa el vendedor y ten en cuenta que hay empresas de transporte ficticias en la Web que simulan hacer el seguimiento de un envío falso o virtual.
                            </li>
                        </ul>
                        <p>
                            Si así y todo sospechas que el vendedor es fraudulento o tiene comportamientos fraudulentos, por favor contacta inmediatamente a OLX a través de <a href="contacts.php?fv[contact]=ContactLegalIssues">Asuntos Legales</a>.
                        </p>
                </div>
            </div> 
            <div class="question">
                <h4 class="icons icon-arrowright">¿Qué cosas hacen los compradores potencialmente fraudulentos?</h4>
                <div class="question-content" style="display:none;">
                   <ul>
                        <li>- Pedirán que gires dinero a sus cuentas.</li>
                        <li>- El comprador ofrecerá cheques de caja de grandes valores (pero falsos) a cambio de tu producto a la venta. El valor del cheque de caja generalmente excederá bastante el valor de tu artículo y el comprador pedirá que le gires el saldo excedente a través de algún servicio de envío de dinero. Los bancos normalmente pagarán esos cheques falsos pero TE HARÁN RESPONSABLE A TI cuando falle el clearing de los mismos. La estafa normalmente involucra una tercera parte (empresas fantasmas de envíos, socios de negocios que le deben dinero al comprador, representantes del comprador, etc). Recomendamos fuertemente que no realices giros ni transferencias de dinero.</li>
                        <li>- Recomendarán servicios de pagos o envío de dinero desconocidos.</li>
                        <li>- Pedirán grandes cantidades de tu artículo para ser enviadas al exterior.</li>
                        <li>- Ofrecerán pagar la mitad del valor de tu artículo antes del envío del mismo y la otra mitad al recibirlo.</li>
                        <li>- No proveerán un número de teléfono verificable o rastreable.</li>
                        <li>- Pagarán con tarjetas de crédito internacionales o con cheques de caja.</li>
                   </ul>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Qué puedo hacer si sospecho de un comprador fraudulento?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        Si sospechas que un comprador está actuando fraudulentamente, por favor contáctanos a través de <a href="contacts.php?fv[contact]=ContactLegalIssues">Asuntos Legales</a>
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">¿Qué tipo de avisos están prohibidos/no permitidos en OLX?</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        OLX prohíbe listar o vender cualquier producto que sea ilegal, en virtud de cualquier ley, estatuto, ordenanza o reglamento local, estatal, provincial, nacional o internacional. Los siguientes tipos de avisos están prohibidos en el sitio OLX: Avisos de cualquier franquicia, esquema piramidal, "membresías de clubes", comercialización multi-nivel, distribuciones o representaciones de ventas, arreglos u otras oportunidades de negocios que requieran adelanto de pagos o pagos periódicos, contratación de otros miembros, subdistribuidores o subagentes, o pago de comisiones únicamente (excepto para avisos que indiquen claramente que el trabajo disponible paga comisiones únicamente y describen claramente el producto o servicio que la persona que busca empleo debería comercializar u ofrecer, en cuyo caso dichos avisos serían permitidos).
Otros elementos que están específicamente prohibidos incluyen:
                    </p>
                    <ul>
                        <li>- Bebidas Alcohólicas</li>
                        <li>- Sangre, fluídos corporales y  partes del cuerpo</li>
                        <li>- Herramientas para robos o hurtos</li>
                        <li>- Dinero, monedas o estampillas falsificadas</li>
                        <li>- Productos falsificados</li>
                        <li>- Equipo electrónico de vigilancia</li>
                        <li>- Bienes embargados</li>
                        <li>- Uniformes, identificaciones, licencias gubernamentales, de tránsito o de la policía</li>
                        <li>- Drogas ilegales y elementos o accesorios para drogas.</li>
                        <li>- Todo tipo de productos y servicios ilegales.</li>
                        <li>- Materiales peligrosos.</li>
                        <li>- Fuegos artificiales, dispositivos de destrucción y explosivos.</li>
                        <li>- Documentos de identidad, información financiera personal, información personal (de cualquier tipo, incluyendo listas de emails, amigos, etc).</li>
                        <li>- Avisos, productos o artículos que faciliten, inciten o alienten actividades ilegales.</li>
                        <li>- Billetes de lotería, tragamonedas, tickets de sorteos.</li>
                        <li>- Material obsceno y todo tipo de pornografía.</li>
                        <li>- Todo tipo de material ofensivo.</li>
                        <li>- Pesticidas</li>
                        <li>- Fotos o imágenes que contengan desnudez.</li>
                        <li>- Uniformes, placas o identificaciones de la Policía o de otras fuerzas de seguridad.</li>
                        <li>- Prescripciones de drogas y elementos para drogarse.</li>
                        <li>- Artículos o productos retirados del mercado</li>
                        <li>- Acciones y otros valores.</li>
                        <li>- Objetos robados</li>
                        <li>- Tabaco y productos derivados del tabaco.</li>
                        <li>- Cosméticos usados.</li>
                        <li>- Armas y elementos relacionados a las armas (como armas de fuego, partes y accesorios de armas de fuego, revistas sobre armas, municiones, escopetas de perdigones y de gas comprimido, gases lacrimógenos,  pistolas de descargas eléctricas, navajas, armas de artes marciales, etc).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include (template + '/partials/tracking.html') %}