<div class="help-navigation">
    <h3>{{ dictionary["contactseller_form.BarAdviceB"] }}</h3>
    <ul>
        <li class="selected">
            <a class="help-toggle-content" data-help-content="new-olx" href="#"><span class="icons icon-user"></span>{{ dictionary["help.NewToBrand"] }}</a>
        </li>
        <li>
            <a class="help-toggle-content" data-help-content="ads" href="#"><span class="icons icon-list"></span>{{ dictionary["itemslisting.Classifieds"] }}</a>
        </li>
        <li>
            <a class="help-toggle-content" data-help-content="faqs" href="#"><span class="icons icon-question"></span>{{ dictionary["help.GeneralQuestions"] }}</a>
        </li>
        <li>
            <a class="help-toggle-content" data-help-content="more-suggestions" href="#"><span class="icons icon-more"></span>{{ dictionary["help.MoreGuidelines"] }}</a>
        </li>
    </ul>
</div>
<div class="help-content">
    <div id="new-olx" class="help-content-display">
        <h3>{{ dictionary["help.NewToBrand"] }}</h3>
        <div class="faqs">
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.WhatIsBrand"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.WhatIsBrand_content"] }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.IsBrandFree"] }} </h4>
                <div class="question-content" style="display:none;">
                    <p>{{ dictionary["help.IsBrandFree_content"] }} </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.DoIHaveToRegisterToUseBrand"] }} </h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.DoIHaveToRegisterToUseBrand_content"] | replace('<<MY_CLASSIFIEDS>>', dictionary["biderrorheader.My OLX"]) }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIFindAnItemAtBrand"] }} </h4>
                <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.HowDoIFindAnItemAtBrand_content"] }}
                </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.WhatIsMyClassifieds"] | replace('<<MY_CLASSIFIEDS>>', dictionary["biderrorheader.My OLX"]) }} </h4>
                <div class="question-content" style="display:none;">
                    <p>{{ dictionary["help.WhatIsMyClassifieds_content"] | replace('<<MY_CLASSIFIEDS>>', dictionary["biderrorheader.My OLX"]) }}  </p>
                </div>
            </div>

        </div>
    </div>
    <div id="ads" class="help-content-display" style="display: none;">
        <h3>{{ dictionary["itemslisting.Classifieds"] }} </h3>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIPostAnItemAtBrand"] }}</h4>
            <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.HowDoIPostAnItemAtBrand_content"] }}
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIUploadAPicture"] }} </h4>
            <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.HowDoIUploadAPicture_content"] | replace('<<NUMBER>>','8') | replace('<<NUMBER_IN_WORDS>>','ocho') }}
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIEditAPosting"] }}</h4>
            <div class="question-content" style="display:none;">
                <p>
                   {{ dictionary["help.HowDoIEditAPosting_contentNew"] }}
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIChangeAPicture"] }}</h4>
            <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.HowDoIChangeAPicture_content"] }}
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.HowLongWillMyPostingAppearOnBrand"] }}</h4>
            <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.HowLongWillMyPostingAppearOnBrand_contentNew"] | replace('<<NUMBER>>','180') }}
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIRemoveMyPosting"] }} </h4>
            <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.HowDoIRemoveMyPosting_content"] | replace('<<MY_CLASSIFIEDS>>', dictionary["biderrorheader.My OLX"]) }}
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoISaveAPostingToRecallItLater"] }} </h4>
            <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.HowDoISaveAPostingToRecallItLater_content"] }}
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIShareAnAdOnFacebookTwitterEtc"] }}</h4>
            <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.HowDoIShareAnAdOnFacebookTwitterEtc_content"] }}
                </p>
            </div>
        </div>
        <div class="question">
            <h4 class="icons icon-arrowright">{{ dictionary["help.CanIIncludePersonalContactInformationInMyPostings"] }}</h4>
            <div class="question-content" style="display:none;">
                <p>
                    {{ dictionary["help.CanIIncludePersonalContactInformationInMyPostings_content"] }}
                </p>
            </div>
        </div>
    </div>

    <div id="faqs" class="help-content-display" style="display: none;">
        <h3>{{ dictionary["help.GeneralQuestions"] }}</h3>
        <div class="faqs">
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.WhatAreClassifieds"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.WhatAreClassifieds_content"] }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIChangeMyRegistrationDetails"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.HowDoIChangeMyRegistrationDetails_content"] | replace('<<MY_CLASSIFIEDS>>', dictionary["biderrorheader.My OLX"]) }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoICheckMyMessages"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.HowDoICheckMyMessages_content"] | replace('<<MY_CLASSIFIEDS>>', dictionary["biderrorheader.My OLX"]) }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.HowDoIAnswerAMessageSentToMyAd"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.HowDoIAnswerAMessageSentToMyAd_content"] | replace('<<MY_CLASSIFIEDS>>', dictionary["biderrorheader.My OLX"]) }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.AsABuyerHowDoIContactASeller"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.AsABuyerHowDoIContactASeller_content"] }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.HowCanICreateAPartnershipWithBrand"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["partnership.IfYouHaveLotsOfListingsToSubmitUseAFeed"] }}
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div id="more-suggestions" class="help-content-display" style="display: none;">
        <h3>{{ dictionary["help.MoreGuidelines"] }}</h3>
        <div class="faqs">
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.WhatAreThingsThatPotentiallyFraudulentSellersDo"] }}</h4>
                <div class="question-content" style="display:none;">
                    {{ dictionary["help.WhatAreThingsThatPotentiallyFraudulentSellersDo_content"] }}
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.WhatShouldIDoIfISuspectAFraudulentSeller"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.WhatShouldIDoIfISuspectAFraudulentSeller_content"] | replace('<<CONTACTLINK>>','<a href="">') | replace('<</CONTACTLINK>>','</a>') }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.HowCanIAvoidAFraud"] }}</h4>
                <div class="question-content" style="display:none;">
                        {{ dictionary["help.HowCanIAvoidAFraud_content"] | replace('<<CONTACTLINK>>','<a href="">') | replace('<</CONTACTLINK>>','</a>') }}
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.WhatAreThingsThatPotentiallyFraudulentBuyersDo"] }}</h4>
                <div class="question-content" style="display:none;">
                   {{ dictionary["help.WhatAreThingsThatPotentiallyFraudulentBuyersDo_content"] }}
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.WhatShouldIDoIfISuspectAFraudulentBuyer"] }}</h4>
                <div class="question-content" style="display:none;">
                    <p>
                        {{ dictionary["help.WhatShouldIDoIfISuspectAFraudulentBuyer_content"] | replace('<<CONTACTLINK>>','<a href="">') | replace('<</CONTACTLINK>>','</a>') }}
                    </p>
                </div>
            </div>
            <div class="question">
                <h4 class="icons icon-arrowright">{{ dictionary["help.WhatKindOfPostingsAreForbiddenNotAllowedOnBrand"] }}</h4>
                <div class="question-content" style="display:none;">
                    {{ dictionary["help.WhatKindOfPostingsAreForbiddenNotAllowedOnBrand_content"] }}
                </div>
            </div>
        </div>
    </div>
</div>
{% include (template + '/partials/tracking.html') %}
