<div class="banner-mobilepromo">
    <div class="left-column">
        <p class="title">{{ dictionary["mobilepromo.TheOfficialBrandApplicationIsNowAvailableForYourSmartphone"] }}</p>
        <p></p>
    </div>
    <div class="bottom-column"></div>
</div>
{{ dictionary["mobilepromo.TheOfficialBrandApplicationIsNowAvailableForYourSmartphone"] }}
{{ dictionary["mobilepromo.SellAllYourStuffInASnap"] }}
{{ dictionary["mobilepromo.FindWhatYouWantAnytimeFromAnywhere"] }}
{{ dictionary["mobilepromo.DownloadItNowForFree"] }}
{{ dictionary["featured_listings.Benefits"] }}
{{ dictionary["mobilepromo.SearchForAdsUsingLocation"] }}
{{ dictionary["mobilepromo.ViewFullAdDescription"] }}
{{ dictionary["mobilepromo.ViewBrandInYourLanguage"] }}
{{ dictionary["mobilepromo.ReplyToAdsFromApp"] }}
{{ dictionary["mobilepromo.SellStuffInSeconds"] }}
{{ dictionary["mobilepromo.PostAdInstantly"] }}
{{ dictionary["mobilepromo.ControlYourActivityInMyBrand"] }}
{{ dictionary["mobilepromo.DifferentPhone"] }}
{{ dictionary["mobilepromo.BrandAccessFromMobile"] }}
{{ dictionary["mobilepromo.bullet1"] }}
{{ dictionary["mobilepromo.bullet2"] }}
{{ dictionary["mobilepromo.bullet3"] }}
{{ dictionary["mobilepromo.bullet4"] }}
{{ dictionary["mobilepromo.site"] }}

{% view 'partials/tracking' %}