<div class="content-thanks">
    <h1>{{dictionary["misc.OLXLove-ZA"]}}</h1>
    <p>{{dictionary["misc.BigHug-ZA"]}}</p>

    <div class="content-video content-video-{{ selectedLanguage }}">
		<img class="thank-you-video" alt="{{dictionary['misc.Tx-ZA']}}" src="{{ ('/images/desktop/marketing/thanks/' + thanksPage.videoUrl + '.gif') | static }}" />
    </div>
    <div class="content-thanks-you">
        <p class="thanks-you">{{dictionary["misc.Tx-ZA"]}}</p>
        <a href="{{ '/posting' | link }}" rel="nofollow" class="posting" role="button" data-qa="post-button" >{{ dictionary["misc.SellToo-ZA"] }}</a>
    </div>
</div>