<!doctype html>
<html>
    {% view 'layout/head' %}
    <body>
        <div id="progressBar"></div>
        {% view 'header/bar' %}
        {% view 'header/index' %}
        <article>
            <div id="content">
                {{body}}
            </div>
        </article>
        {% view 'footer/downloadapp' %}
        {% view 'footer/languages' %}
        {% view 'footer/footer' %}
        <div class="loading"></div>
        <script src="{{ '/js/LAB.js' | static }}"></script>
        <script>
            $LAB
                .script("{{ [jsDir, 'libs.js'] | join('/') | static }}")
                .script("{{ [jsDir, 'translations.js'] | join('/') | static }}")
                .script("{{ [jsDir, 'templates', template, 'templates.js'] | join('/') | static }}").wait()
                .script("{{ [jsDir, 'app.js'] | join('/') | static }}").wait(function wait() {
                    var App = window.App = new (require('app/app'))({% json appData %});

                    App.bootstrapData({% json bootstrappedData %});
                    App.start();
            });
        </script>
    </body>
</html>
