<!doctype html>
<html>
    {% view 'layout/head' %}
    <body>
        {% set googleTagManager = template + "/google/tagmanager.html" %}
        {% include googleTagManager %}
        <div id="progressBar"></div>
        {% set bar = template + "/layout/bar.html" %}
        {% include bar %}
        {% view 'header/index' %}
        <article>
            <div id="content">
                {{body}}
            </div>
        </article>
        {% view 'footer/footer' %}
        <div class="loading"></div>
        <script>function init() {
            $LAB
                .script("{{ [jsDir, 'common', 'libs.js'] | join('/') | static }}")
                .script("{{ [jsDir, 'common', 'translations.js'] | join('/') | static }}")
                .script("{{ [jsDir, 'common', ((['config-', environment, '.js'] | join('')) if (environment != 'production') else 'config.js')] | join('/') | static }}")
                .script("{{ [jsDir, directory, 'templates', 'html5', 'templates.js'] | join('/') | static }}").wait()
                .script("{{ [jsDir, directory, 'app.js'] | join('/') | static }}").wait(function wait() {
                    var App = window.App = new (require('app/app'))({% json appData %});
                    App.bootstrapData({% json bootstrappedData %});
                    App.start();
                });
        }</script>
        <script async src="{{ '/js/LAB.js' | static }}" onload="init()"></script>
    </body>
</html>
