.appStores {
    .container-stores {
        display: inline-block;
        vertical-align: middle;
        a {
            display: inline-block;
            vertical-align: middle;
            img {
                display: block;
                max-height: 40px;
            }
        }
    }

    p {
        color: $violet;
        display: inline-block;
        font-size: $s;
        font-weight: bold;
        margin: 0;
        text-align: center;
        vertical-align: middle;
    }

    .icon-sketchyarrow::before {
        float: right;
        font-size: $s;
        margin: 0 5px;
        transform(rotate(270deg));
    }
}
