@import '../helpers/mixins.styl';

.appStores {
    margin-top: 20px;
    .container-stores {
        clear-fix();

        a {
            float: right; 
            display: block;   

            &:first-child { 
                float: left;
            }
        }
    }

    p {
        color: #652387;
        font-size: 1.077rem;
        font-weight: bold;
        text-align: center;
    }
}