.appStores {
    margin-top: 20px;
    .container-stores {
        clear-fix();

        a {
            float: right;
            display: block;

            &:first-child {
                float: left;
            }
        }
    }

    p {
        color: #652387;
        font-size: $s;
        font-weight: bold;
        text-align: center;
    }

    .icon-sketchyarrowright:before,
    .icon-sketchyarrowleft:before {
        font-size: remify(20px);
        padding: 15px 10px 0;
        transform(rotate(180deg));
    }
}
