<header id="search">
	<button  id="autolocation" class="autolocation" type="button"></button>
	<form class="search-form" action="{{ '/location' | link }}">
		<input type="text" name="search" placeholder="{{ dictionary["countryoptions.EnterCity"] }}" />
		<input type="submit" class="submit trackMe" data-tracking="Posting-ClickSearchLocation" />
		{% if target %}
			<input type="hidden" value="{{ target }}" name="target" style="display: none;" />
		{% endif %}
	</form>
</header>

<div class="list cities-links">
	{% if location.children[0] %}
		<ul class="country">
			<li><a href="{{ ['/', target or ''] | join | link({location: location.url}) }}" class="city-link" data-qa="city-name" >Toda {{ location.name }}</a></li>
			{% if location.children[0].children[0] %}
				<li><a href="{{ ['/', target or ''] | join | link({location: location.children[0].url}) }}" class="city-link" data-qa="city-name" >Toda {{ location.children[0].name }}</a></li>
			{% endif %}
		</ul>
	{% endif %}
	{% if cities.length %}
		<h3>{{ dictionary["listingpageitemslisting.AllResultsNew"] if search else dictionary["popularsearchesbody.PopularCities"] }}</h3>
		<ul>
			{% for city in cities %}
				<li><a href="{{ ['/', target or ''] | join | link({location: city.url}) }}" class="city-link" data-qa="city-name" >{{ city.name }}</a></li>
			{% endfor %}
	{% else %}
		<p>{{ dictionary["listingpageitemslisting.WeAreSorryNoResults"] }}</p>
	{% endif %}
</div>

{% view 'pages/interstitial' %}

{% view 'partials/tracking' %}
