<header id="search">
	<button  id="autolocation" class="autolocation" type="button"></button>
	<form class="search-form" action="{{ '/location' | link }}">
		<input type="text" name="search" placeholder="{{ dictionary["countryoptions.EnterCity"] }}" />
		<input type="submit" class="submit trackMe" data-tracking="Posting-ClickSearchLocation" />
		{% if target %}
			<input type="hidden" value="{{ target }}" name="target" style="display: none;" />
		{% endif %}
	</form>
</header>

{% view 'locations/select' %}
<div class="list cities-links">
	{% if cities.length %}
		<h3>{% if search %}{{ dictionary["listingpageitemslisting.AllResultsNew"] }}{% else %}{{ dictionary["popularsearchesbody.PopularCities"] }}{% endif %}</h3>
		<ul>
			{% for city in cities %}
				<li><a href="{{ ['/', target or ''] | join | link({location: city.url}) }}" class="city-link" data-qa="city-name" >{{ city.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>{{ dictionary["listingpageitemslisting.WeAreSorryNoResults"] }}</p>
	{% endif %}
</div>

{% view 'pages/interstitial' %}

{% view 'partials/tracking' %}
