<header id="location">    
	<span class="locationtext">{{ dictionary["defaultheader.Location"] }}</span>
    {% if heading %}
        {% set tag = 'h1' %}
    {% else %}
        {% set tag = 'strong' %}
    {% endif %}

	<{{ tag }}>
		{% if location.current and location.current.type != 'country' %}
			<a href="{{ '/location' | link }}" data-qa="change-city" >{{location.current.name}}</a>
		{% else %}
			<a href="{{ '/location' | link }}" data-qa="select-city" >{{location.name}}</a>
		{% endif %}
	</{{ tag }}>
</header>
