<header id="location">
    {% if heading %}
        {% set tag = 'h1' %}
    {% else %}
        {% set tag = 'strong' %}
    {% endif %}

    <{{ tag }}>
        {% if location.current and location.current.type != 'country' %}
            {{location.current.name}} <a href="{{ '/location' | link }}">{{ dictionary["countryoptions.ChangeCity"] }}</a>
        {% else %}
            {{location.name}} <a href="{{ '/location' | link }}">{{ dictionary["countryoptions.SelectACity"] }}</a>
        {% endif %}
    </{{ tag }}>
</header>
