<header id="location">
	<span class="locationtext">{{ dictionary["itemslisting.NavigatorByLocation"] }}</span>
    {% if heading %}
        {% set tag = 'h1' %}
    {% else %}
        {% set tag = 'strong' %}
    {% endif %}

	<{{ tag }}>
		{% if location.current and location.current.type != 'country' %}
			<a href="{{ '/location' | link }}" data-qa="change-city" class="trackMe" data-tracking="Home-ClickLocation">{{location.current.name}}</a>
		{% else %}
			<a href="{{ '/location' | link }}" data-qa="select-city" class="trackMe" data-tracking="Home-ClickLocation">{{location.name}}</a>
		{% endif %}
	</{{ tag }}>
</header>
