@font-face {
    font-family: 'arialRounded';
    src: url(staticUrl/fonts/arial_rounded.eot);
    src: url(staticUrl/fonts/arial_rounded.eot?#iefix) format('embedded-opentype'),
         url(staticUrl/fonts/arial_rounded.woff) format('woff'),
         url(staticUrl/fonts/arial_rounded.ttf) format('truetype'),
         url(staticUrl/fonts/arial_rounded.svg#arial_roundedregular) format('svg');
    font-style: normal;
    font-weight: normal;
}
