{% if blackBar.show %}
    <div class="env">You are now in <strong>{{blackBar.env}} ({{blackBar.platform}} v. {{blackBar.version}} :: {{blackBar.revision}})</strong> environment.</div>
{% endif %}
<header>

    <h1><a href="/">OLX.com</a></h1>
    <ul>
        {% if user %}
            <li class="logIn"><span></span></li>
        {% else %}
            <li class="logOut"><a href="/register"></a></li>
        {% endif %}
        <li class="postBtn"><a href="/posting">PUBLICAR</a></li>
    </ul>
    <!--div class="search">
        <form action="/nf/search/redirect" class="search-form" method="post" >
            <input type="text" class="search-input" name="search" value="" placeholder="¿Qué estás buscando?">
            <button type="submit" class="search-button">
                <span aria-hidden="true" class="icon-search"></span>
                <span class="search-label"></span>
            </button>
        </form>
    </div-->
</header>