{% if blackBar.show %}
    <div class="env">You are now in <strong>{{blackBar.env}} ({{blackBar.platform}} v. {{blackBar.version}} :: {{blackBar.revision}})</strong> environment.</div>
{% endif %}
<header id="topBar">
    <h1><a href="/">OLX.com</a></h1>
    <ul>
        {% if user %}
            <li class="logIn"><span class="btns blue"></span></li>
        {% else %}
            <li class="logOut"><a href="#" class="btns blue"></a></li>
        {% endif %}
        <li class="postBtn"><a href="#" class="btns orange">PUBLICAR</a></li>
    </ul>
</header>
<menu id="myOlx">
    <ul>
        <li><a href="">Mis Anuncions</a></li>
        <li><a href="">Mis Mensajes</a><span>4</span></li>
        <li><a href="">Mis Favoritos</a></li>
        <li><a href="">Salir</a></li>
    </ul>
</menu>