<div class="country-area">
    <a class="open-modal" data-modal="location-modal" rel="nofollow" href="#">
        <img src="{{ '/images/desktop/paraguay/paraguay_map.gif' | static }}" alt="Mapa de Paraguay" />
    </a>
    <div class="content-description">
        <h2 class="title">{{ dictionary["misc.FindAdsCity"] }}</h2>
        <p class="cities-title icons icon-pin">{{ dictionary["misc.FindAdsCity"] }}</p>
        <ul class="list-cities">
            <li>
                <a title="La Paz" href="{{ '/nf/all-results' | link({location: 'asuncion.olx.com.py'}) }}">Asunción</a>
            </li>
            <li>
                <a title="Cochabamba" href="{{ '/nf/all-results' | link({location: 'central.olx.com.py'}) }}">Central</a>
            </li>
            <li>
                <a title="Santa Cruz" href="{{ '/nf/all-results' | link({location: 'altoparana.olx.com.py'}) }}">Alto Paraná</a>
            </li>
            <li>
                <a title="Andrés Ibánez" href="{{ '/nf/all-results' | link({location: 'itapua.olx.com.py'}) }}">Itapúa</a>
            </li>
            <li>
                <a title="Pedro Domingo Murillo" href="{{ '/nf/all-results' | link({location: 'cordillera.olx.com.py'}) }}">Cordillera</a>
            </li>
            <li>
                <a title="Cercado" href="{{ '/nf/all-results' | link({location: 'misiones.olx.com.py'}) }}">Misiones</a>
            </li>
            <li>
                <a class="open-modal" title="{{ dictionary["misc.OtherPlaces_EM"] }}" data-modal="location-modal" href="{{ '/nf/all-results' | link({location: 'www.olx.com.py'}) }}" data-qa="other-places-link">{{ dictionary["misc.OtherPlaces_EM"] }}</a>
            </li>
        </ul>
    </div>
</div>
