.users-buyfeaturedad-page {
    .fad-edit {
        padding: 25px 0;
        a {
            border-radius();
            action-button($greyStrong, $white, 3px, 10px 20px);
            font-size: $m;
            font-weight: bold;
            line-height: 1;
        }
    }
    .fad-submit {
        input {
            border-radius();
            action-button($orange, $white, 3px, 10px 20px);
            font-size: $m;
            font-weight: bold;
            line-height: 1;
        }
    }
    .feature-ad-terms {
        font-size: $xs;
    }
}