.users_createpassword_view {
    /* With the following line we don't show a outline property of inputs in chrome  */
    input:focus {
        outline: 0;
    }

    box($white, $greyBorders, 3px, 0 0 20px 0, solid, 1px);
    height: 200px;

    .title {
        border-bottom: 1px solid $greyBorders;
        font-size: $xl;
        font-weight: normal;
        margin: 0;
        padding-bottom: 5px;
        padding: 13px 20px;
    }

    form {
        margin-top: 40px;
        padding: 0 20px;

        .wrapper {
            border: 0;
            padding: 0;
            margin: 0 0 10px 0;

            &.error {
                color: $red;
                .text-field {
                    border-color: $red;
                }
                .advice {
                    display: block;
                }
            }
        }

        .login-label, .wrapper-inputs {
            float: left;
        }
        .login-label {
            font-size: $m;
            margin: 10px 20px 0 0;
            text-align: right;
            text-transform: capitalize;
            width: 160px;
        }

        .fake-input {
            box($white, $greyBorders, 3px, 0 10px, solid, 1px);
            float: left;
            height: 39px;
            width: 310px;
        }

        .password-field {
            border: none;
            float: left;
            font-size: 1rem;
            height: 36px;
            line-height: 1.2;
            padding: 0 10px;
            width: 235px;
        }
        .password-field::focus {
            border: none;
            outline: 0;
        }

        .password-toggle {
            color: $greyStrong;
            float: left;
            font-size: 10px;
            text-transform: uppercase;
            margin-top: 14px;
            z-index: 5;
        }
        .password-toggle:hover {
            text-decoration: none;
            color: $black;

        }

        .advice {
            margin-top: 5px;
            font-size: $xs;
            display: none;
        }

        .send {
            display: inline-block;
            margin-left: 180px;
            padding: 10px 30px;
            font-size: $m;
            margin-top: 10px;
        }

        .forgot {
            display: inline-block;
            margin-left: 10px;
        }
        
        .error.message {
            float: left;
            margin-left: 180px;
            margin-top: 10px;
            width: 534px;
        }

    }

    .forgot-msg {
        padding: 0 20px;
    }

    form {
        .send {
            float: left;
            padding: 11px 30px;
            margin: 0 0 0 10px;
        }
    }
    .advice {
        clear: both;
        float: left;
    }
}