.facebook-login {
    action-button($blueFacebook, $white, 3px, 10px);
    cursor: pointer;
    font-size: $m;
    height: 36px;
    margin: 22px 0 0 201px;
    padding: 0;
    text-align: left;
    width: 330px;

    span {
        border-right: 1px solid $blueFacebook;
        box-shadow: 1px 0px $blueFacebookBorder;
        display: inline-block;
        padding: 9px 13px;
    }
    p {
        display: inline-block;
        margin: 0 0 0 10px;
        vertical-align: middle;
    }
}
.dividing-line {
    margin: 20px 0 26px 201px;

    .line {
        background: $greyBorders;
        display: inline-block;
        height: 1px;
        vertical-align: middle;
        width: 148px;
    }
    p {
        display: inline-block;
        margin: 0 10px;
    }
}