.users_lostpassword_view,
.users_login_view {
    .lostpassword_view,
    .login_view {
        box($white, $greyBorders, 3px, 0 0 20px 0, solid, 1px);
    }

    .title {
        border-bottom: 1px solid $greyBorders;
        font-size: $l;
        margin: 0;
        padding-bottom: 5px;
        padding: 13px 20px;
    }

    form {
        margin-top: 20px;
        padding: 0 20px;

        .wrapper {
            border: 0;
            padding: 0;
            margin: 0 0 10px 0;

            &.error {
                color: $red;
                .text-field {
                    border-color: $red;
                }
                .advice {
                    display: block;
                }
            }
        }

        .login-label, .wrapper-inputs {
            float: left;
        }

        .login-label {
            width: 160px;
            text-align: right;
            margin: 10px 20px 0 0;
        }

        .remember {
            display: inline-block;
            vertical-align: middle;
            margin-left: 180px;
        }

        .text-field {
            box($white, $greyBorders, 3px, 0 10px, solid, 1px);
            width: 310px;
        }

        .advice {
            margin-top: 5px;
            font-size: $xs;
            display: none;
        }

        .send {
            display: inline-block;
            margin-left: 180px;
            padding: 10px 30px;
            font-size: $baseFont;
            margin-top: 10px;
        }

        .forgot {
            display: inline-block;
            margin-left: 10px;
        }

    }

    .register {
        margin: 20px 0 0 200px;
    }

    .lostpassword_view {
        .forgot-msg {
            padding: 0 20px;
        }
        .text-field {
            float: left;
        }
        form {
            .send {
                float: left;
                padding: 11px 30px;
                margin: 0 0 0 10px;
            }
            .login-label {
                width: auto;
                text-align: left;
            }
        }
        .advice {
            clear: both;
            float: left;
        }
    }

    .lostpassword_success {
        .back {
            display: inline-block;
            margin-top: 20px;
            &::before {
                margin: -2px 5px 0 0;
            }
        }
    }

}
