section#login {
	margin: 0 0 2.5rem 0;
	
	h1 {
		margin: 1.875rem 0 1.25rem;
		padding: 0.625rem 0 0.125rem;
		text-align: center;
		font-size: 2.125rem;
	}
	a {
		color: #38b;
	}
	.field {
		width: 22.81rem;
		margin: 0 auto;

		&.center {
			text-align: center;
		}

		label {
			width: 100%;
			display: inline-block;
			margin: 0 0 .25rem 0;
		    font-size: 1.125rem;

		    a {
		    	float: right;
		    }
		}
		input[type="text"], input[type="password"]  {
			width: 100%;
			margin-bottom: 1rem;
			padding: 1rem;
		    position: relative;
			border: 1px solid #aaa;

			&.mail {
				width: 15.94rem;
				height: 2rem;
			    padding: 3px 5px;
				margin: 0 0 .625rem .5rem;
				border: 1px solid #cccccc;
			    border-radius: 3px;
			    font-size: .8125rem;
			}
		}
		.btn {
			width: 100%;
			padding: 1rem 0;
			margin: 1rem 0;
			color: #fff;
			font-size: 1.563rem;
			border: none;
		}
		a.register {
			width: 100%;
			display: inline-block;
			padding: 1rem 0;
			border-top: 1px solid #aaa;
			text-align: center;
		}
		a.fbBtn {
			margin: 3rem 0;
		    padding: .4375rem .9375rem;
			display: inline-block;
		    border: 1px solid #375b95;
		    border-radius: 5px;
		    box-shadow: 1px 1px 1px #7f7f7f;
		    background: linear-gradient(#6d82ad, #425c97) repeat scroll 0 0 rgba(0, 0, 0, 0);
		    font-family: Arial,Helvetica,sans-serif;
		    font-size: .875rem;	

		    span {
		    	padding: 8px 10px 8px 25px;
		    	background: url(imageUrl/images/desktop/fbBtn.png) no-repeat left;
			    color: #ffffff;
			    text-shadow: 1px 1px 1px #3a538c;
		    }	    
		}
		h3 {
			margin-bottom: 1.25rem;
    		padding-bottom: .3125rem;
			border-bottom: 1px solid #cccccc;
    		font-size: .875rem;
		}
		p {
			margin-bottom: .625rem;
			font-size: .75rem;
    	}
    	strong {
    		float: left;
    		font-size: .75rem;
    	}
	}
}
section#myOlxItemList {
	margin: 1.25rem 0 0 0;

	> ul {
		width: 100%;
		float: left;
	}

	ul.tabs {
		display: inline-block;
		text-align: center;
		li {
			width: 14.12rem;
			float: left;
			margin: .375rem 0 0 .625rem;
			border: 1px #e3e3e3 solid;
		    border-bottom: 0;
    		font-size: 1.313rem;
			background: #e8e8e8;
			background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e8e8e8));
			background: -webkit-linear-gradient(top, #fff 0%,#e8e8e8 100%);
			background: -o-linear-gradient(top, #fff 0%,#e8e8e8 100%);
			background: -ms-linear-gradient(top, #fff 0%,#e8e8e8 100%);
			background: linear-gradient(to bottom, #fff 0%,#e8e8e8 100%);

			&:hover {
				background: #E9E9E9;
			}
			&.current {
				width: 17rem;
				padding: .6875rem 1.25rem;
				margin: 0 0 0 .625rem;
				color: #000;
				font-weight: bold;
				background: #fff;
			}
			&:first-child {
				margin-left: 0;
			}

			a {
				width: 100%;
				display: inline-block;
				padding: .5rem 1.25rem;
				color: #0266de;
			}
		}
	}
	ul.myAds {
		margin: 0 0 1.25rem 0;
		border: 1px solid #e3e3e3;
		border-top: none;

		> li {
			padding: 1.563rem 1.875rem;
			border-top: 1px solid #e3e3e3;

			.image {
				width: 11.44rem;
				height: 8.938rem;
				float: left;
				position: relative;
				margin: 0 1.438rem 0 0;
				border: 1px solid #e1e1e1;

				a {
					width: 11.44rem;
					height: 8.938rem;
					display: block;
					background-size: cover;
	 				background-position: center;
	 				background-repeat: no-repeat;

					&.noPhoto {
						background-image: url(imageUrl/images/html5/noPhoto.png);
						background-size: auto;
					}

				}
				.status {
					width: 8.125rem;
					height: 1.375rem;
					position: absolute;
					left: -.6875rem;
					top: 1.25rem;
					color: #fff;
					display: block;
					font-size: .8125rem;
					font-weight: bold;
					line-height: 1.375rem;					
					text-align: center;
					text-transform: uppercase;

					&:before {
						position: absolute;
						left: 0;
						bottom: -6px;
						border-color: #869300 rgba(0, 0, 0, 0);
						border-style: solid;
						border-width: 6px 0 0 11px;
						content: "";
					}

					&:after {
						width: 0;
						height: 0;
						position: absolute;
						right: -1.188rem;
						border-style: solid;
						border-width: .6875rem;
						bottom: 0;
						content: " ";
					}
					
					&.pending {
						background: #f1b41d;

						&:after {
							border-color: #f1b41d transparent #f1b41d #f1b41d;
						}
						&:before {
							border-color: #efa010 rgba(0, 0, 0, 0);
						}
					}
					&.rejected {
						background: #d51e34;

						&:after {
							border-color: #d51e34 transparent #d51e34 #d51e34;
						}
						&:before {
							border-color: #7e2235 rgba(0, 0, 0, 0);
						}
					}
					&.ready {
						background: #a7bc09;

						&:after {
							border-color: #a7bc09 transparent #a7bc09 #a7bc09;
						}
						&:before {
							border-color: #869300 rgba(0, 0, 0, 0);
						}
					}
				}

			}

			.description {
				width: 32.5rem;
				min-height: 9.063rem;
				float: left;
				position: relative;
				overflow: hidden;

				h1 {
					padding: 0;
					font-size: 1.313rem;
					color: #bebcbd;
					a {
						color: #0266de;
					}
				}
				ul {
					position: absolute;
					left: 0;
					bottom: 0;

					li {
						font-size: .875rem;
						margin: 0 .625rem 0 0;
						display: inline-block;
						color: #010101;

						a {
							color: #0266de;
							line-height: 1.563rem; 

							&.option {
								min-width: 5rem;
								display: inline-block;
								padding: 0 .9375rem;
								background: #f9f9f9;
								border-color: #e3e3e3 #e1e1e1 #e1e1e1 #e3e3e3;
								border-style: solid;
								border-width: 1px 2px 2px 1px;
								cursor: pointer;
								border-radius: 3px;
							    text-align: center;
							}

							span:before {
								display: inline-block;
							    font-size: 25px;
							    vertical-align: bottom;
							}
							span.edit:before {
						    	content: "";
						    }
						    span.delete:before {
						    	content: "";
						    }
						    &.reply {
						    	background: #fc8812;
						    	border: 1px solid #ffcc66;
						    	color: #fff;
						    }

						}
						&.spinner {
							width: 20px;
							height: 20px;
							background: url(imageUrl/images/desktop/spinner-bgWhite.gif);
							vertical-align: middle;
						}
					}
				}
			}

			> span {
				float: right;
				margin-left: .9375rem;
				font-size: 1.25rem;
				font-weight: bold;
				text-align: right;
				color: #000;
				text-transform: uppercase;
			}
		}
	}
}