.users_myolx_view {
    .myolxmenu {
        display: inline-block;
        margin-bottom: 0;
        padding: 0;
        position: relative;
        width: 100%;

        li {
            display: inline-block;
            list-style: none;
            position: relative;
            vertical-align: bottom;
            width: 25%;

            a {
                box($greyBoxBg, $greyBorders, 3px 3px 0 0, 10px 0, solid, 1px 1px 0 1px)
                color: $blue;
                display: block;
                font-size: 20px;
                text-align: center;
                width: 96%;
                &:hover{
                    color: #369;
                    text-decoration: underline;
                }
            }
            &:last-child {
                a {
                    width: 100%;
                }
            }
            &.active {
                a {
                    background: $white;
                    color: $black;
                    font-weight: bold;
                    padding: 15px 0;
                }
                &:before, &:after {
                    border-style:solid;
                    border-width:10px 9px 0;
                    bottom: -10px;
                    content:"";
                    display:inline-block;
                    left: 44%;
                    position:absolute;
                }
                &:before {
                    background: $white;
                    border-color:transparent $greyBorders;
                    bottom:-9px;
                }
                &:after {
                    border-color:transparent $white;
                }
            }
        }
    }

    .my-items {
        background: $white;
        border-radius: 0 0 3px 3px;
        border: 1px solid $greyBorders;
        margin-top: 0;
        padding: 0;
        width: 100%;

        .item {
            border-bottom: 1px solid $greyBorders;
            list-style: none;
            overflow: hidden;

            .image {
                border-radius: 3px;
                border: 1px solid $greyBorders;
                display: inline-block;
                float: left;
                margin: 30px 25px 30px;
                max-height: 144px;
                min-height: 144px;
                padding: 2px;
                position: relative;
                text-align: center;
                width: 185px;

                .withoutimg {
                    color: $greyBorders;
                    display: block;
                    font-size: 50px;
                    margin: 0 auto;
                    max-width: 100%;
                    padding: 35px 0;
                }

                img {
                    bottom: 2px;
                    left: 2px;
                    margin: auto;
                    max-height: 144px;
                    max-width: 100%;
                    position: absolute;
                    right: 2px;
                    top: 2px;
                }

                .status {
                    background: $green;
                    color: $white;
                    font-size: 14px;
                    font-weight: bold;
                    left: -10px;
                    padding: 3px;
                    position: absolute;
                    text-transform: uppercase;
                    top: 20px;
                    width: 70%;

                    &:after {
                        border-color: #AABB00 transparent #AABB00 #AABB00;
                        border-style: solid;
                        border-width: 11px;
                        bottom: 0;
                        content: " ";
                        height: 0;
                        position: absolute;
                        right: -10px;
                        width: 0;
                    }

                    &:before {
                        border-color: #869000 transparent;
                        border-style: solid;
                        border-width: 8px 0 0 9px;
                        content: "";
                        left: 0;
                        position: absolute;
                        top: 100%;
                    }
                }

            }

            .description {
                color: $black;
                display: inline-block;
                float: left;
                font-size: 14px;
                height: 145px;
                margin: 30px 30px 30px 0;
                width: 564px;

                .title {
                    color: $blue;
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0;
                }

                .tips span {
                    display: inline-block;
                    padding: 3px;
                    text-transform: lowercase;
                }

                .text {
                    color: $greyStrong;
                    font-size: 14px;
                    min-height: 65px;
                }
            }

            .price {
                float: left;
                margin: 30px 30px 30px 0;
                text-align: right;
                width: 115px;

                span {
                    color: $black;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }

        .expired, .deleted, .rejected, .pending {
            .image {

                .status {
                    background: #666;

                    &:after {
                        border-color: #666 transparent #666 #666;                        
                    }

                    &:before {
                        border-color: #666 transparent;                        
                    }
                }

            }

            .description {                
                .title {
                    color: $greyBorders;
                }
            }
            .price {
                span {
                    color: $greyBorders
                }
            }
        }
        .expired {
            vendor(opacity,0.5)
            ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        }
        .deleted {
            vendor(opacity,0.5)
            ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";            

            .image {
                .status {
                    background: $greyStrong;

                    &:after {
                        border-color: $greyStrong transparent $greyStrong $greyStrong;
                    }
                    &:before {
                        border-color: $greyStrong transparent;
                    }
                }

            }
        }
        .rejected {
            .image {
                .status {
                    background: #D51E34;
                    &:after {
                        border-color: #D51E34 transparent #D51E34 #D51E34;
                    }
                    &:before {
                        border-color: #7E2235 transparent;                        
                    }
                }

            }
        }
        .pending {
            .image {
                .status {
                    background: #f1b41d;
                    &:after {
                        border-color: #f1b41d transparent #f1b41d #f1b41d;
                    }
                    &:before {
                        border-color: #efa010 transparent;                        
                    }
                }

            }
        }
    }

    .buttons {
        .btn {
            action-button($white, $black, 3px, 5px 20px);
            margin-right: 5px;
            text-align: left;
            font-size: 14px;
            float: left;
            box-shadow(0 0.5px 0 rgba(0,0,0,0.4))

            &:before {
                line-height: 1.5;
                margin: -2px 5px 0;
            }
        }
        .orange {
            border-radius();
            action-button($orange, $white, 3px, 5px 20px);
        }
    }

    .empty {
        font-size: $l;
        padding: 40px 0;
        text-align: center;
    }

    .removeAd {
        vendor(opacity, 0.4);
        .removeItem {
            cursor: default;
        }
    }

}