#users-report {
    .report-btn, .contact-btn {
        display: inline-block;
        margin: 20px 20px 0 0;
    }
    .report-btn {
        action-button($orange, $white, 3px, 10px);
        cursor: pointer;
    }
    .contact-btn {
        action-button($greyBoxBg, $black, 3px, 10px, false);
    }
}
