.user-ads {
    position: relative;
    .slide {
        height: 195px;
        width: 942px;
        overflow: hidden;
        position: relative;
        margin-left: 20px;
        ul {
            position: absolute;
            top: 0;
            left: 0;
            height: 188px;
            li, .items-image {
                width: 135px;
            }
        }
    }
    .arrows {
        position: absolute;
        top: 90px;
        cursor: pointer;
        color: $greyStrong;
        &:hover {
            color: $black;
        }
        &.icon-arrow-left {
            left: 0;
        }
        &.icon-arrow-right {
            right: 0;
        }
    }
}
