header#search {
	padding: .4rem .8rem .8rem .8rem;
	background: #ddd;
}
header#search input {
	height: 1.875rem;
	display: inline-block;
}
header#search input[name=search] {
	width: 85%;
	padding: 0 .3rem 0 0;
	font-size: 0.8125rem;
	border: none;
}
header#search input[type=submit] {
	width: 12%;
	float: left;
	padding: 0.125rem;
	background: #818080 url(imageUrl/images/html5/lupa.png) center center no-repeat;
	border: 1px solid #706F6F;
	border-radius: 0.3125rem;
	text-indent: -100em;
}
