{% view 'location/select' %}
{% set templateName = 'compiled/' + template + '/partials/search.html' %}
{% include templateName %}
<div class="breadcrumb">
	<a href="/">Back</a>
	<h1>{{category.name}}</h1>
</div>
<div id="subCategories">
  	<ul class="normalList">
		{% for subcategory in category.children %}
			<li class="{{ "last" if loop.last else "" }}">
				<a href="/change-this-description-for-the-category-cat-{{subcategory.id}}-p-1?location={{params.location}}">{{subcategory.trName}}</a>
			</li>
		{% endfor %}
	</ul>
</div>
<div class="breadcrumb">
	<a href="/">back</a>
	<a href="/" class="home">home</a>
</div>