<section id="itemListing">
	<nav class="breadcrumb">
		<a href="">Todas as Categorias</a> 
		<span class="arrow"></span> <strong>{{ category.trName }}</strong> 
		{% if location.current and location.current.type != 'country' %}
			Anúncios em {{location.current.name}}
		{% else %}
			Anúncios no {{location.name}}
		{% endif %}
		<span class="count">({{ metadata.total | countFormat }})</span>
		{% if not infiniteScroll and (metadata.next or metadata.previous) %}
			<div class="itemPagination">
            	<p>Página {{ metadata.page }} de {{ metadata.totalPages | countFormat }}</p>
                <a href="{{ (metadata.previous | link) if metadata.previous else '#' }}" class="icons left {{ "disable" if not metadata.previous }}"></a><a href="{{ (metadata.next | link) if metadata.next else '#' }}" class="icons right {{ "disable" if not metadata.next }}"></a>
            </div>
        {% endif %}
	</nav>

	<nav class="categories">
		<div class="subCategories">
			<h2>Selecione a categoria</h2>
			<ul>
				{% for category in categories  %}
					<li>
						<a href="{{ category | slugToUrl | link }}">
							<span class="icons icon-cat-{{ category.id }}"></span>
							{{ category.trName }}<br>
							<span class="count">{{ (category.counter | countFormat) if category.counter > 0  }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
	<nav class="location">
		<ul>
			<li><a href="{{ '/nf/all-results' | link({location: 'www.olx.com.br'}) }}" rel="nofollow">Brasil</a></li>
			<li>{{location.current.name}}<a href="{{ '/nf/all-results' | link({location: 'www.olx.com.br'}) }}"></a></li>
		</ul>
		<div class="list">
			<ul>
				{% for state in metadata.filters.state.value %}
					<li><a href="{{ '/nf/all-results' | link({location: state.id}) }}">{{ state.value }} <span>{{ state.count | countFormat }}</span></a></li>
				{% endfor %}
				{% for city in metadata.filters.city.value %}
					<li><a href="{{ '/nf/all-results' | link({location: city.id}) }}">{{ city.value }} <span>{{ city.count | countFormat }}</span></a></li>
				{% endfor %}
				<div class="clear"></div>
			</ul>
		</div>
	</nav>
	<section class="list">
		<nav>
			<div class="tabs">
				<a href="" class="galery icons">Fotos Maiores</a>
				<a href="" class="list icons active">Exibição em Lista</a>
			</div>
			<div class="sort">
				<label>Ordenado por:</label>
				<select name="listing-order-combo">
					<option selected="selected" value="date*to*showdesc">Mais recentes</option>
					<option value="price">Menor preço</option>
					<option value="pricedesc">Maior preço</option>
				</select>
			</div>
		</nav>
		<ul class="listing itemListing">
			{% view 'items/items' %}
		</ul>
		{% if infiniteScroll %}
            <div class="loader is-loading" style="display: none;">
                <img src="{{ '/images/html5/loading.gif' | static }}" alt="Loading...">
            </div>
            <input id="currentUrl" type="hidden" class="hide" value="{{ metadata.current | link }}">
        {% elif metadata.next or metadata.previous %}
            <div class="itemPagination">
                <a href="{{ (metadata.previous | link) if metadata.previous else '#' }}" class="arrow icons {{ "leftA" if metadata.previous else "leftD" }}"></a><div class="center">{{ metadata | pagination }}</div><a href="{{ (metadata.next | link) if metadata.next else '#' }}" class="arrow icons {{ "rightA" if metadata.next else "rightD" }}"></a>
            </div>
        {% endif %}
	</section>
	
	{% view 'partials/postbanner' %}
	
	<div class="clear"></div>
</section>