{% include (template + "/partials/breadcrumb.html") %}

<div class="wrapper-main">
	<nav id="listing-filters">
	    {% include (template + '/items/parentcategories.html') %}
	</nav>

	<section id='listing-items'>
	    {% include (template + '/items/locations.html') %}

	    {% include (template + '/items/listig.html') %}

	    {% if metadata.next or metadata.previous %}
	        {% include (template + '/items/pagination.html') %}
	    {% endif %}
	</section>
</div><!-- wrapper main -->

{% view 'partials/tracking' %}
