{% if seo %}
    {% set data = seo.get('levelPath').top %}
    {% set olxReferer = ((referer or "") | first) == "/" %}
    {% set fromOlx = data.location.url + referer %}

    <nav id="breadcrumb" class="item-page">
        <div class="breadcrumb-navigation">
            <a href="/nf/all-results" rel="nofollow" >{{ dictionary["listingpageitemslisting.AllCategories"] }}</a>

            {% if data.category %}
                <a href="{{ data.category.url }}" class="icons icon-arrow" {{ 'rel="nofollow"' if data.category.noFollow }} >{{ data.category.anchor }}</a>
            {% endif %}
            {% if data.childCategory %}
                <a href="{{ data.childCategory.url }}" class="icons icon-arrow" {{ 'rel="nofollow"' if data.childCategory.noFollow }} >{{ data.childCategory.anchor }}</a>
            {% endif %}
        </div>
        <div class="back-to-results">
            <a class="icons icon-arrow-left" href="{{ fromOlx if olxReferer else data.childCategory.url }}" rel="nofollow">{{ dictionary["itemgeneraldetails.BackResults"] }}</a>
        </div>
    </nav>
{% endif %}
