{% if seo %}
    {% set data = seo.get('levelPath').top %}
    {% set olxReferer = ((referer or "") | first) == "/" %}
    {% set fromOlx = data.locationLevel.url + referer %}

    <nav id="breadcrumb" class="item-page">
        <div class="breadcrumb-navigation">
            <a href="/nf/all-results" rel="nofollow" >{{ dictionary["listingpageitemslisting.AllCategories"] }}</a>

            {% if data.categoryLevel %}
                <a href="{{ data.categoryLevel.url }}" class="icons icon-arrow" {{ 'rel="nofollow"' if data.categoryLevel.noFollow }} >{{ data.categoryLevel.anchor }}</a>
            {% endif %}
            {% if data.childCategoryLevel %}
                <a href="{{ data.childCategoryLevel.url }}" class="icons icon-arrow" {{ 'rel="nofollow"' if data.childCategoryLevel.noFollow }} >{{ data.childCategoryLevel.anchor }}</a>
            {% endif %}
        </div>
        <div class="back-to-results">
            <a class="icons icon-arrow-left" href="{{ fromOlx if olxReferer else data.childCategoryLevel.url }}" rel="nofollow">{{ dictionary["itemgeneraldetails.BackResults"] }}</a>
        </div>
    </nav>
{% endif %}
