<section id="contact-form">
    <div class="user-info">
        <p class="icons icon-user user-name">{{ item.contactName }}</p>
        <span class="user-status">User Status</span>
        <p class="icons icon-phone user-phone">{{ item.phone }}</p>
        <span>{{ dictionary["item.WhenYouCallMentionOLX"] }}</span>
    </div>

    <form id="replyForm" action="">
        <input type="hidden" class="itemId" name="itemId" value="{{ item.id }}">
        <fieldset class="comment">
            <label for="comment">
                <textarea id="comment" class="comment" name="comment" cols="30" rows="6" placeholder="{{ dictionary["supportform.Message"] | replace(':','') }} "></textarea>
                <span class="error hide comment"></span>
            </label>
        </fieldset>
        <fieldset class="name">
            <label for="name">
                <input type="text" name="name" id="name" class="name" value="" maxlength="200" placeholder="{{ dictionary["comments.CommentsFormName"] }} ">
                <span class="error hide name"></span>
            </label>
        </fieldset>
        <fieldset  class="email">
            <label for="email">
                <input type="text" name="email" id="email" class="email" value="" maxlength="200" placeholder="{{ dictionary["buyerinfo.E-mail"] }} ">
                <span class="error hide email"></span>
            </label>
        </fieldset>
        <fieldset>
            <label for="phone">
                <input type="text" name="phone" id="phone" value="" maxlength="15" placeholder="{{ dictionary["item.YourPhoneNumberOptionalZA"] }} ">
            </label>
        </fieldset>
        <img class="spinner hide" src="{{ '/images/desktop/spinner-bgYellow.gif' | static }}" alt="">
        <fieldset class="submit">
            <label for="submit">
                <input type="submit" value="{{ dictionary["misc.SendEmail"] }} " id="submit" class="olx-ui-button orange" data-qa="reply-send-button" >
            </label>
            <input type="hidden" class="hide itemCategory" value="{{ item.category.id }}">
            <input type="hidden" class="hide itemSubcategory" value="{{ item.category.parentId }}">
        </fieldset>
        <p class="replySuccses icons hide" >
            {{ dictionary["item.YourMessageHasBeenSent"] }}
            <span>{{ dictionary["replymessage.SendAnotherMessage"] }} </span>
        </p>
    </form>
    <div class="disclaimer">
        <p>
            {{ dictionary["item.ClickAgreeTermsZA"] | replace('<<LINK>> condiciones de uso<</LINK>>.','') }}
            <a href="/terms" target="_blank">{{ dictionary["defaultfooter.Terms of use"] }}</a>
        </p>
    </div>
</section>
