<section id="contact-form">
    <div class="user-info">
        <p class="icons icon-user user-name">{{ item.contactName }}</p>
        <span class="user-status">User Status</span>
        <p class="icons icon-phone user-phone">{{ item.phone }}</p>
        <span>Ao ligar, diga que viu o anúncio na OLX</span>
    </div>

    <form id="replyForm" action="">
        <input type="hidden" class="itemId" name="itemId" value="{{ item.id }}">
        <fieldset class="comment">
            <label for="comment">
                <span class="icons">
                    <textarea id="comment" class="comment" name="comment" cols="30" rows="6" placeholder="Mensagem"></textarea>
                </span>
                <span class="error hide comment"></span>
            </label>
        </fieldset>
        <fieldset class="name">
            <label for="name">
            <span class="icons">
                <input type="text" name="name" id="name" class="name" value="" maxlength="200" placeholder="Nome">
            </span>
            <span class="error hide name"></span>
            </label>
        </fieldset>
        <fieldset  class="email">
            <label for="email">
            <span class="icons">
                <input type="text" name="email" id="email" class="email" value="" maxlength="200" placeholder="E-mail">
            </span>
            <span class="error hide email"></span>
            </label>
        </fieldset>
        <fieldset>
            <label for="phone">
                <input type="text" name="phone" id="phone" value="" maxlength="15" placeholder="Telefone ( Opcional )">
            </label>
        </fieldset>
        <img class="spinner hide" src="{{ '/images/desktop/spinner-bgYellow.gif' | static }}" alt="">
        <fieldset class="submit">
            <label for="submit">
                <input type="submit" value="Enviar e-mail" id="submit" class="olx-ui-button orange">
            </label>
        </fieldset>
        <p class="replySuccses icons hide" >
            E-mail enviado com sucesso!
            <span>Enviar outro e-mail</span>
        </p>
    </form>
    <div class="disclaimer">
        <p>Enviando um e-mail você aceita nossos <a href="" target="_blank">Termos</a></p>
    </div>
</section>
