{% for filter in filters.toJSON() %}
    {% if filter.name != 'state' and filter.name != 'city'  %}
        {% if filter.otherType == 'LIST' %}
            <span class="title filter-title" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}">{{ filter.description }}<span class="icons icon-arrow-up"></span></span>
            <div class="filter check-box {{ filter.name }}">
                {% for value in filter.list %}
                    <span class="link-range" data-filter-from="{{ value.from }}" data-filter-to="{{ value.to }}" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}">{{ value.label }}</span>
                {% endfor %}
            </div>
        {% elif filter.type == 'SELECT' and filter.name == 'parentcategory' %}
            <span class="title filter-title" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}">{{ filter.description }}<span class="icons icon-arrow-up"></span></span>
            <ul class="sub-categories {{ filter.name }}">
                {% for value in filter.value %}
                    <li>
                        <a href="#" data-filter-id="{{ value.id }}" data-filter-name="{{ value.value }}" data-filter-slug="{{ value.slug }}" >{{ value.value }} <span class="count">{{ value.count }}</span></a>
                    </li>
                {% endfor %}
            </ul>
        {% elif filter.type == 'SELECT' %}
            <span class="title filter-title" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}">{{ filter.description }}<span class="icons icon-arrow-up"></span></span>
            <div class="filter check-box {{ filter.name }}">
                {% for value in filter.value %}
                    <label>
                        <input type="checkbox" value="{{ value.id }}" data-filter-name="{{ filter.name }}"  data-filter-type="{{ filter.type }}" {{ 'checked' if filters.has(filter.name, value.id) }}>
                        {{ value.value }} <span class="count">{{ value.count }}</span>
                    </label>
                    {% endfor %}
                    {{ ('<span class="clean-filters" data-filter-name="' + filter.name + '" data-filter-type="' + filter.type + '" >[' + dictionary["item.Clear"] + ']</span>') if filters.isActive(filter.name) }}
            </div>
        {% elif filter.type == 'RANGE' %}
            <span class="title filter-title" data-filter-name="{{ filter.name }}">{{ filter.description }}<span class="icons icon-arrow-up"></span></span>
            <div class="filter range {{ filter.name }}">
                {% for input in filter.value  %}
                    <input type="text" placeholder="{{ filter.current[input.id] if filters.has(filter.name, input.id) else input.value }}" class="text-field" data-filter-id="{{ input.id }}" data-filter-value="{{ filter.current[input.id] if filters.has(filter.name, input.id) }}" />{% endfor %}
                <button class="icons icon-check button range-submit" type="submit" data-filter-name="{{ filter.name }}" data-filter-type="{{ filter.type }}" ></button>
                {{ ('<span class="clean-filters" data-filter-name="' + filter.name + '" data-filter-type="' + filter.type + '" >[' + dictionary["item.Clear"] + ']</span>') if filters.isActive(filter.name) }}
            </div>
        {% elif filter.type == 'BOOLEAN' %}

        {% endif %}
    {% endif %}
{% endfor %}
