<div id="image-gallery">
    <div class="image-viewer">
        {% if item.images.length > 0 %}
            <a href="#"><img src="{{ item.images[0].url }}" alt="" title="" class="item-image big-size" /></a>
        {% endif %}
    </div>
    <div class="image-navigator">
        <a href="#" class="icons icon-navarrowup"></a>
        {% for image in item.images %}
            <a href="#"><img src="{{ image.thumbnail }}" data-image="{{ image.url }}" class="item-image thumbnail {{ 'active' if loop.first }}" ></a>
        {% endfor %}
        <a href="#" class="icons icon-navarrowdown"></a>
    </div>
</div>
