<div id="image-gallery" class="image-gallery">
    <figure id="image-viewer" class="image-viewer image-wrapper">
        {% if item.images.length > 0 %}
            <img src="{{ item.images[0].url }}" alt="" title="" class="item-image" />
        {% endif %}
    </figure>
    <div class="image-navigator">
        <a href="#" class="icons icon-navarrowup"></a>
        {% for image in item.images %}
            <figure><a href="#" class="image-wrapper"><img src="{{ image.thumbnail }}" data-image="{{ image.url }}" class="item-image {{ 'active' if loop.first }}" ></a></figure>
        {% endfor %}
        <a href="#" class="icons icon-navarrowdown"></a>
    </div>
</div>
