<section id="item-location">
    <div class="box">
        <h2>
            <span class="icons icon-pin"></span>
            Localização
        </h2>
        
        {% if item.location.cityName or item.location.stateName %}
            <p>{{ item.location.cityName }}, {{ item.location.stateName }}</p>
        {% endif %}
        <p>{{ item.location.name }}</p>
        <a href=""><span class="icons icon-zoom"></span>Ver mapa más grande</a>
    </div>
    <div class="map">
        
    </div>
</section>