<div id="item-description" class="item-description">
    <h4 class="description-title">{{ dictionary["itemslisting.NewAdDetails"] }}</h4>
    <div class="text">
        {{ item.description }}
    </div>
    {% if item.optionals and item.optionals.length > 1 %}
        <ul class="optionals">
            {% for option in item.optionals %}
                <li>
                    <span>{{ option.label }}</span>
                    <span>{{ option.value }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
