{% if item.coordinates %}
    <div id="item-location" class="item-location">
        <div class="box">
            <h2 class="icons icon-pin">{{ dictionary["optionals.opt-138-323-translation-location"] }} </h2>
            <p>
            {% if item.location.cityName or item.location.stateName %}
                {{ item.location.cityName }}, {{ item.location.stateName }}
            {% endif %}
            <span>{{ item.location.name }}</span></p>
            <a href="" class="icons icon-zoom">{{ dictionary["item.ViewBiggerMap"] }} </a>
        </div>    
        <div class="map">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ item.coordinates.latitude }},{{ item.coordinates.longitude }}&amp;zoom=15&amp;size=274x140&amp;markers={{ item.coordinates.latitude }},{{ item.coordinates.longitude }}&amp;sensor=false">
        </div>
    </div>
{% endif %}
