<article id="item-content">
    <div>
        <p class="featuredad">
            <i class="icons icon-star-circle"></i>
            <em>{{ dictionary["misc.FeaturedAd _BR"] }}</em>
        </p>
        <h2 class="item-title">{{ item.title }}</h2>
        {% view 'items/partials/iteminfo' %}
        {% view 'items/partials/imagegallery' %}
        {% view 'items/partials/itemdescription' %}
        {% if item.coordinates %}
            {% view 'items/partials/itemlocation' %}
        {% endif %}
    </div>
    {% view 'items/partials/itemactions' %}
</article>
