{% for item in items %}
	<li>
		<a href="{{ item | slugToUrl | link }}">
			<div  class="photo">
				<div {{ ('style="background-image:url(' + item.thumbnail + ');"') if item.thumbnail else ('class="noPhoto"') }} data-fullimg="{{ item.fullImage }}"></div>
			</div>
			<div class="title">
				<h3>{{ item.title }}</h3>
				<span>{{ item.displayLocation }}</span>
			</div>
			<div class="price">
				{{ item.price.displayPrice }}
			</div>
			<div class="date">
				{{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (',<br> ' + item.date.since.hour) if item.date.since.hour }}
			</div>
		</a>
		<div class="clear"></div>
	</li>
{% endfor %}