<article id="item-content">
    <div>
        <h1>{{ item.title }}</h1>
        
        <ul class="item-info">
            <li class="icons icon-time">Publicado <time datetime="2014-10-14">fecha</time></li><!--
            --><li class="icons icon-pin">Ubicacion</li>
        </ul>

        {% include (template + "/items/imagegallery.html") %}

        {% include (template + "/items/itemdescription.html") %}

        {% include (template + "/items/itemlocation.html") %}
    </div>

    {% include (template + "/items/socialsharing.html") %}
</article>