<nav class="listing-tabs">
    <ul class="tabs">
        <li>
            <a href="{{ (nav.linkig) | linkig }}" class="icons {{ nav.galeryAct }} icon-gallery" rel="nofollow">{{ dictionary["listingpageitemslisting.Gallery"] }}</a>
        </li>
        <li>
            <a href="{{ nav.link | link }}" class="icons {{ nav.listAct }} icon-list" rel="nofollow">{{ dictionary["listingpageitemslisting.List"] }}</a>
        </li>
    </ul><!-- tabs -->

    <form class="order-by" action="/" method="get">
	    <fieldset>
	    	<label for="order-by-select">Ordenar por:</label>
	    	<select id="order-by-select">
	    		<option selected="selected" value="more-recent">Tiempo: más reciente</option>
	    		<option value="price">Precio: primero más bajo</option>
	    		<option value="pricedesc">Precio: primero más alto</option>
	    	</select>
	    </fieldset>
    </form><!-- order-by -->
</nav>
