{% set changesearch =  '<strong>' + search + '</strong>' %}
{% for item in items %}
    <li>
        <a href="{{ item | slugToUrl | link }}" data-qa="list-item" >
            <figure class="items-image {{ 'lines' if item.imagesCount > 1 }} {{ 'icons icon-photo' if not item.thumbnail }}">
                {% if item.thumbnail %}
                    <img src="{{ item.thumbnail }}" alt="{{ item.title }}">
                {% endif %}
            </figure><!--
            --><div class="items-info">
                <h3>{{ item.title }}</h3><br>
                {% if isStaticSearch %}
                    <div class="description">{{ item.description | truncate( 200, True, '...') }} </div>
                {% endif %}
                <span>{{ item.seo.references[0].anchor }}</span>
            </div><!--
            --><p class="items-price">
                {{ item.price.displayPrice }}
            </p><!--
            --><p class="items-date">
                {{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', <br>' + item.date.since.hour) if item.date.since.hour }}
            </p>
        </a>
    </li>
{% endfor %}
