<section id="item-description">
    <p>Detalles del aviso</p>
    <div>
        {{ item.description }}
    </div>
    {% if item.optionals and item.optionals.length > 1 %}
        <div class="optionals">
            <ul>
                {% for option in item.optionals %}
                    <li>
                        <span>{{ option.label }}</span>
                        <span>{{ option.value }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</section>