{% for item in items %}
    <li>
        <a href="{{ item | slugToUrl | link }}" data-qa="item-list" >
            <figure class="items-image {{ 'lines' if item.thumbnail else 'icons icon-photo' }}">
                {% if item.thumbnail %}
                    <img src="{{ item.thumbnail }}">
                {% endif %}
            </figure>
            <p class="items-info">
                {{ item.title }}<br>
                {% if isStaticSearch %}
                    <b>{{ item.description | truncate( 200, True, '...') }}</b><br>
                {% endif %}
                <span>{{ dictionary["itemslisting.NavigatorByCategory"] }}  | {{ (dictionary["crm_new_version.RenameCategory_3"] + ' ' + item.displayLocation) if item.displayLocation  }}</span>
            </p>
            <p class="items-price">
                {{ item.price.displayPrice }}
            </p>
            <p class="items-date">
                {{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', <br>' + item.date.since.hour) if item.date.since.hour }}
            </p>
        </a>
    </li>
{% endfor %}
