<nav class="items-locations">
	<ul class="locations-tabs">
		<li><a href="{{ nav.link | linkig({location: location.url}) }}" rel="nofollow">{{ location.name }}</a></li>
		{% if location.children | length == 1 %}
			<li><a href="{{ nav.link | linkig({location: location.children[0].url}) }}" rel="nofollow">{{ location.children[0].name }}</a></li>
			{% if location.children[0].children | length == 1 %}
				<li><a href="{{ nav.link | linkig({location: location.children[0].children[0].url}) }}" rel="nofollow">{{ location.children[0].children[0].name }}</a></li>
			{% endif %}
		{% endif %}
	</ul>
	{% if metadata.filters.state or metadata.filters.city %}
		<ul class="locations-list">
			{% for state in metadata.filters.state.value %}
				<li><a href="{{ nav.link | linkig({location: state.id}) }}">{{ state.value }} <span>{{ state.count | countFormat }}</span></a></li>
			{% endfor %}
			{% for city in metadata.filters.city.value %}
				<li><a href="{{ nav.link | linkig({location: city.id}) }}">{{ city.value }} <span>{{ city.count | countFormat }}</span></a></li>
			{% endfor %}
			{# {% for neighborhood in metadata.filters.neighborhood.value %}
				<li>
					<label>
						<input type="checkbox" value="{{neighborhood.id}}" rel="{{ neighborhood.value }}" >
						{{ neighborhood.value }} <span>{{ neighborhood.count | countFormat }}</span>
					</label>
			{% endfor %}
			#}
		</ul>
	{% endif %}
</nav>
