<div id="items-pagination">
    <div class="items-paginations-buttons">
        {% if  metadata.previous and metadata.next %}
            <a href="{{ metadata.previous | linkig }}" role="button" class="pagination-button previous">Volver</a><a href="{{ metadata.next | linkig }}" role="button" class="pagination-button next">Siguiente página</a>
        {% elif metadata.next %}
            <a href="{{ metadata.next | linkig }}" role="button" class="pagination-button next">Siguiente página</a>
        {% else %}
            <a href="{{ metadata.previous | linkig }}" role="button" class="pagination-button previous">Volver</a>
        {% endif %}
    </div>

    <ul class="items-paginations-numbers">
        <li><a href="{{ (metadata.previous | linkig) if metadata.previous else '#' }}" class="icons pagination-arrow icon-arrow-left {{ "disable" if not metadata.previous }}"></a></li>
        <li><a href="" class="pagination-number current">1</a></li>
        <li><a href="" class="pagination-number">2</a></li>
        <li><a href="" class="pagination-number">3</a></li>
        <li><a href="" class="pagination-number">4</a></li>
        <li><a href="" class="pagination-number">5</a></li>
        <li><a href="" class="pagination-number">6</a></li>
        <li><a href="" class="pagination-number">7</a></li>
        <li><a href="" class="pagination-number">8</a></li>
        <li><a href="" class="pagination-number">9</a></li>
        <li><a href="" class="pagination-number">10</a></li>
        <li><a href="{{ (metadata.next | linkig) if metadata.next else '#' }}" class="icons pagination-arrow icon-arrow-right {{ "disable" if not metadata.next }}"></a></li>
    </ul>
</div>
