{% if items.length > 0 %}
    {% include (template + "/partials/breadcrumb.html") %}
    <div class="wrapper-main">
        <nav id="listing-nav">
            {% view 'items/filters' %}
        </nav>
        <section id="listing-items">
            {% include (template + '/items/locations.html') %}
            {% include (template + '/items/list.html') %}
            {% if paginator.isEnabled() %}
                {% include (template + '/items/pagination.html') %}
            {% endif %}
        </section>
    </div>
{% else %}
    {% include (template + '/partials/notfound.html') %}
{% endif %}

{% view 'partials/tracking' %}
