{% include (template + "/items/itembreadcrumb.html") %}

{% view 'partials/adserving', 'item_top' %}

<section id="item-page" data-qa="item" >
    <div class="item-main-wrapper">
        {% include (template + "/items/itemcontent.html") %}

        {% view 'items/partials/relatedads' %}

        {% view 'partials/adserving', 'item_bottom' %}

        {% if seo %}
            {% set seoFrom = "item" %}
            {% include (template + "/partials/seobox.html") %}
        {% endif %}
    </div>
    <aside class="side-column">
        {% include (template + "/items/itemprice.html") %}

        {% view 'items/partials/reply' %}

        {% include (template + "/items/partials/safetytips.html") %}

        {% view 'partials/adserving', 'item_side' %}
    </aside>
</section>
{% view 'partials/tracking' %}
