{% include (template + "/items/breadcrumb.html") %}

<section id="item-page" data-qa="item" >
    {% include (template + "/items/itemcontent.html") %}

    <aside class="side-column">
        {% include (template + "/items/itemprice.html") %}

        {% view 'items/partials/contactform' %}
    </aside>

    {% set seoFrom = "seo-item-page" %}
    {% include (template + "/partials/seobox.html") %}
</section>

{# {% if showAdSenseItemBottom %}
	{% include (template + "/partials/adsense.html") %}
{% endif %} #}

{% view 'partials/tracking' %}
