<div id="ad-options">
    <div class="social-sharing">
        <p>Compartir anuncio en:</p>
        <ul>
            <li class="button-fb">
                <span class="icons icon-facebook"></span>
            </li>
            <li class="button-twitter">
                <a href="" rel="nofollow">
                    <span class="icons icon-twitter"></span>
                </a>
            </li>
            <li class="button-googleplus">
                <span class="icons icon-googleplus"></span>
            </li>
        </ul>
    </div>
    <div class="actions">
        <a class="addToFavorites" href="#" rel="nofollow">Adicionar aos Favoritos</a>
        <a class="flagScam" href="#" rel="nofollow" title="Denunciar este anúncio">Denunciar</a>
    </div>
</div>