<div id="ad-options">
    <div class="social-sharing">
        <p>{{ dictionary["itemslisting.NewShareThisAd"] }} :</p>
        <ul>
            <li class="button-fb" data-share-facebook data-share-url="{{ item.slug }}" >
                <a href="#" rel="nofollow" class="icons icon-facebook"></a>
            </li>
            <li class="button-twitter" data-share-twitter data-share-url="{{ item.slug }}" data-share-title="{{ item.title }}">
                <a href="#" rel="nofollow" class="icons icon-twitter"></a>
            </li>
            <li class="button-googleplus" data-share-gplus data-share-url="{{ item.slug }}" >
                <a href="#" rel="nofollow" class="icons icon-googleplus"></a>
                {# <a class="icons icon-googleplus" href="https://plus.google.com/share?url={{ item.slug }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a> #}
            </li>
        </ul>
    </div>
    <div class="actions">
        <a class="addToFavorites" href="#" rel="nofollow" title="{{ dictionary["messages_item_page.12"] }}">{{ dictionary["messages_item_page.12"] }}</a>
        <a class="flagScam" href="#" rel="nofollow" title="{{ dictionary["widgets.Denounce"] }}">{{ dictionary["widgets.Denounce"] }}</a>
    </div>
</div>
