<div id="ad-options">
    <div class="social-sharing">
        <p>{{ dictionary["itemslisting.NewShareThisAd"] }} :</p>
        <ul>
            <li class="button-fb">
                <span class="icons icon-facebook"></span>
            </li>
            <li class="button-twitter">
                <a href="">
                    <span class="icons icon-twitter"></span>
                </a>
            </li>
            <li class="button-googleplus">
                <span class="icons icon-googleplus"></span>
            </li>
        </ul>
    </div>
    <div class="actions">
        <a class="addToFavorites" href="#" rel="nofollow">{{ dictionary["messages_item_page.12"] }} </a>
        <a class="flagScam" href="#" rel="nofollow" title="Denunciar este anúncio">{{ dictionary["widgets.Denounce"] }} </a>
    </div>
</div>
