
STATIC SEARCH!
<nav id="listing-filters">
    {% include (template + '/items/filters.html') %}
</nav>

<section id='listing-items'>

    <ul class="items-list">
        {% for item in items %}
        <li>
            <a href="{{ item | slugToUrl | link }}" data-qa="item-list" >
                <figure class="items-image {{ 'lines' if item.thumbnail else 'icons icon-photo' }}">
                    {% if item.thumbnail %}
                    <img src="{{ item.thumbnail }}">
                    {% endif %}
                </figure><p
                    class="items-info">
                {{ item.title }}<br>

                <b>{{ item.description.substring(0,210) }}...</b>
            </p><p
                    class="items-price">
                {{ item.price.displayPrice }}
            </p><p
                    class="items-date">
                {{ item.date.since.day if item.date.since.day }} {{ dictionary[item.date.since.dictionary] }}{{ (', <br>' + item.date.since.hour) if item.date.since.hour }}
            </p>
            </a>
        </li>
        {% endfor %}
    </ul>

    {% if meta.next or meta.previous %}
        {% include (template + '/items/pagination.html') %}
    {% endif %}
</section>

{% view 'partials/tracking' %}
