{% if items.length > 0 %}
    {% include (template + "/partials/breadcrumb.html") %}
    <div class="wrapper-main">
        <nav id="listing-filters">
            {% include (template + '/items/filters.html') %}
        </nav>
        <section id='listing-items'>
            {% set isStaticSearch = true %}
            {% set itemListingClass = 'staticsearch' %}
            {% include (template + '/items/locations.html') %}
            {% include (template + '/items/listig.html') %}
            {% if paginator.isEnabled() %}
                {% include (template + '/items/pagination.html') %}
            {% endif %}
        </section>
    </div>
{% else %}
    {% include (template + '/partials/notfound.html') %}
{% endif %}

{% view 'partials/tracking' %}
