{% if items.length > 0 %}
    {% view 'items/partials/breadcrumb' %}
    <div class="wrapper-main">
        <nav id="listing-nav">
            {% view 'items/partials/filters', 'staticSearch' %}
        </nav>
        <section id='listing-items'>
            {% set isStaticSearch = true %}
            {% set itemListingClass = 'staticsearch' %}
            {% view 'items/partials/locations' %}
            {% include (template + '/items/listig.html') %}
            {% if paginator.isEnabled() %}
                {% include (template + '/items/pagination.html') %}
            {% endif %}
        </section>
    </div>
{% else %}
    {% include (template + '/partials/notfound.html') %}
{% endif %}

{% view 'partials/tracking' %}
