{% include (template + "/items/breadcrumb.html") %}

<div class="related-category icons icon-tag">
    <h3>{{ dictionary["misc.EverythingSells"]|replace('<<BRAND>>','OLX') }}</h3>
    <p>{{ dictionary["item.AdNotAvailable"]|replace('<<AD_TITLE>>', item.title) }} {{ dictionary["item.SeeMoreAds"]|replace('<<LINK_TO_CATEGORY>>', '') }} <a href="{{ category | slugToUrl | link }}">{{ item.category.name }}</a></p>
</div>

<div class="expired-item">
    <figure class="items-image icons icon-photo">
        <img src="{{ item.images[0].thumbnail }}" alt="{{ item.title }}" />
    </figure>
    <h3><span class="label">{{ dictionary["item.Ended_New"] }}</span>{{ item.title }}</h3>
    <div class="description">{{ item.description }}</div>
</div>

<h3 class="title">{{ dictionary["misc.PeopleWereAlsoInterestedIn"] }}</h3>

<nav id="listing-filters">
    {% include (template + '/items/parentcategories.html') %}
</nav>

<section id="listing-items">
    {% include (template + '/items/list.html') %}
</section>