.header-view {
	margin: 0 0 20px 0;
	position: relative;
	box();
	clear-fix();

	&::before {
		background-image: -moz-linear-gradient(left center, $violet 15%, $green 15%, $green 29%, $orange 29%, $orange 43%, $violet 43%, $violet 57%, $green 57%, $green 71%, $orange 71%, $orange 85%, $violet 85%, $violet 100%);
		background-image: -ms-linear-gradient(left center, $violet 15%, $green 15%, $green 29%, $orange 29%, $orange 43%, $violet 43%, $violet 57%, $green 57%, $green 71%, $orange 71%, $orange 85%, $violet 85%, $violet 100%);
		background-image: linear-gradient(to left, $violet 15%, $green 15%, $green 29%, $orange 29%, $orange 43%, $violet 43%, $violet 57%, $green 57%, $green 71%, $orange 71%, $orange 85%, $violet 85%, $violet 100%);
		bottom: 100%;
		content: "";
		height: 5px;
		left: -1px;
		position: absolute;
		width: 980px;
	}

	.brand {
		left: 30px;
		margin: 0;
		position: absolute;
		top: -13px;

		img {
			display: block;
		}
	}
	
	.disabled {
		display: none;		
	}

	.posting {
		float: right;
	}
	
	.posting-title {
		float: left;
		font-size: $xl;
		margin: 6px 0 0 132px;
		span {
			color: $greyStrong;
			display: block;
			font-size: $s;
			font-weight: normal;
		}
	}

	.search-form {
		float: left;
		margin: 6px 0 0 132px;
	}
}
