.header-view {
	margin: 0 0 20px 0;
	position: relative;
	box();
	clear-fix();

	&::before {
	  background-image: -moz-linear-gradient(left center, $violet 14%, $green 14%, $green 28%, $orange 28%, $orange 42%, $violet 42%, $violet 56%, $green 56%, $green 70%, $orange 70%, $orange 84%, $violet 84%, $violet 100%);
	  background-image: -ms-linear-gradient(left center, $violet 14%, $green 14%, $green 28%, $orange 28%, $orange 42%, $violet 42%, $violet 56%, $green 56%, $green 70%, $orange 70%, $orange 84%, $violet 84%, $violet 100%);
	  background-image: linear-gradient(to left, $violet 14%, $green 14%, $green 28%, $orange 28%, $orange 42%, $violet 42%, $violet 56%, $green 56%, $green 70%, $orange 70%, $orange 84%, $violet 84%, $violet 100%);
	  bottom: 100%;
	  content: "";
	  height: 5px;
	  left: 0;
	  position: absolute;
	  width: 980px;
	}

	.brand {
		left: 30px;
		margin: 0;
		position: absolute;
		top: -13px;

		img {
			display: block;
		}
	}

	.posting {
		float: right;
	}

	.search-form {
		float: left;
		margin: 6px 0 0 132px;
	}
}
