.header-view {
	height: 60px;
	position: relative;

	.brand {
		left: 30px;
		margin: 0;
		position: absolute;
		top: -9px;

		img {
			display: block;
		}
	}

	.posting {
		float: right;
	}

	.search-box {
		float: left;
		line-height: 60px;
		margin: 0 0 0 132px;
	}
}