.header-usernav-view {
	padding: 10px 0;
	
	ul {
		float: right;

		li:first-child {
			border-left: none;
			}
		li {
			border-left: 1px solid #ccc;
			display: inline-block;
			vertical-align: middle;
		}
			li:last-child a {
				padding-right: 0;
			}
			li a {
				padding: 0 5px;
			}
	}
}