.footer-view {

    margin-top: 30px;

    .columns {

        display: table;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        padding: 0 1px;
        list-style: none;
        color: #666;
        line-height: 1;

    }
    
    .column {

        display: table-cell;
        margin: 0;

        &.apps {

            background-repeat: no-repeat;
            background-color: transparent;
            background-position: 163px center;
            background-image: url(imageUrl/images/desktop/footer/downloadapp_en.png);

            &.es {

                background-image: url(imageUrl/images/desktop/footer/downloadapp_es.png);

            }

        }
        
    }
    
    .column-title {

        margin: 0;
        padding: 0 20px 30px;
        font-size: 16px;
        font-weight: bold;

    }
    
    .column-links {

        padding: 0;
        list-style: none;
        font-size: 12px;

    }
    
    .column-item {

        position: relative;
        padding: 0 20px;
        margin-top: 10px;
        
        &.wide {

            padding: 0;

        }

        &:first-child,
        &.wide:first-child {

            margin-top: 0;

        }

    }
    
    .text-link,
    .modal-link {

        color: inherit;

    }

    .icon-link {

        display: block;
        overflow: hidden;
        width: 133px;
        height: 45px;
        text-indent: -1000em;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;

        &.app-store {

            background-image: url(imageUrl/images/desktop/footer/appstore_en.png);

            &.es {

                background-image: url(imageUrl/images/desktop/footer/appstore_es.png);

            }

        }

        &.google-play {

            background-image: url(imageUrl/images/desktop/footer/googleplay_en.png);

            &.es {

                background-image: url(imageUrl/images/desktop/footer/googleplay_es.png);

            }

        }

    }

    .modal-link {

        display: block;
        padding: .5em;
        margin: 0 20px;
        border: solid 1px #CCC;
        border-radius: .5em;
        position: relative;
        transition(background-color .2s ease);
        
        &:before {

            content: "\63";
            transform(rotate(270deg));
            transition(transform .25s ease .1s);
            position: absolute;
            right: 1em;
            top: 50%;
            display: inline-block;
            margin-top: -4px;
            font-size: 8px;
            color: #999;
            font-family: 'olx-icon-font';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            speak: none;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

        }
        
        &:hover {

            background-color: #EEE;
            text-decoration: none;

        }

        &.active {

            z-index: 52;
            background-color: #CCC;
            color: #FFF;

            &:before {

                transform(rotate(90deg));
                color: #FFF;

            }

            &:hover {

                background-color: #CCC;

            }

        }

    }

    .modal-container {

        display: none;
        position: absolute;
        left: -1px;
        bottom: 100%;
        width: 980px;
        z-index: 51;
        overflow: hidden;
        margin: 0 0 -4px -200%;
        background-color: #FFF;
        border: solid thin #CCC;
        border-bottom-width: 4px;
        box-sizing: border-box;
        box-shadow: 1px 5px 3px -4px rgba(0, 0, 0, .75);

    }

    .modal-header {

        position: relative;
        padding: 15px 40px 15px 20px;
        border-bottom: solid thin #CCC;

    }

    .modal-title {

        margin: 0;
        font-size: $l;

    }

    .modal-close {

        position: absolute;
        top: 13px;
        right: 13px;
        font-size: $l;
        color: #666;

        &:hover {

            color: $black;

        }

    }

    .modal-content {

        display: table;
        table-layout: fixed;
        
    }

    .modal-section {

        display: table-cell;

    }

    .modal-section-title {

        margin: 0;
        padding: 20px 20px 0;
        font-weight: normal;
        font-size: $m;

    }

    .modal-columns {

        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;

    }

    .modal-column {

        display: table-cell;
        padding: 0 10px 10px;
        list-style: none;

    }

    .modal-column-item {

        padding-top: 10px;

    }
    
    .extra {

        display: table;
        width: 938px;
        padding: 20px 0px;
        margin: 30px 21px 0;
        border-top: solid 1px #CCC;
        font-size: 12px;
        color: #999;
        line-height: 1;

    }

    .copyright {

        display: table-cell;
        width: 100%;

    }

    .social-networks {

        display: none;
        /*display: table-cell;*/
        padding: 0;
        list-style: none;
        white-space: nowrap;

    }

    .social-networks-item {

        display: inline-block;

    }

    .social-networks-link {

        display: block;

    }

}
