.footer-view {

    .columns {

        display: table;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        padding: 0 1px;
        list-style: none;
        color: #666;
        line-height: 1;

    }
    
    .column {

        display: table-cell;
        margin: 0;
        
    }
    
    .column-title {

        margin: 0;
        padding: 0 20px 30px;
        font-size: 16px;
        font-weight: bold;

    }
    
    .column-links {

        padding: 0;
        list-style: none;
        font-size: 12px;

    }
    
    .column-item {

        position: relative;
        padding: 10px 20px 0;
        
        &.wide {

            padding: 10px 0 0;

        }

        &:first-child,
        &.wide:first-child {

            padding-top: 0;

        }

    }
    
    .text-link,
    .modal-link {

        color: inherit;

    }

    .modal-link {

        display: block;
        padding: .5em;
        margin: 0 20px;
        border: solid 1px #CCC;
        border-radius: .5em;
        position: relative;
        transition(background-color .2s ease);
        
        &:before {

            content: "\63";
            transform(rotate(270deg));
            transition(transform .25s ease .1s);
            position: absolute;
            right: 1em;
            top: 50%;
            display: inline-block;
            margin-top: -4px;
            font-size: 8px;
            color: #999;
            font-family: 'olx-icon-font';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            speak: none;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

        }
        
        &:hover {

            background-color: #EEE;
            text-decoration: none;

        }

        &.active {

            z-index: 52;
            background-color: #CCC;
            color: #FFF;

            &:before {

                transform(rotate(90deg));
                color: #FFF;

            }

            &:hover {

                background-color: #CCC;

            }

        }

    }

    .modal-container {

        display: none;

        height: 300px;

        position: absolute;
        left: -1px;
        bottom: 100%;
        width: 980px;
        z-index: 51;
        overflow: hidden;

        margin: 0 0 -4px -200%;

        background-color: #FFF;
        
        border: solid thin #CCC;
        border-bottom-width: 4px;

        box-sizing(border-box);
        
        box-shadow: 1px 5px 3px -4px rgba(0, 0, 0, .75);

    }
    
    .copyright {

        padding: 20px 0;
        margin: 30px 21px 0;
        border-top: solid 1px #CCC;
        font-size: 12px;
        color: #999;
        line-height: 1;

    }

}

.footer-view {
    margin-top: 30px;
    padding-bottom: 10px;

    .container {
        border-top: 1px solid $greyBorders;
        clear-fix();
        padding: 10px 0 0 0;

        .text {
            color: $greyStrong;
            float: left;
            font-size: $xs;
            margin: 0;
            padding-left: 10px;
        }
    }

    .social {
        clear-fix();
        float: right;
        ul-reset();

        li {
            display: inline-block;
            margin: 0 0 0 5px;

            .icons {
                background: $greyStrong;
                circle(25px);
                color: $greyPageBg;
                display: inline-block;
                font-size: remify(13px);
                line-height: 24px;
                text-align: center;
                vertical-align: middle;

                &:hover {
                    background: $black;
                }
            }
        }
    }

    .footer-menu {
        clear-fix();
        position: relative;
    }

    .footer-navigation {
        float: left;

        p {
            border-right: 1px solid $greyBorders;
            color: $black;
            cursor: pointer;
            display: inline-block;
            margin: 0;
            padding: 0 10px;
            line-height: 32px;

            &:last-child {
               border-right: none;
            }

            &:hover,
            &:hover .icons::before {
                text-decoration: none;
                color: $black;
            }

            .icons::before {
                color: $greyStrong;
                display: inline-block;
                font-size: remify(8px);
                margin-left: 10px;
            }

            .icon-arrow::before {
                transform(rotate(-90deg));
            }

            &.active {
                background: $greyStrong;
                color: $white;

                .icons::before,
                p:hover .icons::before {
                    color: $white;
                }
                .icon-arrow::before {
                    transform(rotate(90deg));
                }
            }
        }
        .footer-slide-content {
            bottom: 32px;
            box($white, $greyBorders $greyBorders $greyStrong, 3px 3px 0 0, 0, solid, 1px 1px 4px);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, .3);
            clear-fix();
            left: 0;
            position: absolute;
            right: 0;
            z-index: 99;
            display: none;

            .icon-close {
                btn-close($greyStrong, $black);
                top: 8px;
                right: 10px;
                font-size: remify(20px);
            }

            .title-bar {
                border-bottom: 1px solid $greyBorders;
                padding: 10px 40px 10px 20px;

                h3 {
                    font-size: $l;
                    font-weight: bold;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .footer-help-slide {
            ul-reset();
            padding: 20px;

            li {
                display: inline-block;
                padding-right: 20px;
            }
            a {
                font-size: $xs;
                line-height: 1;
            }
        }

        .footer-categorytree-view {
            ul {
                ul-reset();
            }

            .category-list {
                box-sizing: border-box;
                float: left;
                padding: 20px 10px;
                width: 25%;

                &:last-child {
                    padding-right: 20px;
                }

                a {
                    font-size: $xs;
                    line-height: 1;
                }

                li {
                    padding-bottom: 4px;
                }

                .category {
                    padding-bottom: 20px;

                    > a {
                        font-weight: bold;
                        font-size: $m;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }

            .category-list-first {
                 padding-left: 20px;
            }

            .category-link {
                color: $black;
                display: inline-block;
                padding-bottom: 10px;

                h3 {
                    font-size: $m;
                    font-weight: normal;
                    margin: 0;
                }
            }
        }

        .footer-countries-view {
            ul {
                ul-reset();
            }

            .countries-list {
                box-sizing: border-box;
                float: left;
                padding: 20px 5px;
                width: 16.6%;

                &:last-child {
                    padding-right: 20px;
                }

                a {
                    font-size: $xs;
                    line-height: 1;
                }

                li {
                    padding-bottom: 4px;
                }
            }

            .countries-list-first {
                 padding-left: 20px;
            }
        }

        .footer-popular-view {

            .popular-topcities,
            .popular-states {
                float: left;
                width: 50%;
            }

            .popular-title {
                color: $black;
                font-size: $m;
                font-weight: normal;
                margin: 0;
                padding: 20px 20px 0 20px;
            }

            ul {
                ul-reset();
            }

            .popular-list {
                box-sizing: border-box;
                float: left;
                padding: 10px 5px 20px;
                width: 50%;

                &:last-child {
                    padding-right: 20px;
                }

                a {
                    font-size: $xs;
                    line-height: 1;
                }

                li {
                    padding-bottom: 4px;
                }
            }

            .popular-list-first {
                 padding-left: 20px;
            }
        }

    }

    .appStores {
        float: right;
        margin-top: -7px;
    }
}
