footer {
    margin-top: 30px;
    padding-bottom: 40px;

    .container {
        border-top: 1px solid $greyBorders;
        clear-fix();
        padding: 10px 0 0 0;

        p {
            color: $greyStrong;
            float: left;
            font-size: $xs;
            margin: 0;
        }

        .social {
            clear-fix();
            float: right;
            ul-reset();

            li {
                &first-child {
                    margin: 0;
                }
                display: inline-block;
                margin: 0 0 0 5px;
                vertical-align: middle;
                text-align: center;
                a {
                    background: $greyStrong
                    border-radius(50%);
                    color: $greyPageBg;
                    display: inline-block;
                    font-size: .8rem;
                    height: 25px;
                    line-height: 24px;
                    vertical-align: middle;
                    width: 25px;

                    &:hover {
                        background: $black;
                    }
                }
            }
        }
    }

    .footer-options {
        clear-fix();
    }

    .select {
        ul-reset();
        float: left;
        margin: 13px 0 0 0;

        li {
            border-right: 1px solid $greyBorders;
            display: inline-block;
            padding-right: 5px;
            vertical-align: middle;

            &:last-child {
               border-right: none;
            }

            a {
                color: $black;
                height: 32px;
                line-height: 32px;
                padding-left: 10px;

                &:hover {
                    text-decoration: none;
                }
            }

            .icon-arrow::before {
                color: $greyStrong;
                display: inline-block;
                font-size: remify(10px);
                margin: 0 5px;
                transform(rotate(-90deg));
                vertical-align: middle;
            }
        }
    }
}
