.slide-container {
    position: relative;

    .footer-slide {
        bottom: 0;
        box($white, $greyBorders $greyBorders $greyStrong, 3px 3px 0 0, 20px, solid, 1px 1px 4px);
        left: 0;
        position: absolute;
        right: 0;
        z-index: 99;

        .icon-close::before {
            background-color: $greyStrong;
            border-radius: 3px;
            color: #eee;
            font-size: 0.714286rem;
            padding: 4px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        ul {
            ul-reset();
        }
        .title-bar {
            border-bottom: 1px solid $greyBorders;

            h3 {
                font-size: $s;
                font-weight: bold;
                padding: 0 0 10px;
                margin: 0;
            }
        }
    }
    .footer-categorytree-view {
        clear-fix();
        .category-list {
            box-sizing: boder-box;
            float: left;
            padding: 20px 20px 0 0;
            width: 25%;

            li {
                a {
                    font-size: $xs;
                }
                &.category {
                    margin-bottom: 10px;
                    > a {
                        font-weight: bold;
                        font-size: $s;
                    }
                }
            }
        }
    }
    .help-slide {
        li {
            display: inline-block;
            padding-right: 20px;
        }
    }
    .popular-slide {
        clear-fix();
        .popular-column {
            float: left;
            width: 448px;
            ul {
                float: left;
            }
        }
        .popular-cities {
            float: right;
        }
    }

    .around-slide {
        clear-fix();
        ul {
            float: left;
            width: 116px;
            a {
                font-size: $xs;
            }
        }
    }
}
