<!doctype html>
<html>
    {% view 'layout/head' %}
    <body>

        {% view 'header/index' %}
        {% set templateName = 'compiled/' + template + '/partials/search.html' %}
        {% include templateName %}

        <article>
            <div id="content">
                {{body}}
            </div>
        </article>

        {% view 'location/select' %}
        {% view 'footer/languages' %}
        {% view 'footer/footer' %}

        <script src="/js/{{jsDir}}/libs.js"></script>
        <script src="/js/{{jsDir}}/translations.js"></script>
        <script src="/js/{{jsDir}}/{{directory}}/app.js"></script>
        <script>
            (function() {
                var App = window.App = new (require('app/app'))({% json appData %});
                App.bootstrapData({% json bootstrappedData %});
                App.start();
            })();
        </script>
    </body>
</html>
