.image-gallery {
    clear-fix();
    overflow: hidden; /* remove this after JS implementation */

    .image-wrapper {
        border: 1px solid $greyBorders;
        position: relative;

        .item-image {
            bottom: 0;
            left: 0;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .image-viewer {
        background: $greyPageBg;
        float: left;
        height: 400px;
        margin: 0;
        width: 538px;
        display: table;
        cursor: pointer;

        .icons {
            display: none;
            position: relative;
            text-align: center;
            vertical-align: middle;
            z-index: 10;

            &::before {
                background: rgba(0, 0, 0, .4);
                border-radius(50%);
                color: $white;
                font-size: 30px;
                padding: 20px;
            }
        }
        &:hover .icons {
            display: table-cell;
        }
    }

    .image-navigator {
        float: right;
        height: 403px;
        width: 67px;
        .icons {
            background: $greyBoxBg;
            border: 1px solid $greyBorders;
            color: $greyStrong;
            display: block;
            text-align: center;
            &:hover {
                background: $white;
                border: 1px solid $greyStrong;
                &::before {
                    color: $black;
                }
            }
            &::before {
                font-size: $xs;
            }
            &.icon-arrow-up::before {
                margin-top: -4px;
            }
        }
        .thumbnail {
            height: 367px;
            overflow-y: hidden;
            position: relative;


            .thumbnail-wrapper {
                left: 2px;
                position: absolute;
                top: 0;
            }

            figure {
                border: 1px $greyBorders solid;
                cursor: pointer;
                display: inline-block;
                height: 61px;
                margin: 4px auto;
                position: relative;
                width: 61px;

                &:hover, &.active {
                    border: 1px $blue solid;
                    outline: 2px $blue solid;
                }

                img {
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    max-height: 100%;
                    max-width: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
    .single {
        width: 616px;
    }
    .icon-photo{
        text-align: center;
        &::before {
            color: $disableText;
            font-size: 230px;
            line-height: 400px;
        }
    }
}