#item-actions {
    background: $greyBoxBg;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid $greyBorders;
    padding: 10px 20px;
    width: auto;
    clear-fix();

    .social-sharing {
        float: left;
        p {
            color: #666;
            display: inline-block;
            margin: 8px 8px 0 0;
            vertical-align: top;
        }
        ul {
            display: inline-block;
            ul-reset();
            margin-top: 3px;
            li {
                circle(28px);
                float: left;
                font-size: $m;

                &:not(:last-child) {
                    margin-right: 10px;
                }
                &.button-fb {
                    background: $blueFacebook;
                }
                &.button-twitter {
                    background: $cyanTwitter;
                }
                &.button-googleplus {
                    background: $redGooglePlus;
                    a::before {
                        margin-left: 2px;
                    }
                }
                a {
                    color: $white;
                    display:block;
                    margin: 5px 0 0 6px;
                    &::before {
                        font-size: $s;
                        margin: -2px 0 0 1px;
                    }
                }
            }
        }
    }
    .actions {
        float: right;
        margin-top: 8px;
        a {
            background: $greyBoxBg;
            background: -moz-linear-gradient(top, $greyBoxBg 0%, #f1f1f1 100%);
            background: -ms-linear-gradient(top, $greyBoxBg 0%,#f1f1f1 100%);
            background: linear-gradient(to bottom, $greyBoxBg 0%,#f1f1f1 100%);
            border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
            border-radius(3px);
            border-style: solid;
            border-width: 1px;
            color: $black;
            padding: 6px 15px;
            text-align: center;
            text-shadow: 0 1px 0 $white;
            font-size: $xs;

            &.addToFavorites {
                margin-right: 10px;
            }
            &:hover{
                background: $greyBoxBg;
                background: -moz-linear-gradient(top,  #f6f6f6 0%,$greyBoxBg 100%);
                background: -ms-linear-gradient(top, #f6f6f6 0%,$greyBoxBg 100%);
                background: linear-gradient(to bottom, #f6f6f6 0%,$greyBoxBg 100%);
                text-decoration: none;
            }
             &:active {
                background: $greyBoxBg;
                border-color: $greyStrong;
            }
        }
    }
}
