.items-locations {
    margin-bottom: 15px;
    ul {
        ul-reset();
    }
    .locations-tabs {
        font-size: $s;
        height: 37px;
        li {
            display: inline-block;
            position: relative;
            vertical-align: top;
            a.icon-close {
                btn-close($greyStrong, $yellow, $black, $yellow)
                right: 7px;
                top: 11px;
                &.state {
                    color: $yellow;
                }
                &.city {
                    color: $white;
                }
            }
        }
        li:not(:last-child) {
            border-bottom: none;
            box($white, $greyBorders, 0, 10px 10px 10px 28px);
            tab-arrow(right, $white, $greyBorders, 1px, 18px, 10);
        }
        li:first-child {
            box($white, $greyBorders, 3px 0 0 0, 10px);
            border-bottom: none;
        }
        li:last-child {
            box($yellow, $yellowBorders, 0 3px 0 0, 10px 30px 11px 28px, solid, 1px);
            border-bottom: $yellow;
        }
        li:only-child {
            box($yellow, $yellowBorders, 3px 3px 0 0, 10px 10px 11px 10px);
            border-bottom: $yellow;
        }
        &.locations-empty {
            li{
                background: $white;
                border: 1px solid $greyBorders;
                .icon-close {
                    color: $white;
                }
                &:last-child {
                    padding-bottom: 10px;
                }
            }
            &.locations-neighborhood {
                li:last-child {
                    background: $greyBoxBg;
                    border-bottom: none;
                    padding: 10px 30px 11px 28px;
                }
            }
        }
    }
    .locations-list {
        box($yellow, $yellowBorders, 0 3px 3px 3px, 10px);

    }
    .locations {
        display: inline-block;
        font-size: $xs;
        margin: 4px 0;
        vertical-align: top;
        width: 24%;
        span {
            color: $greyStrong;
        }
    }
    .neighborhood {
        box($greyBoxBg, $greyBorders, 0 3px 3px 3px, 0);

        .active-neighborhoods {
            ul {
                padding: 10px;
                border-bottom: 1px solid $greyBorders;
            }
            .active-neighborhood {
                box($greyStrong, $greyStrong, 3px, 5px 30px 5px 5px);
                color: $white;
                cursor: pointer;
                display: inline-block;
                font-size: $xs;
                margin: 0 10px 10px 0;
                position: relative;
                &:hover {
                    background: $black;
                    border-color: $black;
                }
                .icons {
                    font-size: remify(10px);
                    position: absolute;
                    right: 5px;
                    top: 4px;
                }
            }
        }
        .neighborhood-list {
            ul {
                border-bottom: 1px solid $greyBorders;
                padding: 10px;
                height: 60px;
                overflow: hidden;
                display: inline-block;
            }
        }
        .locations {
            label {
                padding: 0 0 0 18px;
                position: relative;
                input {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }
            &:first-child {
                font-weight: bold;
                width: 100%;
            }
        }
        .actions {
            display: block;
            padding: 10px;
        }
        .cancel-btn, .filter-btn {
            cursor: pointer;
            display: inline-block;
            font-size: $s;
            line-height: 1;
            &.hide {
                display: none;
            }
        }
        .cancel-btn {
            action-button($greyBoxBg, $black, 3px, 10px);
        }
        .filter-btn {
            action-button($green, $white, 3px, 10px);
            font-weight: bold;
        }
        .see {
            color: $blue;
            cursor: pointer;
            float: right;
            font-size: $xs;
            margin: 10px 0 0 0;
            padding: 0 20px 0 0;
            position: relative;
            &:before {
                position: absolute;
                right: 0;
                top: 1px;
            }
        }
    }
}
