.alternative-show-simplified-reply-form {
    fieldset[class=phone],
    fieldset[class=email],
    fieldset[class=name] {
        display: none;
        &.visible {
            display: inline;
        }
    }
}

