.alternative-show-simplified-reply-form {
    fieldset.phone,
    fieldset.email,
    fieldset.name {
        display: none;
        &.visible {
            display: block;
        }
    }
}

.dgd-hide-phone-number {

	position: relative;
	padding-left: 1.5em;
	
	&:before {

		position: absolute;
		top: 0;
		left: 0;

	}
	
	.action-container {

		display: block;
		font-size: $xs;
		font-weight: normal;
		
	}

}

