.side-column .safety-tips {
	box($greyBoxBg, $greyBoxBg);
	margin-top: 20px;
	padding: 20px;
	
	h2 {
		margin: 0 0 10px;
		font-weight: normal;
		font-size: $l;
	}
	ul {
		padding-left: 20px;
		margin: 0;
		
		li {
			line-height: $l;
			margin-bottom: 10px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
