{% view 'items/partials/breadcrumb' %}
<div class="wrapper-main">
    <aside class="listing-side">
        <nav id="listing-nav">
            {% include (template + '/items/parentcategories.html') %}
            {% if items.length > 0 %}
                {% view 'items/partials/filters' %}
            {% endif %}
        </nav>
        {% view 'partials/adserving', 'listing_side' %}
    </aside>

    <section id="listing-items">
        {% view 'items/partials/locations' %}
        {% include (template + '/items/list.html') %}
        {% if paginator and paginator.isEnabled() %}
            {% include (template + '/items/pagination.html') %}
        {% endif %}
    </section>
</div>

{% if seo %}
    {% include (template + '/partials/seobox.html') %}
{% endif %}

{% view 'partials/tracking' %}
