{% if tracking.params and tracking.params.ninja %}
<script type="text/javascript">
    var dataLayer = window.dataLayer || [];
    dataLayer.push({"trackPage": "{{ tracking.params.ninja.pageName }}"});
    (function() {
        window.configTracking = {
            siteUrl: "{{ location.url }}",
            environment: "testing"
        };
        var script = document.createElement("script")
        script.type = "text/javascript";
        script.async = true;
        script.src = ("https:" == document.location.protocol ? "https://" : "http://") + 'ninja.onap.io/ninja.js';
        (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0] || document.getElementsByTagName("script")[0].parentNode).insertBefore(script, null);
    })();
</script>
{% endif %}