{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["posting_selector.SelectCategory"]) }}
<div id="selectCat">
    <ul class="normalList">
        {% for category in categories %}
            <li class="{{ "last" if loop.last else "" }}">
                <a href="{{ ['/posting/', category.id] | join('') | link }}" data-qa="category-name" >{{category.trName}}</a>
            </li>
        {% endfor %}
    </ul>

    {% set templateName = template + '/pixels/post/categories.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}

{% view 'partials/tracking' %}
