{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["posting_selector.SelectSubCategory"]) }}
<div id="selectSubCat">
    <ul class="normalList">
        {% for category in subcategories %}
            <li class="{{ "last" if loop.last else "" }}">
                <a href="{{ ['/posting/', categoryId, '/', category.id] | join('') | link }}">{{category.trName}}</a>
            </li>
        {% endfor %}
    <ul>
    {% set templateName = template + '/partials/analytics.html' %}
    {% include templateName %}
</div>
{{ BreadcrumbHome(dictionary, link) }}
