{% from macros import Breadcrumb, BreadcrumbHome %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["posting_selector.SelectSubCategory"]) }}
<div id="selectSubCat">
    <ul class="normalList">
        {% for category in subcategories %}
            <li class="{{ "last" if loop.last else "" }}">
                <a href="{{ ['/posting/', categoryId, '/', category.id] | join('') | link }}" data-qa="subcategory-name">{{category.trName}}</a>
            </li>
        {% endfor %}
    <ul>
</div>
{{ BreadcrumbHome(dictionary, link, ('/' | link)) }}

{% view 'partials/tracking' %}
