<div id="notification-message" class="notification-message icons icon-happy">
    <img src="{{ '/images/html4/icon_cara-verde.png' | static }}" alt="">
    <h4>{{ dictionary["misc.GladYouSold"] }}</h4>
    <p>{{ dictionary["misc.AdNotInResults"] | replace('<<AD_TITLE>>', '<b>' + item.title + '</b>' )}}</p>
    <p>{{ dictionary["misc.Tx4Posting"] }}</p>
</div>

<section id="notification-keep-posting" class="notification-keep-posting">
    <h3 class="title">{{ dictionary["misc.SellUnused"] }}</h3>
    <img src="{{ '/images/html4/icons_category.png' | static }}" alt="">
    <div class="btnPost">
        <a href="{{ '/posting' | link }}" class="btns orange" data-qa="post-button">{{ dictionary["crm_new_version.KeepPosting"] }}</a>
    </div>
</section>
