#itemListing #itemPagination {
	height: 33px;
	margin: 20px auto 0;
	font-size: 15px;
	text-align: center;
}
#itemListing #itemPagination .arrow {
	display: inline-block;
	width: 34px;
	height: 33px;
}
#itemListing #itemPagination .arrow.rightA {
	background: url(imageUrl/images/html4/leftA.png) no-repeat;   
}
#itemListing #itemPagination .arrow.rightD {
	background: url(imageUrl/images/html4/leftD.png) no-repeat;   
}
#itemListing #itemPagination .arrow.leftA {
	background: url(imageUrl/images/html4/rightA.png) no-repeat;   
}
#itemListing #itemPagination .arrow.leftD {
	background: url(imageUrl/images/html4/rightD.png) no-repeat;   
}
#itemListing #itemPagination .center {
	display: inline-block;
	height: 33px;
	text-align: center;
	line-height: 33px;
	vertical-align: top;
}
#itemListing #itemPagination .center a, #itemListing #itemPagination .center strong {
	display: inline-block;
	padding: 0 8px;
	color: #333;
}
#itemListing #itemPaginationCaption {
	width: 250px;
	margin: 0 auto 5px;
	clear: both;
	overflow: hidden;
	font-size: 13px;
}
#itemListing #itemPaginationCaption a {
	color: #AAA;
}
#itemListing #itemPaginationCaption a.left {
	float: left;
}
#itemListing #itemPaginationCaption a.right {
	float: right;
}