#header {

	position: relative;
	height: 50px;
	background-color: #4275BA;

	span {

		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		padding-left: 8px;

		a {

			display: block;
			width: 74px;
			height: 50px;
			background: transparent url(imageUrl/images/html4/logo.png) no-repeat center center;
			text-indent: -9000px;

		}

	}

	ul {

		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		padding-right: 6px;

		li {

			float: left;
			height: 36px;
			padding: 8px 0 6px 6px;
			min-width: 38px;

			.post, .user {
				display: block;

				cursor: pointer;
			}

			.user {
				width: 38px;
				height: 37px;
				padding: 0;
				text-indent: -9000px;
				position: absolute;
				top: 3px;
			}

			.loggedOut {
				background-image: url(imageUrl/images/html4/logout.png);
			}

			.loggedIn {
				background-image: url(imageUrl/images/html4/login.png);
			}

			.loggedInUnreadMessages {
				background-image: url(imageUrl/images/html4/login-msg.png);
			}

			.loggedInMyOlx {
				background-image: url(imageUrl/images/html4/login-menu.png);
			}

			.post {
				height: 24px;
				padding: 7px 8px 0;
				border-radius: 4px;
				background-color: #E0771B;
				border: thin solid #C44D13;
				font-weight: bold;
				color: #FFF;
				text-transform: uppercase;

			}

		}

	}

}
