{% from macros import Breadcrumb %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["posting_selector.SelectCategory"]) }}
<section id="selectCat" class="list">
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ ['/posting/', category.id] | join('') | link }}" class="trackMe" data-tracking="Posting-ClickSelectCategoryList" data-id="{{category.id}}" data-qa="category-name" >{{category.trName}}</a>
            </li>
        {% endfor %}
    </ul>
    {% set templateName = template + '/partials/tracking.html' %}
    {% include templateName %}
    {% set templateName = template + '/pixels/post/categories.html' %}
    {% include templateName %}
</section>
