{% from macros import Breadcrumb, ErrorsPosting, FieldText, FieldTextArea, FieldCombobox %}
{% set link = (breadcrumb | link) %}
{{ Breadcrumb(dictionary, link, dictionary["defaultfooter.Back"]) }}
<div class="changeCat">
    {{ dictionary["itemslisting.Category"] }} : {{ subcategory.name }}
    <a href="{{ '/posting' | link }}">{{ dictionary["defaultheader.change"] }}</a>
</div>
{% if form and form.errors %}{{ ErrorsPosting(form.errors) }}{% endif %}
<section id="posting">
    <form id="postingForm" action="{{ '/post' | link }}" method="POST" enctype="multipart/form-data">
        <label>{{ dictionary["posting_fields_1.photos"] }}: <br> <small>{{ dictionary["posting_photos.UpTo5XMore"] }}</small></label>
        <div class="fileUpload">
            {% for image in item.images %}
                <input type="file" name="images[]" class="old-file{{loop.index}}" />
                <div id="old-file{{loop.index}}" class="image fill" style="background-image: url('{{image.thumbnail}}');">
                    <span class="remove-old-image"></span>
                </div>
                <input type="checkbox" name="del.image.{{image.id}}" value="{{image.id}}" class="old-image check-old-file{{loop.index}}" >
                <input type="hidden" name="image.{{image.id}}" value="{{image.id}}" class="old-image" >
            {% endfor %}
            <input type="file" name="images[]" class="file1" />
            <input type="file" name="images[]" class="file2" />
            <input type="file" name="images[]" class="file3" />
            <input type="file" name="images[]" class="file4" />
            <div class="imgCont">
                <div class="image trackMe" data-tracking="Posting-ClickUploadPicture" id="file1"></div>
                <span class="file1"></span>
            </div>
            <div class="imgCont">
                <div class="image trackMe" data-tracking="Posting-ClickUploadPicture" id="file2"></div>
                <span class="file2"></span>
            </div>
            <div class="imgCont">
                <div class="image trackMe" data-tracking="Posting-ClickUploadPicture" id="file3"></div>
                <span class="file3"></span>
            </div>
            <div class="imgCont">
                <div class="image trackMe" data-tracking="Posting-ClickUploadPicture" id="file4"></div>
                <span class="file4"></span>
            </div>
        </div>

        {% for field in fields.productDescription %}
            {% if  field.name == 'description' %}
                {{ FieldTextArea(field.label, field.name, field.mandatory, form,  user) }}
            {% elif field.fieldType == 'text' %}
                {{ FieldText(field.label, field.name, field.mandatory, form,  user) }}
            {% elif field.fieldType == 'combobox' %}
                {{ FieldCombobox(field.label, field.name, field.mandatory, form,  user, field.values) }}
            {% endif %}
        {% endfor %}

        {% if fields.categoryAttributes.length %}
            <h4>{{ dictionary["misc.SpecificFields_title"] }}</h4>
            {% for field in fields.categoryAttributes %}
                {% if (field.values) or (field.fieldType == 'text') %}
                    {% if field.fieldType == 'text' %}
                        {{ FieldText(field.label, field.name, field.mandatory, form,  user) }}
                    {% elif field.fieldType == 'combobox' %}
                        {{ FieldCombobox(field.label, field.name, field.mandatory, form,  user, field.values) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <h4>{{ dictionary["defaulthtmlhead.SellerInformation"] }}</h4>
        {% for field in fields.contactInformation %}
            {% if field.fieldType == 'text' %}
                {{ FieldText(field.label, field.name, field.mandatory, form,  user) }}
            {% elif field.fieldType == 'combobox' %}
                {{ FieldCombobox(field.label, field.name , form, field.value) }}
            {% endif %}
        {% endfor %}

        <input type="hidden" name="postingSession" value="{{postingSession}}">
        <input type="hidden" name="location" value="{{itemLocation.url}}">
        <input type="hidden" name="languageId" value="{{language}}">
        <input type="hidden" name="languageCode" value="{{languageCode}}">
        <input type="hidden" name="platform" value="{{platform}}">
        <input type="hidden" name="category.parentId" value="{{category.id}}">
        <input type="hidden" name="category.id" value="{{subcategory.id}}">
        <input type="hidden" name="id" value="{{item.id}}">
        <input type="hidden" name="sk" value="{{sk}}">

        <h3>
            {{ dictionary["itemslisting.NavigatorByLocation"] }}: {{itemLocation.name}}<br>
        </h3>

        <div class="btnCenter">
            <input type="submit" value="{{ dictionary["wap_posting_step5.Post"] }}" class="btns orange">
        </div>

        {% set templateName = template + '/partials/analytics.html' %}
        {% include templateName %}
    </form>

</section>
