<aside class="postBanner">
    <h2>Venda isso na OLX</h2>
    <ul>
        <li>
            <a href="{{ '/posting/830/831' | link }}">
                <div class="icons icon-cat-831"></div>
                <span>Celulares</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/800/803' | link }}">
                <div class="icons icon-cat-800"></div>
                <span>Notebooks</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/830/857' | link }}">
                <div class="icons icon-cat-857"></div>
                <span>Tablets</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/881/882' | link }}">
                <div class="icons icon-cat-881"></div>
                <span>Bicicletas</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/815/817' | link }}">
                <div class="icons icon-cat-817"></div>
                <span>Roupas</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/800/802' | link }}">
                <div class="icons icon-cat-802"></div>
                <span>Video Games</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/800/805' | link }}">
                <div class="icons icon-cat-805"></div>
                <span>TVs</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/806/807' | link }}">
                <div class="icons icon-cat-806"></div>
                <span>Móveis e Decoração</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/853/856' | link }}">
                <div class="icons icon-cat-856"></div>
                <span>Carrinhos de Bebê</span>
            </a>
        </li>
        <li>
            <a href="{{ '/posting/185/243' | link }}">
                <div class="icons icon-cat-243"></div>
                <span>Instrumentos Musicais</span>
            </a>
        </li>
    </ul>
    <a href="{{ '/posting' | link }}" class="btn orange">Venda mais !</a>
</aside>