<div id="breadcrumb" role="navigation">
    {% if seo %}
        <div class="breadcrumb-navigation">
            {% for level in seo.get("levelPath").top %}
                {% if loop.length > 1 and loop.last %}
                    <span class="icons icon-arrow" >{{ level.anchor }}</span>
                    {% if meta.total %}
                        <span class="count">({{ meta.total | countFormat }})</span>
                    {% endif %}
                {% else %}
                    <a href="{{ level.url }}" {{ 'class="icons icon-arrow"' if not loop.first }} {{ 'rel="nofollow"' if level.noFollow }} >{{ level.anchor }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if meta.next or meta.previous %}
        <div class="breadcrumb-pagination">
            <p>{{ dictionary["listingpageitemslisting.ResultsForNew"] | replace('<<PAGE_NUMBER>>', meta.page) | replace('<<TOTAL_PAGE_NUMBER>>', meta.totalPages | countFormat )}}</p>
            <a href="{{ (meta.previous | linkig) if meta.previous else '#' }}" rel="prev" class="icons icon-arrow-left {{ "disable" if not meta.previous }}"></a><a href="{{ (meta.next | linkig) if meta.next else '#' }}" rel="next" class="icons icon-arrow-right {{ "disable" if not meta.next }}"></a>
        </div>
    {% endif %}
</div>
