{% set column1 = categories.columns[0] %}
{% set column2 = column1 + categories.columns[1] %}
{% set column3 = column2 + categories.columns[2] %}

<div class="title-bar">
	{% block title %}<h2>{{ dictionary["popularsearchesbody.CATEGORIES_BOX"] }}</h2>{% endblock %}
</div>
<ul class="category-list category-list-first">
	{% for category in categories %}
		<li class="category">
			<a class="category-link" href="{{ category | slugToUrl | link }}" data-increment-metric="dgd.home.category.{{category.id}}" data-increment-include="currentRoute:categories#list">
				{% block icon %}<span class="icon cat-{{ category.id }}"></span>{% endblock %}
				<h3>{{ category.trName }}</h3>
			</a>
			<ul>
			{% if category.id == '190' and location.url == 'www.olx.co.tz' %}
				{% for subcategory in category.children.toJSON() %}
					{% if loop.index < 28 %}
						<li><a href="{{ subcategory | slugToUrl | link }}" data-increment-metric="dgd.home.subcategory.{{subcategory.id}}" data-increment-include="currentRoute:categories#list">{{ subcategory.trName }}</a></li>
					{% endif %}
				{% endfor %}
			{% else %}
				{% for subcategory in category.children.toJSON() %}
					<li><a href="{{ subcategory | slugToUrl | link }}" data-increment-metric="dgd.home.subcategory.{{subcategory.id}}" data-increment-include="currentRoute:categories#list">{{ subcategory.trName }}</a></li>
				{% endfor %}
			{% endif %}
			</ul>
		</li>
		{% if loop.index == column1 or loop.index == column2 or loop.index == column3 %}
			</ul>
			<ul class="category-list">
		{% endif%}
	{% endfor %}
</ul>

{% block footer %}{% endblock %}
