{% set column1 = categories.columns[0] %}
{% set column2 = column1 + categories.columns[1] %}
{% set column3 = column2 + categories.columns[2] %}

<div class="title-bar">
	{% block title %}<h2>Categorías populares</h2>{% endblock %}
</div>
<ul class="category-list category-list-first">
	{% for category in categories %}
		<li class="category">
			<a class="category-link" href="{{ category | slugToUrl | link }}">
				{% block icon %}<span class="icon cat-{{ category.id }}"></span>{% endblock %}
				<h3>{{ category.trName }}</h3>
			</a>
			<ul>
			{% if category.id == '190' %}
				{% for subcategory in category.children.toJSON() %}
					{% if loop.index < 28 %}
						<li><a href="{{ subcategory | slugToUrl | link }}">{{ subcategory.trName }}</a></li>
					{% endif %}
				{% endfor %}
			{% else %}
				{% for subcategory in category.children.toJSON() %}
					<li><a href="{{ subcategory | slugToUrl | link }}">{{ subcategory.trName }}</a></li>
				{% endfor %}
			{% endif %}
			</ul>
		</li>
		{% if loop.index == column1 or loop.index == column2 or loop.index == column3 %}
			</ul>
			<ul class="category-list">
		{% endif%}
	{% endfor %}
</ul>

{% block footer %}{% endblock %}
