<div data-slide-content="true" class="slide-container">

    {% if inHome == false %}
    <div class="category-slide footer-slide hide">
        <a title="close" data-footer-slideDown="category-slide" class="icons icon-close" href="#"></a>
        <h3 class="title">Categorías populares</h3>
        <ul class="category-list">
            <li class="category">
                <a href="http://www.olx.com.bo:3030/compra-venta-cat-185?location=lapaz.olx.com.bo" class="category-link">
                    <span class="icon cat-185"></span>
                    Compra - Venta
                </a>
                <ul>
                    <li><a href="http://www.olx.com.bo:3030/moviles-cat-219?location=lapaz.olx.com.bo">Móviles</a></li>
                    <li><a href="http://www.olx.com.bo:3030/ordenadores-cat-240?location=lapaz.olx.com.bo">Ordenadores</a></li>
                    <li><a href="http://www.olx.com.bo:3030/animales-cat-312?location=lapaz.olx.com.bo">Animales</a></li>
                    <li><a href="http://www.olx.com.bo:3030/electronica-cat-366?location=lapaz.olx.com.bo">Electrónica</a></li>
                    <li><a href="http://www.olx.com.bo:3030/video-juegos-consolas-cat-209?location=lapaz.olx.com.bo">Video Juegos - Consolas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/instrumentos-musicales-cat-243?location=lapaz.olx.com.bo">Instrumentos Musicales</a></li>
                    <li><a href="http://www.olx.com.bo:3030/otras-ventas-cat-210?location=lapaz.olx.com.bo">Otras ventas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/comercio-industria-cat-594?location=lapaz.olx.com.bo">Comercio - Industria</a></li>
                    <li><a href="http://www.olx.com.bo:3030/ropa-accesorios-cat-217?location=lapaz.olx.com.bo">Ropa - Accesorios</a></li>
                    <li><a href="http://www.olx.com.bo:3030/hogar-y-jardin-cat-228?location=lapaz.olx.com.bo">Hogar y Jardín</a></li>
                    <li><a href="http://www.olx.com.bo:3030/colecciones-antiguedades-cat-214?location=lapaz.olx.com.bo">Colecciones - Antigüedades</a></li>
                    <li><a href="http://www.olx.com.bo:3030/fotografia-imagen-sonido-cat-218?location=lapaz.olx.com.bo">Fotografía - Imagen - Sonido</a></li>
                    <li><a href="http://www.olx.com.bo:3030/articulos-para-ninos-y-bebes-cat-365?location=lapaz.olx.com.bo">Artículos para Niños y Bebés</a></li>
                    <li><a href="http://www.olx.com.bo:3030/articulos-deportivos-bicicletas-cat-234?location=lapaz.olx.com.bo">Artículos deportivos - bicicletas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/salud-y-belleza-cat-227?location=lapaz.olx.com.bo">Salud y Belleza</a></li>
                    <li><a href="http://www.olx.com.bo:3030/juegos-cat-211?location=lapaz.olx.com.bo">Juegos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/segunda-mano-cat-568?location=lapaz.olx.com.bo">Segunda mano</a></li>
                    <li><a href="http://www.olx.com.bo:3030/joyas-relojes-cat-229?location=lapaz.olx.com.bo">Joyas - Relojes</a></li>
                    <li><a href="http://www.olx.com.bo:3030/tickets-entradas-cat-402?location=lapaz.olx.com.bo">Tickets &amp; Entradas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/cd-disco-cat-364?location=lapaz.olx.com.bo">CD - Disco</a></li>
                    <li><a href="http://www.olx.com.bo:3030/libros-revistas-cat-215?location=lapaz.olx.com.bo">Libros - Revistas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/dvd-cat-238?location=lapaz.olx.com.bo">DVD</a></li>
                </ul>
            </li>
            </ul>
            <ul class="category-list">
            <li class="category">
                <a href="http://www.olx.com.bo:3030/clases-cat-186?location=lapaz.olx.com.bo" class="category-link">
                    <span class="icon cat-186"></span>
                    Clases
                </a>
                <ul>
                    <li><a href="http://www.olx.com.bo:3030/tutores-clases-particulares-cat-278?location=lapaz.olx.com.bo">Tutores - Clases Particulares</a></li>
                    <li><a href="http://www.olx.com.bo:3030/cursos-de-idiomas-cat-279?location=lapaz.olx.com.bo">Cursos de Idiomas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/otros-cursos-cat-283?location=lapaz.olx.com.bo">Otros cursos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/musica-teatro-danza-cat-280?location=lapaz.olx.com.bo">Música - Teatro - Danza</a></li>
                    <li><a href="http://www.olx.com.bo:3030/diseno-web-multimedia-cat-281?location=lapaz.olx.com.bo">Diseño web - Multimedia</a></li>
                </ul>
            </li>
            <li class="category">
                <a href="http://www.olx.com.bo:3030/motor-cat-362?location=lapaz.olx.com.bo" class="category-link">
                    <span class="icon cat-362"></span>
                    Motor
                </a>
                <ul>
                    <li><a href="http://www.olx.com.bo:3030/coches-cat-378?location=lapaz.olx.com.bo">Coches</a></li>
                    <li><a href="http://www.olx.com.bo:3030/motos-cat-379?location=lapaz.olx.com.bo">Motos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/accesorios-coches-cat-377?location=lapaz.olx.com.bo">Accesorios coches</a></li>
                    <li><a href="http://www.olx.com.bo:3030/camiones-vehiculos-comerciales-cat-416?location=lapaz.olx.com.bo">Camiones - Vehículos Comerciales</a></li>
                    <li><a href="http://www.olx.com.bo:3030/otros-vehiculos-cat-380?location=lapaz.olx.com.bo">Otros vehículos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/casas-rodantes-trailers-remolques-caravanas-cat-417?location=lapaz.olx.com.bo">Casas rodantes - Trailers - Remolques - Caravanas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/barcos-cat-376?location=lapaz.olx.com.bo">Barcos</a></li>
                </ul>
            </li>
            <li class="category">
                <a href="http://www.olx.com.bo:3030/comunidad-cat-187?location=lapaz.olx.com.bo" class="category-link">
                    <span class="icon cat-187"></span>
                    Comunidad
                </a>
                <ul>
                    <li><a href="http://www.olx.com.bo:3030/musicos-artistas-cat-244?location=lapaz.olx.com.bo">Músicos - Artistas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/eventos-cat-401?location=lapaz.olx.com.bo">Eventos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/comunidad-varios-cat-381?location=lapaz.olx.com.bo">Comunidad varios</a></li>
                    <li><a href="http://www.olx.com.bo:3030/voluntarios-cat-382?location=lapaz.olx.com.bo">Voluntarios</a></li>
                    <li><a href="http://www.olx.com.bo:3030/compartir-coche-cat-248?location=lapaz.olx.com.bo">Compartir coche</a></li>
                    <li><a href="http://www.olx.com.bo:3030/perdido-y-encontrado-cat-413?location=lapaz.olx.com.bo">Perdido y Encontrado</a></li>
                </ul>
            </li>
            </ul>
            <ul class="category-list">
            <li class="category">
                <a href="http://www.olx.com.bo:3030/viviendas-locales-cat-16?location=lapaz.olx.com.bo" class="category-link">
                    <span class="icon cat-16"></span>
                    Viviendas - Locales
                </a>
                <ul>
                    <li><a href="http://www.olx.com.bo:3030/piso-casa-en-venta-cat-367?location=lapaz.olx.com.bo">Piso - Casa en venta</a></li>
                    <li><a href="http://www.olx.com.bo:3030/terrenos-cat-410?location=lapaz.olx.com.bo">Terrenos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/piso-casa-en-alquiler-cat-363?location=lapaz.olx.com.bo">Piso - Casa en Alquiler</a></li>
                    <li><a href="http://www.olx.com.bo:3030/oficinas-locales-cat-368?location=lapaz.olx.com.bo">Oficinas - Locales</a></li>
                    <li><a href="http://www.olx.com.bo:3030/alquiler-temporal-cat-388?location=lapaz.olx.com.bo">Alquiler temporal</a></li>
                    <li><a href="http://www.olx.com.bo:3030/locales-en-alquiler-en-venta-cat-415?location=lapaz.olx.com.bo">Locales en alquiler - en venta</a></li>
                    <li><a href="http://www.olx.com.bo:3030/compartir-piso-cat-301?location=lapaz.olx.com.bo">Compartir piso</a></li>
                    <li><a href="http://www.olx.com.bo:3030/intercambio-de-casas-cat-567?location=lapaz.olx.com.bo">Intercambio de Casas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/parking-cat-302?location=lapaz.olx.com.bo">Parking</a></li>
                </ul>
            </li>
            <li class="category">
                <a href="http://www.olx.com.bo:3030/servicios-cat-191?location=lapaz.olx.com.bo" class="category-link">
                    <span class="icon cat-191"></span>
                    Servicios
                </a>
                <ul>
                    <li><a href="http://www.olx.com.bo:3030/otros-servicios-cat-207?location=lapaz.olx.com.bo">Otros Servicios</a></li>
                    <li><a href="http://www.olx.com.bo:3030/informatica-cat-322?location=lapaz.olx.com.bo">Informática</a></li>
                    <li><a href="http://www.olx.com.bo:3030/reparacion-cat-198?location=lapaz.olx.com.bo">Reparación</a></li>
                    <li><a href="http://www.olx.com.bo:3030/salud-y-belleza-cat-199?location=lapaz.olx.com.bo">Salud y Belleza</a></li>
                    <li><a href="http://www.olx.com.bo:3030/planeamiento-de-eventos-cat-324?location=lapaz.olx.com.bo">Planeamiento de eventos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/transporte-mudanzas-cat-371?location=lapaz.olx.com.bo">Transporte - Mudanzas</a></li>
                    <li><a href="http://www.olx.com.bo:3030/traductor-cat-323?location=lapaz.olx.com.bo">Traductor</a></li>
                    <li><a href="http://www.olx.com.bo:3030/horoscopo-y-tarot-cat-206?location=lapaz.olx.com.bo">Horóscopo y Tarot</a></li>
                    <li><a href="http://www.olx.com.bo:3030/servicio-domestico-cat-414?location=lapaz.olx.com.bo">Servicio Doméstico</a></li>
                    <li><a href="http://www.olx.com.bo:3030/canguros-cat-372?location=lapaz.olx.com.bo">Canguros</a></li>
                    <li><a href="http://www.olx.com.bo:3030/modelos-casting-cat-370?location=lapaz.olx.com.bo">Modelos - Casting</a></li>
                </ul>
            </li>
            </ul>
            <ul class="category-list">
            <li class="category">
                <a href="http://www.olx.com.bo:3030/trabajo-cat-190?location=lapaz.olx.com.bo" class="category-link">
                    <span class="icon cat-190"></span>
                    Trabajo
                </a>
                <ul>
                    <li><a href="http://www.olx.com.bo:3030/otro-trabajo-cat-329?location=lapaz.olx.com.bo">Otro trabajo</a></li>
                    <li><a href="http://www.olx.com.bo:3030/educacion-profesores-cat-261?location=lapaz.olx.com.bo">Educación - Profesores</a></li>
                    <li><a href="http://www.olx.com.bo:3030/hoteleria-turismo-cat-593?location=lapaz.olx.com.bo">Hotelería - Turismo</a></li>
                    <li><a href="http://www.olx.com.bo:3030/vendedor-cat-386?location=lapaz.olx.com.bo">Vendedor</a></li>
                    <li><a href="http://www.olx.com.bo:3030/construccion-obrero-cat-373?location=lapaz.olx.com.bo">Construcción - Obrero</a></li>
                    <li><a href="http://www.olx.com.bo:3030/marketing-publicidad-cat-384?location=lapaz.olx.com.bo">Marketing - Publicidad</a></li>
                    <li><a href="http://www.olx.com.bo:3030/ingenieros-arquitectos-cat-256?location=lapaz.olx.com.bo">Ingenieros - Arquitectos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/abogados-cat-265?location=lapaz.olx.com.bo">Abogados</a></li>
                    <li><a href="http://www.olx.com.bo:3030/azafatas-promotores-cat-266?location=lapaz.olx.com.bo">Azafatas - Promotores</a></li>
                    <li><a href="http://www.olx.com.bo:3030/medicina-enfermeria-cat-267?location=lapaz.olx.com.bo">Medicina - Enfermería</a></li>
                    <li><a href="http://www.olx.com.bo:3030/administrativo-secretaria-cat-255?location=lapaz.olx.com.bo">Administrativo - Secretaria</a></li>
                    <li><a href="http://www.olx.com.bo:3030/informatico-programador-cat-375?location=lapaz.olx.com.bo">Informático - Programador</a></li>
                    <li><a href="http://www.olx.com.bo:3030/atencion-al-cliente-cat-260?location=lapaz.olx.com.bo">Atención al Cliente</a></li>
                    <li><a href="http://www.olx.com.bo:3030/hosteleria-restauracion-camarero-cat-385?location=lapaz.olx.com.bo">Hostelería - Restauración - Camarero</a></li>
                    <li><a href="http://www.olx.com.bo:3030/produccion-operaciones-cat-259?location=lapaz.olx.com.bo">Producción - Operaciones</a></li>
                    <li><a href="http://www.olx.com.bo:3030/animador-actor-cat-257?location=lapaz.olx.com.bo">Animador - Actor</a></li>
                    <li><a href="http://www.olx.com.bo:3030/internet-multimedia-cat-264?location=lapaz.olx.com.bo">Internet - Multimedia</a></li>
                    <li><a href="http://www.olx.com.bo:3030/recursos-humanos-cat-263?location=lapaz.olx.com.bo">Recursos Humanos</a></li>
                    <li><a href="http://www.olx.com.bo:3030/comercial-cat-270?location=lapaz.olx.com.bo">Comercial</a></li>
                    <li><a href="http://www.olx.com.bo:3030/voluntario-cat-268?location=lapaz.olx.com.bo">Voluntario</a></li>
                    <li><a href="http://www.olx.com.bo:3030/inmobiliarias-cat-374?location=lapaz.olx.com.bo">Inmobiliarias</a></li>
                    <li><a href="http://www.olx.com.bo:3030/contable-financiero-banquero-cat-254?location=lapaz.olx.com.bo">Contable - Financiero - Banquero</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% endif %}

    <div class="help-slide footer-slide hide">
        <a title="close" data-footer-slideDown="help-slide" class="icons icon-close" href="#"></a>
        <h3 class="title">{{ dictionary["biderrorheader.Help"] }}</h3>
        <ul>
            <li><a rel="nofollow" href="/help">{{ dictionary["biderrorheader.Help"] }}</a></li>
            <li><a rel="nofollow" href="/terms">{{ dictionary["register_form.termsAgreeB"] }}</a></li>
            <li><a rel="nofollow" href="#">{{ dictionary["defaultfooter.About OLX"] }} </a></li>
            {#<li><a rel="nofollow" href="#">{{ dictionary["contact_us.ContactBrand"] }} </a></li>#}
        </ul>
    </div>
    <div class="popular-slide footer-slide hide">
        <a title="close" data-footer-slideDown="popular-slide" class="icons icon-close" href="#"></a>
        <div class="popular-column">
            <h3 class="title">{{ dictionary["popularsearchesbody.PopularCities"] }} Bolivia</h3>
            <ul>
                <li>
                    <a alt="La Paz" href="{{ '/nf/all-results' | link({location: 'lapaz.olx.com.bo'}) }}">La Paz</a>
                </li>
                <li>
                    <a alt="Cochabamba" href="{{ '/nf/all-results' | link({location: 'cochabamba.olx.com.bo'}) }}">Cochabamba</a>
                </li>
                <li>
                    <a alt="Santa Cruz" href="{{ '/nf/all-results' | link({location: 'santacruz.olx.com.bo'}) }}">Santa Cruz</a>
                </li>
                <li>
                    <a alt="Andrés Ibánez" href="{{ '/nf/all-results' | link({location: 'andresibanez.olx.com.bo'}) }}">Andrés Ibánez</a>
                </li>
                <li>
                    <a alt="Pedro Domingo Murillo" href="{{ '/nf/all-results' | link({location: 'pedrodomingomurillo.olx.com.bo'}) }}">Pedro Domingo Murillo</a>
                </li>
                <li>
                    <a alt="Cercado" href="{{ '/nf/all-results' | link({location: 'cercado.olx.com.bo'}) }}">Cercado</a>
                </li>
                <li>
                    <a class="open-modal" alt="Otros lugares" data-modal="location-modal" href="{{ '/nf/all-results' | link({location: 'pedrodomingomurillo.olx.com.bo'}) }}">Otros lugares</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a alt="La Paz" href="{{ '/nf/all-results' | link({location: 'lapaz.olx.com.bo'}) }}">La Paz</a>
                </li>
                <li>
                    <a alt="Cochabamba" href="{{ '/nf/all-results' | link({location: 'cochabamba.olx.com.bo'}) }}">Cochabamba</a>
                </li>
                <li>
                    <a alt="Santa Cruz" href="{{ '/nf/all-results' | link({location: 'santacruz.olx.com.bo'}) }}">Santa Cruz</a>
                </li>
                <li>
                    <a alt="Andrés Ibánez" href="{{ '/nf/all-results' | link({location: 'andresibanez.olx.com.bo'}) }}">Andrés Ibánez</a>
                </li>
                <li>
                    <a alt="Pedro Domingo Murillo" href="{{ '/nf/all-results' | link({location: 'pedrodomingomurillo.olx.com.bo'}) }}">Pedro Domingo Murillo</a>
                </li>
                <li>
                    <a alt="Cercado" href="{{ '/nf/all-results' | link({location: 'cercado.olx.com.bo'}) }}">Cercado</a>
                </li>
                <li>
                    <a class="open-modal" alt="Otros lugares" data-modal="location-modal" href="{{ '/nf/all-results' | link({location: 'pedrodomingomurillo.olx.com.bo'}) }}">Otros lugares</a>
                </li>
            </ul>
        </div>
        <div class="popular-column popular-cities">
            <h3 class="title">{{ dictionary["countryoptions.OtherCitiesInRegion"] | replace('<<REGION>>', location.name) }}</h3>
            <ul>
                <li>
                    <a alt="La Paz" href="{{ '/nf/all-results' | link({location: 'lapaz.olx.com.bo'}) }}">La Paz</a>
                </li>
                <li>
                    <a alt="Cochabamba" href="{{ '/nf/all-results' | link({location: 'cochabamba.olx.com.bo'}) }}">Cochabamba</a>
                </li>
                <li>
                    <a alt="Santa Cruz" href="{{ '/nf/all-results' | link({location: 'santacruz.olx.com.bo'}) }}">Santa Cruz</a>
                </li>
                <li>
                    <a alt="Andrés Ibánez" href="{{ '/nf/all-results' | link({location: 'andresibanez.olx.com.bo'}) }}">Andrés Ibánez</a>
                </li>
                <li>
                    <a alt="Pedro Domingo Murillo" href="{{ '/nf/all-results' | link({location: 'pedrodomingomurillo.olx.com.bo'}) }}">Pedro Domingo Murillo</a>
                </li>
                <li>
                    <a alt="Cercado" href="{{ '/nf/all-results' | link({location: 'cercado.olx.com.bo'}) }}">Cercado</a>
                </li>
                <li>
                    <a class="open-modal" alt="Otros lugares" data-modal="location-modal" href="{{ '/nf/all-results' | link({location: 'pedrodomingomurillo.olx.com.bo'}) }}">Otros lugares</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a alt="La Paz" href="{{ '/nf/all-results' | link({location: 'lapaz.olx.com.bo'}) }}">La Paz</a>
                </li>
                <li>
                    <a alt="Cochabamba" href="{{ '/nf/all-results' | link({location: 'cochabamba.olx.com.bo'}) }}">Cochabamba</a>
                </li>
                <li>
                    <a alt="Santa Cruz" href="{{ '/nf/all-results' | link({location: 'santacruz.olx.com.bo'}) }}">Santa Cruz</a>
                </li>
                <li>
                    <a alt="Andrés Ibánez" href="{{ '/nf/all-results' | link({location: 'andresibanez.olx.com.bo'}) }}">Andrés Ibánez</a>
                </li>
                <li>
                    <a alt="Pedro Domingo Murillo" href="{{ '/nf/all-results' | link({location: 'pedrodomingomurillo.olx.com.bo'}) }}">Pedro Domingo Murillo</a>
                </li>
                <li>
                    <a alt="Cercado" href="{{ '/nf/all-results' | link({location: 'cercado.olx.com.bo'}) }}">Cercado</a>
                </li>
                <li>
                    <a class="open-modal" alt="Otros lugares" data-modal="location-modal" href="{{ '/nf/all-results' | link({location: 'pedrodomingomurillo.olx.com.bo'}) }}">Otros lugares</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="around-slide footer-slide hide">
        <a title="close" data-footer-slideDown="around-slide" class="icons icon-close" href="#"></a>
        <h3 class="title">{{ dictionary["defaultheader.CloseToYou"] | replace('<<BRAND>>','OLX') }}</h3>
        <ul>
            {% for country in countries %}
                <li><a href="{{('http://' + country.url) | link }}" title="{{country.name}}">{{country.name}}</a></li>
            {% if loop.index%13 == 0 %}
                </ul>
                <ul>
            {% endif%}
            {% endfor %}
        </ul>
    </div>
</div>
