{% macro Field(hint = false, field) %}
    <fieldset class="field-wrapper{{ ' hide' if field.hide }} {{ ' checkbox' if field.fieldType == 'checkbox' }}">
        {% if field.label and field.fieldType != 'checkbox' %}
            <label for="field-{{ field.name }}" class="field-label">{% if field.mandatory == true or field.mandatory == 'true' or field.name == 'neighborhood' %}* {% endif %}{{ field.label }}</label>
        {% endif %}
        <div class="field-controls{{ ' radio' if field.fieldType == 'radio' }}">
            {% if field.fieldType == 'textarea' %}
                {{ Textarea(name = field.name, required = field.mandatory, value = field.value) }}
            {% elif field.fieldType == 'text' or field.fieldType == 'password' %}
                {% set type = field.fieldType or 'text' %}
                {{ TextInput(type = type, name = field.name, required = field.mandatory, value = field.value) }}
            {% elif field.fieldType == 'combobox' %}
                {% set selected = field.value.key or field.selected %}
                {{ Select(name = field.name, required = field.mandatory, options = field.values, selected = selected, related = field.related) }}
            {% elif field.fieldType == 'radio' %}
                {% set selected = field.value.key or field.selected %}
                {{ Radio(name = field.name, required = field.mandatory, options = field.values, selected = selected, related = field.related) }}
            {% elif field.fieldType == 'checkbox' %}
                {{ Checkbox(type = field.fieldType, name = field.name, required = field.mandatory, value = field.value, label = field.label) }}
            {% endif %}
            {% if hint %}
                <small class="{{ 'icons icon-lock ' if field.name == 'email' }}hint message">{{ hint }}</small>
            {% endif %}
        </div>
    </fieldset>
{% endmacro %}

{% macro TextInput(type = 'text', name = '', placeholder = false, required = false, validate = true, value = false) %}
    <input
        type="{{ type }}"
        id ="field-{{ name }}"
        name="{{ name }}"
        class="text-field type-text"
        {% if placeholder %}
            placeholder="{{ placeholder }}"
        {% endif %}
        {% if required == true or required == 'true' %}
            required
        {% endif %}
        {% if validate %}
            data-validate="true"
        {% endif %}
        {% if value %}
            value="{{ value.value if value.value else value }}"
        {% endif %}
    />
{% endmacro %}

{% macro Textarea(name = '', required = false, validate = true, value = false) %}
    <textarea
        id="field-{{ name }}"
        name="{{name }}"
        class="text-field type-textarea"
        rows="12"
        {% if required == true or required == 'true' %}
            required
        {% endif %}
        {% if validate %}
            data-validate="true"
        {% endif %}
    >{{ value if value }}</textarea>
{% endmacro %}

{% macro Select(name = '', required = false, options, selected, related) %}
    <select
        id="field-{{ name }}"
        name="{{ name }}"
        class="text-field type-select"
        {% if required == true or required == 'true' %}
            required
        {% endif %}
        {% if not options or options.length < 2 %}
            disabled
        {% endif %}
        {% if related %}
            data-related="{{ related }}"
        {% endif %}
    >
        {% for option in options %}
            <option
                value="{{ option.key }}"

                {% if not selected and loop.index == 1 or option.key == selected %}
                    selected
                {% endif %}
            >{{ option.value }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro PriceField(label = '', name = '', mandatory = '', hint = false, fields) %}
    <fieldset class="field-wrapper">
        {% if label %}<label for="field-{{ name }}" class="field-label">{% if mandatory == true or mandatory == 'true' %}* {% endif %}{{ label }}</label>{% endif %}
        <div class="field-controls">
            {% for field in fields %}
                {% if field.fieldType == 'text' %}
                    {{ TextInput(name = field.name, required = field.mandatory, value = field.value.value ) }}
                {% elif field.fieldType == 'combobox' %}
                    {% if field.name == 'priceType' and field.values.length > 2 %}
                        {% set selected = false %}
                        {% if field.value and field.value.key ==  'NEGOTIABLE' %}
                            {% set selected = true %}
                        {% endif %}
                        {% for value in field.values %}
                            {% if value.key ==  'NEGOTIABLE' %}
                                <label class="price-negotiable text-field">{{ value.value }} <input id="field-{{ field.name }}" class="negotiable" type="checkbox" value="{{ value.key }}" {{ 'checked' if selected }} name="{{ field.name }}"></label>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ Select(name = field.name, required = field.mandatory, options = field.values, selected = field.value.key) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if hint %}
                <small class="hint message">{{ hint }}</small>
            {% endif %}
        </div>
    </fieldset>
{% endmacro %}

{% macro Radio(name = '', required = false, options, selected, related) %}
    {% for option in options %}
        <input type="radio" name="{{ name }}" value="{{ option.key }}" {{ 'checked' if selected == option.key }}>
        <span>{{ option.value }}</span>
    {% endfor %}
{% endmacro %}

{% macro Checkbox(type = 'checkbox', name = '', required = false, validate = true, value = false, label = '') %}
    <input type="checkbox" {{ 'checked' if value }} value="1" name="{{ name }}">{{ label }}
{% endmacro %}
