<div class="marketing-box-sell">
    <p class="title">¡Lo que ya no usás, vendelo!</p>
    <p class="subtitle">Es gratis y <strong>sin comisión</strong></p>
    <div class="description">
        <span class="stuff"></span>
        <div class="icons icon-time">
            <p>Publicas<span>en menos de</span><span>2 minutos</span></p>
        </div>
        <div class="icons icon-envelope">
            <p>Sólo necesitas dejar tu correo electrónico</p>
        </div>
        <div class="icons icon-chat">
            <p>Publicas gratis y no pagas comisión</p>
        </div>
    </div>
</div>