<section id="notfound">
    <img width="349" height="173" src="{{ '/images/desktop/couch.jpg' | static }}" alt="" />
    {% if items %}
        <p class="message">
            {{ dictionary["countrystatecityv2.Sorry"] }} "{{ search }}"
        </p>
        <ul class="options">
            <li>{{ dictionary["crm_new_version.CheckSpelling"] }}</li>
            <li>{{ dictionary["itemslisting.RefineYourSearch"] }}</li>
        </ul>
    {% else %}
        <p class="message">
            {{ dictionary["defaulthtmlhead.SorryThePageYouAreLookingForIsNotAvailable"] }}
        </p>
        <h3>{{ dictionary["misc.FindLookFor"] }}</h3>
    {% endif %}

    {% view 'partials/search' %}

    {{ ('<h3>' + dictionary["misc.BrowseCategories"] + '</h3>') if items }}
    <ul class="category-list">
        {% for category in categories %}
            <li class="category">
                <a class="category-link" href="{{ category | slugToUrl | link }}">
                    <span class="icon cat-{{ category.id }}"></span>
                    {{ category.trName }}
                </a>
            </li>
            {% if loop.length > 7 and loop.index == 6  %}
                </ul>
                <ul class="category-list">
            {% endif %}
        {% endfor %}
    </ul>
</section>
