<aside id="post-banner">
	<span class="post-banner-title">Venda isso na OLX</span>
    <ul>
        <li>
            <a href="">
                <div class="icons icon-cat-186"></div>
                <span>Celulares</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icons icon-cat-187"></div>
                <span>Celulares</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icons icon-cat-16"></div>
                <span>Celulares</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icons icon-cat-185"></div>
                <span>Celulares</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icons icon-cat-190"></div>
                <span>Celulares</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icons icon-cat-191"></div>
                <span>Celulares</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icons icon-cat-362"></div>
                <span>Celulares</span>
            </a>
        </li>

    </ul>
</aside>
