<aside id="post-banner">
	<span class="post-banner-title">Venda isso na OLX</span>
    <ul>
        <li>
            <a href="">
                <span class="icons icon-cat-186"></span>
                Celulares
            </a>
        </li>
        <li>
            <a href="">
                <span class="icons icon-cat-187"></span>
                Celulares
            </a>
        </li>
        <li>
            <a href="">
                <span class="icons icon-cat-16"></span>
                Celulares
            </a>
        </li>
        <li>
            <a href="">
                <span class="icons icon-cat-185"></span>
                Celulares
            </a>
        </li>
        <li>
            <a href="">
                <span class="icons icon-cat-190"></span>
                Celulares
            </a>
        </li>
        <li>
            <a href="">
                <span class="icons icon-cat-191"></span>
                Celulares
            </a>
        </li>
        <li>
            <a href="">
                <span class="icons icon-cat-362"></span>
                Celulares
            </a>
        </li>

    </ul>
</aside>
