{% set populars = seo.get('popularSearches') or false %}
{% set relateds = seo.get('relatedListings') or false %}
{% set levelPath = seo.get("levelPath").bottom or false %}
{% set wikititles = seo.get("wikititles") or false %}

{% if (populars and populars.length > 0) or
      (relateds and relateds.length > 0) or
      levelPath or
      (wikititles and wikititles.length > 0) %}
    <section id="seo-box" {{ 'class="seo-' + seoFrom + '-page"' if seoFrom }}>
        {% if populars.length > 0 %}
            <span class="title">{{ dictionary["defaultfooter.PopularSearches"] }}</span>
            <ul>
                {% for popular in seo.get('popularSearches') %}
                    <li><a href="{{ popular.url }}" >{{ popular.anchor }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if relateds.length > 0 %}

            {% if relateds.length == 2 %}
                    {% set seoCantColumn =  'twoColumn' %}
            {%  elif relateds == 3 %}
                    {% set seoCantColumn = 'threeColumn' %}
            {% endif %}
            <span class="title">{{ dictionary["itemgeneraldetails.RelatedListings"] }}</span>
            <ul {{ ('class="' + seoCantColumn + '"') if seoCantColumn  }}>
                {% for related in seo.get('relatedListings') %}
                    <li><a href="{{ related.url }}" >{{ related.anchor }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if levelPath or wikititles.length > 0 %}
            {% include (template + "/partials/seolevelpath.html") %}
        {% endif %}
    </section>
{% endif %}
