{% if tracking.params and tracking.params.ninja and tracking.params.ninja.noscript %}
    {% for url in tracking.params.ninja.noscript.urls %}
        <img src="{{url}}" class="tracking" width="1" height="1">
    {% endfor %}
    {% if tracking.params.ninja.noscript.iframe %}
        <iframe src="{{ tracking.params.ninja.noscript.iframe }}" width="1" height="1" marginwidth="1" marginheight="1" frameborder="0"></iframe>
    {% else %}
        {{ tracking.params.ninja.noscript.body }}
    {% endif %}
{% endif %}