section#categories ul li a {
    position: relative;
    padding: 0.7rem 0.9375rem .7rem 2.5rem;
    text-transform: capitalize;
}
section#categories ul li a span{
    width: 32px;
    height: 32px;
    position: absolute;
    display: inline;
    top: 4px;
    left: 0;
    background-image: url(imageUrl/images/icons/iconsSprite.png);
    background-repeat: no-repeat;
}