/* Check ol this styles, as they have been moved to styles.styl */

section#categories {
    padding: 0.9375rem;
}
section#categories ul {
    list-style: none;
}
section#categories ul li {
    border-bottom: 1px solid #ccc;
}
section#categories ul li:last-child {
    border: none;
}
section#categories ul li a {
    display: block;
    position: relative;
    padding: 0.7rem 0.9375rem .7rem 2.5rem;
    text-transform: capitalize;
    color: #333;
    font-size: 1rem;
    font-weight: normal;
}
section#categories ul li a span{
    width: 32px;
    height: 32px;
    position: absolute;
    display: inline;
    top: 4px;
    left: 0;
    background-image: url(imageUrl/images/icons/iconsSprite.png);
    background-repeat: no-repeat;
}
@media only screen and (min-width : 768px) {
    section#categories ul li {
        width: 48%;
        display: inline-block;
        margin: 0 0 0 1%;
        border-bottom: 1px solid #ccc!important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/* Parent Categories */
span#catid-185.home-icon {
    top: 2px;
    background-position: 0px 0px;
}

span#catid-185u.home-icon {
    background-position: 0px -709px;
}

span#catid-362.home-icon {
    background-position: 0px -64px;
}

span#catid-16.home-icon {
    background-position: 0px -96px;
}

span#catid-186.home-icon {
    background-position: 0px -32px;
}

span#catid-191.home-icon {
    background-position: 0px -128px;
}

span#catid-190.home-icon, span#catid-821.home-icon{
    background-position: 0px -159px;
}

span#catid-187.home-icon {
    background-position: 0px -192px;
}

span#catid-17.home-icon {
    background-position: 0px -234px;
    height: 27px;
}

span#catid-405.home-icon {
    background-position: 0px -220px;
}

span#catid-389.home-icon {
    background-position: 0px -325px;
}

span#catid-600.home-icon {
    background-position: 0px -286px;
}

span#catid-674.home-icon {
    background-position: 0px -260px;
}

span#catid-800.home-icon, span#catid-830.home-icon {
    background-position: 0px -384px;
}

span#catid-806.home-icon {
    background-position: 0px -449px;
}

span#catid-806u.home-icon {
    background-position: 0px -673px;
}

span#catid-811.home-icon {
    background-position: 0px -417px;
}

span#catid-815.home-icon {
    background-position: 0px -544px;
}

span#catid-815u.home-icon {
    background-position: 0px -639px;
}

span#catid-830u.home-icon {
    background-position: 0px -783px;
}

span#catid-833.home-icon {
    background-position: 0px -481px;
}

span#catid-850.home-icon {
    background-position: 0px -512px;
}

span#catid-853.home-icon {
    background-position: 0px -577px;
}

span#catid-859.home-icon {
    background-position: 0px -606px;
}

span#catid-859u.home-icon {
    background-position: 0px -1568px;
}

span#catid-881.home-icon {
    background-position: 0px -606px;
}

/* Parent Categories India*/

span#catid-830in.home-icon {
    background-position: 0px -1006px;
}
span#catid-833in.home-icon {
    background-position: 0px -1134px;
}
span#catid-362in.home-icon {
    background-position: 0px -1069px;
}
span#catid-185in.home-icon {
    background-position: 0px -813px;
}
span#catid-811in.home-icon {
    background-position: 0px -1103px;
}
span#catid-859in.home-icon {
    background-position: 0px -1037px;
}
span#catid-900in.home-icon {
    background-position: 0px -941px;
}
span#catid-853in.home-icon {
    background-position: 0px -1165px;
}
span#catid-881in.home-icon {
    background-position: 0px -973px;
}
span#catid-191in.home-icon {
    background-position: 0px -844px;
}
span#catid-821in.home-icon {
    background-position: 0px -909px;
}
span#catid-16in.home-icon {
    background-position: 0px -878px;
}