section#subCategories ul {
	padding: 0.9375rem;
	list-style: none;
}
section#subCategories ul li {
	border-bottom: 1px solid #ccc;
}
section#subCategories ul li:last-child {
	border: none;
}
section#subCategories ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: #333;
	font-size: 1rem;
}